<%= render 'layouts/header' %> 
<div class="container">
	<div class="row no-margin">
		<div class="col-xs-12">
			<h2>Enter The URL</h2>
			<%= form_for [:admin, @url]  do |f| %>
				<%- flash.each do |name, msg| -%>
					<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
				<%- end -%>
				<div class="col-xs-12 col-sm-3">
					<%= f.text_field :original_url, :class => "form-control", placeholder: "Original URL" %>
				</div>
				<div class="col-xs-12 col-sm-3">
					<%= f.submit "Submit", class: "btn btn-success formButton" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>
