<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Delivery addresses</h1>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-12 no-padding-right">
					<%= link_to "Back to Previous", request.referer.present? ? request.referer : default_path, class: "drink-preference-view-option current" %>
				</div>
			</div>
		</div>
	</div>
</div>
<%- flash.each do |name, msg| -%>
	<% if msg.include?  "recognize" %>
		<div class="row no-margin">
        	<div class="col-xs-12 col-sm-offset-2 col-sm-8">
            	<%= content_tag :div, msg, class: "alert alert-warning text-center" if msg.is_a?(String) %>
        	</div>
    	</div>
	<% end %>
<%- end -%>
<div class="row">
	<div class="container">
		<div class="row no-margin">
			<div class="col-xs-12 col-sm-8">
				<h3 class="user-settings-header">Edit this delivery address</h3>
			</div>
		</div>
		<%= render 'user_address_form' %>
	</div>
</div>
<%= render 'layouts/footer' %>