<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Delivery addresses</h1>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-12 no-padding-right">
					<%= link_to "Back to Previous", request.referer.present? ? request.referer : default_path, class: "drink-preference-view-option current" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<%= simple_form_for @user_address do |f| %>
			<%= render 'user_address_form', f: f %>
			<div class="col-xs-8 col-sm-9 no-padding-right">
				<%= f.submit "Submit", :class => "btn btn-success submit-address-button" %>
			</div>
			<!-- <div class="row submit-address-row-holder">
				<div class="col-xs-4 col-sm-3 no-padding"></div>
				<div class="col-xs-8 col-sm-9 no-padding-right">
					<%= f.submit "Submit", :class => "btn btn-success submit-address-button" %>
				</div>
			</div> -->
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>