<%= render 'layouts/header' %> 
<%= render 'layouts/back_to_previous' %>
<%- flash.each do |name, msg| -%>
	<% if msg.include?  "recognize" %>
		<div class="row no-margin">
        	<div class="col-xs-12 col-sm-offset-2 col-sm-8">
            	<%= content_tag :div, msg, class: "alert alert-warning text-center" if msg.is_a?(String) %>
        	</div>
    	</div>
	<% end %>
<%- end -%>
<div class="row">
	<div class="container">
		<div class="row no-margin">
			<div class="col-xs-12 col-sm-8">
				<h3 class="user-settings-header">Add a new delivery address</h3>
			</div>
		</div>
		<%= render 'user_address_form' %>
	</div>
</div>
<%= render 'layouts/footer' %>
