<%= render 'layouts/header' %> 
	<div class="row no-margin first-row">
		<div class="container first-row-container">
			<div class="col-xs-12 col-sm-5 no-padding">
				<h1 class="section-header">Find Friends</h1>
			</div>
			<div class="col-xs-12 col-sm-7 mobile-no-padding">
				<div class="row no-margin">
					<div class="col-xs-0 col-sm-2"></div>
					<div class="col-xs-5 col-sm-3 text-center no-padding">
						<%= link_to "Connections", manage_friends_path(current_user.id), class: "drink-preference-view-option" %>
					</div>
				</div>
				<div class="row friend-search-holder">
					<div class="col-xs-0 col-sm-2"></div>
					<div class="col-xs-12 col-sm-8">
						<%= form_tag friend_search_path, method: :get, :remote => true, :id => "header-navbar", class: 'navbar-form', role: 'search' do %>
						    <div class="input-group">
						      <%= text_field_tag :query, params[:query], size: 30, placeholder: "Search friend name, username or email", class: "form-control friend-search" %>
							    <div class="input-group-btn">
							      <%= button_tag(type: "submit", class: "btn btn-default") do %>
							        <i class="glyphicon glyphicon-search"></i>
							      <% end %>
							    </div>
						    </div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row no-margin spinner text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="col-xs-12" id="friend-search-results-holder">
				<h3 class="recent-ratings-header">Friend search results will show here...</h3>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>