<div class="col-xs-0 col-sm-2 col-md-3"></div>
<div class="col-xs-6 col-sm-4 col-md-3 no-padding signup-guide-column-holder <%= @account_address_chosen %>">
	<%= link_to "account delivery address", account_address_getting_started_path(@user.id), class: "guide-header #{@account_address_chosen} hidden-xs" %>
	<%= link_to "delivery address", account_address_getting_started_path(@user.id), class: "guide-header #{@account_address_chosen} hidden-sm hidden-md hidden-lg hidden-xl" %>
	<h5 class="pipe-separator">&#124;</h5>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 no-padding signup-guide-column-holder <%= @account_membership_chosen %>">
	<% if @user.getting_started_step >= 8 %>
		<%= link_to "account membership", account_membership_getting_started_path(@user.id), class: "guide-header #{@account_membership_chosen} hidden-xs" %>
		<%= link_to "membership", account_membership_getting_started_path(@user.id), class: "guide-header #{@account_membership_chosen} hidden-sm hidden-md hidden-lg hidden-xl" %>
	<% else %>
		<h5 class="guide-header hidden-xs">account membership</h5>
		<h5 class="guide-header hidden-sm hidden-md hidden-lg hidden-xl">membership</h5>
	<% end %>
</div>
