<div class="container">
	<div class="row value-prop-row">
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">1 month membership</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<h5 class="membership-plan-includes">Plan includes:</h5>
							<ul class="retail-plan-feature-list">
								<li>2 personalized, curated deliveries</li>
								<li>Direct access to personal drink curator</li>
								<li>An introductory sync with your curator</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">Membership cost
								<sup  data-toggle="tooltip" title="The stated membership price covers the items above 
																	but does not include the cost of the drinks. Never 
																	fear! Our drink prices are not inflated but are in 
																	line with local prices. Also, although the membership 
																	fee is non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more drinks 
																	from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$12<span class="with-contract">/mo</span></h2>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding early-plan-button-container">
							<%= form_tag process_early_user_plan_choice_path("one_month", @early_user.id), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="one_month"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="1 month Plan @ $12/mo" 
					          		data-currency="USD" 
					          		data-label="Start with the 1 month plan"
					          		data-email="<%= @early_user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">3 month membership</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<h5 class="membership-plan-includes">Plan includes:</h5>
							<ul class="retail-plan-feature-list">
								<li>6 personalized, curated deliveries</li>
								<li>Direct access to personal drink curator</li>
								<li>An introductory sync with your curator</li>
								<li>1 curated tasting session for you</li>
								<li>Reward points for limited/rare drinks</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">
								Membership cost
								<sup  data-toggle="tooltip" title="The stated membership price covers the items above 
																	but does not include the cost of the drinks. Never 
																	fear! Our drink prices are not inflated but are in 
																	line with local prices. Also, although the membership 
																	fee is non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more drinks 
																	from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$10<span class="with-contract">/mo</span></h2>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding early-plan-button-container">
							<%= form_tag process_early_user_plan_choice_path("three_month", @early_user.id), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="three_month"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="3 month Plan @ $10/mo" 
					          		data-currency="USD" 
					          		data-label="Start with the 3 month plan"
					          		data-email="<%= @early_user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">	
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">12 month membership</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<h5 class="membership-plan-includes">Plan includes:</h5>
							<ul class="retail-plan-feature-list-12-mo">
								<li>25 personalized, curated deliveries</li>
								<li>Direct access to personal drink curator</li>
								<li>An introductory sync with your curator</li>
								<li>4 curated tasting sessions for you & friends</li>
								<li>1.5x reward points for limited/rare drinks</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">
								Membership cost
								<sup  data-toggle="tooltip" title="The stated membership price covers the items above 
																	but does not include the cost of the drinks. Never 
																	fear! Our drink prices are not inflated but are in 
																	line with local prices. Also, although the membership 
																	fee is non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more drinks 
																	from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$8<span class="with-contract">/mo</span></h2>					
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-sm-12 no-padding early-plan-button-container">
							<%= form_tag process_early_user_plan_choice_path("twelve_month", @early_user.id), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="twelve_month"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="12 month Plan @ $8/mo" 
					          		data-currency="USD" 
					          		data-label="Start with the 12 month plan"
					          		data-email="<%= @early_user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>