<div class="container">
	<div class="row value-prop-row">
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-xs-12">
							<h3 class="retail-plan-header">1 month membership</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-0 col-sm-1"></div>
						<div class="col-xs-12 col-sm-10 no-padding mobile-membership-plan-list">
							<h5 class="membership-plan-includes">Plan includes:</h5>
							<ul class="retail-plan-feature-list">
								<li>2 personalized, curated deliveries</li>
								<li>Direct access to personal drink curator</li>
								<li>An introductory sync with your curator</li>
								<li>An early signup bonus of 40 bottle caps (reward points), enough for 1 free 
									drink *</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-xs-12 no-padding">
							<h5 class="contract-type-header mobile-early-signup one-month-plan visible-xs visible-sm visible-md hidden-lg hidden-xl">
								Membership cost
								<sup  data-toggle="tooltip" title="The $12 1-month membership includes the items listed 
																	but does not include the cost of the drinks. However,
																	our drink prices are competetive, in line with local 
																	shops. Also, although the membership fee is 
																	non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more 
																	drinks from Knird.">
									?
								</sup>
							</h5>
							<h5 class="contract-type-header non-mobile-early-signup hidden-xs hidden-sm hidden-md visible-lg visible-xl">
								Membership cost
								<sup  data-toggle="tooltip" title="The $12 1-month membership includes the items listed 
																	but does not include the cost of the drinks. However,
																	our drink prices are competetive, in line with local 
																	shops. Also, although the membership fee is 
																	non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more 
																	drinks from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$12<span class="with-contract">/mo</span></h2>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-xs-12 no-padding early-plan-button-container">
							<%= form_tag process_early_user_plan_choice_path("one_month", @early_user.id), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="one_month"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="$12 for Knird's 1-month plan" 
					          		data-currency="USD" 
					          		data-label="Start with the 1 month plan"
					          		data-email="<%= @early_user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-xs-12">
							<h3 class="retail-plan-header">3 month membership</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-0 col-sm-1"></div>
						<div class="col-xs-12 col-sm-10 no-padding mobile-membership-plan-list">
							<h5 class="membership-plan-includes">Plan includes:</h5>
							<ul class="retail-plan-feature-list">
								<li>6 personalized, curated deliveries</li>
								<li>Direct access to personal drink curator</li>
								<li>An introductory sync with your curator</li>
								<li>1 curated tasting session for you</li>
								<li>Reward points for limited/rare drinks</li>
								<li>An early signup bonus of 80 bottle caps (reward points), enough for 2 free 
									drinks *</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-xs-12 no-padding">
							<h5 class="contract-type-header mobile-early-signup three-month-plan visible-xs visible-sm visible-md hidden-lg hidden-xl">
								Membership cost
								<sup  data-toggle="tooltip" title="The $30 3-month membership includes the items listed 
																	but does not include the cost of the drinks. However,
																	our drink prices are competetive, in line with local 
																	shops. Also, although the membership fee is 
																	non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more 
																	drinks from Knird.">
									?
								</sup>
							</h5>
							<h5 class="contract-type-header non-mobile-early-signup hidden-xs hidden-sm hidden-md visible-lg visible-xl">
								Membership cost
								<sup  data-toggle="tooltip" title="The $30 3-month membership includes the items listed 
																	but does not include the cost of the drinks. However,
																	our drink prices are competetive, in line with local 
																	shops. Also, although the membership fee is 
																	non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more 
																	drinks from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$10<span class="with-contract">/mo</span></h2>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-xs-12 no-padding early-plan-button-container">
							<%= form_tag process_early_user_plan_choice_path("three_month", @early_user.id), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="three_month"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="$30 for Knird's 3-month plan ($10/mo)" 
					          		data-currency="USD" 
					          		data-label="Start with the 3 month plan"
					          		data-email="<%= @early_user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="row homepage-plan-options">
				<div class="col-xs-12 no-padding">	
					<div class="row no-margin">
						<div class="col-xs-12">
							<h3 class="retail-plan-header">12 month membership</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-0 col-sm-1"></div>
						<div class="col-xs-12 col-sm-10 no-padding mobile-membership-plan-list">
							<h5 class="membership-plan-includes">Plan includes:</h5>
							<ul class="retail-plan-feature-list-12-mo">
								<li>25 personalized, curated deliveries</li>
								<li>Direct access to personal drink curator</li>
								<li>An introductory sync with your curator</li>
								<li>4 curated tasting sessions for you & friends</li>
								<li>1.5x reward points for limited/rare drinks</li>
								<li>An early signup bonus of 120 bottle caps (reward points), enough for 3 free 
									drinks *</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-xs-12 no-padding">
							<h5 class="contract-type-header mobile-early-signup twelve-month-plan visible-xs visible-sm visible-md hidden-lg hidden-xl">
								Membership cost
								<sup  data-toggle="tooltip" title="The $96 12-month membership includes the items listed 
																	but does not include the cost of the drinks. However,
																	our drink prices are competetive, in line with local 
																	shops. Also, although the membership fee is 
																	non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more 
																	drinks from Knird.">
									?
								</sup>
							</h5>
							<h5 class="contract-type-header non-mobile-early-signup hidden-xs hidden-sm hidden-md visible-lg visible-xl">
								Membership cost
								<sup  data-toggle="tooltip" title="The $96 12-month membership includes the items listed 
																	but does not include the cost of the drinks. However,
																	our drink prices are competetive, in line with local 
																	shops. Also, although the membership fee is 
																	non-refundable, you can stop deliveries at any 
																	time and are under no obligation to buy any more 
																	drinks from Knird.">
									?
								</sup>
							</h5>
							<h2 class="retailer-plan-cost">$8<span class="with-contract">/mo</span></h2>					
						</div>
					</div>
					<div class="row-no-margin">
						<div class="col-xs-12 no-padding early-plan-button-container">
							<%= form_tag process_early_user_plan_choice_path("twelve_month", @early_user.id), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="twelve_month"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="$96 for Knird's 12-month plan ($8/mo)" 
					          		data-currency="USD" 
					          		data-label="Start with the 12 month plan"
					          		data-email="<%= @early_user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row value-prop-row">
		<div class="col-xs-12">
			<h3 class="early-signup-checkout-extra-note asterisk">*</h3>
			<h5 class="hidden-sm hidden-md hidden-lg hidden-xl early-signup-checkout-extra-note note-text">
				Although you're signing up before Knird is officially open for business, you'll be 
				charged the full membership cost immediately. However, the time of your membership will
				not officially begin until your first delivery.
			</h5>
			<h5 class="hidden-xs early-signup-checkout-extra-note note-text">
				Although you are signing up early&mdash;before Knird is officially open for business&mdash;you will be 
				charged the full membership cost immediately. However, the time of your membership will
				not officially begin until your first delivery. So, for example, if you sign up for a 3-month membership
				and your first delivery is March 30, your payment today will ensure your membership will be in effect 
				until June 30.
			</h5>
		</div>
	</div>
</div>