<div class="col-xs-12 col-sm-4">
	<div class="homepage-plan-options">
		<%= render 'layouts/plan_shipping_zero' %>
		<div class="row no-margin">
			<div class="col-xs-12 no-padding">
				<%= link_to "Sign up for The Ad Hoc", process_change_membership_choice_path(@zone_zero), class: 'btn btn-default btn-primary plan-get-started-button' %>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-12 no-padding">
				<h6 class='membership-extra-info'>Order when you like; 6 drink minimum order.</h6>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-4">
	<div class="homepage-plan-options">
		<%= render 'layouts/plan_shipping_three' %>
		<div class="row no-margin">
			<div class="col-xs-12 no-padding">
				<%= link_to "Sign up for The Prepaid 3", process_change_membership_choice_path(@zone_three), class: 'btn btn-default btn-primary plan-get-started-button' %>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-12 no-padding">
				<h6 class='membership-extra-info'>Change any delivery date. Cancel any time.</h6>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-4">
	<div class="homepage-plan-options">
		<%= render 'layouts/plan_shipping_nine' %>
		<div class="row no-margin">
			<div class="col-xs-12 no-padding">
				<%= link_to "Sign up for The Prepaid 9", process_change_membership_choice_path(@zone_nine), class: 'btn btn-default btn-primary plan-get-started-button' %>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-12 no-padding">
				<h6 class='membership-extra-info'>Change any delivery date. Cancel any time.</h6>
			</div>
		</div>
	</div>
</div>
