<div class="row">
	<div class="col-xs-12 col-sm-4 no-padding signup-journey-image-holder-parent">
		<div class="signup-journey-image-holder left" id="casual-<%= @current_page %>">
			<h3 class="homepage-emphasis signup-journey-header">Explorer</h3>
			<i class="el el-compass el-5x craft-journey-icons-signup"></i>
			<h5 class="craft-stage-explanation">Enjoy good quality and would like to understand craft better</h5>
		</div>
		<div class="signup-journey-image-holder-chosen-cover left <%= @explorer_chosen %>"></div>
	</div>
	<div class="col-xs-12 col-sm-4 no-padding signup-journey-image-holder-parent">
		<div class="signup-journey-image-holder middle-option" id="geek-<%= @current_page %>">
			<h3 class="homepage-emphasis signup-journey-header">Geek</h3>
			<i class="el el-glasses el-5x craft-journey-icons-signup"></i>
			<h5 class="craft-stage-explanation">Been known to obsess over hops, barrel-type, and obscurity</h5>
		</div>
		<div class="signup-journey-image-holder-chosen-cover <%= @geek_chosen %>"></div>
	</div>
	<div class="col-xs-12 col-sm-4 no-padding signup-journey-image-holder-parent">
		<div class="signup-journey-image-holder right" id="conn-<%= @current_page %>">
			<h3 class="homepage-emphasis signup-journey-header">Connoisseur</h3>
			<i class="el el-star-empty el-5x craft-journey-icons-signup"></i>
			<h5 class="craft-stage-explanation">It's all about the depth of flavors and complexity of tastes</h5>
		</div>
		<div class="signup-journey-image-holder-chosen-cover right <%= @conn_chosen %>"></div>
	</div>
</div>
