<div class="row">
	<div class="container">
		<div class="col-xs-12 text-center">
			<p class="step-number-guide">1 of 3</p>
		</div>
		<div class="col-xs-12 text-center">
			<h2 class="signup-question">Choose the best plan for you.</h2>
			<h5 class="signup-question-detail">You can update this answer on your user plan page after signup.</h5>
		</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-xs-0 col-sm-2"></div>
		<div class="col-xs-12 col-sm-4 no-padding signup-category-image-holder-parent">
			<div class="row no-margin signup-plan-holder left">
				<div class="col-xs-12 no-padding">
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">Enjoy</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<ul class="retail-plan-feature-list">
								<li>Personalized, curated drink deliveries</li>
								<li>2 deliveries per month (7 over 3 months)</li>
								<li>Additional deliveries only $4 each</li>
								<li>5% member dividend on drink purchases</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin text-center">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">3-month membership contract</h5>
							<h2 class="user-plan-cost">$10<span class="with-contract">/mo</span></h2>
							<% if !@user_plan.blank? %>
								<% if @user_plan.subscription_id == 2 %>
									<h2 class="user-plan-chosen-text">Current Plan</h2>
								<% else %>
									<%= link_to process_user_plan_choice_path("account-1-enjoy"), class: 'btn btn-primary formButton-start-plan', method: :post, data: {confirm: "Are you sure you want to change your plan?"} do %>
										<i class="fa fa-refresh" aria-hidden="true"> Change to the Enjoy Plan</i>
									<% end %>
								<% end %>
							<% else %>
								<%= form_tag process_user_plan_choice_path("account-1-enjoy"), class:"plan-button" do %>
									<input name="plan_id" type="hidden" value="enjoy"></input>
						          	<script 
						          		class="stripe-button" 
						          		name="Knird" 
						          		data-description="Enjoy (3-month contract)" 
						          		data-currency="USD" 
						          		data-label="Start the Enjoy Plan"
						          		data-email="<%= current_user.email %>" 
						          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
						          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
						          		src="https://checkout.stripe.com/checkout.js">
						          	</script>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="signup-plan-holder-chosen-cover left <%= @enjoy_chosen %>"></div>
		</div>
		<div class="col-xs-12 col-sm-4 no-padding signup-category-image-holder-parent">
			<div class="row no-margin signup-plan-holder right">
				<div class="col-xs-12 no-padding">	
					<div class="row no-margin">
						<div class="col-sm-12">
							<h3 class="retail-plan-header">Relish</h3>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-1"></div>
						<div class="col-sm-10 no-padding">
							<ul class="retail-plan-feature-list">
								<li>Personalized, curated drink deliveries</li>
								<li>2 deliveries per month (28 over 12 months)</li>
								<li>Additional deliveries only $3 each</li>
								<li>10% member dividend on drink purchases</li>
								<li>Preferred access to limited and rare drinks</li>
							</ul>
						</div>
					</div>
					<div class="row-no-margin text-center">
						<div class="col-sm-12 no-padding">
							<h5 class="contract-type-header">12-month membership contract</h5>
							<h2 class="user-plan-cost">$8.33<span class="with-contract">/mo</span></h2>
							<% if !@user_plan.blank? %>
								<% if @user_plan.subscription_id == 1 %>
									<h2 class="user-plan-chosen-text">Current Plan</h2>
								<% else %>
									<%= link_to process_user_plan_choice_path("account-1-relish"), class: 'btn btn-primary formButton-start-plan', method: :post, data: {confirm: "Are you sure you want to change your plan?"}  do %>
										<i class="fa fa-refresh" aria-hidden="true"> Change to the Relish Plan</i>
									<% end %>
								<% end %>
							<% else %>
								<%= form_tag process_user_plan_choice_path("account-1-relish"), class:"plan-button" do %>
									<input name="plan_id" type="hidden" value="relish"></input>
						          	<script 
						          		class="stripe-button" 
						          		name="Knird" 
						          		data-description="Relish (12-month contract)" 
						          		data-currency="USD" 
						          		data-label="Start the Relish Plan"
						          		data-email="<%= current_user.email %>" 
						          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
						          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
						          		src="https://checkout.stripe.com/checkout.js">
						          	</script>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="signup-plan-holder-chosen-cover right <%= @relish_chosen %>"></div>
		</div>
	</div>
</div>