<div class="col-xs-0 col-sm-2"></div>
<div class="col-xs-12 col-sm-4 no-padding signup-category-image-holder-parent">
	<div class="row no-margin signup-plan-holder left">
		<div class="col-xs-12 no-padding">
			<div class="row no-margin">
				<div class="col-sm-12">
					<h3 class="retail-plan-header">Enjoy</h3>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-sm-1"></div>
				<div class="col-sm-10 no-padding">
					<h5 class="membership-plan-includes">Membership plan includes:</h5>
					<ul class="retail-plan-feature-list">
						<li>7 personalized, curated drink deliveries over 3 months</li>
						<li>Additional deliveries only $4 each</li>
						<li>5% member dividend on drinks purchased and rated</li>
					</ul>
				</div>
			</div>
			<div class="row-no-margin text-center">
				<div class="col-sm-12 no-padding">
					<h5 class="contract-type-header">
						3-month membership contract
						<sup  data-toggle="tooltip" title="You will be charged $30 for this membership but can cancel at any time and are under no obligation to buy any more drinks from Knird.">
							?
						</sup>
					</h5>
					<h2 class="user-plan-cost">$10<span class="with-contract">/mo</span></h2>
					<% if !@customer_plan.blank? %>
						<% if @customer_plan.subscription_id == 2 || @customer_plan.subscription_id == 5 %>
							<h4 class="user-plan-chosen-text">Enjoy is your current plan.</h4>
						<% else %>
							<% if @current_page == "signup" %>
								<%= link_to "#", class: 'btn btn-primary formButton-start-plan', 
										data: {toggle: "modal", target: "#signup_change_plan_to_enjoy"} do %>
									<i class="fa fa-refresh" aria-hidden="true"> Change to the Enjoy Plan</i>
								<% end %>
								
							<% else %>
								<%= link_to "#", class: 'btn btn-primary formButton-start-plan', 
										data: {toggle: "modal", target: "#change_auto_renew_plan_to_enjoy"} do %>
									<i class="fa fa-refresh" aria-hidden="true"> Change auto renew to the Enjoy Plan</i>
								<% end %>
							<% end %>
						<% end %>
					<% else %>
						<% if @user.beta_tester == true %>
							<%= form_tag process_user_plan_choice_path("account-1-enjoy_beta"), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="enjoy"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="Enjoy Plan (3mos @ $10/mo)" 
					          		data-currency="USD" 
					          		data-label="Start the Enjoy Plan"
					          		data-email="<%= current_user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
						<% else %>
							<%= form_tag process_user_plan_choice_path("account-1-enjoy"), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="enjoy"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="Enjoy Plan (3mos @ $10/mo)" 
					          		data-currency="USD" 
					          		data-label="Start the Enjoy Plan"
					          		data-email="<%= current_user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="signup-plan-holder-chosen-cover left <%= @enjoy_chosen %>"></div>
</div>
<div class="col-xs-12 col-sm-4 no-padding signup-category-image-holder-parent">
	<div class="row no-margin signup-plan-holder right">
		<div class="col-xs-12 no-padding">	
			<div class="row no-margin">
				<div class="col-sm-12">
					<h3 class="retail-plan-header">Relish</h3>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-sm-1"></div>
				<div class="col-sm-10 no-padding">
					<h5 class="membership-plan-includes">Membership plan includes:</h5>
					<ul class="retail-plan-feature-list">
						<li>26 personalized, curated drink deliveries over 12 months</li>
						<li>Additional deliveries only $3 each</li>
						<li>10% member dividend on drinks purchased and rated</li>
						<li>Earn reward points toward preferred access to limited and rare drinks</li>
					</ul>
				</div>
			</div>
			<div class="row-no-margin text-center">
				<div class="col-sm-12 no-padding">
					<h5 class="contract-type-header">
						12-month membership contract
						<sup  data-toggle="tooltip" title="You will be charged $100 for this membership but can cancel at any time and are under no obligation to buy any more drinks from Knird.">
							?
						</sup>
					</h5>
					<h2 class="user-plan-cost">$8.33<span class="with-contract">/mo</span></h2>
					<% if !@customer_plan.blank? %>
						<% if @customer_plan.subscription_id == 1 || @customer_plan.subscription_id == 4 %>
							<h4 class="user-plan-chosen-text">Relish is your current plan.</h4>
						<% else %>
							<% if @current_page == "signup" %>
								<%= link_to "#", class: 'btn btn-primary formButton-start-plan', 
										data: {toggle: "modal", target: "#signup_change_plan_to_relish"} do %>
									<i class="fa fa-refresh" aria-hidden="true"> Change to the Relish Plan</i>
								<% end %>
								
							<% else %>
								<%= link_to "#", class: 'btn btn-primary formButton-start-plan', 
										data: {toggle: "modal", target: "#change_auto_renew_plan_to_relish"} do %>
									<i class="fa fa-refresh" aria-hidden="true"> Change auto renew to the Relish Plan</i>
								<% end %>
							<% end %>
						<% end %>
					<% else %>
						<% if @user.beta_tester == true %>
							<%= form_tag process_user_plan_choice_path("account-1-relish_beta"), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="relish"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="Relish Plan (12mos @ $8.33/mo)" 
					          		data-currency="USD" 
					          		data-label="Start the Relish Plan"
					          		data-email="<%= current_user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
						<% else %>
							<%= form_tag process_user_plan_choice_path("account-1-relish"), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="relish"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="Relish Plan (12mos @ $8.33/mo)" 
					          		data-currency="USD" 
					          		data-label="Start the Relish Plan"
					          		data-email="<%= current_user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="signup-plan-holder-chosen-cover right <%= @relish_chosen %>"></div>
</div>