<div class="col-xs-12 col-sm-4 no-padding signup-frequency-holder-parent">
	<div class="signup-frequency-holder left" id="first_delivery_option-<%= @current_page %>">
		<% if @delivery_preferences.drinks_per_week.nil? %>
			<h1 class="signup-frequency-first-level-text" id="<%= @number_of_drinks_first_option %>">
				TBD
			</h1>
		<% else %>
			<h1 class="signup-frequency-first-level-text" id="<%= @number_of_drinks_first_option %>">
				<%= @number_of_drinks_first_option %> <span>drinks</span>
			</h1>
			<h5 class="signup-frequency-second-level-text">every</h5>
			<h2 class="signup-frequency-third-level-text" id="<%= @number_of_weeks_first_option %>">
				<%= @number_of_weeks_first_option %> weeks
			</h2>
		<% end %>
	</div>
	<div class="signup-frequency-holder-chosen-cover left <%= @first_delivery_option_chosen %>"></div>
</div>
<div class="col-xs-12 col-sm-4 no-padding signup-frequency-holder-parent">
	<div class="signup-frequency-holder middle-option" id="second_delivery_option-<%= @current_page %>">
		<% if @delivery_preferences.drinks_per_week.nil? %>
			<h1 class="signup-frequency-first-level-text" id="<%= @number_of_drinks_first_option %>">
				TBD
			</h1>
		<% else %>
			<h1 class="signup-frequency-first-level-text" id="<%= @number_of_drinks_second_option %>">
				<%= @number_of_drinks_second_option %> <span>drinks</span>
			</h1>
			<h5 class="signup-frequency-second-level-text">every</h5>
			<h2 class="signup-frequency-third-level-text" id="<%= @number_of_weeks_second_option %>">
				<%= @number_of_weeks_second_option %> weeks
			</h2>
		<% end %>
	</div>
	<div class="signup-frequency-holder-chosen-cover <%= @second_delivery_option_chosen %>"></div>
</div>
<div class="col-xs-12 col-sm-4 no-padding signup-frequency-holder-parent">
	<div class="signup-frequency-holder right" id="third_delivery_option-<%= @current_page %>">
		<% if @delivery_preferences.drinks_per_week.nil? %>
			<h1 class="signup-frequency-first-level-text" id="<%= @number_of_drinks_first_option %>">
				TBD
			</h1>
		<% else %>
			<h1 class="signup-frequency-first-level-text" id="<%= @number_of_drinks_third_option %>">
				<%= @number_of_drinks_third_option %> <span>drinks</span>
			</h1>
			<h5 class="signup-frequency-second-level-text">every</h5>
			<h2 class="signup-frequency-third-level-text" id="<%= @number_of_weeks_third_option %>">
				<%= @number_of_weeks_third_option %> weeks
			</h2>
		<% end %>
	</div>
	<div class="signup-frequency-holder-chosen-cover <%= @third_delivery_option_chosen %>"></div>
</div>