<div class="row">
	<div class="container" id="user-drinks-per-week-signup">
		<div class="col-xs-12 text-center">
			<p class="step-number-guide">1 of 2</p>
		</div>
		<div class="col-xs-12 text-center">
			<h2 class="signup-question">Choose up to 5 styles you really like.</h2>
			<h5 class="signup-question-detail">You can provide more detail on your drink preferences page after signup.</h5>
		</div>
	</div>
</div>
<div class="row">
	<div class="container" id="user-drinks-per-week-signup">
		<% @styles_for_like.each do |style| %>
			<div class="col-xs-12 col-sm-2">
				<div class="signup-style-tile like-style-tile" id="<%= style.id %>">
					<div class="row no-margin text-center">
						<div class="style-image-holder">
							<img class="img-responsive center-block" alt="Responsive image" src="<%= style.style_image_url %>">
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-12">
							<h5 class="signup-style-tile-header"><%= style.style_name %></h5>
						</div>	
					</div>
				</div>
				<% if !@user_likes.blank? %>
					<% if @user_likes.include? style.id %>
						<div class="signup-style-tile like-style-tile chosen show" id="<%= style.id %>">
							<div class="style-indicator like-style-middle text-center">
								<i class="fa fa-check"></i>
							</div>
						</div>
					<% else %>
						<div class="signup-style-tile like-style-tile chosen hidden" id="<%= style.id %>">
							<div class="style-indicator like-style-middle text-center">
								<i class="fa fa-check"></i>
							</div>
						</div>
					<% end %>
				<% else %>
					<div class="signup-style-tile like-style-tile chosen hidden" id="<%= style.id %>">
						<div class="style-indicator like-style-middle text-center">
							<i class="fa fa-check"></i>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
		<div class="col-xs-12 col-sm-2">
			<div class="signup-styles-tally-box">
				<div class="row no-margin">
					<h4 class="signup-styles-tally-text">Styles liked: <span id="number_of_liked_styles"><%= @number_of_liked_styles %></span></h4>
				</div>
				<div class="row no-margin text-center">
					<% if @number_of_liked_styles >= 1 %>
						<%= link_to "Next step", getting_started_path("styles-2"), class: "btn btn-default btn-success signup-styles-next-step", id: "liked_styles_next_step_button" %>
					<% else %>
						<%= link_to "Next step", getting_started_path("styles-2"), disabled: true, class: "btn btn-default signup-styles-next-step", id: "liked_styles_next_step_button" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>