
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @drink_choice_chosen %>">
	<%= link_to "drink choice", drink_choice_getting_started_path(@user.id), class: "guide-header #{@drink_choice_chosen}" %>
	<h5 class="pipe-separator">&#124;</h5>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @drink_journey_chosen %>">
	<% if @user.getting_started_step >= 2 %>
		<%= link_to "drink journey", drink_journey_getting_started_path(@user.id), class: "guide-header #{@drink_journey_chosen}" %>
	<% else %>
		<h5 class="guide-header">drink journey</h5>
	<% end %>
	<h5 class="pipe-separator">&#124;</h5>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @drink_likes_chosen %>">
	<% if @user.getting_started_step >= 3 %>
		<%= link_to "drink likes", drink_style_likes_getting_started_path(@user.id), class: "guide-header #{@drink_likes_chosen}" %>
	<% else %>
		<h5 class="guide-header">drink likes</h5>
	<% end %>
	<h5 class="pipe-separator">&#124;</h5>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @drink_dislikes_chosen %>">
	<% if @user.getting_started_step >= 4 %>
		<%= link_to "drink dislikes", drink_style_dislikes_getting_started_path(@user.id), class: "guide-header #{@drink_dislikes_chosen}" %>
	<% else %>
		<h5 class="guide-header">drink dislikes</h5>
	<% end %>
	<h5 class="pipe-separator">&#124;</h5>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @drink_per_weeks_chosen %>">
	<% if @user.getting_started_step >= 5 %>
		<%= link_to "drinks per week", drinks_weekly_getting_started_path(@user.id), class: "guide-header #{@drink_per_weeks_chosen}" %>
	<% else %>
		<h5 class="guide-header">drinks per week</h5>
	<% end %>
	<h5 class="pipe-separator">&#124;</h5>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @drink_size_chosen %>">
	<% if @user.getting_started_step >= 6 %>
		<%= link_to "drink size", drinks_large_getting_started_path(@user.id), class: "guide-header #{@drink_size_chosen}" %>
	<% else %>
		<h5 class="guide-header">drink size</h5>
	<% end %>
</div>