<h4 class="estimated-delivery-price-header">Per delivery estimates</h4>

<div class="col-xs-3 preference-estimate-holder">
	<div class="delivery-settings-info-box drinks">
		<p>total drinks</p>
		<h4 class="delivery-preference-prompt">~<%= @drink_per_delivery_calculation %></h4>
	</div>	
</div>
<div class="col-xs-2 preference-estimate-holder">
	<div class="delivery-settings-info-box small">
		<p>small</p>
		<h4 class="delivery-preference-prompt"><span class="preference-estimate-signs">><br>=</span>
			<%= @small_delivery_estimate %>
		</h4>
	</div>	
</div>
<div class="col-xs-2 preference-estimate-holder">
	<div class="delivery-settings-info-box large">
		<p>large</p>
		<h4 class="delivery-preference-prompt"><span class="preference-estimate-signs"><<br>=</span>
			<%= @large_delivery_estimate %>
		</h4>
	</div>	
</div>
<div class="col-xs-4 preference-estimate-holder no-padding-right">
	<div class="delivery-settings-info-box total-price">
		<p>total price <sup  data-toggle="tooltip" title="You always have final say on your delivery, so you'll never be surprised by the actual cost.">?</sup></p>
		<h4 class="delivery-preference-prompt">~<%= number_to_currency(@delivery_cost_estimate_low, precision: 0) %> - <%= number_to_currency(@delivery_cost_estimate_high, precision: 0) %></h4>
	</div>
</div>
