<div class="col-xs-0 col-md-3 hidden-xs"></div>
<div class="col-xs-4 col-md-3 no-padding signup-guide-column-holder <%= @user_chosen %>">
	<%= link_to "user info", edit_user_path(@user.id), class: "guide-header #{@user_chosen} hidden-xs" %>
	<%= link_to "user", edit_user_path(@user.id), class: "guide-header #{@user_chosen} hidden-sm hidden-md hidden-lg hidden-xl" %>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-xs-4 col-md-3 no-padding signup-guide-column-holder <%= @drink_chosen %>">
	<% if @user.getting_started_step >= 1 %>
		<%= link_to "drink preferences", drink_choice_getting_started_path(@user.id), class: "guide-header #{@drink_chosen} hidden-xs" %>
		<%= link_to "drink", drink_choice_getting_started_path(@user.id), class: "guide-header #{@drink_chosen} hidden-sm hidden-md hidden-lg hidden-xl" %>
	<% else %>
		<h5 class="guide-header hidden-xs">drink preferences</h5>
		<h5 class="guide-header hidden-sm hidden-md hidden-lg hidden-xl">drink</h5>
	<% end %>
</div>