<div class="col-sm-1"></div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @category_chosen %>">
	<%= link_to "preferred category", getting_started_path("category"), class: "guide-header #{@category_chosen}" %>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @journey_chosen %>">
	<%= link_to "craft journey", getting_started_path("journey"), class: "guide-header #{@journey_chosen}" %>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @styles_chosen %>">
	<%= link_to "drink styles", getting_started_path("styles-1"), class: "guide-header #{@styles_chosen}" %>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @preferences_chosen %>">
	<%= link_to "delivery preferences", getting_started_path("preferences-1"), class: "guide-header #{@preferences_chosen}" %>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @account_chosen %>">
	<%= link_to "account settings", getting_started_path("account-1"), class: "guide-header #{@account_chosen}" %>
</div>
<div class="col-sm-1 no-padding signup-guide-column-holder last-column <%= @account_chosen %>"></div>
