<div class="row no-margin">
	<div class="col-xs-6 col-sm-offset-4 col-sm-2 no-padding signup-guide-column-holder <%= @user_chosen %>">
		<%= link_to "account", edit_user_path(@user.id), class: "guide-header #{@user_chosen}" %>
		<div class="fa fa-chevron-right"></div>
	</div>
	<% if current_user.role_id == 1 || current_user.role_id == 4 %>
		<div class="col-xs-4 col-sm-2 no-padding signup-guide-column-holder <%= @delivery_chosen %>">
			<% if @user.getting_started_step >= 8 %>
				<%= link_to "deliveries", delivery_address_getting_started_path, class: "guide-header #{@delivery_chosen}" %>
			<% else %>
				<h5 class="guide-header">deliveries</h5>
			<% end %>
		</div>
	<% end %>
</div>
<div class="row no-margin">
	<% if @subguide == "user" %>
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center">
			<%= render 'signup/subguide_consumer_user' %>
		</div>
	<% end %>
	<% if @subguide == "delivery" %>
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center">
			<%= render 'signup/subguide_consumer_delivery' %>
		</div>
	<% end %>
	<% if @subguide == "drink_event" %>
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center">
			<%= render 'signup/subguide_drink_event_guest' %>
		</div>
	<% end %>
</div>
