<% if current_user.role_id == 1 || current_user.role_id == 4 %>
	<div class="row no-margin">
		<div class="col-xs-4 col-md-offset-3 col-md-2 no-padding signup-guide-column-holder <%= @user_chosen %>">
			<%= link_to "user info", edit_user_path(@user.id), class: "guide-header #{@user_chosen} hidden-xs" %>
			<%= link_to "user", edit_user_path(@user.id), class: "guide-header #{@user_chosen} hidden-sm hidden-md hidden-lg hidden-xl" %>
			<div class="fa fa-chevron-right"></div>
		</div>
		<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @drink_chosen %>">
			<% if @user.getting_started_step >= 4 %>
				<%= link_to "drink preferences", drink_choice_getting_started_path, class: "guide-header #{@drink_chosen} hidden-xs" %>
				<%= link_to "drink", drink_choice_getting_started_path, class: "guide-header #{@drink_chosen} hidden-sm hidden-md hidden-lg hidden-xl" %>
			<% else %>
				<h5 class="guide-header hidden-xs">drink preferences</h5>
				<h5 class="guide-header hidden-sm hidden-md hidden-lg hidden-xl">drink</h5>
			<% end %>
			<div class="fa fa-chevron-right"></div>
		</div>
		<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @account_chosen %>">
			<% if @user.getting_started_step >= 10 %>
				<%= link_to "membership", account_membership_getting_started_path, class: "guide-header #{@account_chosen}" %>
			<% else %>
				<h5 class="guide-header">membership</h5>
			<% end %>
		</div>
	</div>
<% end %>
<% if current_user.role_id == 5 || current_user.role_id == 6 || current_user.role_id == 8 || current_user.role_id == 9 %>
	<div class="row no-margin">
		<div class="col-xs-4 col-md-offset-3 col-md-3 no-padding signup-guide-column-holder <%= @user_chosen %>">
			<%= link_to "user info", edit_user_path(@user.id), class: "guide-header #{@user_chosen} hidden-xs" %>
			<%= link_to "user", edit_user_path(@user.id), class: "guide-header #{@user_chosen} hidden-sm hidden-md hidden-lg hidden-xl" %>
			<div class="fa fa-chevron-right"></div>
		</div>
		<div class="col-xs-4 col-md-3 no-padding signup-guide-column-holder <%= @drink_chosen %>">
			<% if @user.getting_started_step >= 3 %>
				<%= link_to "drink preferences", drink_choice_getting_started_path(@user.id), class: "guide-header #{@drink_chosen} hidden-xs" %>
				<%= link_to "drink", drink_choice_getting_started_path(@user.id), class: "guide-header #{@drink_chosen} hidden-sm hidden-md hidden-lg hidden-xl" %>
			<% else %>
				<h5 class="guide-header hidden-xs">drink preferences</h5>
				<h5 class="guide-header hidden-sm hidden-md hidden-lg hidden-xl">drink</h5>
			<% end %>
		</div>
	</div>
<% end %>
<div class="row no-margin">
	<% if current_user.role_id == 1 || current_user.role_id == 4 %>
		<% if @subguide == "user_info" %>
			<div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center">
				<%= render 'signup/subguide_consumer_user_info' %>
			</div>
		<% end %>
	<% end %>
	<% if @subguide == "drink" %>
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center">
			<%= render 'signup/subguide_consumer_drink_preferences' %>
		</div>
	<% end %>
	<% if @subguide == "drink_event" %>
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center">
			<%= render 'signup/subguide_drink_event_guest' %>
		</div>
	<% end %>
</div>
