<% if session[:new_membership] != "zero" %>
	<div class="row no-margin">
		<div class="col-xs-4 col-md-offset-3 col-md-2 no-padding signup-guide-column-holder <%= @user_chosen %>">
			<h5 class="guide-header new-user-signup-special">user</h5>
			<div class="fa fa-chevron-right"></div>
		</div>
		<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @drink_chosen %>">
			<h5 class="guide-header">drinks</h5>
			<div class="fa fa-chevron-right"></div>
		</div>
		<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @delivery_chosen %>">
			<h5 class="guide-header">deliveries</h5>
		</div>
	</div>
<% else %>
	<div class="row no-margin">
		<div class="col-xs-6 col-md-offset-3 col-md-3 no-padding signup-guide-column-holder <%= @user_chosen %>">
			<h5 class="guide-header new-user-signup-special">user</h5>
			<div class="fa fa-chevron-right"></div>
		</div>
		<div class="col-xs-6 col-md-3 no-padding signup-guide-column-holder <%= @drink_chosen %>">
			<h5 class="guide-header">drinks</h5>
		</div>
	</div>
<% end %>
<div class="row no-margin">
	<div class="col-xs-4 no-padding signup-guide-column-holder <%= @user_personal_info_chosen %>">
		<h5 class="guide-header new-user-signup-special">personal info</h5>
		<h5 class="pipe-separator">&#124;</h5>
	</div>
	<div class="col-xs-4 no-padding signup-guide-column-holder <%= @user_delivery_address_chosen %>">
		<h5 class="guide-header">delivery address</h5>
		<h5 class="pipe-separator">&#124;</h5>
	</div>
	<div class="col-xs-4 no-padding signup-guide-column-holder <%= @user_plan_chosen %>">
		<h5 class="guide-header">plan choice</h5>
	</div>
</div>
