<div class="col-sm-3"></div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @user_chosen %>">
	<%= link_to "user info", user_getting_started_path(@user.id), class: "guide-header #{@user_chosen}" %>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @drink_chosen %>">
	<% if @user.getting_started_step >= 1 %>
		<%= link_to "drink preferences", drink_choice_getting_started_path(@user.id), class: "guide-header #{@drink_chosen}" %>
	<% else %>
		<h5 class="guide-header">drink preferences</h5>
	<% end %>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-sm-2 no-padding signup-guide-column-holder <%= @account_chosen %>">
	<% if @user.getting_started_step >= 7 %>
		<%= link_to "account settings", account_address_getting_started_path(@user.id), class: "guide-header #{@account_chosen}" %>
	<% else %>
		<h5 class="guide-header">account settings</h5>
	<% end %>
</div>
<div class="col-sm-1 no-padding signup-guide-column-holder last-column <%= @account_chosen %>"></div>
