<div class="row no-margin">
	<div class="col-xs-4 col-md-offset-3 col-md-2 no-padding signup-guide-column-holder <%= @user_chosen %>">
		<h5 class="guide-header hidden-xs new-user-signup-special">user info</h5>
		<h5 class="guide-header hidden-sm hidden-md hidden-lg hidden-xl new-user-signup-special">user</h5>
		<div class="fa fa-chevron-right"></div>
	</div>
	<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @drink_chosen %>">
		<h5 class="guide-header hidden-xs">drink preferences</h5>
		<h5 class="guide-header hidden-sm hidden-md hidden-lg hidden-xl">drink</h5>
		<div class="fa fa-chevron-right"></div>
	</div>
	<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @account_chosen %>">
		<h5 class="guide-header">membership</h5>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-4 no-padding signup-guide-column-holder <%= @user_personal_info_chosen %>">
		<h5 class="guide-header new-user-signup-special">personal</h5>
		<h5 class="pipe-separator">&#124;</h5>
	</div>
	<div class="col-xs-4 no-padding signup-guide-column-holder <%= @user_delivery_address_chosen %>">
		<h5 class="guide-header">delivery address</h5>
		<h5 class="pipe-separator">&#124;</h5>
	</div>
	<div class="col-xs-4 no-padding signup-guide-column-holder <%= @user_delivery_preferences_chosen %>">
		<h5 class="guide-header">delivery preferences</h5>
	</div>
</div>