<%= render 'layouts/header' %> 
	<div class="row">
		<div class="container" id="signup-thank-you-header">
			<div class="col-xs-12 text-center">
				<h2 class="signup-question">Your free curation is being processed! You'll receive an email soon.</h2>
				<h5 class="signup-question-detail">In the meantime, feel free to explore the site.</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-6">
					<h4 class="signup-next-step-header">Sign up for a membership plan</h4>
					<h5 class="signup-next-step-text">You can sign up for a plan whenever your ready....</h5>
				</div>
				<div class="col-xs-offset-1 col-xs-10 col-sm-2 no-padding-right">
					<%= link_to "Check out plans", account_settings_membership_user_path, class: "btn btn-default btn-success thank-you-next-button" %>
				</div>
			</div>
			<% if @user_delivery_preference.beer_chosen == true %>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-6">
						<h4 class="signup-next-step-header">Refine your beer style settings</h4>
						<h5 class="signup-next-step-text">You can refine your beer style settings to more accurately reflect
							your preferences.</h5>
					</div>
					<div class="col-xs-offset-1 col-xs-10 col-sm-2 no-padding-right">
						<%= link_to "Refine beer styles", settings_beer_styles_path, class: "btn btn-default btn-success thank-you-next-button" %>
					</div>
				</div>
			<% end %>
			<% if @user_delivery_preference.cider_chosen == true %>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-6">
						<h4 class="signup-next-step-header">Refine your cider style settings</h4>
						<h5 class="signup-next-step-text">You can refine your cider style settings to more accurately reflect
							your preferences.</h5>
					</div>
					<div class="col-xs-offset-1 col-xs-10 col-sm-2 no-padding-right">
						<%= link_to "Refine cider styles", settings_cider_styles_path, class: "btn btn-default btn-success thank-you-next-button" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
<%= render 'layouts/footer' %>