<%= render 'layouts/header_early_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-signup">
		<%= render 'signup/signup_guide_consumer' %>
	</div>
	<% if @plan_view == "delivery" %>
		<%= render 'delivery_numbers_for_deliveries' %>
	<% else %>
		<%= render 'delivery_numbers_for_shipments' %>
	<% end %>
<%= render 'layouts/footer' %>