<%= render 'layouts/header_choose_plan' %> 
<div class="container">
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-signup">
		<% if @is_corporate == true %>
			<%= render 'signup/signup_guide_corporate' %>
		<% else %>
			<%= render 'signup/signup_guide_consumer' %>
		<% end %>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 container">
			<%- flash.each do |name, msg| -%>
				<% if msg.include?  "gift certificate" %>
					<%= content_tag :div, msg, class: "alert alert-success", :id => "flash_gift_signup_#{name}" if msg.is_a?(String) %>
				<% end %>
			<%- end -%>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2 class="signup-question">Add a delivery address</h2>
			<h5 class="signup-question-detail">You can update this info in your delivery settings anytime after signup.</h5>
		</div>
	</div>
	<div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-12" id="signup-personal-info-holder">
            <%= render 'user_addresses/user_address_form' %>
        </div>	
	</div>
</div>

<%= render 'layouts/footer' %>