<%= render 'layouts/header_early_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-signup">
		<%= render 'signup/signup_guide_consumer' %>
	</div>
	<div class="row">
		<div class="container" id="user-drinks-per-week-signup">
			<div class="col-xs-12 text-center">
				<h2 class="signup-question">Please indicate your drinks per week and delivery frequency.</h2>
				<h5 class="signup-question-detail">You can update these settings on your delivery preferences page anytime after signup.</h5>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row no-margin estimate-holder" id="scroller-anchor">
			<div class="row no-margin" id="delivery-info-row">
				<div class="col-xs-12 col-sm-8">
					<div class="row no-margin estimated-delivery-price-holder-signup" id="delivery-estimates-for-customer">
						<%= render 'signup/per_delivery_estimate' %>
					</div>
				</div>
				<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4" id="delivery-number-next-button">
					<%= render 'signup/deliveries_numbers_next_button' %>
				</div>	
			</div>
		</div>
		<hr />
	    <div class="row no-margin" id="second-delivery-row">
	        <div class="col-xs-12 no-padding">
	            <div class="row no-margin">
	                <div class="col-sm-6 no-padding">
	                    <h3 class="delivery-preference-prompt">How many <%= @drink_preference %> do you drink at home each week?</h3>
	                </div>
	                <div class="col-sm-6 no-padding-right">
	                    <%= render 'drinks_per_week_choice'%>
	                </div>
	            </div>
	        </div>
	    </div>
	    <hr />
	    <div class="row no-margin">
	        <div class="col-xs-12 no-padding">
	            <div class="row no-margin">
	                <div class="col-sm-6 no-padding">
	                    <h3 class="delivery-preference-prompt">What is the <u>max</u> number of large format (22oz) <%= @drink_preference %> you would drink each week?</h3>
	                </div>
	                <div class="col-sm-6 no-padding-right" id="large_format_drinks_per_week_options">
	                    <%= render 'large_format_per_week_choice'%>
	                </div>
	            </div>
	        </div>
	    </div>
	    <hr>
		<div class="row" id="last-row-in-delivery-numbers-signup">
			<div class="col-xs-12 no-padding">
				<div class="row no-margin">
					<div class="col-xs-12 col-sm-3 no-padding">
						<h3 class="delivery-preference-prompt">Choose the delivery frequency that works best for you.</h3>
						<% if @user.role_id == 5 %>
							<h6 class="mate-total-note"><span>Note:</span> the total number of drinks shown includes the <span><%= @mates_drinks_per_week %> drinks</span> per week chosen by your account mate(s)</h6>
						<% end %>
					</div>
					<div class="col-xs-12 col-sm-9">
						<div class="row no-margin preferences-delivery-frequency-row-holder" id="signup-delivery-frequency-row-holder">
							<%= render 'delivery_frequency_options' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="new_plan_step_one" class="modal">
		<div class="modal-header">
			<div class="row no-margin">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<div class="col-sm-12">
					<h3>Complete plan setup</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row no-margin">
				<div class="col-xs-12">
					<h4 class="delivery-confirmation-text">
						Please take a moment to set your preferred drinks per week, delivery location and date of first delivery.  Thanks!
					</h4>
				</div>
			</div>
			<div class="col-sm-offset-4 col-sm-4 add-button-holder">
				<%= link_to "#", :class => 'text-center btn btn-success add-drink-button', :data => {:dismiss=>"modal"} do %>
					<i class="fa fa-chevron-circle-right"></i>
					Got it!
				<% end %>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>