<%= render 'layouts/header_early_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
<div class="container">
	<div class="row no-margin first-row-signup">
		<%= render 'signup/signup_guide_consumer' %>
	</div>
	<div class="row">
		<div class="container" id="user-drinks-per-week-signup">
			<div class="col-xs-12 col-sm-offset-3 col-sm-6 text-center">
				<h2 class="signup-question">When should we deliver your drinks?</h2>
				<h5 class="signup-question-detail">You can update this on your account settings page anytime after signup.</h5>
			</div>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-offset-1 col-sm-11">
			<h4 class="delivery-location-help">Read a few helpful hints to choosing your delivery location</h3>
			<%= link_to "#", class: 'btn btn-primary btn-inverse delivery-thoughts-text', 
					data: {toggle: "modal", target: "#helpful_delivery_hints"} do %>
				<i class="fa fa-star"> Read hints</i>
			<% end %>
			<%= link_to "#", class: 'btn btn-primary btn-inverse delivery-thoughts-text', 
					data: {toggle: "modal", target: "#initial_delivery_area"} do %>
				<i class="fa fa-map-marker"> View map</i>
			<% end %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-offset-1 col-sm-5">
				<% @additional_delivery_locations.each_with_index do |location, index| %>
					<div class="delivery-location-option-tile">
						<div class="row delivery-info-row">
							<h4 class="delivery-options-header"><%= (index + 1).ordinalize %> delivery <span>location option</span></h4>
							<div class="col-xs-12 col-sm-6 location-address-holder">
								<div class="row no-margin">
									<div class="col-xs-10 no-padding">
										<% if location.location_type == "Other" %>
											<% @additional_delivery_location_name = location.other_name.upcase %>
										<% else %>
											<% @additional_delivery_location_name = location.location_type.upcase %>
										<% end %>
										<h5 class="location-header"><%= @additional_delivery_location_name %></h5>
										<h5 class="location-address">
											<%= location.address_street %>,
											<% if !location.address_unit.nil? %>
												<%= location.address_unit %>  
											<% end %>
										</h5>
										<h5 class="location-address">
											<%= location.city %> <%= location.state %> <%= location.zip %>
										</h5>
									</div>
								</div>
								<% if !location.special_instructions.blank? %>
									<div class="row no-margin">
										<h5 class="location-instructions">
											"<%= location.special_instructions %>"
										</h5>
									</div>
								<% end %>
							</div>
						</div>
						<div class="row delivery-info-row">
							<% @delivery_time_options = DeliveryZone.where(zip_code: location.zip) %>
							<h4 class="delivery-options-header">Delivery <span>time <%= "option".pluralize(@delivery_time_options.count) %></span> for this location</h4>
							<% if !@delivery_time_options.blank? %>
								<% @delivery_time_options = @delivery_time_options.sort_by{|data| [data.day_of_week, data.start_time, data.next_available_delivery_date]}%>
								<% @delivery_time_options.each do |option| %>
									<div class="col-xs-5 optional-delivery-time-container" id="<%= @additional_delivery_location_name %>">
										<h5 class="current-delivery-choice day-holder">Every other <%= option.day_of_week %>,</h5>  
										<h5 class="current-delivery-choice time-holder">
											<%=  (option.start_time).strftime("%l:%M%P") %> 
											- <%= (option.end_time).strftime("%l:%M%P") %>
										</h5>
										<h6 class="current-delivery-next next-holder">
											 (Starting: <%= (@delivery_time_options_hash[option.id]).strftime("%-m.%-d.%y") %>)
										</h6>
										<%= link_to "#", 
											class: 'btn btn-success choose-delivery-time-and-place', data: {toggle: "modal", target: "#choose_delivery_time"},
											id: "#{location.id}-#{option.id}" do %>
											<i class="fa fa-check-circle"> choose</i>
										<% end %>
									</div>
								<% end %>
							<% else %>
								<div class="col-xs-12">
									<h5 class="no-delivery">We don't currently deliver to this location.  
										But if you leave this address in your profile, we'll include it ASAP. 
										And when we add it, we'll let you know!</h5>
								</div>
							<% end %>
						</div>
				</div>
			<% end %>
		</div>
		<div class="col-xs-12 col-sm-5">
			<div class="row no-margin add-delivery-location-row">
				<div class="col-xs-12 col-sm-offset-4 col-sm-7 add-location-address-holder">
					<h6 class="add-location-direction-text">add a new delivery location</h6>
					<%= link_to new_user_address_path(@user.account_id), class: 'btn btn-success add-location' do %>
						<i class="fa fa-plus"> location</i>
					<% end %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-12 col-sm-offset-4 col-sm-8 no-padding">
					<h4 class="better-option-request-text">Wish we had better options for you?</h4>
					<%= link_to "#", class: 'btn btn-default btn-success formButton-make-delivery-request', 
							data: {toggle: "modal", target: "#delivery_request_message"} do %>
						<i class="fa fa-envelope"> make a request</i>
					<% end %>
				</div>
			</div>
		</div>
	</div>	
</div>
<div id="helpful_delivery_hints" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="delivery-helpful-hints-text">Helpful delivery hints</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12 no-padding">
				<ul>
					<li>
						<h4 class="delivery-helpful-hints-text">
							Alcohol must be hand-delivered to someone who is 21+; this may influence the best delivery 
							location for you.
						</h4>
					</li>
					<li>
						<h4 class="delivery-helpful-hints-text">
							Knird's delivery case is low-profile, so work deliveries are no hassle.
						</h4>
					</li>
					<li>
						<h4 class="delivery-helpful-hints-text">
							We deliver to most of Seattle as well as Downtown Bellevue and Microsoft's 
							Redmond campus. Check out our delivery map for a visual.
						</h4>
					</li>
				</ul>
			</div>
		</div>
	</div> 
</div>
<div id="initial_delivery_area" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="delivery-helpful-hints-text">Current delivery area</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12 no-padding">
				<img class="img-responsive center-block" alt="Responsive image" src="<%= image_url('https://s3-us-west-2.amazonaws.com/knird/index/Knird_delivery_area.png') %>">
				<h5 class="delivery-neighborhoods">
					We deliver to most of Seattle as well as Downtown Bellevue and Microsoft's 
					Redmond campus. And we're expanding quickly&mdash;let us know if you have a specific request for a 
					delivery location or time not yet available.
				</h5>
			</div>
		</div>
	</div> 
</div>
<div id="choose_delivery_time" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Choose delivery time</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="auto-confirm-confirmation-text">Are you sure you want to choose 
					<span id="first-delivery-date-and-time"></span> as your delivery time?
				</h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-sm-2"></div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "Yep, positive", choose_delivery_time_path(current_user.id),
					:class => 'btn btn-success choose-delivery-time-button', :id => "choose-delivery-time-button" %>
			</div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>
	</div>
</div>
<div id="delivery_request_message" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Make a delivery request</h3>
	</div>
	<div class="modal-body">
		<%= form_for @customer_delivery_request, url: @customer_delivery_request_path, html: { method: :post } do |f| %>
			<div class="row no-margin">
				<div class="col-sm-12">
					<%= f.text_area :message, :class => "form-control", placeholder: "Type your delivery preference here" %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<%= f.submit "Send", class: "btn btn-default btn-success formButton" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<div id="delivery_request_signup_confirmation" class="modal">
	<div class="modal-header">
		<div class="row no-margin">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<div class="col-sm-12">
				<h3>Delivery request confirmation</h3>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="delivery-confirmation-text">Thanks for your message.  You can either finish signing up and use the best available
					delivery option or you can close this window and wait for us to be in touch.</h4>
			</div>
		</div>
		<div class="col-sm-offset-4 col-sm-4 add-button-holder">
			<%= link_to "#", :class => 'text-center btn btn-success add-drink-button', :data => {:dismiss=>"modal"} do %>
				<i class="fa fa-chevron-circle-right"></i>
				Got it!
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>