<%= render 'layouts/header_early_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-signup">
		<% if @guide == "new_user_first" %>
			<%= render 'signup_guide_new_user_first' %>
		<% elsif @guide == "new_user" %>
			<%= render 'signup_guide_new_user' %>
		<% else %>
			<%= render 'signup_guide_continued_user' %>
		<% end %>
	</div>
	<div class="row">
		<div class="container" id="user-craft-journey-signup">
			<div class="col-sm-1"></div>
			<div class="col-xs-12 col-sm-10 text-center">
				<%= render 'drink_preferences_guide' %>
			</div>
			<div class="col-xs-12 text-center">
				<h2 class="signup-question">Where are you in your craft <%= @drink_preference %> journey?</h2>
				<h5 class="signup-question-detail">You can update this answer on your user profile page anytime after signup.</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="col-xs-1 col-sm-2"></div>
			<div class="col-xs-10 col-sm-8">
				<%= render 'craft_journey_choice'%>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-xs-1 col-sm-4"></div>
				<div class="col-xs-10 col-sm-4">
					<% if !@user.craft_stage_id.blank? %>
						<%= link_to "Next", drink_style_likes_getting_started_path(@user.id), class: "btn btn-success user-info-next-button", id: "drink_journey_next_step_button" %>
					<% else %>
						<%= link_to "Next", drink_style_likes_getting_started_path(@user.id), disabled: true, class: "btn btn-default user-info-next-button", id: "drink_journey_next_step_button" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>
