<%= render 'layouts/header_early_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-signup">
		<%= render 'signup_guide' %>
	</div>
	<div class="row">
		<div class="container" id="user-drinks-per-week-signup">
			<div class="col-sm-1"></div>
			<div class="col-xs-12 col-sm-10 text-center">
				<%= render 'drink_preferences_guide' %>
			</div>
			<div class="col-xs-0 col-sm-3 text-center"></div>
			<div class="col-xs-12 col-sm-6 text-center">
				<h2 class="signup-question">What is the <u>max</u> number of large format (22oz) <%= @drink_preference %> would you drink each week?</h2>
				<h5 class="signup-question-detail">You can update this on your delivery preferences page anytime after signup.</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container" id="user-drinks-per-week-signup">
			<div class="col-xs-0 col-sm-3"></div>
			<div class="col-xs-12 col-sm-6 number-box-holder-grandparent">
				<%= render 'large_format_per_week_choice' %>
			</div>
		</div>
	</div>
	<div class="row hidden" id="drinks-per-week-meaning">
		<div class="container">
			<div class="row">
				<div class="col-xs-0 col-sm-3"></div>
				<div class="col-xs-12 col-sm-3">
					<div class="row no-margin estimated-delivery-price-holder-signup" id="estimated-delivery-price-holder-signup">

					</div>
				</div>
				<div class="col-xs-12 col-sm-3 large-format-meaning-parent">
					<div class="row no-margin drinks-per-week-meaning-first-row">
						<div class="col-xs-12">
							<h5 class="drinks-per-week-meaning-text">
								Note: we consider a large format drink to equal two drinks and we adjust your drink total accordingly.
							</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="row no-margin text-center">
				<div class="col-xs-0 col-sm-4"></div>
				<div class="col-xs-12 col-sm-4">
						<%= link_to "Next", account_address_getting_started_path(@user.id), class: "btn btn-default btn-success signup-styles-next-step", id: "liked_styles_next_step_button" %>
				</div>
			</div>
		</div>
	</div>
			
<%= render 'layouts/footer' %>