<%= render 'layouts/header_early_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-signup">
		<%= render 'signup/signup_guide_consumer' %>
	</div>
	<div class="row">
		<div class="container" id="user-drinks-per-week-signup">
			<div class="col-xs-12 text-center">
				<h2 class="signup-question">How many <%= @drink_preference %> do you drink at home each week?</h2>
				<h5 class="signup-question-detail">You can update this on your delivery preferences page anytime after signup.</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container" id="user-drinks-per-week-signup">
			<div class="col-xs-0 col-sm-3"></div>
			<div class="col-xs-12 col-sm-6 number-box-holder-grandparent">
				<%= render 'drinks_per_week_choice'%>
			</div>
		</div>
	</div>
	<div class="row <%= @drinks_weekly_next_button_status %>" id="signup-drinks-weekly-next-button-holder">
		<div class="container">
			<div class="col-xs-offset-4 col-xs-4 text-center">
				<%= link_to "Next", drinks_large_getting_started_path, class: "btn btn-default btn-success signup-drinks-per-week-next-step", id: "liked_styles_next_step_button" %>
			</div>
		</div>
	</div>
	<div id="new_plan_step_one" class="modal">
		<div class="modal-header">
			<div class="row no-margin">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<div class="col-sm-12">
					<h3>Complete plan setup</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row no-margin">
				<div class="col-xs-12">
					<h4 class="delivery-confirmation-text">
						Please take a moment to set your preferred drinks per week, delivery location and date of first delivery.  Thanks!
					</h4>
				</div>
			</div>
			<div class="col-sm-offset-4 col-sm-4 add-button-holder">
				<%= link_to "#", :class => 'text-center btn btn-success add-drink-button', :data => {:dismiss=>"modal"} do %>
					<i class="fa fa-chevron-circle-right"></i>
					Got it!
				<% end %>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>