<%= render 'layouts/header_early_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-signup">
		<%= render 'signup/signup_guide_consumer' %>
	</div>
	<div class="row">
		<div class="container" id="user-drinks-per-week-signup">
			<div class="col-xs-12 text-center">
				<% if @styles_for_dislike.count < 5 %>
					<h2 class="signup-question">Choose up to <%= @styles_for_dislike.count %> styles you really do not like.</h2>
					<h5 class="signup-question-detail">You can provide more detail on your drink preferences page after signup.</h5>
				<% else %>
					<h2 class="signup-question">Choose up to 5 styles you really do not like.</h2>
					<h5 class="signup-question-detail">You can provide more detail on your drink preferences page after signup.</h5>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container" id="user-drinks-per-week-signup">
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-10">
					<% @styles_for_dislike.each do |style| %>
						<div class="col-xs-6 col-sm-3 col-md-2">
							<div class="signup-style-tile dislike-style-tile" id="<%= style.id %>">
								<div class="row no-margin text-center">
									<div class="style-image-holder">
										<img class="img-responsive center-block" alt="Responsive image" src="<%= style.style_image_url %>">
									</div>
									<h5 class="signup-style-tile-header"><%= style.style_name %></h5>
								</div>
							</div>
							<% if !@user_dislikes.blank? %>
								<% if @user_dislikes.include? style.id %>
									<div class="signup-style-tile dislike-style-tile chosen show" id="<%= style.id %>">
										<div class="style-indicator dislike-style-middle text-center">
											<i class="fa fa-times"></i>
										</div>
									</div>
								<% else %>
									<div class="signup-style-tile dislike-style-tile chosen hidden" id="<%= style.id %>">
										<div class="style-indicator dislike-style-middle text-center">
											<i class="fa fa-times"></i>
										</div>
									</div>
								<% end %>
							<% else %>
								<div class="signup-style-tile dislike-style-tile chosen hidden" id="<%= style.id %>">
									<div class="style-indicator dislike-style-middle text-center">
										<i class="fa fa-times"></i>
									</div>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="container">
					<div class="row no-margin text-center">
						<div class="col-xs-12 col-sm-offset-4 col-sm-4">
						 	<%= link_to "Next", @next_step, class: "btn btn-default btn-success signup-styles-next-step", id: "liked_styles_next_step_button" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>