<%= render 'layouts/header_early_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-early-signup">
		<%= render 'early_signup_guide' %>
	</div>
    <% if @view == "code" %>
    	<%= render 'code_verification' %>  
    <% elsif @view == "account" %>
    	<%= render 'account_info' %>  
    <% else %>
    	<%= render 'billing_info' %>
    <% end %>
<div id="initial_delivery_area" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="getting-started-header">Initial delivery area</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12">
				<img class="img-responsive center-block" alt="Responsive image" src="<%= image_url('https://s3-us-west-2.amazonaws.com/knird/index/Knird_delivery_area_initial_with_shading.jpg') %>">
				<h5 class="delivery-thoughts-text zip-code-neighborhoods">
					Initially, we'll deliver to Amazon's downtown offices, Capitol 
					Hill, Central District, Downtown Bellevue, Downtown Seattle, Eastlake, Magnolia, 
					Madison Park, Microsoft's main campus, Montlake, Westlake, and Queen Anne. But we'll expand quickly!
				</h5>
			</div>
		</div>
	</div> 
</div>
<%= render 'layouts/footer' %>