<%= render 'layouts/header_early_signup' %> 
<div class="row early-signup-verification-section">
	<div class="container">
		<div class="row no-margin">
			<div class="col-xs-0 col-sm-2"></div>
			<div class="col-xs-12 col-sm-8">
				<h3 class="request-confirmation-text">Hi <span class="request-confirmation-name">
					<%= @early_user.first_name %></span>. Thank you for signing up early for a <%= @user_subscription %> 
						Knird membership.  We can't wait to get you a drink!</h3>
				<h4 class="early-signup-confirmation-text">Until then, just a few thoughts for you:</h4>
				<h4 class="early-signup-confirmation-text">
					<ul>
						<li>Your early signup earned you 35 bottle caps (i.e. reward points). This is 
							enough to get a free drink on us if you chose. Cheers!</li>
						<li><b>Want more free drinks?</b> You can earn 35 bottle caps for each friend that joins&mdash;with at 
							least a 3-month membership&mdash;using your personal invitation code (<b><%= @user_invitation_code.discount_code %></b>). To make this 
							easy, we've sent you an email that you can forward to invite others.</li>
						<li>Your membership will officially start when we begin deliveries (which should be sometime in March, 
							depending how quickly our permits come through).</li>
						<li>Before we start delivering we'll send you a link to complete your drink profile and then set up 
							time for your introductory sync with your curator.</li>
						<li>Please <%= mail_to "questions@drinkknird.com", "contact us" %> with any questions you have!</li>
					</ul>
				</h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-0 col-sm-4"></div>
			<div class="col-xs-12 col-sm-4">
				<%= link_to "Return to homepage", root_path, class: "btn btn-default btn-success formButton-get-started-bottom-homepage" %>
			</div>
		</div>
	</div>	
</div>
<%= render 'layouts/footer' %>