<%= render 'layouts/header_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-signup">
		<%= render 'signup_guide' %>
	</div>
	<% if @view == "category" %>
    	<%= render 'drink_category' %>
    <% elsif @view == "journey" %>
    	<%= render 'craft_journey' %>  
    <% elsif @view == "styles" %>
    	<% if @step == "1" %>
    		<%= render 'drink_styles_like' %>
    	<% else %>
    		<%= render 'drink_styles_dislike' %>
    	<% end %>
    <% elsif @view == "preferences" %>
    	<% if @step == "1" %>
    		<%= render 'drinks_per_week' %>
    	<% else %>
    		<%= render 'large_format_per_week' %>
    	<% end %>
    <% else %>
    	<% if @step == "1" %>
    		<%= render 'delivery_plan' %>
    	<% elsif @step == "2" %>
    		<%= render 'start_date' %>
    	<% else %>
    		<%= render 'user_info' %>
    	<% end %>
    <% end %>
<div id="getting_started_welcome" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="getting-started-header">Welcome to Knird's signup process</h3>
	</div>
	<div class="modal-body initial-message-after-signup">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h5>We have just a few questions for you to get your account setup.</h5>
				<h5>When we're done here, you'll be all set to receive your first delivery of personalized and curated drinks.</h5>
			</div>
			<div class="col-xs-1 col-sm-3"></div>
			<div class="col-xs-10 col-sm-6">
				<%= link_to "Got it. Let's do this!", "#", :class => 'btn btn-success wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>
	</div> 
</div>
<div id="signup_change_plan_to_enjoy" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Confirm your plan change</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="auto-confirm-confirmation-text">Are you sure you want to change from the Relish to the Enjoy plan?</h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-sm-2"></div>
			<div class="col-sm-4 remove-button-holder">
				<% if @user.beta_tester == true %>
					<%= link_to "Yep, positive", process_user_plan_choice_path("account-1-enjoy_beta"), :class => 'change-auto-renew-confirmation text-center btn btn-success remove-drink-button', method: :post %>
				<% else %>
					<%= link_to "Yep, positive", process_user_plan_choice_path("account-1-enjoy"), :class => 'change-auto-renew-confirmation text-center btn btn-success remove-drink-button', method: :post %>
				<% end %>
				
			</div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>
	</div>
</div>
<div id="signup_change_plan_to_relish" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Confirm your plan change</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="auto-confirm-confirmation-text">Are you sure you want to change from the Enjoy to the Relish plan?</h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-sm-2"></div>
			<div class="col-sm-4 remove-button-holder">
				<% if @user.beta_tester == true %>
					<%= link_to "Yep, positive", process_user_plan_choice_path("account-1-relish_beta"), :class => 'change-auto-renew-confirmation text-center btn btn-success remove-drink-button', method: :post %>
				<% else %>
					<%= link_to "Yep, positive", process_user_plan_choice_path("account-1-relish"), :class => 'change-auto-renew-confirmation text-center btn btn-success remove-drink-button', method: :post %>
				<% end %>
				
			</div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>
