<%= render 'layouts/header' %> 
	<div class="row">
		<div class="container" id="signup-thank-you-header">
			<div class="col-xs-12 text-center">
				<h2 class="signup-question">Thank you for joining Knird!</h2>
				<h5 class="signup-question-detail">Feel free to explore the site. Or use the links below to get a quick start.</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<% if @user_subscription.subscription.deliveries_included != 0 %>
				<% if current_user.role_id == 1 || current_user.role_id == 4 %>
					<%= render 'signup_thank_you_plan_owner' %>
				<% elsif current_user.role_id == 5 %>
					<%= render 'signup_thank_you_plan_mate' %>
				<% else %>
					<%= render 'signup_thank_you_guest' %>
				<% end %>
			<% else %>
				<% if current_user.role_id == 1 || current_user.role_id == 4 %>
					<%= render 'signup_thank_you_no_plan_owner' %>
				<% else %>
					<%= render 'signup_thank_you_guest' %>
				<% end %>
			<% end %>
		</div>
	</div>
<%= render 'layouts/footer' %>