<%= render 'layouts/header_early_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-signup">
		<%= render 'signup_guide' %>
	</div>
	<div class="row">
		<div class="container">
			<div class="col-xs-12 text-center">
				<h2 class="signup-question">What should we call you?</h2>
				<h5 class="signup-question-detail">You can update this info on your user profile page anytime after signup.</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="row no-margin">
				<div class="col-xs-12 col-sm-6">
					<%= simple_form_for @user, :url => {:controller => "signup", :action => "process_user_getting_started"}, :html => { :class => 'form-horizontal' } do |f| %>
						<div class="row no-margin user-info-form">
							<label for="first_name_field" class="col-xs-4 col-sm-3 control-label">First name</label>
							<div class="col-xs-8 col-sm-9">
								<%= f.input :first_name, input_html: { class: "form-control", id: "first_name_field" }, placeholder: "First name", label: false, required: true %>
							</div>
						</div>
						<div class="row no-margin user-info-form">
							<label for="last_name_field" class="col-xs-4 col-sm-3 control-label">Last name</label>
							<div class="col-xs-8 col-sm-9">
								<%= f.input :last_name, input_html: { class: "form-control", id: "last_name_field" }, placeholder: "Last name", label: false, required: true %>
							</div>
						</div>
						<div class="row no-margin user-info-form">
							<label for="username_field" class="col-xs-4 col-sm-3 control-label">Username</label>
							<div class="col-xs-8 col-sm-9">
								<%= f.input :username, input_html: { class: "form-control", id: "username_field" }, placeholder: "Username", label: false, required: true %>
							</div>
						</div>
						<div class="row no-margin user-info-form">
							<label for="birthdate_field" class="col-xs-4 col-sm-3 control-label">Birthdate <sup  id="signup_birthdate_note" data-toggle="tooltip" title="You must be 21 to use the Knird service.">?</sup></label> 
							<div class="col-xs-8 col-sm-9">
								<%= f.input :birthday, as: :string, input_html: { type: :date, class: "form-control", id: "birthdate_field" }, placeholder: "Birthdate", label: false, required: true %>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="row no-margin user-info-form">
							<label for="email_field" class="col-xs-4 col-sm-3 control-label">Email</label>
							<div class="col-xs-8 col-sm-9">
								<%= f.input :email, input_html: { class: "form-control", id: "email_field" }, placeholder: "Email", label: false, required: true %>
							</div>
						</div>
						<%= f.hidden_field :current_password, value: @user.tpw %>
						<div class="row no-margin user-info-form">
							<label for="password" class="col-xs-4 col-sm-3 control-label">Password</label>
							<div class="col-xs-8 col-sm-9">
								<%= f.input :password, input_html: { class: "form-control", id: "password" }, placeholder: "New password", label: false, required: true %>
							</div>
						</div>
						<div class="row no-margin user-info-form">
							<label for="confirm_password" class="col-xs-4 col-sm-3 control-label">Confirm password</label>
							<div class="col-xs-8 col-sm-9">
								<%= f.input :password_confirmation, input_html: { class: "form-control", id: "confirm_password" }, label: false, required: true, placeholder: "Confirm password" %>
							</div>
						</div>
						<div class="row no-margin user-info-form">
							<div class="col-xs-4 col-sm-3"></div>
							<div class="col-xs-8 col-sm-9">
								<%- flash.each do |name, msg| -%>
									<% if name == "success" || name == "failure" %>
										<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
									<% end %>
								<%- end -%>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-xs-1 col-sm-4"></div>
					<div class="col-xs-10 col-sm-4 text-center">
						<%= f.submit "Next", class: "btn btn-default btn-success formButton user-info-next-button" %>
						<h5 class="terms-and-conditions-text">By clicking "Next", you agree to our 
								<%= link_to "terms", terms_path %> and <%= link_to "privacy policy", privacy_path %>.
						</h5>
					</div>
				</div>
				
				<% end %>
		</div>
	</div>
<%= render 'layouts/footer' %>