<% @brewery_info = Brewery.where(id: brewery.brewery_id)[0] %>
<div class="fav-brewery-tile">
	<div class="row no-margin fav-brewery-image-row">
			<% if @brewery_info.image.blank? %>
				<div class="col-sm-12">
					<h5 class="fav-brewery"><%= @brewery_info.short_brewery_name %></h5>
				</div>
			<% else %>
				<div class="col-xs-3 col-sm-2 no-padding"></div>
				<div class="col-xs-6 col-sm-8 no-padding fav-brewery-image-holder">
					<img class="img-responsive center-block" alt="Responsive image" src="<%= @brewery_info.image %>">
				</div>
			<% end %>
	</div>
	<div class="row bottom-details-section">
		<div class="row fav-brewery-details-row">
			<div class="col-sm-12 padding-10">
				<p class="category-title">unique drinks rated: </p>
				<h5 class="drinks-rated no-margin"> <%= (brewery.unique_drinks_rated).floor %></h5>
			</div>
		</div>
		<div class="row fav-brewery-details-row">
			<div class="col-sm-12 padding-10">
				<p class="category-title">total drinks rated: </p>
				<h5 class="drinks-rated no-margin"> <%= (brewery.total_drinks_rated).floor %></h5>
			</div>
		</div>
		<div class="row fav-brewery-details-row">
			<div class="col-sm-12 padding-10">
				<p class="category-title">avg. rating: </p>
				<h5 class="brewery-avg-rating no-margin"> <%= (brewery.brewery_rating).round(1) %><span>/10</span></h5>
			</div>
		</div>
	</div>
</div>