<div class="row no-margin">
	<div class="col-xs-2 col-sm-1 admin-user-identity">
		
			<h5><b>Account overview</b></h5>
	</div>
	<div class="col-xs-2 col-sm-1 preference-estimate-holder-admin">
		<div class="delivery-settings-info-box drinks">
			<p>total</p>
			<h4 class="delivery-preference-prompt"><%= @curated_total_count %></h4>
		</div>	
	</div>
	<div class="col-xs-1 col-sm-1 preference-estimate-holder-admin">
		<div class="delivery-settings-info-box new">
			<p>new</p>
			<h4 class="delivery-preference-prompt"><%= @curated_new_drinks %></h4>
		</div>	
	</div>
	<div class="col-xs-1 col-sm-1 preference-estimate-holder-admin">
		<div class="delivery-settings-info-box new">
			<p>cellar</p>
			<h4 class="delivery-preference-prompt"><%= @curated_cellar_drinks %></h4>
		</div>	
	</div>
	<div class="col-xs-2 col-sm-1 preference-estimate-holder-admin">
		<div class="delivery-settings-info-box small">
			<p>small</p>
			<h4 class="delivery-preference-prompt"><%= @curated_small_drinks %></h4>
		</div>	
	</div>
	<div class="col-xs-2 col-sm-1 preference-estimate-holder-admin">
		<div class="delivery-settings-info-box large">
			<p>large</p>
			<h4 class="delivery-preference-prompt"><%= @curated_small_drinks %></h4>
		</div>	
	</div>
    <div class="col-xs-2 col-sm-1 preference-estimate-holder-admin">
		<div class="delivery-settings-info-box subtotal">
			<p>subtotal</p>
			<h4 class="delivery-preference-prompt"><%= number_to_currency(@free_curation.subtotal, precision: 2) %></h4>
		</div>
	</div>
	<div class="col-xs-2 col-sm-1 preference-estimate-holder-admin">
		<div class="delivery-settings-info-box sales-tax">
			<p>tax</p>
			<h4 class="delivery-preference-prompt"><%= number_to_currency(@free_curation.sales_tax, precision: 2) %></h4>
		</div>
	</div>    
	<div class="col-xs-2 col-sm-1 preference-estimate-holder-admin">
		<div class="delivery-settings-info-box total-price">
			<p>current price</p>
			<h4 class="delivery-preference-prompt"><%= number_to_currency(@free_curation.total_price, precision: 2) %></h4>
		</div>
	</div>
</div>
<% @users.each do |user| %>
	<% @user_preferences = DeliveryPreference.find_by_user_id(user.id) %>
	<% if @user_preferences.beer_chosen %>
		<%= render 'user_curation_estimates', user: user, category: 'Beer' %>
	<% end %>
	<% if @user_preferences.cider_chosen %>
		<%= render 'user_curation_estimates', user: user, category: 'Cider' %>
	<% end %>
<% end %>
<% if !@account_wishlist_items.blank? %>
	<div class="col-xs-6 col-sm-3 preference-estimate-holder-admin">
		<h5 class="wishlist-notification">*  
			<u><%= link_to "Account has Wishlist Items", admin_review_wishlist_path(@account.id),
			data: {toggle: "modal", target: "#admin_review_wishlist"} %></u>
		</h5>
	</div>
<% end %>