<div class="row no-margin">
	<h4>Customer message</h4>
	<% if !@customer_message.nil? %>
		<h5>"<%= @customer_message.message %>"</h5>
	<% else %>
		<h5>The customer hasn't left a message pertaining to this delivery.</h5>
	<% end %>
</div>
<div class="row no-margin">
	<h4>Customer drink changes</h4>
	<% if !@customer_drink_changes.blank? %>
		<table class="table table-striped admin-recommendation-table">
		    <tr>
		      <th>Drink</th>
		      <th>Drink Type</th>
		      <th>Rating</th>
		      <th>New</th>
		      <th>Cellarable</th>
		      <th>Old Quantity</th>
		      <th>New Quantity</th>
			</tr>
			<% @customer_drink_changes.each do |drink| %>
		    	<tr>
			        <% if drink.beer.beer_type.cellarable == true %>
			        	<% @cellarable = "C" %>
			        <% else %>
			        	<% @cellarable = "" %>
			        <% end %>
			        <td><%= drink.beer.brewery.short_brewery_name + " " + drink.beer.beer_name %></td>
	        		<td><%= drink.beer.beer_type.beer_type_name %></td>
			        <td><%= drink.beer.beer_type.cellarable.humanize %></td>
			        <td><%= drink.original_quantity %></td>
			        <td><%= drink.new_quantity %></td>
        		</tr>
        	<% end %>
		</table>	      
	<% else %>
		<h5>The customer hasn't made any drink changes to this delivery.</h5>
	<% end %>
</div>