<div id="filterrific_results">

  <div>
    <h4>Inventory List</h4>
  </div>

  <table class="table table-striped admin-recommendation-table">
    <tr>
      <th><%= sortable "beers.beer_name", "Drink" %></th>
      <th><%= sortable "projected_rating", "Rating" %></th>
      <th>Format</th>
      <th>Demand</th>
      <th>In Stock</th>
      <th>Reserved</th>
      <th>Ordering</th>
      <th>Status</th>
      <th>Order?</th>
      <th>Include?</th>
    </tr>
    <% drinks.each do |drink| %>
    	<% drink.beer.inventories.each do |inventory| %>
	      <tr>
	        <td><%= drink.beer.brewery.short_brewery_name + " " + drink.beer.beer_name %></td>
	        <td><%= drink.projected_rating %></td>
	        <td><%= inventory.size_format.format_name %></td>
	        <% @tally = UserDrinkRecommendation.where(beer_id: drink.beer_id).count %>
		    <td><%= @tally %></td>
	        <td>
	        	<% if inventory.stock.nil? %>
	        		0
	        	<% else %>
	        		<%= inventory.stock %>
	        	<% end %>
	        </td>
	        <td>
	        	<% if inventory.demand.nil? %>
	        		0
	        	<% else %>
	        		<%= inventory.demand %>
	        	<% end %>
	        </td>
	        <td>
	        	<% if inventory.order_queue.nil? %>
	        		0
	        	<% else %>
	        		<%= inventory.order_queue %>
	        	<% end %>
	        </td>
	        <% @inventory_status = (inventory.stock.to_i + inventory.order_queue.to_i) - inventory.demand.to_i %>
	        <td><%= @inventory_status %></td>
	        <td><%= link_to edit_admin_inventory_path(inventory.id), :class => "btn btn-success edit-beer-info" do %>
	        		<i class="fa fa-plus"></i>
	        	<% end %>
	        </td>
	        <td><%= check_box_tag 'accept' %></td>
	      </tr>
	    <% end %>
    <% end %>
  </table>
</div>

