<div>
	<h4>Inventory List</h4>
</div>

  <table class="table table-striped admin-recommendation-table">
    <tr>
      <th><%= sortable "beers.beer_name", "Drink" %></th>
      <th><%= sortable "beers.beer_type_id", "Drink Type" %></th>
      <th><%= sortable "projected_rating", "Rating" %></th>
      <th><%= sortable "new_drink", "New" %></th>
      <th><%= sortable "beers.cellarable", "Cellarable" %></th>
      <th><%= sortable "inventories.size_format_id", "Format" %></th>
      <th>Demand</th>
      <th>Available</th>
      <th>Delivered Recently?</th>
      <th>Order?</th>
      <th>Include?</th>
    </tr>
    <% drinks.each do |drink| %>
    	<% drink.beer.inventories.each do |inventory| %>
	      <tr>
	        <% if drink.beer.cellarable == true %>
	        	<% @cellarable = "C" %>
	        <% else %>
	        	<% @cellarable = "" %>
	        <% end %>
	        <td><%= drink.beer.brewery.short_brewery_name + " " + drink.beer.beer_name %></td>
	        <td><%= drink.beer.beer_type.beer_type_name %></td>
	        <% if drink.new_drink == true %>
	        	<td><%= drink.projected_rating %></td>
	        <% else %>
	        	<% @avg_rating = UserBeerRating.where(user_id: @chosen_user_id, beer_id: drink.beer.id).average(:user_beer_rating) %>
	        	<td><%= @avg_rating.round(2) %></td>
	        <% end %>
	        <td><%= drink.new_drink.humanize %></td>
	        <td><%= drink.beer.cellarable.humanize %></td>
	        <td><%= inventory.size_format.format_name %></td>
	        <% @tally = UserDrinkRecommendation.where(beer_id: drink.beer_id).count %>
		    <td><%= @tally %></td>
	        <% @inventory_status = (inventory.stock.to_i + inventory.order_queue.to_i) - inventory.reserved.to_i %>
	        <td><%= @inventory_status %></td>
		    <% @delivered_recently = UserDelivery.delivered_recently(@chosen_user_id, drink.beer_id) %>
		    <% if !@delivered_recently.blank? %>
		    	<td>Yes</td>
		    <% else %>
		    	<td>No</td>
		    <% end %>
	        <td><%= link_to edit_admin_inventory_path(inventory.id), :class => "btn btn-success edit-beer-info" do %>
	        		<i class="fa fa-plus"></i>
	        	<% end %>
	        </td> 
	        <% @check_box_id =  drink.id.to_s + "-" + inventory.id.to_s %>
	        <% if @next_delivery_plans.map{|a| a.inventory_id}.include? inventory.id %>
	        	<td><%= check_box_tag "inventory_ids[]", inventory.id, true, :id => "#{@check_box_id}", :class => "add_to_delivery" %></td>
	      	<% else %>
	      		<td><%= check_box_tag "inventory_ids[]", inventory.id, false, :id => "#{@check_box_id}", :class => "add_to_delivery" %></td>
	      	<% end %>
	      </tr>
	    <% end %>
    <% end %>
  </table>

