  <div>
    <h4>Non-inventory List</h4>
  </div>

  <table class="table table-striped admin-recommendation-table">
    <tr>
      <th><%= sortable "beers.beer_name", "Drink" %></th>
      <th><%= sortable "beers.beer_type_id", "Drink Type" %></th>
      <th><%= sortable "projected_rating", "Rating" %></th>
      <th>New</th>
      <th>Format</th>
      <th>Demand</th>
      <th>Order?</th>
    </tr>
    <% drinks.each do |drink| %>
    	<% if drink.beer.cellarable == true %>
        	<% @cellarable = "C" %>
        <% else %>
        	<% @cellarable = "" %>
        <% end %>
    	<% @drink_rating_check = UserBeerRating.where(user_id: @chosen_user_id, beer_id: drink.beer.id ).first %>
  		<% if !@drink_rating_check.nil? %>
    		<% @drink_new = "Yes" %> 
    	<% else %>
    		<% @drink_new = "No" %>
    	<% end %>
    	<% if !drink.beer.inventories.empty? %>
	    	<% drink.beer.inventories.each do |inventory| %>
		      <tr>
		        <td><%= drink.beer.brewery.short_brewery_name + " " + drink.beer.beer_name %><sup class="cellar"> <%= @cellarable %></sup> <h6 class="light-gray-text brewery-name-with-id">[id: <%= drink.beer.id %> ]</h6></td>
		        <td><%= drink.beer.beer_type.beer_type_name %></td>
		        <td><%= drink.projected_rating %></td>
		        <td><%= @drink_new %></td>
			    <td><%= inventory.size_format.format_name %></td>
		        <% @tally = UserDrinkRecommendation.where(beer_id: drink.beer_id).count %>
		        <td><%= @tally %></td>
		        <% if inventory.order_queue.nil? %>
		        	<td><%= link_to new_admin_inventory_path(drink.beer_id), :class => "btn btn-success edit-beer-info" do %> 
		        			<i class="fa fa-plus"></i>
						<% end %>
		        	</td>
		        <% else %>
		        	<td><%= inventory.order_queue %></td>
		        <% end %>
		      </tr>
		    <% end %>
		<% else %>
			<tr>
		        <td><%= drink.beer.brewery.short_brewery_name + " " + drink.beer.beer_name %><sup class="cellar"> <%= @cellarable %></sup> <h6 class="light-gray-text brewery-name-with-id">[id: <%= drink.beer.id %> ]</h6></td>
		        <td><%= drink.beer.beer_type.beer_type_name %></td>
		        <td><%= drink.projected_rating %></td>
		        <td><%= @drink_new %></td>
			   	<% if !drink.beer.beer_formats.empty? %>
			   		<td>
				   		<% drink.beer.beer_formats.each_with_index do |format, index| %>
					   		<% if index == drink.beer.beer_formats.size - 1 %>
					   			<%= format.size_format.format_name %>
					   		<% else %>
				 				<%= format.size_format.format_name %>,</br>
				  			<% end %>
				   		<% end %>
			   		</td>
			   	<% else %>
			   		<td>TBD</td>
			   	<% end %>
		        <% @tally = UserDrinkRecommendation.where(beer_id: drink.beer_id).count %>
		        <td><%= @tally %></td>
		        <td><%= link_to new_admin_inventory_path(drink.beer_id), :class => "btn btn-success edit-beer-info" do %> 
		        		<i class="fa fa-plus"></i>
		        	<% end %>
		       	</td>
		      </tr>
		<% end %>
    <% end %>
  </table>