<div id="filterrific_results">

  <div>
    <h4>Non-inventory List</h4>
  </div>

  <table class="table table-striped admin-recommendation-table">
    <tr>
      <th><%= sortable "beers.beer_name", "Drink" %></th>
      <th><%= sortable "projected_rating", "Rating" %></th>
      <th>Format</th>
      <th>Demand</th>
      <th>Order?</th>
    </tr>
    <% drinks.each do |drink| %>
    	<% if !drink.beer.inventories.empty? %>
	    	<% drink.beer.inventories.each do |inventory| %>
		      <tr>
		        <td><%= drink.beer.brewery.short_brewery_name + " " + drink.beer.beer_name %></td>
		        <td><%= drink.projected_rating %></td>
			    <td><%= inventory.size_format.format_name %></td>
		        <% @tally = UserDrinkRecommendation.where(beer_id: drink.beer_id).count %>
		        <td><%= @tally %></td>
		        <% if inventory.order_queue.nil? %>
		        	<td><%= link_to admin_order_queue_new_path(drink.beer_id), :class => "btn btn-success edit-beer-info", data: {toggle: "modal", target: "#order_queue_new"} do %> 
		        			<i class="fa fa-plus"></i>
						<% end %>
		        	</td>
		        <% else %>
		        	<td><%= inventory.order_queue %></td>
		        <% end %>
		      </tr>
		    <% end %>
		<% else %>
			<tr>
		        <td><%= drink.beer.brewery.short_brewery_name + " " + drink.beer.beer_name %></td>
		        <td><%= drink.projected_rating %></td>
			   	<% if !drink.beer.beer_formats.empty? %>
			   		<td>
				   		<% drink.beer.beer_formats.each_with_index do |format, index| %>
					   		<% if index == drink.beer.beer_formats.size - 1 %>
					   			<%= format.size_format.format_name %>
					   		<% else %>
				 				<%= format.size_format.format_name %>,</br>
				  			<% end %>
				   		<% end %>
			   		</td>
			   	<% else %>
			   		<td>TBD</td>
			   	<% end %>
		        <% @tally = UserDrinkRecommendation.where(beer_id: drink.beer_id).count %>
		        <td><%= @tally %></td>
		        <td><%= link_to admin_order_queue_new_path(drink.beer_id), :class => "btn btn-success edit-beer-info", data: {toggle: "modal", target: "#order_queue_new"} do %> 
		        		<i class="fa fa-plus"></i>
		        	<% end %>
		       	</td>
		      </tr>
		<% end %>
    <% end %>
  </table>
</div>