
  <table class="table table-striped admin-recommendation-table">
    <tr>
      <th><%= sortable "beers.beer_name", "Drink" %></th>
      <th><%= sortable "beers.beer_type_id", "Drink Type" %></th>
      <th>ABV</th>
      <th><%= sortable "projected_rating", "Rating" %></th>
      <th><%= sortable "new_drink", "New" %></th>
      <th><%= sortable "beers.beer_type.cellarable", "Cellarable" %></th>
      <th>Format</th>
      <th>Demand</th>
      <th>Delivered?</th>
      <th>Drank?</th>
      <th>Order?</th>
    </tr>
    <% drinks.each do |drink| %>
    	<% if drink.beer.beer_type.cellarable == true %>
        	<% @cellarable = "C" %>
        <% else %>
        	<% @cellarable = "" %>
        <% end %>
		<tr>
	        <td><%= drink.beer.brewery.short_brewery_name + " " + drink.beer.beer_name %> <h6 class="light-gray-text brewery-name-with-id">[id: <%= drink.beer.id %> ]</h6></td>
	        <td><%= drink.beer.beer_type.beer_type_short_name %></td>
	        <td><%= drink.beer.beer_abv %></td>
	        <% if drink.new_drink == true %>
	        	<td><%= drink.projected_rating %></td>
	        <% else %>
	        	<% @avg_rating = UserBeerRating.where(user_id: @chosen_user_id, beer_id: drink.beer.id).average(:user_beer_rating) %>
	        	<td><%= @avg_rating.round(2) %></td>
	        <% end %>
	        <td><%= drink.new_drink.humanize %></td>
	        <td><%= drink.beer.beer_type.cellarable.humanize %></td>
		   	<% if !drink.beer.beer_formats.empty? %>
		   		<% @drink_formats = drink.beer.beer_formats.where('size_format_id <= ?', 5) %>
		   		<td>
			   		<% @drink_formats.each_with_index do |format, index| %>

					   		<% if index == @drink_formats.size - 1 %>
					   			<%= format.size_format.format_name %>
					   		<% else %>
				 				<%= format.size_format.format_name %>,</br>
				  			<% end %>
			   		<% end %>
		   		</td>
		   	<% else %>
		   		<td>TBD</td>
		   	<% end %>
	        <% @tally = UserDrinkRecommendation.where(beer_id: drink.beer_id).count %>
	        <td><%= @tally %></td>
	        <% @delivered_recently = UserDelivery.delivered_recently(@chosen_user_id, drink.beer_id).last %>
		    <% if !@delivered_recently.blank? %>
		    	<td><%= (@delivered_recently.delivery.delivery_date).strftime("%-m/%-d/%y") %></td>
		    <% else %>
		    	<td>No</td>
		    <% end %>
		    <% @drank_recently = UserBeerRating.where(user_id: @chosen_user_id, beer_id: drink.beer_id).where('rated_on > ?', 1.month.ago).last %>
		    <% if !@drank_recently.blank? %>
		    	<td><%= (@drank_recently.rated_on).strftime("%-m/%-d/%y") %></td>
		    <% else %>
		    	<td>No</td>
		    <% end %>
	        <td>
	        	<% if @view == "not_in_stock" %>
	        		<% @inventory_id = Inventory.where(beer_id: drink.beer_id).first %>
	        		<%= link_to edit_admin_inventory_path(@inventory_id), :class => "btn btn-success edit-beer-info" do %> 
		        		<i class="fa fa-plus"></i>
		        	<% end %>
	        	<% else %>
		        	<%= link_to new_admin_inventory_path(drink.beer_id), :class => "btn btn-success edit-beer-info" do %> 
		        		<i class="fa fa-plus"></i>
		        	<% end %>
	        	<% end %>
	       	</td>
	      </tr>
    <% end %>
  </table>