<div class="col-sm-12">
		<div class="row no-margin">
		    <div class="col-sm-2">
		    	<h5>Customer drinks<br> <b><%= @drink_preference %></b></h5>
		    </div>
		    <div class="col-sm-2 no-padding">
		    	<h5>Price range: <%= @cost_estimate %></h5>
		    	<% if !@customer_next_delivery.total_price.nil? %>
		    		<h5>Current price: <span class="<%= @price_estimate_delivery %>"><%= number_to_currency(@customer_next_delivery.total_price, precision: 2) %></span></h5>
		    	<% else %>
		    		<h5>Current price: <span class="not-ready">TBD</span></h5>
		    	<% end %>
		    </div>
		    <div class="col-sm-3">
		      	<div class="box-left-initial">
		      		<h5>Need <%= @drinks_next_delivery %> <%= "drink".pluralize(@drinks_next_delivery) %> in next delivery; have <%= @drink_count %></h5>
		    	</div>
				<div class="box-right-initial">
			      	<% if @drinks_next_delivery == @drink_count %>
			      		<div class="style-indicator like-style-next-delivery-initial text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator dislike-style-next-delivery-initial text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
		     	</div>
		     </div>
			<div class="col-sm-5">
				<div class="box-left-notes">
					<h6>Additional notes:</h6>
				</div>
				<div class="box-right-notes">
					<% if @delivery_preferences.additional.nil? %>
						<h6 class="no-results-empty-message">Customer provided no addtional notes</h6>
					<% else %>
						<h6 class="no-results-empty-message"><%= @delivery_preferences.additional %></h6>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row second-row-next-delivery-review">
		    <div class="col-sm-2">
		      	<div class="box-left">
		      		<h6>Need <%= @next_delivery_new_need %> new <%= "drink".pluralize(@next_delivery_new_need) %>; have <%= @next_delivery_new %></h6>
		    	</div>
		    	<div class="box-right">
			      	<% if @next_delivery_new_need == @next_delivery_new %>
			      		<div class="style-indicator-next-delivery like-style-next-delivery text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator-next-delivery dislike-style-next-delivery text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
			    </div>
		    </div>
		    <div class="col-sm-2">
		      	<div class="box-left">
		      		<h6>Need <%= @next_delivery_retry_need %> retry <%= "drink".pluralize(@next_delivery_new_need) %>; have <%= @next_delivery_retry %></h6>
		    	</div>
		    	<div class="box-right">
			      	<% if @next_delivery_retry_need == @next_delivery_retry %>
			      		<div class="style-indicator-next-delivery like-style-next-delivery text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator-next-delivery dislike-style-next-delivery text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
			      </div>
		     </div>
		    <div class="col-sm-2">
		      	<div class="box-left">
		      		<h6>Need <%= @next_delivery_cooler_need %> cooler <%= "drink".pluralize(@next_delivery_cooler_need) %>; have <%= @next_delivery_cooler %></h6>
		   	 	</div>
		    	<div class="box-right">
			      	<% if @next_delivery_cooler_need == @next_delivery_cooler %>
			      		<div class="style-indicator-next-delivery like-style-next-delivery text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator-next-delivery dislike-style-next-delivery text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
				</div>
		    </div>
		    <div class="col-sm-2">
		    	<div class="box-left">
		      		<h6>Need <%= @next_delivery_cellar_need %> cellar <%= "drink".pluralize(@next_delivery_cellar_need) %>; have <%= @next_delivery_cellar %></h6>
		    	</div>
		    	<div class="box-right">
			      	<% if @next_delivery_cellar_need == @next_delivery_cellar %>
			      		<div class="style-indicator-next-delivery like-style-next-delivery text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator-next-delivery dislike-style-next-delivery text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
				</div>
		    </div>
		    <div class="col-sm-2">
		    	<div class="box-left">
			    	<h6>Need <%= @next_delivery_small_need %> small <%= "drink".pluralize(@next_delivery_small_need) %>; have <%= @next_delivery_small %></h6>
			    </div>
		    	<div class="box-right">
			      	<% if @next_delivery_small_need == @next_delivery_small %>
			      		<div class="style-indicator-next-delivery like-style-next-delivery text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator-next-delivery dislike-style-next-delivery text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
				</div>
		    </div>
		    <div class="col-sm-2">
		    	<div class="box-left">
			    	<h6>Need <%= @next_delivery_large_need %> large <%= "drink".pluralize(@next_delivery_large_need) %>; have <%= @next_delivery_large %></h6>
			    </div>
		    	<div class="box-right">
			      	<% if @next_delivery_large_need == @next_delivery_large %>
			      		<div class="style-indicator-next-delivery like-style-next-delivery text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator-next-delivery dislike-style-next-delivery text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
				</div>
		    </div>
		</div>
	</div>
