<div class="col-sm-12">
		<div class="row no-margin">
		    <div class="col-sm-2">
		    	<h5><b><%= @drink_preference %> <%= @self_identified %></b></h5>
		    	<h5>Next: <b><%= @customer_next_delivery.delivery_date.strftime("%m/%d/%y") %></b></h5>
		    </div>
		    <div class="col-sm-2 no-padding">
		    	<h5>Price range: <%= @cost_estimate %></h5>
		    	<% if !@customer_next_delivery.total_price.nil? %>
		    		<h5>Current price: <span class="<%= @price_estimate_delivery %>"><%= number_to_currency(@customer_next_delivery.total_price, precision: 2) %></span></h5>
		    	<% else %>
		    		<h5>Current price: <span class="not-ready">TBD</span></h5>
		    	<% end %>
		    </div>
			<div class="col-sm-4">
				<div class="box-left-notes">
					<h6>Customer notes:</h6>
				</div>
				<div class="box-right-notes">
					<% if @delivery_preferences.additional.nil? %>
						<h6 class="no-results-empty-message">Customer provided no addtional notes</h6>
					<% else %>
						<h6 class="no-results-empty-message"><%= @delivery_preferences.additional %></h6>
					<% end %>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="box-left-notes">
					<h6>Admin note:</h6>
				</div>
				<div class="box-right-notes">
					<% if @customer_next_delivery.status == "admin prep" %>
						<% if @customer_next_delivery.admin_delivery_review_note.nil? %>
							<h6 class="no-results-empty-message">Admin has not added a delivery note</h6>
						<% else %>
							<h6 class="no-results-empty-message"><%= @customer_next_delivery.admin_delivery_review_note %></h6>
						<% end %>
					<% else %>
						<% if @customer_next_delivery.admin_delivery_confirmation_note.nil? %>
							<h6 class="no-results-empty-message">Admin has not added a confirmation note</h6>
						<% else %>
							<h6 class="no-results-empty-message"><%= @customer_next_delivery.admin_delivery_confirmation_note %></h6>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row second-row-next-delivery-review">
		    <div class="col-sm-3">
		      	<div class="box-left-initial">
		      		<h5>Need <%= @drink_per_delivery_calculation %> <%= "drink".pluralize(@drink_per_delivery_calculation) %> in next delivery; have <%= @drink_count %></h5>
		    	</div>
				<div class="box-right-initial">
			      	<% if @drink_per_delivery_calculation == @drink_count %>
			      		<div class="style-indicator like-style-next-delivery-initial text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator dislike-style-next-delivery-initial text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
		     	</div>
		     </div>
		    <div class="col-sm-2">
		      	<div class="box-left">
		      		<h6>Have <%= @next_delivery_new %> new drinks (<%= @next_delivery_new_percentage %>%)</h6>
		    	</div>
		    	<div class="box-right">
			      	<% if @next_delivery_new_percentage >= 50 %>
			      		<div class="style-indicator-next-delivery like-style-next-delivery text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator-next-delivery dislike-style-next-delivery text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
			    </div>
		    </div>
		    <div class="col-sm-2">
		      	<div class="box-left">
		      		<h6>Have <%= @next_delivery_retry %> repeat drinks (<%= @next_delivery_repeat_percentage %>%)</h6>
		    	</div>
		    	<div class="box-right">
			      	<% if @next_delivery_repeat_percentage <= 50 %>
			      		<div class="style-indicator-next-delivery like-style-next-delivery text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator-next-delivery dislike-style-next-delivery text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
			      </div>
		     </div>
		    <div class="col-sm-2">
		    	<div class="box-left">
		      		<h6>Max <%= @next_delivery_max_cellar %> cellar <%= "drink".pluralize(@next_delivery_cellar_need) %>; have <%= @next_delivery_cellar %></h6>
		    	</div>
		    	<div class="box-right">
			      	<% if @next_delivery_max_cellar >= @next_delivery_cellar %>
			      		<div class="style-indicator-next-delivery like-style-next-delivery text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator-next-delivery dislike-style-next-delivery text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
				</div>
		    </div>
		    <div class="col-sm-2">
		    	<div class="box-left">
			    	<h6>Max <%= @next_delivery_max_large %> large <%= "drink".pluralize(@next_delivery_large_need) %>; have <%= @next_delivery_large %></h6>
			    </div>
		    	<div class="box-right">
			      	<% if @next_delivery_max_large >= @next_delivery_large %>
			      		<div class="style-indicator-next-delivery like-style-next-delivery text-center">
			      			<i class="fa fa-check"></i>
			      		</div>						
			      	<% else %>
			      		<div class="style-indicator-next-delivery dislike-style-next-delivery text-center">
			      			<i class="fa fa-times"></i>
			      		</div>	
			      	<% end %>
				</div>
		    </div>
		</div>
	</div>
