<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12 col-sm-2 no-padding">
			<h1 class="section-header">Recos</h1>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container">
		<div class="row no-margin">
			<div class="col-xs-12 no-padding-right">
				<div class="col-xs-12 col-sm-6 text-left no-padding">
					<h3>Upcoming deliveries & status</h3>
				</div>
			</div>
		</div>
		<div class="row no-margin">
				<div class="col-xs-8">
					<table class="table table-bordered">
					    <tr>
					    	<th>Account</th>
						    <th>Upcoming delivery</th>
						    <th>Curated?</th>
						    <th>Next delivery</th>
						    <th>Curated?</th>
					    </tr>
						<% @upcoming_deliveries.each do |delivery| %>
								<% @account_owner = User.where(account_id: delivery[0], role_id: [1,4]).first %>
								<% @related_shipping_info_one = Shipment.where(delivery_id: delivery[1][0]["id"]) %>
								<tr>
									<td><%= @account_owner.first_name %> [<%= @account_owner.username %>; <%= delivery[0] %>]</td>
									<td class="text-center">
										<%= link_to "#{delivery[1][0]["delivery_date"]}", admin_recommendation_path(delivery[0],delivery[1][0]["id"]) %>
										<% if !@related_shipping_info_one.blank? %>
											<br />
											<%= link_to "shipping info", edit_shipment_path(@related_shipping_info_one[0].id) %>
										<% end %>
									</td>
									<% if delivery[1][0]["share_admin_prep_with_user"] == true %>
										<td class="text-center">Y</td>
									<% else %>
										<td class="text-center">N</td>
									<% end %>
									<% if !delivery[1][1].blank? %>
										<% @related_shipping_info_two = Shipment.where(delivery_id: delivery[1][1]["id"]) %>
										<td class="text-center">
											<%= link_to "#{delivery[1][1]["delivery_date"]}", admin_recommendation_path(delivery[0],delivery[1][1]["id"]) %>
											<% if !@related_shipping_info_two.blank? %>
												<br />
												<%= link_to "shipping info", edit_shipment_path(@related_shipping_info_two[0].id) %>
											<% end %>
										</td>
										<% if delivery[1][1]["share_admin_prep_with_user"] == true %>
											<td class="text-center">Y</td>
										<% else %>
											<td class="text-center">N</td>
										<% end %>
									<% else %>
										<td class="text-center">N/A</td>
										<td class="text-center">N/A</td>
									<% end %>
								</tr>
						<% end %>
					</table>
				</div>
			</div>
	</div>
</div>
<%= render 'layouts/footer' %>