<%= render 'layouts/header' %> 
<div class="container">
	<div class="row header-row">
		<div class="page-header">
			<div class="row">
				<div class="col-sm-8">
					<h2>Recommendations--currently in stock</h2>
				</div>
				<div class="col-sm-2" id="not-in-stock-button-holder">
					<%= render 'not_in_stock_button' %>
				</div>
			</div>
		</div>
	</div>
	<div class="row first-row-admin-recommendation-decisions">
		<div class="col-md-2 text-left no-padding">
			<h4>Showing: <span class="current-selected-user" id="current-user-recommendations"><%= @drink_recommendations[0].user.username %></span></h4>
		</div>
		<div class="col-md-3">
			<%= collection_select(@drink_recommendations, :user_id, User.where(id: @customer_ids), :id, :username, {prompt: "Change customer view"}, {class: "form-control user-list-for-recommendation", id: "user-drink-recommendations"}) %>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<h4>Current status: <%= @customer_next_delivery.status %></h4>
		</div>
		<div class="col-sm-2" id="admin-user-delivery-button-holder">
			<%= render 'admin_user_delivery_button' %>
		</div>
	</div>
	<div class="row no-margin" id="user-delivery-info-container">
		<%= render 'user_delivery_info' %>
	</div>
	<div class="row" id="inventory-list-holder">
		<%= render(partial: 'inventory_list', locals: { drinks: @inventory_drink_recommendations }) %>
	</div>
	<div id="admin_user_delivery" class="modal">
		<%= render 'admin_check_delivery_modal' %>
	</div>
</div>
<%= render 'layouts/footer' %>
