<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-sm-2 no-padding">
			<h1 class="section-header">Recos</h1>
		</div>
		<div class="col-sm-10">
			<div class="row no-margin">
				<div class="col-sm-1"></div>
				<div class="col-sm-3 no-padding-left">
					<%= link_to "In stock", admin_recommendation_path("#{@drink_recommendations[0].user.id}-in_stock"), class: "drink-preference-view-option #{@stock_chosen}" %>
				</div>
				<div class="col-sm-3 no-padding">
					<%= link_to "Not in stock", admin_recommendation_path("#{@drink_recommendations[0].user.id}-not_in_stock"), class: "drink-preference-view-option #{@not_in_stock_chosen}" %>
				</div>
				<div class="col-sm-3 no-padding">
					<%= link_to "Not in inventory", admin_recommendation_path("#{@drink_recommendations[0].user.id}-not_in_inventory"), class: "drink-preference-view-option #{@not_in_inventory_chosen}" %>
				</div>
			</div>
			<div class="row first-row-admin-recommendation-decisions" id="chosen-customer-info">
				<%= render 'chosen_customer_info' %>
			</div>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container" id="chosen-view-info">
		<% if @view == "in_stock" %>
			<%= render 'in_stock' %>
		<% elsif @view == "not_in_stock"%>
			<%= render 'not_in_stock' %>
		<% else %>
			<%= render 'not_in_inventory' %>
		<% end %>
	</div>
</div>
<div class="container">

</div>
<%= render 'layouts/footer' %>
