<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12 col-sm-2 no-padding">
			<h1 class="section-header">Recos</h1>
		</div>
		<div class="col-xs-12 col-sm-10 no-padding">
			<div class="row first-row-admin-recommendation-decisions" id="chosen-customer-info">
				<%= render 'chosen_customer_info' %>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-4">
					<%= link_to "Account Overview", admin_recommendations_path, class: "drink-preference-view-option current" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container" id="chosen-view-info">
		<div class="row no-margin" id="account-delivery-info-row">
			<%= render 'account_delivery_info' %>
		</div>
		<div class="row no-margin" id="account-delivery-estimates-row">
			<%= render 'account_delivery_estimates' %>
		</div>
		<hr>
		<% if @customer_next_delivery.status == "admin prep" || @customer_next_delivery.status == "user review" %>
			<div class="row no-margin">
				<h3><u>Items in stock</u></h3>
				<%= render 'drink_recommendations_in_stock' %>
			</div>
			<div class="row no-margin">
				<h3><u>Items with distributors</u></h3>
				<%= render 'drink_recommendations_with_disti' %>
			</div>
		<% else %>	
			<div class="row no-margin">
				<%= render 'admin_review_delivery' %>
			</div>
		<% end %>
		</div>
	</div>
</div>
<div id="admin_user_delivery" class="modal">
	<%= render 'admin_check_delivery_modal' %>
</div>
<div id="admin_user_feedback" class="modal">
	<%= render 'admin_user_feedback_modal' %>
</div>
<div id="admin_review_delivery" class="modal">
	<%= render 'admin_review_delivery_modal' %>
</div>
<div id="admin_review_wishlist" class="modal">
	<%= render 'admin_review_wishlist_modal' %>
</div>
<div id="admin_delivery_note" class="modal">
	<%= render 'admin_delivery_note_modal' %>
</div>
<div id="account_requests" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Account requests</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-sm-12">
				<% @users.each do |user| %>
					<% @user_delivery_preference = DeliveryPreference.find_by_user_id(user.id) %>
					<% if !@user_delivery_preference.additional.blank? %>
						<h5>
							<% if user.user_graphic.nil? %>
								<%= render 'layouts/user_initials_xsmall', friend: user %>
							<% else %>
								<%= render 'layouts/user_graphic_small', friend: user %>
							<% end %> 
							says "<% @user_delivery_preference.additional %>"
						</h5>
					<% else %>
						<h5>
							<% if user.user_graphic.nil? %>
								<%= render 'layouts/user_initials_xsmall', friend: user %>
							<% else %>
								<%= render 'layouts/user_graphic_small', friend: user %>
							<% end %>
							 has made no additional requests/comments.
						</h5>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div id="account_comments" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Curator comments about Account Users</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-sm-12">
				<% @users.each do |user| %>
					<% @user_delivery_preference = DeliveryPreference.find_by_user_id(user.id) %>
					<% if !@user_delivery_preference.admin_comments.blank? %>
						<h5> 
							<% if user.user_graphic.nil? %>
								<%= render 'layouts/user_initials_xsmall', friend: user %>
							<% else %>
								<%= render 'layouts/user_graphic_small', friend: user %>
							<% end %> 
							 Curator says, "<% @user_delivery_preference.admin_comments %>"
						</h5>
					<% else %>
						<h5> 
							<% if user.user_graphic.nil? %>
								<%= render 'layouts/user_initials_xsmall', friend: user %>
							<% else %>
								<%= render 'layouts/user_graphic_small', friend: user %>
							<% end %>
							 Curator has made no additional comments.
						</h5>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div id="confirm_sharing_delivery" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Confirm sharing delivery</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4>Share these curated drinks with customers?</h4>
			</div>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-4 add-button-holder">
			<%= link_to admin_share_delivery_with_customer_path(@customer_next_delivery.id), :class => 'text-center btn btn-success add-drink-button' do %>
				<i class="fa fa-thumbs-up"></i>
				Yup!
			<% end %>
		</div>
		<div class="col-sm-4 add-button-holder">
			<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>
