<%= render 'layouts/header' %> 
<div class="container">
	<div class="row header-row">
		<div class="page-header">
			<div class="row">
				<h2>Drink recommendations</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 text-left">
			<h4>Currently showing: <span id="current-user-recommendations"><%= @drink_recommendations[0].user.username %></span></h4>
		</div>
		<div class="col-md-1 text-right">
			<h5>Filter by:</h5>
		</div>
		<div class="col-md-3">
			<%= collection_select(@drink_recommendations, :user_id, User.where(id: @customer_ids), :id, :username, {prompt: true}, {class: "form-control", id: "user-drink-recommendations"}) %>
		</div>
	</div>
	<div class="row" id="inventory-list-holder">
		<%= render(partial: 'inventory_list', locals: { drinks: @inventory_drink_recommendations }) %>
	</div>
	<div class="row" id="non-inventory-list-holder">
		<%= render(partial: 'non_inventory_list', locals: { drinks: @non_inventory_drink_recommendations }) %>
	</div>
</div>
<div id="order_queue_new" class="modal">
	<%= render 'admin/recommendations/order_queue_new' %>
</div>
<%= render 'layouts/footer' %>
