<% @current_list_beers.each do |beer| %>
	<div class="col-sm-4 col-xs-12 beer-tile-container">
		<div class="delete-beer text-center">
			<%= link_to listed_beer_update_path(beer.id), data: {confirm: "Remove beer from your list?"} do %>
				<i class="fa fa-times"></i>
			<% end %>
		</div>
		<div class="drink-list-overview-tile">
			<div class="row no-margin">
				<div class="col-xs-4 brewery-image-holder">	
					<% if !beer.brewery.image.nil? %>
						<div class="brewery-image-holder-full text-center">
							<p>show image</p>
						</div>	
					<% else %>
						<div class="brewery-image-holder-empty text-center">
							<h1><i class="fa fa-beer"></i></h1>
						</div>
					<% end %>
				</div>
				<div class="col-xs-8 no-padding-left">
					<h5 class="tile-header beer-tile-header"><%= beer.brewery.short_brewery_name %> <%= beer.beer_name %></h5>
					<% @location_id = BeerLocation.where(beer_id: beer.id, beer_is_current: "yes").pluck(:location_id) %>
					<% @location = Location.find(@location_id)[0] %>
					<h6 class="tile-subheader">@ <%= @location.short_name %></h6>
				</div>
			</div>
			<div class="row no-margin">	
				<div class="col-xs-12">
					<% if !beer.beer_type_id.nil? %>
						<h5 class="tile-subheader beer-info no-overflow"><%= beer.beer_type.beer_type_name %></h5>
					<% else %>
						<h5 class="tile-subheader beer-info">Style unknown</h5>
					<% end %>
				</div>
				<div class="col-xs-6 no-padding-right abv-div">
					<h6 class="tile-subheader beer-info"><%= beer.beer_abv %>% ABV</h6>
				</div>
				<div class="col-xs-6 no-padding-left text-center">
					<% if !beer.beer_ibu.nil? %>
						<h6 class="tile-subheader beer-info"><%= beer.beer_ibu %> IBUs</h6>
					<% else %>
						<h6 class="tile-subheader beer-info">IBUs N/A</h6>
					<% end %>
				</div>
			</div>	
			<div class="row no-margin">
				<div class="col-xs-2"></div>
				<div class="col-xs-8">
					<%= link_to "Rate", "#", class: 'btn btn-default btn-success formButton' %>
				</div>
			</div>
		</div>
	</div>
<% end %>
