<div class="delivery-info-box drinks">
	<p>drinks</p>
	<h4 class="delivery-preference-prompt"><%= delivery.delivery_drink_count %></h4>
</div>	
<div class="delivery-info-box small">
	<p>small</p>
	<h4 class="delivery-preference-prompt"><%= delivery.delivery_small_count %></h4>
</div>	
<% if delivery.delivery_large_count != 0 %>
	<div class="delivery-info-box large">
		<p>large</p>
		<h4 class="delivery-preference-prompt"><%= delivery.delivery_large_count %></h4>
	</div>
<% end %>
<% if delivery.delivery_cellar_count != 0 %>
	<div class="delivery-info-box cellar">
		<p>cellar</p>
		<h4 class="delivery-preference-prompt"><%= delivery.delivery_cellar_count %></h4>
	</div>
<% end %>		
<div class="delivery-info-box total-price" 
	data-toggle="tooltip" 
	data-placement="top" 
	title="Subtotal: <%= number_to_currency(delivery.subtotal, precision: 2) %>; Tax: <%= number_to_currency(delivery.sales_tax, precision: 2) %>; Total: <%= number_to_currency(@first_delivery.total_price, precision: 2) %>">
	<p>total</p>
	<h4 class="delivery-preference-prompt"><%= number_to_currency(delivery.total_price, precision: 2) %></h4>
</div>

