<div class="col-sm-6 col-xs-12 beer-tile-container" id="drink-tile-<%= drink.id %>">
	<div class="next-delivery-tile show-xs hidden-sm hidden-md hidden-lg hidden-xl">
		<%= render 'layouts/drink_info_universal_mobile', drink: drink %>
		<div class="row no-margin size-price-row">
			<div class="col-xs-2">
				<h5 class="svg-holder">
					<%= svg drink.account_delivery.inventory.size_format.image %>
				</h5>
			</div>
			<div class="col-xs-3 no-padding">
				<h5 class="item-price" data-toggle="tooltip" title="Price includes tax">
					<% @total_price = (drink.account_delivery.inventory.drink_price * 1.096) %>
					<%= number_to_currency(@total_price, precision: 2) %> <span>each</span>
				</h5>
				<% if drink.account_delivery.inventory.limit_per.nil? || drink.account_delivery.inventory.limit_per == 0 %>
					<% @available_stock = drink.account_delivery.inventory.stock - drink.account_delivery.inventory.reserved %>
					<% if @available_stock > 4 %>
						<% @limit_per_delivery = 0 %>
					<% elsif @available_stock <= 0 %>
						<% @limit_per_delivery = 1 %>
					<% else %>
						<% @limit_per_delivery = @available_stock %>
					<% end %>
				<% else %>
					<h6 class="limit-per-delivery">Limit per delivery: <%= drink.account_delivery.inventory.limit_per %></h6>
					<% @limit_per_delivery = drink.account_delivery.inventory.limit_per %>
				<% end %>		
			</div>
			<div class="col-xs-3 no-padding text-right">
				<h5 class="order-quantity">Qty: 
					<span id="user-delivery-<%= drink.id %>"><%= drink.quantity.round %></span>
				</h5>
			</div>
			<div class="col-xs-2 quantity-change-holder-add" id="user-delivery-add-<%= drink.id %>" data-toggle="tooltip" title="Add quantity">
				<i class="fa fa-plus-circle"></i>
			</div>
			<div class="col-xs-2 quantity-change-holder-minus" id="user-delivery-minus-<%= drink.id %>" data-toggle="tooltip" title="Subtract quantity">
				<i class="fa fa-minus-circle"></i>
			</div>
		</div>
	</div>
	<div class="next-delivery-tile hidden-xs show-sm show-md show-lg show-xl">
		<%= render 'layouts/drink_info_universal', drink: drink %>
		<div class="row no-margin size-price-row">
			<div class="col-sm-2 col-sm-offset-1 no-padding text-right">
				<h5 class="svg-holder">
					<%= svg drink.account_delivery.inventory.size_format.image %>
				</h5>
			</div>
			<div class="col-sm-3 no-padding">
				<h5 class="item-price" data-toggle="tooltip" title="Price includes tax">
					<% @total_price = (drink.account_delivery.inventory.drink_price * 1.096) %>
					<%= number_to_currency(@total_price, precision: 2) %> each
				</h5>
				<% if drink.account_delivery.inventory.limit_per.nil? || drink.account_delivery.inventory.limit_per == 0 %>
					<% @available_stock = drink.account_delivery.inventory.stock - drink.account_delivery.inventory.reserved %>
					<% if @available_stock > 4 %>
						<% @limit_per_delivery = 0 %>
					<% elsif @available_stock <= 0 %>
						<% @limit_per_delivery = 1 %>
					<% else %>
						<% @limit_per_delivery = @available_stock %>
					<% end %>
				<% else %>
					<h6 class="limit-per-delivery">Limit per delivery: <%= drink.account_delivery.inventory.limit_per %></h6>
					<% @limit_per_delivery = drink.account_delivery.inventory.limit_per %>
				<% end %>		
			</div>
			<div class="col-sm-2 no-padding text-right">
				<h5 class="order-quantity">Qty: 
					<span id="user-delivery-<%= drink.id %>"><%= drink.quantity.round %></span>
				</h5>
			</div>
			<div class="col-sm-1 quantity-change-holder-add" id="user-delivery-add-<%= drink.id %>" data-toggle="tooltip" title="Add quantity">
				<i class="fa fa-plus-circle"></i>
			</div>
			<div class="col-sm-1 quantity-change-holder-minus" id="user-delivery-minus-<%= drink.id %>" data-toggle="tooltip" title="Subtract quantity">
				<i class="fa fa-minus-circle"></i>
			</div>
		</div>
	</div>
</div>	