<% if @past_deliveries.blank? %>
	<div class="row no-margin">
		<div class="col-xs-12">
			<h4 class="no-results-empty-message">You haven't had any deliveries yet. Let's get crackin'!</h4>				
		</div>
	</div>
<% else %>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h3 class="recent-ratings-header">My deliveries</h3>
		</div>
	</div>
	<% @next_delivery.each do |delivery| %>
		<div class="row no-margin">
			<div class="col-xs-8 hidden-xs">
				<h4>Delivered: <%= (delivery.delivery_date).strftime("%A, %b %e, %Y") %></h4>
			</div>
			<div class="col-xs-4 hidden-xs">
				<h4 class="past-delivery-total">Total: <%= number_to_currency(delivery.total_price, precision: 2) %></h4>	
			</div>
			<div class="col-xs-7 hidden-sm hidden-md hidden-lg hidden-xl">
				<h5 class="">Delivered: <%= (delivery.delivery_date).strftime("%-m/%-d/%Y") %></h5>	
			</div>
			<div class="col-xs-5 hidden-sm hidden-md hidden-lg hidden-xl">
				<h5 class="past-delivery-total hidden-sm hidden-md hidden-lg hidden-xl">Total: <%= number_to_currency(delivery.total_price, precision: 2) %></h5>	
			</div>
		</div>	
		<div class="row no-margin delivery-drinks-row">
			<%= render(partial: 'next_delivery_card_review', locals: { drink: delivery }) %>
		</div>
		<hr>
	<% end %>
<% end %>
