<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Drinks</h1>
		</div>
		<div class="col-xs-12 col-sm-7">
			<div class="row">
				<div class="col-xs-4">
					<%= link_to "Deliveries", user_deliveries_path, class: "drink-preference-view-option #{@deliveries_chosen}", id: "next" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Cellar", user_cellar_path, class: "drink-preference-view-option #{@cellar_chosen}", id: "cellar" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Wishlist", user_wishlist_path, class: "drink-preference-view-option #{@wishlist_chosen}", id: "wishlist" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="row no-margin spinner text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Updating...</h4>
		</div>
	</div>
	<div class="container" id="deliveries-view">
		<div class="row no-margin">
			<div class="col-xs-12 col-sm-6 no-padding-right">
				<h3 class="recent-ratings-header">My cellar drinks</h3>
			</div>
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-3">
				<%= link_to drink_search_path(current_user.id), class: 'btn btn-default btn-success formButton-send-note the-supply-button' do %>
					<i class="fa fa-plus"> add a drink</i>
				<% end %>
			</div>
		</div>
		<div class="row no-margin cellar-drinks-row">
			<% if @cellar_drinks.blank? %>
				<div class="col-xs-12">
					<h4 class="recent-ratings-header">Oh no, your cellar is empty! Quick, add a drink.</h4>
				</div>
			<% else %>
				<% @cellar_drinks.each do |drink| %>
					<%= render(partial: 'drink_card_cellar', locals: { drink: drink }) %>
				<% end %>
			<% end %>	
		</div>
	</div>
</div>
<div id="add_cellar_drink_confirmation" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Add drink confirmation</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-sm-12">
				<h4>Add extra of this drink to your cellar?</h4>
			</div>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-4 add-button-holder">
			<%= link_to "#", :id => 'add-cellar-drink', :class => 'text-center btn btn-success add-drink-button', remote: true do %>
				<i class="fa fa-plus"></i>
				Add it!
			<% end %>
		</div>
		<div class="col-sm-4 add-button-holder">
			<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
		</div>
	</div>
</div>
<div id="remove_cellar_drink_confirmation" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Remove drink confirmation</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-sm-12">
				<h4>Remove this drink from your cellar without rating it?</h4>
			</div>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-4 remove-button-holder">
			<%= link_to "#", :id => 'remove-cellar-drink', :class => 'subtract-drink-confirmation text-center btn btn-danger remove-drink-button', remote: true do %>
				<i class="fa fa-minus"></i>
				Remove it!
			<% end %>
		</div>
		<div class="col-sm-4 remove-button-holder">
			<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>