<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Drinks</h1>
		</div>
		<div class="col-xs-12 col-sm-7">
			<div class="row">
				<div class="col-xs-4">
					<%= link_to "Deliveries", user_deliveries_path(current_user.id), class: "drink-preference-view-option #{@deliveries_chosen}", id: "next" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Cellar", user_cellar_path(current_user.id), class: "drink-preference-view-option #{@cellar_chosen}", id: "cellar" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Wishlist", user_wishlist_path(current_user.id), class: "drink-preference-view-option #{@wishlist_chosen}", id: "wishlist" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="row no-margin spinner text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Updating...</h4>
		</div>
	</div>
	<div class="container" id="deliveries-view">
		<% @next_delivery.each do |drink| %>
			<%= render(partial: 'next_delivery_card_review', locals: { drink: drink }) %>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>