<%= render 'layouts/header' %> 
<%= render 'drinks_common', current_section: "" %>
<div class="row spinner">
	<div class="spinner-text">
		<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
		<h4>Updating...</h4>
	</div>
</div>
<div class="row">
	<div class="container" id="deliveries-view">
		<div class="row no-margin">
			<div class="col-xs-12 col-sm-6 no-padding-right">
				<h3 class="recent-ratings-header">Search drinks</h3>
			</div>
			<div class="col-xs-12 col-sm-6">
				<%= form_tag drink_search_path, method: :get, :remote => true, :id => "header-navbar", class: 'navbar-form', role: 'search' do %>
				    <div class="input-group">
				      <%= text_field_tag :query, params[:query], size: 30, placeholder: "Search beers or breweries", class: "form-control supply-drink-search" %>
					    <div class="input-group-btn">
					      <%= button_tag(type: "submit", class: "btn btn-default") do %>
					        <i class="glyphicon glyphicon-search"></i>
					      <% end %>
					    </div>
				    </div>
				<% end %>
			</div>
		<hr>
		</div>
		<div class="row no-margin cellar-drinks-row" id="search-results-holder">
			
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>