<%= simple_form_for [:admin, @inventory] do |f| %>
	<div class="row no-margin">
		<% if @new == true %>
			<h3>New Inventory Form</h3>
		<% else %>
			<h3>Inventory Form for <%= @inventory.beer.brewery.short_brewery_name %> <%= @inventory.beer.beer_name %></h3>
		<% end %>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :beer_id, 'Drink ID' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<% if @new == true %>
				<%= f.input :beer_id, :class => "form-control", placeholder: "Beer ID", label: false %>
			<% else %>
				<%= f.input :beer_id, :readonly => true, :class => "form-control", placeholder: "Beer ID", label: false %>
			<% end %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :stock, '# in stock' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :stock, :class => "form-control", placeholder: "# in stock", label: false %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :reserved, '# reserved' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :reserved, :class => "form-control", placeholder: "# reserved", label: false %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :total_batch, 'Total batch' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<% if @new == true %>
				<%= f.input :total_batch, :class => "form-control", placeholder: "Total batch", label: false %>
			<% else %>
				<%= f.input :total_batch, :readonly => true, :class => "form-control", placeholder: "Total batch", label: false %>
			<% end %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :regular_case_cost, 'Reg Case $' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :regular_case_cost, :class => "form-control", placeholder: "Reg Case $", label: false %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :sale_case_cost, 'Sale Case $' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :sale_case_cost, :class => "form-control", placeholder: "Sale Case $", label: false %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :drink_cost, 'Drink Cost' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :drink_cost, :class => "form-control", placeholder: "Cost", label: false %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :drink_price_four_five, 'Drink Price 45%' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :drink_price_four_five, :class => "form-control", placeholder: "Price 45%", label: false %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :drink_price_five_zero, 'Drink Price 50%' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :drink_price_five_zero, :class => "form-control", placeholder: "Price 50%", label: false %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :drink_price_five_five, 'Drink Price 55%' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :drink_price_five_five, :class => "form-control", placeholder: "Price 55%", label: false %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :size_format_id, 'Drink Format' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :size_format_id, :collection => SizeFormat.all,:label_method => :format_name,:value_method => :id,:label => "Select a format" ,:include_blank => false, label: false %>	
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :min_quantity, 'Min quantity' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<% if @new == true %>
				<%= f.input :min_quantity, :class => "form-control", placeholder: "Min quantity per  case" %>
			<% else %>
				<%= f.input :min_quantity, :readonly => true, :class => "form-control", placeholder: "Min quantity per  case", label: false %>
			<% end %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :packaged_on, 'Packaged On' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :packaged_on, as: :date, 
							  start_year: Date.today,
                              end_year: Date.today.year - 10,
                              order: [:month, :day, :year],
                              html5: true,
                              input_html: { class: "form-control", 
											id: "packaged_on"}, 
							  label: false %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :best_by, 'Best by' %>
		</div>
		<div class="col-sm-5 col-xs-10">
				<%= f.input :best_by, as: :date, start_year: Date.today,
                              end_year: Date.today.year + 20,
                              order: [:month, :day, :year],
                              html5: true,
                              input_html: { class: "form-control", 
											id: "best_by"}, 
							  label: false %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-xs-2 no-padding">
			<%= label :drink_category, 'Drink Category?' %>
		</div>
		<div class="col-sm-4 col-xs-10">
			<%= f.input :drink_category, :collection => [['beer', 'beer'], ['cider', 'cider'], ['wine', 'wine']],:label => "Select a category" ,:include_blank => false, label: false %>
		</div>
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :limit_per, 'Limit/acct' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.input :limit_per, :class => "form-control", placeholder: "Limit/person", label: false %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-xs-2 no-padding">
			<%= label :currently_available, 'Currently Available?' %>
		</div>
		<div class="col-sm-4 col-xs-10">
			<%= f.check_box :currently_available %>
		</div>
		<div class="col-sm-3 col-xs-10 no-padding">
			<%= label :show_current_inventory, 'Show inventory to customers?' %>
		</div>
		<div class="col-sm-2 col-xs-2">
			<%= f.input :show_current_inventory, :class => "form-control", placeholder: "Show to customers?", label: false %>
		</div>
	</div>
	<div class="col-xs-12 col-sm-offset-3 col-sm-6 text-center">
		<%= f.submit "Submit", class: "btn btn-default btn-success formButton" %>
	</div>			
<% end %>