<%= form_for [:admin, @inventory] do |f| %>
	<div class="row no-margin">
		<% if @new == true %>
			<h3>New Inventory Form</h3>
		<% else %>
			<h3>Inventory Form for <%= @inventory.beer.brewery.short_brewery_name %> <%= @inventory.beer.beer_name %></h3>
		<% end %>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :beer_id, 'Drink ID' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<% if @new == true %>
				<%= f.text_field :beer_id, :class => "form-control", placeholder: "Beer ID" %>
			<% else %>
				<%= f.text_field :beer_id, :readonly => true, :class => "form-control", placeholder: "Beer ID" %>
			<% end %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :stock, '# in stock' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.text_field :stock, :class => "form-control", placeholder: "# in stock" %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :reserved, '# reserved' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.text_field :reserved, :class => "form-control", placeholder: "# reserved" %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :total_batch, 'Total batch' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<% if @new == true %>
				<%= f.text_field :total_batch, :class => "form-control", placeholder: "Total batch" %>
			<% else %>
				<%= f.text_field :total_batch, :readonly => true, :class => "form-control", placeholder: "Total batch" %>
			<% end %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :regular_case_cost, 'Reg Case $' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.text_field :regular_case_cost, :class => "form-control", placeholder: "Reg Case $" %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :sale_case_cost, 'Sale Case $' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.text_field :sale_case_cost, :class => "form-control", placeholder: "Sale Case $" %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :drink_price, 'Drink Price' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.text_field :drink_price, :class => "form-control", placeholder: "Price" %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :drink_cost, 'Drink Cost' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.text_field :drink_cost, :class => "form-control", placeholder: "Cost" %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :drink_price, 'Drink Format' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.collection_select(:size_format_id, SizeFormat.all, :id, :format_name, {prompt: "Select a format"}, {class: "form-control"}) %>
		</div>
		
		<div class="col-sm-1 col-xs-2 no-padding">
			<%= label :limit_per, 'Limit/acct' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.text_field :limit_per, :class => "form-control", placeholder: "Limit/person" %>
		</div>
	</div>
	<div class="row no-margin">
		<div class="col-xs-2 no-padding">
			<%= label :currently_available, 'Currently Available?' %>
		</div>
		<div class="col-sm-5 col-xs-10">
			<%= f.check_box :currently_available %>
		</div>
	</div>
	<div class="col-xs-12 col-sm-offset-3 col-sm-6 text-center">
		<%= f.submit "Submit", class: "btn btn-default btn-success formButton" %>
	</div>			
<% end %>