<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-sm-4 no-padding">
			<h1 class="section-header">Inventory</h1>
		</div>
		<div class="col-sm-8">
			<div class="row no-margin">
				<div class="col-sm-1"></div>
				<div class="col-sm-2 no-padding-left">
					<%= link_to "In stock", admin_inventories_path('stock'), class: "drink-preference-view-option #{@stock_chosen}" %>
				</div>
				<div class="col-sm-2 no-padding">
					<%= link_to "Order Queue", admin_inventories_path('order'), class: "drink-preference-view-option #{@order_chosen}" %>
				</div>
				<div class="col-sm-7 text-center">
					<%= link_to "Add new inventory", new_admin_inventory_path, :class => "btn btn-success inputButton2 order-inventory" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container">
		<% if @view == "stock" %>
			<%= render 'in_stock' %>
		<% else %>
			<%= render 'to_order' %>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>