<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Inventory</h1>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-xs-3">
					<%= link_to "Stock", admin_inventories_path, class: "drink-preference-view-option #{@stock_chosen}" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Order Requests", admin_order_requests_path, class: "drink-preference-view-option #{@order_chosen}" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Disti Orders", admin_disti_orders_path, class: "drink-preference-view-option #{@distis_chosen}" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container">
		Order requests here
	</div>
</div>
<%= render 'layouts/footer' %>