<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Inventory</h1>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="row">
				<div class="col-xs-3">
					<%= link_to "Knird Inventory", admin_inventory_path(0), class: "drink-preference-view-option" %>
				</div>
				<div class="col-xs-3">
					<%= link_to "Order Requests", admin_order_requests_path(1), class: "drink-preference-view-option current" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container">
		<div class="row no-margin">
			<div class="col-xs-12 no-padding-right">
				<div class="col-xs-12 col-sm-6 text-left no-padding">
					<h3>Current Order Requests for <%= @distributor.disti_name %></h3>
				</div>
				<div class="col-xs-offset-1 col-xs-10 col-sm-3">
					<%= collection_select("distributor_list", :distributor_id, Distributor.all, :id, :disti_name, {prompt: "Change distributor view"}, {class: "form-control disti-list-for-order-requests"}) %>
				</div>
			</div>
		</div>
		<% if !@requested_orders.blank? %>
			<div class="row no-margin">
				<div class="col-xs-10 col-sm-4">
					<%= link_to "Process requests", "#", class: "btn btn-success inputButton2", id: "process-disti-order-requests" %>
				</div>
			</div>
		<% end %>
		<div class="row no-margin">
			<div class="col-xs-12">
				<% if !@requested_orders.blank? %>
					<table class="table table-bordered admin-recommendation-table">
						<tr>
						  <th class="text-center">Item #</th>
						  <th>Drink</th>
						  <th class="text-center">Format</th>
						  <th class="text-center">Regular Cost</th>
						  <th class="text-center">Current Cost</th>
						  <th class="text-center">Drinks/Case</th>
						  <th class="text-center">Drinks Requested</th>
						  <th class="text-center">Total Demand</th>
						  <th class="text-center">Cases to Order</th>
						</tr>
						<% @requested_orders.each do |drink| %>
							<tr>
						    	<td class="text-center"><%= drink.disti_inventory.disti_item_number %></td>
						    	<td><%= drink.beer.brewery.short_brewery_name + " " + drink.beer.beer_name %></td>
						        <td class="text-center"><%= drink.size_format.format_name %></td>
						        <td class="text-center">$<%= drink.disti_inventory.regular_case_cost %></td>
						        <td class="text-center">$<%= drink.disti_inventory.current_case_cost %></td>
						        <td class="text-center"><%= drink.disti_inventory.min_quantity %></td>
						        <td class="text-center"><%= drink.order_request %></td>
						        <% if !drink.total_demand.nil? %>
						       		<td class="text-center"><%= drink.total_demand %></td>
						       	<% else %>
						       		<td class="text-center">N/A</td>
						       	<% end %>
						        <td class="text-center">
									<%= select_tag('disti_inventory_add', 
										options_for_select(@case_order_number.map { |num| [num, num] }),
										id: drink.distributor_id.to_s + "_" + drink.id.to_s,
										class:"btn btn-success dropdown-toggle-admin-add-disti-inventory",  
										prompt: "# of cases" ) %>
								</td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<h4>There are no requests for <%= @distributor.disti_name %> Distribution.</h4>
				<% end %>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>