<% @purchased_beers.each do |d| %>
	<div class="row each-beer-ratings-page">
		<div class="col-xs-5">
			<h5 class="beer-name dark-gray-text"><%= d.beer.beer_name %></h5>
			<h6 class="beer-type light-gray-text">
				<% if d.beer.beer_type =~ /^[aeiou]/i %>An <% else %> A <% end %>
				<%= d.beer.beer_type %> by <span class="dark-gray-text"><%= d.beer.brewery.brewery_name %></span>
			</h6>
		</div>
		<div class="col-xs-1 beer-cost-history">
			<h6 class="beer-type light-gray-text">$6</h6>
		</div>
		<div class="col-xs-3 beer-location-info">
			<h6 class="locations dark-gray-text half-bottom-margin"><%= d.drank_at %></h6>
		</div>
		<div class="col-xs-3 beer-location-info">
			<h6 class="light-gray-text half-top-margin"><%= (d.created_at).strftime("%B %d, %Y at %l:%M %p") %></h6>
		</div>
	</div>
	<hr/>
<% end %>