<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Disti Inventory</h1>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="row">
				<div class="col-xs-4">
					<%= link_to "Current Inventory", admin_disti_inventory_path(1), class: "drink-preference-view-option" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Change Inventory", admin_disti_inventories_change_path, class: "drink-preference-view-option" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Orders in Process", admin_disti_orders_path(1), class: "drink-preference-view-option current" %>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<%= link_to "Add new disti order", admin_disti_orders_new_path, :class => "btn btn-success inputButton2 order-inventory" %>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container">
		<div class="row no-margin">
			<div class="col-xs-12 no-padding-right">
				<div class="col-xs-12 col-sm-6 text-left no-padding">
					<h3>Current Disti Orders for <%= @distributor.disti_name %></h3>
				</div>
				<div class="col-xs-offset-1 col-xs-10 col-sm-3">
					<%= collection_select("distributor_list", :distributor_id, Distributor.all, :id, :disti_name, {prompt: "Change distributor view"}, {class: "form-control disti-current-orders"}) %>
				</div>
			</div>
		</div>
		<% if !@current_disti_orders.blank? %>	
			<div class="row no-margin", id="disti-order-row-holder">
				<%= render 'disti_order_processing_form', orders: @current_disti_orders %>
			</div>
		<% else %>
			<div class="row no-margin">
				<div class="col-xs-12">
					<h4>There are no currently no <%= @distributor.disti_name %> orders to process.</h4>
				</div>
			</div>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>