<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Disti Inventory</h1>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="row">
				<div class="col-xs-4">
					<%= link_to "Current Inventory", admin_disti_inventories_path, class: "drink-preference-view-option current" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Change Inventory", admin_disti_inventories_change_path, class: "drink-preference-view-option" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Orders in Process", admin_disti_orders_path, class: "drink-preference-view-option" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h3 class="recent-ratings-header">Current Inventory</h3>
			</div>
		</div>
		<% @distis.each do |disti| %>
			<% @all_disti_inventory = DistiInventory.where(distributor_id: disti.id).select('distinct on (beer_id) *') %>
			<% if !@all_disti_inventory.blank? %>
				<% @inventory_ready_for_curation = @all_disti_inventory.where(curation_ready: true) %>
				<% @inventory_not_ready_for_curation = @all_disti_inventory.where(curation_ready: false) %>
			<% end %>
			<div class="row no-margin">
				<div class="col-xs-2 col-sm-1">
					<div class="inventory-view show text-center" id="plus">
						<h6><i class="fa fa-plus"></i></h6>
					</div>
					<div class="inventory-view hidden text-center" id="minus">
						<h6><i class="fa fa-minus"></i></h4>
					</div>				
				</div>
				<div class="col-xs-10 col-sm-11 no-padding-left">
					<h4 class="disti-name-header"><%= disti.disti_name %></h4>
				</div>
			</div>
			<div class="row no-margin hidden">
				<% if !@inventory_ready_for_curation.blank? %>
					<div class="row no-margin">
						<div class="col-xs-2 col-sm-1">
							<div class="inventory-view show text-center" id="plus">
								<h6><i class="fa fa-plus"></i></h6>
							</div>
							<div class="inventory-view hidden text-center" id="minus">
								<h6><i class="fa fa-minus"></i></h4>
							</div>				
						</div>
						<div class="col-xs-10 col-sm-11 no-padding-left">
							<h5 class="disti-drink-section">Drinks ready for curation (<%= @inventory_ready_for_curation.size %>)</h5>
						</div>
					</div>
					<div class="row no-margin hidden">
						<div class="col-xs-12">
							<table class="table table-striped admin-recommendation-table">
							    <tr>
							    	<th>Item #</th>
								    <th>Maker</th>
								    <th>Drink</th>
								    <th>Size</th>
								    <th>Regular Case</th>
								    <th>Current Case</th>
								    <th></th>
								    <th></th>
							    </tr>
								<% @inventory_ready_for_curation.each do |inventory| %>
									<tr>
										<td><%= inventory.disti_item_number %></td>
										<td><%= inventory.beer.brewery.short_brewery_name %></td>
										<td><%= inventory.beer.beer_name %></td>
										<td><%= inventory.size_format.format_name %></td>
										<td><%= inventory.regular_case_cost %></td>
										<td><%= inventory.current_case_cost %></td>
										<td><%= link_to "Edit", edit_admin_disti_inventory_path(inventory.id), :class => "btn btn-success editButton" %></td>
										<td><%= link_to "Remove", admin_disti_inventory_path(inventory.id), :method => :delete, :class => "btn btn-danger editButton" %></td>
									</tr>
								<% end %>
							</table>
						</div>
					</div>
				<% end %>
				<% if !@inventory_not_ready_for_curation.blank? %>
					<div class="row no-margin">
						<div class="col-xs-2 col-sm-1">
							<div class="inventory-view show text-center" id="plus">
								<h6><i class="fa fa-plus"></i></h6>
							</div>
							<div class="inventory-view hidden text-center" id="minus">
								<h6><i class="fa fa-minus"></i></h4>
							</div>				
						</div>
						<div class="col-xs-10 col-sm-11 no-padding-left">
							<h5 class="disti-drink-section">Drinks that need work before curation (<%= @inventory_not_ready_for_curation.size %>)</h5>
						</div>
					</div>
					<div class="row no-margin hidden">
						<div class="col-xs-12">
							<table class="table table-striped admin-recommendation-table">
							    <tr>
							    	<th>Item #</th>
								    <th>Maker</th>
								    <th>Drink</th>
								    <th>Size</th>
								    <th>Regular Case</th>
								    <th>Current Case</th>
								    <th></th>
								    <th></th>
							    </tr>
								<% @inventory_not_ready_for_curation.each do |inventory| %>
									<tr>
										<td><%= inventory.disti_item_number %></td>
										<td><%= inventory.beer.brewery.short_brewery_name %></td>
										<td><%= inventory.beer.beer_name %></td>
										<td><%= inventory.size_format.format_name %></td>
										<td><%= inventory.regular_case_cost %></td>
										<td><%= inventory.current_case_cost %></td>
										<td><%= link_to "Update Drink", edit_admin_brewery_beer_path(inventory.beer.brewery_id, inventory.beer_id), :class => "btn btn-success editButton" %></td>
										<td><%= link_to "Remove", admin_disti_inventory_path(inventory.id), :method => :delete, :class => "btn btn-danger editButton" %></td>
									</tr>
								<% end %>
							</table>
						</div>
					</div>
				<% end %>
				<% if @inventory_ready_for_curation.blank? && @inventory_not_ready_for_curation.blank? %>
					<div class="row no-margin">
						<div class="col-xs-12">
							<h6>Nothing to see here, folks</h6>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>