<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Disti Inventory</h1>
		</div>
		<div class="col-xs-12 col-sm-8">
			<div class="row">
				<div class="col-xs-4">
					<%= link_to "Current Inventory", admin_disti_inventory_path(1), class: "drink-preference-view-option current" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Change Inventory", admin_disti_inventories_change_path, class: "drink-preference-view-option" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Orders in Process", admin_disti_orders_path(1), class: "drink-preference-view-option" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container">
		<div class="row no-margin">
			<div class="col-xs-12 no-padding-right">
				<div class="col-xs-12 col-sm-6 text-left no-padding">
					<h3>Current Inventory for <%= @distributor.disti_name %></h3>
				</div>
				<div class="col-xs-offset-1 col-xs-10 col-sm-3">
					<%= collection_select("distributor_list", :distributor_id, Distributor.all, :id, :disti_name, {prompt: "Change distributor view"}, {class: "form-control disti-current-inventory"}) %>
				</div>
			</div>
		</div>
		<div class="row no-margin">
			<% if !@all_disti_inventory.blank? %>
				<% if !@inventory_ready_for_curation.blank? %>
					<div class="row no-margin">
						<div class="col-xs-2 col-sm-1">
							<div class="inventory-view for-disti-inventory show text-center" id="plus">
								<h6><i class="fa fa-plus"></i></h6>
							</div>
							<div class="inventory-view for-disti-inventory hidden text-center" id="minus">
								<h6><i class="fa fa-minus"></i></h4>
							</div>				
						</div>
						<div class="col-xs-10 col-sm-11 no-padding-left">
							<h5 class="disti-drink-section">Drinks ready for curation (<%= @inventory_ready_for_curation.size %>)</h5>
						</div>
					</div>
					<div class="row no-margin hidden">
						<div class="col-xs-12">
							<table class="table table-striped admin-recommendation-table">
							    <tr>
							    	<th>Item #</th>
								    <th>Maker</th>
								    <th>Drink</th>
								    <th>Size</th>
								    <th>Regular Case</th>
								    <th>Current Case</th>
								    <th></th>
								    <th></th>
							    </tr>
								<% @inventory_ready_for_curation.each do |inventory| %>
									<tr>
										<td><%= inventory.disti_item_number %></td>
										<td><%= inventory.beer.brewery.short_brewery_name %></td>
										<td><%= inventory.beer.beer_name %></td>
										<td><%= inventory.size_format.format_name %></td>
										<td><%= inventory.regular_case_cost %></td>
										<td><%= inventory.current_case_cost %></td>
										<td><%= link_to "Edit", edit_admin_disti_inventory_path(inventory.id), :class => "btn btn-success editButton" %></td>
										<td><%= link_to "Remove", admin_disti_inventory_path(inventory.id), :method => :delete, :class => "btn btn-danger editButton" %></td>
									</tr>
								<% end %>
							</table>
						</div>
					</div>
				<% end %>
				<% if !@inventory_not_ready_for_curation.blank? %>
					<div class="row no-margin">
						<div class="col-xs-2 col-sm-1">
							<div class="inventory-view for-disti-inventory show text-center" id="plus">
								<h6><i class="fa fa-plus"></i></h6>
							</div>
							<div class="inventory-view for-disti-inventory hidden text-center" id="minus">
								<h6><i class="fa fa-minus"></i></h4>
							</div>				
						</div>
						<div class="col-xs-10 col-sm-11 no-padding-left">
							<h5 class="disti-drink-section">Drinks that need work before curation (<%= @inventory_not_ready_for_curation.size %>)</h5>
						</div>
					</div>
					<div class="row no-margin hidden">
						<div class="col-xs-12">
							<table class="table table-striped admin-recommendation-table">
							    <tr>
							    	<th>Item #</th>
								    <th>Maker</th>
								    <th>Drink</th>
								    <th>Size</th>
								    <th>Regular Case</th>
								    <th>Current Case</th>
								    <th></th>
								    <th></th>
							    </tr>
								<% @inventory_not_ready_for_curation.each do |inventory| %>
									<tr>
										<td><%= inventory.disti_item_number %></td>
										<td><%= inventory.beer.brewery.short_brewery_name %></td>
										<td><%= inventory.beer.beer_name %></td>
										<td><%= inventory.size_format.format_name %></td>
										<td><%= inventory.regular_case_cost %></td>
										<td><%= inventory.current_case_cost %></td>
										<td><%= link_to "Update Drink", admin_brewery_beers_path(inventory.beer.brewery_id), :class => "btn btn-success editButton" %></td>
										<td><%= link_to "Remove", admin_disti_inventory_path(inventory.id), :method => :delete, :class => "btn btn-danger editButton" %></td>
									</tr>
								<% end %>
							</table>
						</div>
					</div>
				<% end %>
			<% else %>
				<div class="row no-margin">
					<div class="col-xs-12">
						<h4>No drinks available yet.</h4>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>