<% @current_draft_board.each do	|drink| %>
	<div class="col-sm-6">
		<div class="row no-margin">
			<div class="col-sm-2 no-padding text-center">
				<% if !drink.beer.brewery.image.nil? %>
					<div class="row img-responsive brewery-logo-image-med" alt="Responsive image" style="background-image: url(<%= drink.beer.brewery.image %>)"></div>
				<% else %>
					<div>
						<h1><i class="fa fa-beer"></i></h1>
					</div>
				<% end %>
				<h6 class="tile-subheader drink-origin"><i class="fa fa-map-marker"> California</i></h6>
			</div>
			<div class="col-sm-10 no-padding">
				<div class="row no-margin">
					<div class="col-xs-12">
						<% if drink.beer.collab == true %>
							<% @collab_brewery_name = Beer.collab_brewery_name(drink.beer.id) %>
							<h5 class="drink-header-draft-pretty"><%= @collab_brewery_name %> <%= ("<span class=combined-drink-text>"+drink.beer.beer_name+"</span>").html_safe %></h5>
						<% else %>
							<h5 class="drink-header-draft-pretty"><%= drink.beer.brewery.short_brewery_name %> <%= ("<span class=combined-drink-text>"+drink.beer.beer_name+"</span>").html_safe %></h5>
						<% end %>
					</div>
					<div class="col-xs-12">
						<% if !drink.beer.beer_type_id.nil? %>
							<h5 class="tile-subheader beer-info no-overflow"><%= drink.beer.beer_type.beer_type_name %></h5>
						<% else %>
							<h5 class="tile-subheader beer-info">Style unknown</h5>
						<% end %>
					</div>
					<div class="col-sm-3 col-xs-6 no-padding-right abv-div">
						<% if !drink.beer.beer_abv.nil? %>
							<h6 class="tile-subheader beer-info"><%= drink.beer.beer_abv %>% ABV</h6>
						<% else %>
							<h6 class="tile-subheader beer-info">ABV N/A</h6>
						<% end %>
					</div>
					<% if !drink.beer.beer_ibu.nil? %>
						<div class="col-sm-3 col-xs-6 no-padding-left text-center ibu-div">
							<h6 class="tile-subheader beer-info"><%= drink.beer.beer_ibu %> IBUs</h6>
						</div>
					<% else %>
						<div class="col-xs-6"></div>
					<% end %>
					<div class="col-sm-6 draft-pretty-filler"></div>
					<% @draft_details = DraftDetail.where(beer_location_id: drink.id) %>
					<% @draft_details.each do |details| %>
						<% if details.drink_size > 0 && details.drink_size <= 5 %>
							<div class="col-sm-3">
								<img class="draft-pretty-icon icon-taster" src="https://s3-us-west-2.amazonaws.com/knird/brewery_small/taster_small.jpg" />
								<p class="draft-pretty-draft-size"><%= details.drink_size %> oz.</p>
								<p class="draft-pretty-draft-cost"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>	
							</div>
						<% end %>
						<% if details.drink_size > 5 && details.drink_size <= 12 %>
							<div class="col-sm-3">
								<img class="draft-pretty-icon" src="https://s3-us-west-2.amazonaws.com/knird/brewery_small/tulip_small.jpg" />
								<p class="draft-pretty-draft-size"><%= details.drink_size %> oz.</p>
								<p class="draft-pretty-draft-cost"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>	
							</div>
						<% end %>
						<% if details.drink_size > 12 && details.drink_size <= 22 %>
							<div class="col-sm-3">
								<img class="draft-pretty-icon icon-nonic" src="https://s3-us-west-2.amazonaws.com/knird/brewery_small/nonic_small.jpg" />
								<p class="draft-pretty-draft-size"><%= details.drink_size %> oz.</p>
								<p class="draft-pretty-draft-cost"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>	
							</div>
						<% end %>
						<% if details.drink_size == 32 %>
							<div class="col-sm-3">
								<img class="draft-pretty-icon" src="https://s3-us-west-2.amazonaws.com/knird/brewery_small/growler_small.jpg" />
								<p class="draft-pretty-draft-size"><%= details.drink_size %> oz.</p>
								<p class="draft-pretty-draft-cost"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>	
							</div>
						<% end %>
						<% if details.drink_size == 64 %>
							<div class="col-sm-3">
								<img class="draft-pretty-icon" src="https://s3-us-west-2.amazonaws.com/knird/brewery_small/growler_small.jpg" />
								<p class="draft-pretty-draft-size"><%= details.drink_size %> oz.</p>
								<p class="draft-pretty-draft-cost"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>	
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
