<%= nested_form_for @draft do |f| %>
	<div class="container draft-board-container">
		<div class="row no-margin draft-edit-top-row-container">
			<div class="row no-margin draft-edit-top-row">
					<div class="col-xs-12 col-sm-6 col-md-8 visible-sm visible-md visible-lg">
						<div class="row img-responsive retailer-logo-image-med" alt="Responsive image" style="background-image: url(<%= @retailer.logo_med %>)">
							<% if !@last_draft_board_update.nil? %>
								<h3 class="retailer-page-title">Edit Draft Board <span class="last-updated">(last updated: <%= (@last_draft_board_update.updated_at).strftime("%B %e, %Y @ %l:%M %p") %>)</span></h3>
							<% else %>
								<h3 class="retailer-page-title">Edit Draft Board</h3>
							<% end %>
						</div>
					</div>
					<div class="col-xs-12 visible-xs">
						<div class="row img-responsive retailer-logo-image-med" alt="Responsive image" style="background-image: url(<%= @retailer.logo_med %>)">
							<% if !@last_draft_board_update.nil? %>
								<h3 class="retailer-page-title">Edit Draft Board <span class="last-updated">(updated: <%= (@last_draft_board_update.updated_at).strftime("%-m.%-d.%y @ %l:%M %p") %>)</span></h3>
							<% else %>
								<h3 class="retailer-page-title">Edit Draft Board</h3>
							<% end %>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-2">
						<%= link_to "Cancel", retailer_path(session[:retail_id]), class: 'btn btn-default formButton-cancel-draft-board-edit' %>
					</div>
				<div class="col-xs-6 col-sm-3 col-md-2">
					<%= f.submit "Save", class: "btn btn-default btn-success formButton-draft-edit" %>
				</div>
			</div>
			<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			<%- end -%>
			<hr>
		</div>
		<div class="row draft-filler-top-row"></div>
		<%= render 'new_draft', :f => f %>
		<%= f.link_to_add :beer_locations, id: "add-drink-button", class: 'btn btn-default btn-primary formButton-add-draft' do %>
			<i class="fa fa-plus"> Add a new drink</i>
		<% end %>
	</div>
<% end %>
<div id="add_drink" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Add a new drink</h3>
	</div>
	<div class="modal-body"></div>
</div>