<%= f.fields_for :beer_locations, @draft_drink do |ff| %>
		<div class="row new-draft-row" id="new-draft-row-<%= ff.index %>" >
					<div class="col-xs-3 text-center tap-number-holder visible-xs">
						<p>Tap #</p>
					</div>
					<div class="col-xs-3 text-center no-padding-left tap-number-holder visible-xs">
						<%= ff.text_field :tap_number, :class => "form-control" %>
					</div>
					<div class="col-xs-6 remove-draft-button visible-xs text-right">
						<%= ff.link_to_remove do %>
							<i class="fa fa-trash-o"></i>	
						<% end %>
					</div>
					<div class="col-sm-1 text-center tap-number-holder visible-sm visible-md visible-lg">
						<p>Tap #</p>
						<%= ff.text_field :tap_number, :class => "form-control mobile-tap-number" %>
					</div>
					<div class="col-xs-12 col-sm-4 no-padding">	
						<%= ff.hidden_field :beer_id %>
						<% if @draft_board_form == "edit" %>
							<div class="row no-margin search-field">
								<div class="col-sm-12 drink-search-holder">	
									<% if !ff.object.beer.nil? %>
											<% if !ff.object.beer.brewery.short_brewery_name.nil? %>
												<% @beer_name = ff.object.beer.brewery.short_brewery_name + " " + ff.object.beer.beer_name %>
											<% else %>
												<% @beer_name = ff.object.beer.brewery.brewery_name + " " + ff.object.beer.beer_name %>
											<% end %>
											<div class="beers-search">
												<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
													<div class="input-group">
											 	    	<%= text_field_tag :query, (params[:query] or @beer_name), id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search edit-form" %>
													</div>
												<% end %>
											</div>
									<% else %>
										<div class="beers-search">
											<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
												<div class="input-group testing">
										 	    	<%= text_field_tag :query, params[:query], id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search edit-form" %>
												</div>
											<% end %>
										</div>
									<% end %>
								</div>
							</div>
						<% else %>
							<div class="row no-margin search-field">
								<div class="col-xs-12 drink-search-holder">	
									<% if !ff.object.beer.nil? %>
											<% if !ff.object.beer.brewery.short_brewery_name.nil? %>
												<% @beer_name = ff.object.beer.brewery.short_brewery_name + " " + ff.object.beer.beer_name %>
											<% else %>
												<% @beer_name = ff.object.beer.brewery.brewery_name + " " + ff.object.beer.beer_name %>
											<% end %>
											<div class="beers-search">
												<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
													<div class="input-group">
											 	    	<%= text_field_tag :query, (params[:query] or @beer_name), id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search new-form" %>
													</div>
												<% end %>
											</div>
									<% else %>
										<div class="beers-search">
											<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
												<div class="input-group testing">
										 	    	<%= text_field_tag :query, params[:query], id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search new-form" %>
												</div>
											<% end %>
										</div>
									<% end %>
								</div>
							</div>
						<% end %>
						<div class="row no-margin new-draft-info" id="new-draft-info-<%= ff.index %>">
							<% if @draft_board_form == "edit" || @draft_board_form == "new_error" %>
								<%= render 'new_draft_info_for_edit', this_drink: ff.object.beer %>
							<% end %>
						</div>	
					</div>
					<div class="col-sm-2 keg-size-holder">
						<% options = options_for_select([["1/6 BBL (5.16gal)", "5.16"], ["1/4 BBL (7.75gal)", "7.75"], ["1/3 BBL (10.3gal)", "10.3"], ["Euro BBL (13.2gal)", "13.2"], ["1/2 BBL (15.5gal)", "15.5"]], ff.object.keg_size) %>
						<%= ff.select :keg_size, options, {prompt: 'Select Keg Size'}, { class: 'form-control' } %>
					</div>
					<div class="col-xs-12 col-sm-4 draft-details-row-container no-padding">
						<%= render 'new_draft_details', :ff => ff %>
						<%= ff.link_to_add :draft_details, class: 'btn btn-default btn-primary formButton-add-details' do %>
							<i class="fa fa-plus"> Add a drink size</i>
						<% end %>
						
					</div>			
					<div class="col-sm-1 no-padding-right remove-draft-button visible-sm visible-md visible-lg">
						<%= ff.link_to_remove do %>
							<i class="fa fa-trash-o"></i>	
						<% end %>
					</div>
			</div>	
			<hr>
<% end %>	

