<%= f.fields_for :beer_locations, @draft_drink do |ff| %>
		<div class="row new-draft-row" id="new-draft-row-<%= ff.index %>" >
					<div class="col-sm-1 text-center tap-number-holder">
						<p>Tap #</p>
						<%= ff.text_field :tap_number, :class => "form-control" %>
					</div>
					<div class="col-sm-5">	
						<%= ff.hidden_field :beer_id %>
						<% if @draft_board_form == "edit" %>
							<div class="row no-margin search-field">
								<div class="col-sm-12 drink-search-holder">	
									<% if !ff.object.beer.nil? %>
											<% if !ff.object.beer.brewery.short_brewery_name.nil? %>
												<% @beer_name = ff.object.beer.brewery.short_brewery_name + " " + ff.object.beer.beer_name %>
											<% else %>
												<% @beer_name = ff.object.beer.brewery.brewery_name + " " + ff.object.beer.beer_name %>
											<% end %>
											<div class="beers-search">
												<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
													<div class="input-group">
											 	    	<%= text_field_tag :query, (params[:query] or @beer_name), id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search edit-form" %>
													</div>
												<% end %>
											</div>
									<% else %>
										<div class="beers-search">
											<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
												<div class="input-group testing">
										 	    	<%= text_field_tag :query, params[:query], id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search edit-form" %>
												</div>
											<% end %>
										</div>
									<% end %>
								</div>
							</div>
						<% else %>
							<div class="row no-margin search-field">
								<div class="col-sm-12 drink-search-holder">	
									<% if !ff.object.beer.nil? %>
											<% if !ff.object.beer.brewery.short_brewery_name.nil? %>
												<% @beer_name = ff.object.beer.brewery.short_brewery_name + " " + ff.object.beer.beer_name %>
											<% else %>
												<% @beer_name = ff.object.beer.brewery.brewery_name + " " + ff.object.beer.beer_name %>
											<% end %>
											<div class="beers-search">
												<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
													<div class="input-group">
											 	    	<%= text_field_tag :query, (params[:query] or @beer_name), id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search new-form" %>
													</div>
												<% end %>
											</div>
									<% else %>
										<div class="beers-search">
											<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
												<div class="input-group testing">
										 	    	<%= text_field_tag :query, params[:query], id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search new-form" %>
												</div>
											<% end %>
										</div>
									<% end %>
								</div>
							</div>
						<% end %>
						<div class="row no-margin new-draft-info" id="new-draft-info-<%= ff.index %>">
							<% if @draft_board_form == "edit" || @draft_board_form == "new_error" %>
								<%= render 'new_draft_info_for_edit', this_drink: ff.object.beer %>
							<% end %>
						</div>	
					</div>
					<div class="col-sm-5 draft-details-row-container">
						<%= render 'new_draft_details', :ff => ff %>
						<%= ff.link_to_add :draft_details, class: 'btn btn-default btn-primary formButton-add-details' do %>
							<i class="fa fa-plus"> Add a drink size</i>
						<% end %>
						
					</div>			
					<div class="col-sm-1 no-padding-right remove-draft-button">
						<%= ff.link_to_remove do %>
							<i class="fa fa-trash-o"></i>	
						<% end %>
					</div>
			</div>	
			<hr>
<% end %>	

