<%= nested_form_for @draft do |f| %>
	<div class="container draft-board-container">
		<div class="row no-margin draft-edit-top-row-container">
			<div class="row no-margin draft-edit-top-row">
					<div class="col-sm-8 visible-sm visible-md visible-lg">
						<div class="row img-responsive retailer-logo-image-med" alt="Responsive image" style="background-image: url(<%= @retailer.logo_med %>)">
							<h3 class="retailer-page-title">Edit Draft Board</h3>
						</div>
					</div>
					<div class="col-xs-12 visible-xs">
						<div class="row img-responsive retailer-logo-image-med" alt="Responsive image" style="background-image: url(<%= @retailer.logo_med %>)">
							<h3 class="retailer-page-title">Edit Draft Board</h3>
						</div>
					</div>
					<div class="col-xs-6 col-sm-2">
						<%= link_to "Cancel", retailer_path(session[:retail_id]), class: 'btn btn-default formButton-cancel-draft-board-edit' %>
					</div>
				<div class="col-xs-6 col-sm-2">
					<%= f.submit "Save", class: "btn btn-default btn-success formButton-draft-edit" %>
				</div>
			</div>
			<hr>
		</div>
		<div class="row draft-filler-top-row"></div>
		<%= render 'new_new_draft', :f => f %>
		<%= f.link_to_add :beer_locations, id: "add-drink-button", class: 'btn btn-default btn-primary formButton-add-draft' do %>
			<i class="fa fa-plus"> Add a new drink</i>
		<% end %>
	</div>
<% end %>