<%= f.fields_for :beer_locations, @draft_drink do |ff| %>
		<div class="row new-draft-row" id="new-draft-row-<%= ff.index %>" >
					<div class="col-xs-3 text-center tap-number-holder visible-xs">
						<p>Tap #</p>
					</div>
					<div class="col-xs-3 text-center no-padding-left tap-number-holder visible-xs">
						<%= ff.text_field :tap_number, :class => "form-control" %>
					</div>
					<div class="col-xs-6 remove-draft-button visible-xs text-right">
						<%= ff.link_to_remove do %>
							<i class="fa fa-trash-o"></i>	
						<% end %>
					</div>
					<div class="col-sm-1 text-center tap-number-holder visible-sm no-padding-right">
						<p>Tap #</p>
						<%= ff.text_field :tap_number, :class => "form-control mobile-tap-number" %>
					</div>
					<div class="col-md-1 text-center tap-number-holder visible-md visible-lg">
						<p>Tap #</p>
						<%= ff.text_field :tap_number, :class => "form-control mobile-tap-number" %>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 no-padding">	
						<div class="row no-margin">
							<%= ff.hidden_field :beer_id %>
							<% if @draft_board_form == "edit" %>
									<div class="col-sm-12 drink-search-holder">	
										<% if !ff.object.beer.nil? %>
												<% if !ff.object.beer.brewery.short_brewery_name.nil? %>
													<% @beer_name = ff.object.beer.brewery.short_brewery_name + " " + ff.object.beer.beer_name %>
												<% else %>
													<% @beer_name = ff.object.beer.brewery.brewery_name + " " + ff.object.beer.beer_name %>
												<% end %>
												<div class="beers-search">
													<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
														<div class="input-group">
												 	    	<%= text_field_tag :query, (params[:query] or @beer_name), id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search edit-form" %>
														</div>
													<% end %>
												</div>
										<% else %>
											<div class="beers-search">
												<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
													<div class="input-group testing">
											 	    	<%= text_field_tag :query, params[:query], id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search edit-form" %>
													</div>
												<% end %>
											</div>
										<% end %>
									</div>
							<% else %>
									<div class="col-xs-12 drink-search-holder">	
										<% if !ff.object.beer.nil? %>
												<% if !ff.object.beer.brewery.short_brewery_name.nil? %>
													<% @beer_name = ff.object.beer.brewery.short_brewery_name + " " + ff.object.beer.beer_name %>
												<% else %>
													<% @beer_name = ff.object.beer.brewery.brewery_name + " " + ff.object.beer.beer_name %>
												<% end %>
												<div class="beers-search">
													<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
														<div class="input-group">
												 	    	<%= text_field_tag :query, (params[:query] or @beer_name), id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search new-form" %>
														</div>
													<% end %>
												</div>
										<% else %>
											<div class="beers-search">
												<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
													<div class="input-group testing">
											 	    	<%= text_field_tag :query, params[:query], id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search new-form" %>
													</div>
												<% end %>
											</div>
										<% end %>
									</div>
							<% end %>							
						</div>
						<div class="row no-margin new-draft-info" id="new-draft-info-<%= ff.index %>">
							<% if @draft_board_form == "edit" || @draft_board_form == "new_error" %>
								<%= render 'new_draft_info_for_edit', this_drink: ff.object.beer %>
							<% end %>
						</div>
						<div class="row no-margin">
							<% if false %>
							<div class="col-xs-10 col-sm-5 drink-category-holder">
								<% category_options = options_from_collection_for_select(@drink_categories, 'id', 'category_name' ) %>
								<%= ff.select :drink_category_id, category_options, {prompt: 'Select Drink Category'}, { class: 'form-control' } %>
							</div>
							<% end %>
							<% if @subscription_plan == "retain" %>
								<% if ff.object.special_designation == true %>
									<% @color_option_setting = "show" %>
									<% @color_to_show = ff.object.special_designation_color %>
								<% else %>
									<% @color_option_setting = "hidden" %>
									<% @color_to_show = "" %>
								<% end %>
								<div class="col-xs-12 col-sm-3 special-designation-input no-padding">
									<%= ff.check_box :special_designation, { :class => "special-designation-option" } %>
									<h6 class="special-designation-option">Highlight prices</h6>
								</div>
								<div class="col-sm-5 col-md-4 special-designation-color <%= @color_option_setting %> no-padding-left">
									<h5 class="color-prompt <%= @color_to_show %>">Color:</h5>
									<%= ff.select(:special_designation_color, 
										[ ['Blue', 'special-designated-blue'],['Green', 'special-designated-green'],
										['Orange', 'special-designated-orange'],['Purple (light)', 'special-designated-light-purple'],
										['Purple (dark)', 'special-designated-dark-purple'],['Red', 'special-designated-red'],
										['Yellow', 'special-designated-yellow'] ],{prompt: 'Select Color'}, 
										{ :class => "btn btn-default dropdown-toggle special-designation-colors" }) %>
								</div>
							<% end %>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 draft-details-row-container no-padding">
						<%= render 'new_draft_details', :ff => ff %>
						<%= ff.link_to_add :draft_details, class: 'btn btn-default btn-primary formButton-add-details' do %>
							<i class="fa fa-plus"> Add a drink size</i>
						<% end %>
						
					</div>			
					<div class="col-sm-1 no-padding-right remove-draft-button visible-sm visible-md visible-lg">
						<%= ff.link_to_remove do %>
							<i class="fa fa-trash-o"></i>	
						<% end %>
					</div>
			</div>	
			<hr>
<% end %>	

