<% if false %>
<% if !@drink_price_tiers.blank?  %>
	<div class="row no-margin">
		<div class="col-xs-2">
			<p class="size-option-text text-center"> price tier</p>
		</div>
		<div class="col-xs-10 col-sm-5 draft-price-tier-options no-padding" id="<%= ff.object.beer.id %>">	 
				<% @beer_location_record = BeerLocation.where(location_id: session[:retail_id], beer_id: ff.object.beer.id, beer_is_current: "yes").first %>
				<% if !@beer_location_record.price_tier_id.nil? %>
					<%= select_tag "price-tier", options_from_collection_for_select(@drink_price_tiers, "id", "tier_name", @beer_location_record.price_tier_id),
									prompt: 'Select Price Tier', class: "btn btn-default dropdown-toggle price-tier-options" %>
				<% else %>
					<%= select_tag "price-tier", options_from_collection_for_select(@drink_price_tiers, "id", "tier_name"),
									prompt: 'Select Price Tier', class: "btn btn-default dropdown-toggle price-tier-options" %>
				<% end %>
			
		</div>
		<div class="col-xs-10 col-sm-5 keg-size-holder">
			<% options = options_for_select([["1/6 BBL (5.16gal)", "5.16"], ["1/4 BBL (7.75gal)", "7.75"], ["1/3 BBL (10.3gal)", "10.3"], ["Euro BBL (13.2gal)", "13.2"], ["1/2 BBL (15.5gal)", "15.5"]], ff.object.keg_size) %>
			<%= ff.select :keg_size, options, {prompt: 'Select Keg Size'}, { class: 'form-control' } %>
		</div>
	</div>
<% end %>
<% end %>
<%= ff.fields_for :draft_details do |builder| %>
	<div class="row draft-details-row" id="draft-details-row-<%= builder.index %>">
		<div class="col-xs-2 col-sm-2 col-md-2 text-center dropdown draft-size-input size-option-text-holder">
			<p class="size-option-text"><%= (builder.options[:child_index].to_i + 1) %><%= (builder.options[:child_index].to_i + 1).ordinal %> size option</p>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-3 no-padding-right draft-size-input"> 
			<%= builder.select(:drink_size, 
				[ ['Size (oz)', 0],['2 oz.', 2],['4 oz.', 4],['6 oz.', 6],['8 oz.', 8],['10 oz.', 10],['12 oz.', 12],['16 oz.', 16],['20 oz.', 20],['32 oz.', 32],['64 oz.', 64] ], 
				{}, { :class => "btn btn-default dropdown-toggle drink-size" }) %>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-3 no-padding-right draft-cost-input">
			<%= builder.text_field :drink_cost, :data => {autonumeric: {aSign: '$ ', a_sep: ',', a_dec: '.'}}, :class => "form-control", placeholder: "Cost ($)" %>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-3 remove-draft-details">
			<%= builder.link_to_remove do %>
				<i class="fa fa-times-circle"></i>	
			<% end %>
		</div>
	</div>		
<% end %>					

