<%= render 'layouts/header_retailer' %> 
	<div class="container">
		<div class="row no-margin">
			<div class="row no-margin">
				<div class="col-xs-12 col-sm-10">
					<div class="row img-responsive retailer-logo-image-med" alt="Responsive image" style="background-image: url(<%= @retailer.logo_med %>)">
						<h3 class="retailer-page-title">Facebook post page</h3>
					</div>
				</div>
				<div class="col-xs-6 col-sm-2">
					<%= link_to "Back", retailer_path(session[:retail_id]), class: 'btn btn-default formButton-cancel-draft-board-edit' %>
				</div>
			</div>
		</div>
		<h3>Currently on draft</h3>
		<% @current_draft_board.each do	|drink| %>		
			<hr>
			<div class="row no-margin">
				<div class="col-xs-12 col-sm-5 col-md-5 no-padding">
					<div class="row no-margin">
						<div class="col-xs-12">
							<% if !drink.beer.short_beer_name.nil? %>
								<% if drink.beer.collab == true %>
									<% @collab_brewery_name = Beer.collab_brewery_name(drink.beer.id) %>
									<h4 class="draft-board-row-name"><%= @collab_brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.short_beer_name+"</span>").html_safe %></h4>
								<% elsif drink.beer.brewery.short_brewery_name.nil? %>
									<h4 class="draft-board-row-name table-condensed"><%= drink.beer.brewery.brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.short_beer_name+"</span>").html_safe %></h4>
								<% else %>
									<h4 class="draft-board-row-name table-condensed"><%= drink.beer.brewery.short_brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.short_beer_name+"</span>").html_safe %></h4>
								<% end %>
							<% else %>
								<% if drink.beer.collab == true %>
									<% @collab_brewery_name = Beer.collab_brewery_name(drink.beer.id) %>
									<h4 class="draft-board-row-name"><%= @collab_brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.beer_name+"</span>").html_safe %></h4>
								<% elsif drink.beer.brewery.short_brewery_name.nil? %>
									<h4 class="draft-board-row-name table-condensed"><%= drink.beer.brewery.brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.beer_name+"</span>").html_safe %></h4>
								<% else %>
									<h4 class="draft-board-row-name table-condensed"><%= drink.beer.brewery.short_brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.beer_name+"</span>").html_safe %></h4>
								<% end %>
							<% end %>
						</div>
					</div>
					<% if !drink.beer.top_descriptor_list.blank? %>
						<% @top_descriptors = drink.beer.top_descriptor_list.to_sentence %>
							<% if !drink.beer.beer_type.nil? %>
								<% @suggested_text = "Now available: " + drink.beer.brewery.brewery_name + "'s " + drink.beer.beer_name + "--a " + @top_descriptors + " " + drink.beer.beer_type.beer_type_short_name + ". Come in and try it before it's gone!" %>
							<% else %>
								<% @suggested_text = "Now available: " + drink.beer.brewery.brewery_name + "'s " + drink.beer.beer_name + "--described as " + @top_descriptors + ". Come in and try it before it's gone!" %>
							<% end %>
					<% else %>
						<% if !drink.beer.beer_type.nil? %>
							<% @suggested_text = "Now available: " + drink.beer.brewery.brewery_name + "'s " + drink.beer.beer_name + ", a tasty " + drink.beer.beer_type.beer_type_short_name + ". Come in and try it before it's gone!" %>
						<% else %>
							<% @suggested_text = "Now available: " + drink.beer.brewery.brewery_name + "'s " + drink.beer.beer_name + ". Come in and try it before it's gone!" %>
						<% end %>
					<% end %>
					<div class="row no-margin suggested-text-holder-row">
						<div class="col-xs-12 board-preference-labels no-padding-right">
							<h6>Copy/paste this suggested post:</h6>
						</div>
						<div class="col-xs-12 board-preference-labels no-padding-right"><%= @suggested_text %></div>
					</div>
					<%#<div class="row no-margin suggested-text-holder-row">
					<%#		<div class="col-xs-2"></div>
					<%#		<div class="col-xs-7 board-preference-labels no-padding">
					<%#			<h6>Generate a suggested post:</h6>
					<%#		</div>
					<%#		<div class="col-xs-2 text-center no-padding board-preference-labels">
					<%#			<%= label_tag 'suggested_post', 'Yes' %>
					<%#		</div>
					<%#		<div class="col-xs-1 board-preference-inputs no-padding suggested-text-holder-col">
					<%#			<input type="checkbox" name="suggested_post" id="suggested_post" value="no" class="btn-add-suggestion">			
					<%#			<% if !drink.beer.brewery.facebook_url.nil? %>
					<%#			<% @brewery_page = @page_graph.get_object(drink.beer.brewery.facebook_url) %>
					<%#		<% end %>	
					<%#		<% if !drink.beer.top_descriptor_list.blank? %>
					<%#			<% @top_descriptors = drink.beer.top_descriptor_list.to_sentence %>
					<%#			<% if !drink.beer.beer_type.nil? %>
					<%#				<% @suggested_text = "Now available: " + drink.beer.brewery.brewery_name + "'s " + drink.beer.beer_name + "--a " + @top_descriptors + " " + drink.beer.beer_type.beer_type_short_name + ". Come in and try it before it's gone!" %>
					<%#				<% @suggested_text_with_mentions = "Now available: @" + drink.beer.brewery.brewery_name + "'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + "--a " + @top_descriptors + " " + drink.beer.beer_type.beer_type_short_name + ". Come in and try it before it's gone!" %>
					<%#				<% if !drink.beer.brewery.facebook_url.nil? %>
					<%#					<% @suggested_post_with_mentions = "Now available: @[" + @brewery_page["id"] + "]'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + "--a " + @top_descriptors + " " + drink.beer.beer_type.beer_type_short_name + ". Come in and try it before it's gone!" %>
					<%#				<% else %>
					<%#					<% @suggested_post_with_mentions = "Now available: " + drink.beer.brewery.brewery_name + "'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + "--a " + @top_descriptors + " " + drink.beer.beer_type.beer_type_short_name + ". Come in and try it before it's gone!" %>
					<%#				<% end %>
					<%#			<% else %>
					<%#				<% @suggested_text = "Now available: " + drink.beer.brewery.brewery_name + "'s " + drink.beer.beer_name + "--described as " + @top_descriptors + ". Come in and try it before it's gone!" %>
					<%#				<% @suggested_text_with_mentions = "Now available: @" + drink.beer.brewery.brewery_name + "'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + "--described as " + @top_descriptors + ". Come in and try it before it's gone!" %>
					<%#				<% if !drink.beer.brewery.facebook_url.nil? %>
					<%#					<% @suggested_post_with_mentions = "Now available: @[" + @brewery_page["id"] + "]'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + "--described as " + @top_descriptors + ". Come in and try it before it's gone!" %>
					<%#				<% else %>
					<%#					<% @suggested_post_with_mentions = "Now available: " + drink.beer.brewery.brewery_name + "'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + "--described as " + @top_descriptors + ". Come in and try it before it's gone!" %>
					<%#				<% end %>
					<%#			<% end %>
					<%#		<% else %>
					<%#			<% if !drink.beer.beer_type.nil? %>
					<%#				<% @suggested_text = "Now available: " + drink.beer.brewery.brewery_name + "'s " + drink.beer.beer_name + ", a tasty " + drink.beer.beer_type.beer_type_short_name + ". Come in and try it before it's gone!" %>
					<%#				<% @suggested_text_with_mentions = "Now available: @" + drink.beer.brewery.brewery_name + "'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + ", a tasty " + drink.beer.beer_type.beer_type_short_name + ". Come in and try it before it's gone!" %>
					<%#				<% if !drink.beer.brewery.facebook_url.nil? %>
					<%#					<% @suggested_post_with_mentions = "Now available: @[" + @brewery_page["id"] + "]'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + ", a tasty " + drink.beer.beer_type.beer_type_short_name + ". Come in and try it before it's gone!" %>
					<%#				<% else %>
					<%#					<% @suggested_post_with_mentions = "Now available: " + drink.beer.brewery.brewery_name + "'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + ", a tasty " + drink.beer.beer_type.beer_type_short_name + ". Come in and try it before it's gone!" %>
					<%#				<% end %>
					<%#			<% else %>
					<%#				<% @suggested_text = "Now available: " + drink.beer.brewery.brewery_name + "'s " + drink.beer.beer_name + ". Come in and try it before it's gone!" %>
					<%#				<% @suggested_text_with_mentions = "Now available: @" + drink.beer.brewery.brewery_name + "'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + ". Come in and try it before it's gone!" %>
					<%#				<% if !drink.beer.brewery.facebook_url.nil? %>
					<%#					<% @suggested_post_with_mentions = "Now available: @[" + @brewery_page["id"] + "]'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + ". Come in and try it before it's gone!" %>
					<%#				<% else %>
					<%#					<% @suggested_post_with_mentions = "Now available: " + drink.beer.brewery.brewery_name + "'s #" + (drink.beer.beer_name).gsub(/\s+/, "") + ". Come in and try it before it's gone!" %>
					<%#				<% end %>
					<%#			<% end %>
					<%#		<% end %>
					<%#		<%= hidden_field_tag 'suggested-facebook-text', @suggested_text %>
					<%#		</div>
					<%#</div>
					<%#<div class="row no-margin add-mentions-holder-row hide">
					<%#	<div class="col-xs-2"></div>
					<%#	<div class="col-xs-7 board-preference-labels no-padding">
					<%#		<h6 class="add-mention-text">Add mentions:<span data-toggle="tooltip" title="Mentions makes it easier for customers to find information about breweries and beers (e.g. @Stone Brewing Co. or ‪#‎Xocoveza‬ beer)."> [?]</span></h6>
					<%#	</div>
					<%#	<div class="col-xs-2 text-center no-padding board-preference-labels">
					<%#		<%= label_tag 'mentions', 'Yes' %>
					<%#	</div>
					<%#	<div class="col-xs-1 board-preference-inputs no-padding add-mentions-holder-col">
					<%#		<input type="checkbox" name="mentions" id="mentions" value="no" class="btn-add-mentions">
					<%#		<%= hidden_field_tag 'suggested-facebook-text-with-mentions', @suggested_text_with_mentions %>
					<%#		<%= hidden_field_tag 'suggested-facebook-post-with-mentions', @suggested_post_with_mentions %>
					<%#	</div>
					<%#</div> %>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 facebook-input-holder-col">
					<div class="row no-margin facebook-input-holder-row">
						<%= text_area_tag 'facebook-post', nil, placeholder: 'Type a post or copy/paste the suggested post.', class: "form-control facebook-post-input" %>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3 post-button-holder-col no-padding">
					<div class="row no-margin">
						<div class="col-xs-12">
							<% if !drink.facebook_share.nil? %>
								<h6 class="last-updated">Posted:  <%= drink.facebook_share.strftime("%b %e, %Y @ %l:%M %p") %></h6>
							<% else %>
								<h6 class="last-updated">Status: Not yet posted</h6>
							<% end %>
						</div>
					</div>
					<div class="row no-margin post-button-holder-row">
						<div class="col-xs-10 post-button-holder">
							<div class="hidden">
								<%= @final_post_text = "" %>
							</div>
							<%= link_to share_on_facebook_path(drink.id, @final_post_text), :class => "btn btn-block btn-social btn-facebook" do %>
								<i class="fa fa-facebook"></i>Post Message
						  	<% end %>
						</div>
					</div>
				</div>
			</div>
		<% end %>	
	</div>
<%= render 'layouts/footer' %>