<% if card.brand == "Visa" %>
	<% @card_visual = 'visa' %>
<% elsif card.brand == "MasterCard" %>
	<% @card_visual = 'mastercard' %>
<% elsif card.brand == "AmericanExpress" %>
	<% @card_visual = 'amex' %>
<% else %>
	<% @card_visual = 'diners-club' %>
<% end %>
<div class="col-xs-12 col-sm-4 col-md-3">
	<div class="credit-card-holder">
		<div class="col-xs-4 card-visual-holder">
			<i class="fa fa-cc-<%= @card_visual %> fa-3x" aria-hidden="true"></i>
		</div>
		<div class="col-xs-8">
			<p class="credit-card-info-text last4">&hellip; <%= card.last4 %></p>
			<p class="credit-card-info-text">Exp: <%= card.exp_month %>/<%= card.exp_year %></p>
		</div>
		<% if @customer_cards.data.length > 1 %>
			<div class="col-xs-12">
				<%= link_to delete_credit_card_user_path(card.id), class: 'delete-credit-card-button' do %>
					<i class="fa fa-times-circle" data-toggle="tooltip" title="Remove this location"></i> Delete
				<% end %>
			</div>
		<% end %>
	</div>
</div>