<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>Set your first delivery date</h3>
</div>
<div class="modal-body">
	<%= form_for @delivery_preferences, :url => {:action => "customer_delivery_date"} do |f| %>
		<div class="row no-margin">
			<div class="col-sm-6 no-padding">
				<h3 class="delivery-preference-prompt">Which day is best for your first delivery?</h3>
			</div>
			<div class="col-sm-6 no-padding">
				  <% if @time_difference >= 10 %>
				  	<label class="drink-preference-choice">
				  		<%= check_box_tag :first_delivery_date, @this_thursday, false, :name => 'preferences[first_delivery_date][]', class: 'first_delivery_date_chosen' %><%= @this_thursday.strftime("%A, %b %e, %Y") %>
				  	</label>
				  	<label class="drink-preference-choice">
				  		<%= check_box_tag :first_delivery_date, @next_thursday, false, :name => 'preferences[first_delivery_date][]', class: 'first_delivery_date_chosen' %><%= @next_thursday.strftime("%A, %b %e, %Y") %>
				  	</label>
				  	<label class="drink-preference-choice">
				  		<%= check_box_tag :first_delivery_date, @second_thursday, false, :name => 'preferences[first_delivery_date][]', class: 'first_delivery_date_chosen' %><%= @second_thursday.strftime("%A, %b %e, %Y") %>
				  	</label>
				  <% else %>
				  	<label class="drink-preference-choice">
				  		<%= check_box_tag :first_delivery_date, @next_thursday, false, :name => 'preferences[first_delivery_date][]', class: 'first_delivery_date_chosen' %><%= @next_thursday.strftime("%A, %b %e, %Y") %>
				  	</label>
				  	<label class="drink-preference-choice">
				  		<%= check_box_tag :first_delivery_date, @second_thursday, false, :name => 'preferences[first_delivery_date][]', class: 'first_delivery_date_chosen' %><%= @second_thursday.strftime("%A, %b %e, %Y") %>
				  	</label>
				  <% end %>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<%= f.submit "Choose starting date", :class => "btn btn-success formButton" %>
			</div>
		</div>
	<% end %>
</div>