<div class="col-sm-1">
	<div class="delivery-info-box drinks">
		<p>drinks</p>
		<h4 class="delivery-preference-prompt"><%= @drink_count %></h4>
	</div>	
</div>
<div class="col-sm-1">
	<div class="delivery-info-box new">
		<p>new</p>
		<h4 class="delivery-preference-prompt"><%= @next_delivery_new %></h4>
	</div>	
</div>
<div class="col-sm-1">
	<div class="delivery-info-box repeat">
		<p>repeat</p>
		<h4 class="delivery-preference-prompt"><%= @next_delivery_retry %></h4>
	</div>	
</div>
<div class="col-sm-1">
	<div class="delivery-info-box small">
		<p>small</p>
		<h4 class="delivery-preference-prompt"><%= @next_delivery_small %></h4>
	</div>	
</div>
<div class="col-sm-1">
	<div class="delivery-info-box large">
		<p>large</p>
		<h4 class="delivery-preference-prompt"><%= @next_delivery_large %></h4>
	</div>	
</div>
<div class="col-sm-7">
	<div class="delivery-info-box total-price">
		<p>total</p>
		<h4 class="delivery-preference-prompt"><%= number_to_currency(@delivery.total_price, precision: 2) %></h4>
	</div>
	<div class="show-more-price-info show">
		<i class="fa fa-plus-square-o fa-lg" data-toggle="tooltip" data-placement="right" title="Click to see the subtotal and sales tax."></i>
	</div>
	<div class="delivery-info-box subtotal hidden">
		<p>subtotal</p>
		<h4 class="delivery-preference-prompt"><%= number_to_currency(@delivery.subtotal, precision: 2) %></h4>
	</div>
	<div class="delivery-info-box sales-tax hidden">
		<p>tax</p>
		<h4 class="delivery-preference-prompt"><%= number_to_currency(@delivery.sales_tax, precision: 2) %></h4>
	</div>
	<div class="show-less-price-info hidden">
		<i class="fa fa-minus-square-o fa-lg" data-toggle="tooltip" data-placement="right" title="Click to hide the subtotal and sales tax."></i>
	</div>
</div>
