<%= link_to drink_path(drink.beer.slug) do %>
	<div class="fav-drink-tile">
		<% if drink.beer.collab == true %>
			<h5 class="fav-drink-brewery"><%= drink.beer.collab_brewery_name(beer.id) %></h5>
		<% elsif drink.beer.brewery.short_brewery_name.nil? %>
			<h5 class="fav-drink-brewery"><%= drink.beer.brewery.brewery_name %></h5>
		<% else %>
			<h5 class="fav-drink-brewery"><%= drink.beer.brewery.short_brewery_name %></h5>
		<% end %>
		<h5 class="fav-drink-drink"><%= drink.beer.beer_name %></h5>
	</div>
<% end %>
