<div class="col-sm-4 col-xs-12 beer-tile-container" id="drink-tile-<%= drink.id %>">
	<div class="next-delivery-tile">
		<div class="row no-margin ratings-image-holder-row">
			<div class="col-sm-5 no-padding wishlist-image-holder-column">
				<% if !drink.beer.brewery.image.blank? %>
					<img class="img-responsive center-block" alt="Responsive image" src="<%= drink.beer.brewery.image %>">
				<% else %>
					<div class="brewery-image-holder-empty-ratings-page text-center">
						<h2><i class="fa fa-beer"></i></h2>
					</div>
				<% end %>
			</div>
			<div class="col-sm-7 wishlist-best-guess">
				<% @user_rating = UserBeerRating.where(user_id: drink.user.id, beer_id: drink.beer.id).pluck(:user_beer_rating)[0] %>
				<% if !@user_rating.nil? %>
					<p>Our <span class="best-guess">best guess</span> was: <span class="best-guess"><%= drink.projected_rating %></span></p>
					<p>You rated it:</p>
					<h1 class="user-rating"><%= @user_rating %><span class="recent-user-rating-context">/10</span></h1>
					<% drink.beer_rating = @user_rating %>
				<% else %>
					<p class="filler-best-guess-text"></p>
					<p>Our <span class="best-guess">best guess</span> for you:</p>
						<h1 class="best-guess"><%= drink.projected_rating %><span class="recent-user-rating-context">/10</span></h1>
					<% drink.beer_rating = drink.projected_rating %>
				<% end %>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-12">
				<% if drink.beer.collab == true %>
					<% @title_header = (Beer.collab_brewery_name(drink.beer.id) + " " + "<span class=combined-drink-text>"+drink.beer.beer_name+"</span>").html_safe %>
					<%= link_to @title_header, brewery_beer_path(drink.beer.brewery.id, drink.beer.beer_id), :class => 'tile-header beer-tile-header-next-delivery' %>
				<% elsif drink.beer.brewery.short_brewery_name.nil? %>
					<% @title_header = (drink.beer.brewery.brewery_name + " " + "<span class=combined-drink-text>"+drink.beer.beer_name+"</span>").html_safe %>
					<%= link_to @title_header, brewery_beer_path(drink.beer.brewery.id, drink.beer_id), :class => 'tile-header beer-tile-header-next-delivery' %>
				<% else %>
					<% @title_header = (drink.beer.brewery.short_brewery_name + " " + "<span class=combined-drink-text>"+drink.beer.beer_name+"</span>").html_safe %>
					<%= link_to @title_header, brewery_beer_path(drink.beer.brewery.id, drink.beer_id), :class => 'tile-header beer-tile-header-next-delivery' %>
				<% end %>
			</div>
			<div class="col-xs-12">
				<% if !drink.beer.beer_type_id.nil? %>
					<h5 class="tile-subheader beer-info no-overflow beer-type-info"><%= drink.beer.beer_type.beer_type_name %></h5>
					<% if drink.beer.beer_type.cellarable == true %>
						<p class="cellarable" data-toggle="tooltip" title="<%= drink.beer.beer_type.cellarable_info %>">cellarable</p>
					<% end %>
				<% else %>
					<h5 class="tile-subheader beer-info">Style unknown</h5>
				<% end %>
			</div>
			<div class="col-xs-6 no-padding-right">
				<% if !drink.beer.beer_abv.nil? %>
					<h6 class="tile-subheader beer-info"><%= drink.beer.beer_abv %>% ABV</h6>
				<% else %>
					<h6 class="tile-subheader beer-info">ABV N/A</h6>
				<% end %>
			</div>
			<% if !drink.beer.beer_ibu.nil? %>
				<div class="col-xs-6 no-padding-left text-center ibu-div">
					<h6 class="tile-subheader beer-info"><%= drink.beer.beer_ibu %> IBUs</h6>
				</div>
			<% else %>
				<div class="col-xs-6"></div>
			<% end %>	
		</div>
		<div class="row no-margin cloud-descriptor-row">
			<div class="col-xs-12">
				<p>Described as:</p>
				<div class="cloud-holder-next-delivery" id="drink_<%= drink.beer.id %>"></div>
			</div>	
		</div>
		<div class="row no-margin list-overview">
			<div class="col-xs-12 why-statement">
				<% drink.beer.likes_style = drink.style_preference %>
				<p>Why you might like this:</p>
				<% if drink.beer.recommendation_rationale == "style" %>
					<% if  drink.beer.is_hybrid == "yes" %>
						<%= render 'locations/hybrid_rating_rationale', beer: drink.beer %>
					<% else %>
						<%= render 'locations/nonhybrid_rating_rationale', beer: drink.beer %>
					<% end %>
				<% else %>
					<%= render 'locations/type_rating_rationale', beer: drink.beer %>
				<% end %>
			</div>
		</div>
		<div class="row no-margin next-delivery-tile-third-last-row">
		</div>
		<div class="row no-margin size-price-row">
			<div class="col-xs-12">
				<% @total_price = (drink.inventory.drink_price * 1.096) %>
				<h4 class="size-and-price"><%= drink.inventory.size_format.format_name %> - <%= number_to_currency(@total_price, precision: 2) %> each <span class="including-tax-text">(inc. tax)</span></h4>
				<% if drink.inventory.limit_per.nil? || drink.inventory.limit_per == 0 %>
					<h6 class="limit-per-delivery">No limit per delivery</h6>
					<% @limit_per_delivery = 0 %>
				<% else %>
					<h6 class="limit-per-delivery">Limit per delivery: <%= drink.inventory.limit_per %></h6>
					<% @limit_per_delivery = drink.inventory.limit_per %>
				<% end %>		
			</div>
		</div>
		<div class="row no-margin next-delivery-tile-last-row">
			<div class="col-sm-6 no-padding">
				<div class="quantity-change-holder-minus" id="user-delivery-minus-<%= drink.id %>">
					<p><i class="fa fa-minus"></i> qty</p>
				</div>
			</div>
			<div class="col-sm-6 no-padding" id="limit-per-<%= @limit_per_delivery %>">
				<div class="quantity-change-holder-add" id="user-delivery-add-<%= drink.id %>">
					<p><i class="fa fa-plus"></i> qty</p>
				</div>
			</div>
		</div>
	</div>
	<div class="quantity-holder" id="user-delivery-<%= drink.id %>">
		<h3 id="drink-quantity-<%= drink.id %>"><%= drink.quantity %></h3>
		<p>qty</p>
	</div>
</div>	