<div class="col-sm-4 col-xs-12 beer-tile-container">
	<div class="next-delivery-tile-no-review drink-tile-width-measurement">
		<div class="row no-margin ratings-image-holder-row">
			<div class="col-xs-4 col-sm-5 no-padding wishlist-image-holder-column">
				<% if !drink.beer.brewery.image.blank? %>
					<img class="img-responsive center-block" alt="Responsive image" src="<%= drink.beer.brewery.image %>">
				<% else %>
					<div class="brewery-image-holder-empty-ratings-page text-center">
						<h2><i class="fa fa-beer"></i></h2>
					</div>
				<% end %>
			</div>
			<div class="col-xs-8 col-sm-7 wishlist-best-guess">
				<% @user_rating = UserBeerRating.where(user_id: drink.user.id, beer_id: drink.beer.id).pluck(:user_beer_rating)[0] %>
				<% if !@user_rating.nil? %>
					<p>Our <span class="best-guess">best guess</span> was: <span class="best-guess"><%= drink.projected_rating %></span></p>
					<p>You rated it:</p>
					<h1 class="user-rating"><%= @user_rating %><span class="recent-user-rating-context">/10</span></h1>
					<% drink.beer_rating = @user_rating %>
				<% else %>
					<p class="filler-best-guess-text"></p>
					<p>Our <span class="best-guess">best guess</span> for you:</p>
						<h1 class="best-guess"><%= drink.projected_rating %><span class="recent-user-rating-context">/10</span></h1>
					<% drink.beer_rating = drink.projected_rating %>
				<% end %>
			</div>
		</div>
		<div class="row no-margin drink-name-and-info-row">
			<%= render 'layouts/drink_name_and_info', drink: drink.beer %>	
		</div>
		<div class="row no-margin cloud-descriptor-row">
			<div class="col-xs-12">
				<p>Described as:</p>
				<div class="cloud-holder-next-delivery" id="drink_<%= drink.beer.id %>"></div>
			</div>	
		</div>
		<div class="row no-margin list-overview hidden-xs">
			<div class="col-xs-12 why-statement">
				<% drink.beer.likes_style = drink.style_preference %>
				<p>Why you might like this:</p>
				<% if drink.beer.recommendation_rationale == "style" %>
					<% if  drink.beer.is_hybrid == "yes" %>
						<%= render 'locations/hybrid_rating_rationale', beer: drink.beer %>
					<% else %>
						<%= render 'locations/nonhybrid_rating_rationale', beer: drink.beer %>
					<% end %>
				<% else %>
					<%= render 'locations/type_rating_rationale', beer: drink.beer %>
				<% end %>
			</div>
		</div>
		<div class="row no-margin next-delivery-tile-third-last-row">
		</div>
		<div class="row no-margin size-price-row-no-review">
			<div class="col-xs-12">
				<% @total_price = (drink.inventory.drink_price * 1.096) %>
				<h4 class="size-and-price"><%= drink.inventory.size_format.format_name %> - <%= number_to_currency(@total_price, precision: 2) %> each <span class="including-tax-text">(inc. tax)</span></h4>	
				<h6 class="limit-per-delivery">Quantity in this delivery: <%= drink.quantity %></h6>
			</div>
		</div>
	</div>
</div>	