<div class="col-xs-0 col-md-3"></div>
<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @user_chosen %>">
	<h5 class="guide-header <%= @user_chosen %> hidden-xs">user info</h5>
	<h5 class="guide-header <%= @user_chosen %> hidden-sm hidden-md hidden-lg hidden-xl">user</h5>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @drink_chosen %>">
	<h5 class="guide-header hidden-xs">drink preferences</h5>
	<h5 class="guide-header hidden-sm hidden-md hidden-lg hidden-xl">drink</h5>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @account_chosen %>">
	<h5 class="guide-header hidden-xs">account settings</h5>
	<h5 class="guide-header hidden-sm hidden-md hidden-lg hidden-xl">account</h5>
</div>
