
		<% @final_search_results.each do |drink| %>
			<% Rails.logger.debug("Final Search results in view 2: #{drink.beer_name.inspect}") %>
			<div class="col-sm-3 col-xs-12 beer-tile-container">
				<div class="supply-search-tile">
					<div class="row no-margin ratings-image-holder-row">
						<div class="col-sm-6 no-padding ratings-image-holder-column">
							<% if !drink.brewery.image.blank? %>
								<img class="img-responsive center-block" alt="Responsive image" src="<%= drink.brewery.image %>">
							<% else %>
								<div class="brewery-image-holder-empty-ratings-page text-center">
									<h2><i class="fa fa-beer"></i></h2>
								</div>
							<% end %>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-sm-12">
							<% if drink.collab == true %>
								<% @title_header = (drink.collab_brewery_name(beer.id) + " " + "<span class=combined-drink-text>"+ drink.beer_name+"</span>").html_safe %>
								<%= link_to @title_header, brewery_beer_path(drink.brewery.id, drink.id), :class => 'tile-header beer-tile-header' %>
							<% elsif drink.brewery.short_brewery_name.nil? %>
								<% @title_header = (drink.brewery.brewery_name + " " + "<span class=combined-drink-text>"+ drink.beer_name+"</span>").html_safe %>
								<%= link_to @title_header, brewery_beer_path(drink.brewery.id, drink.id), :class => 'tile-header beer-tile-header' %>
							<% else %>
								<% @title_header = (drink.brewery.short_brewery_name + " " + "<span class=combined-drink-text>"+ drink.beer_name+"</span>").html_safe %>
								<%= link_to @title_header, brewery_beer_path(drink.brewery.id, drink.id), :class => 'tile-header beer-tile-header' %>
							<% end %>
						</div>
						<div class="col-sm-12">
							<% if !drink.beer_type_id.nil? %>
								<h5 class="tile-subheader beer-info no-overflow"><%= drink.beer_type.beer_type_name %></h5>
							<% else %>
								<h5 class="tile-subheader beer-info">Style unknown</h5>
							<% end %>
						</div>	
						<div class="col-xs-6 no-padding-right">
							<% if !drink.beer_abv.nil? %>
								<h6 class="tile-subheader beer-info"><%= drink.beer_abv %>% ABV</h6>
							<% else %>
								<h6 class="tile-subheader beer-info">ABV N/A</h6>
							<% end %>
						</div>
						<% if !drink.beer_ibu.nil? %>
							<div class="col-xs-6 no-padding-left text-center ibu-div">
								<h6 class="tile-subheader beer-info"><%= drink.beer_ibu %> IBUs</h6>
							</div>
						<% else %>
							<div class="col-xs-6"></div>
						<% end %>
					</div>
					<div class="row no-margin supply-search-tile-last-row">
						<% @supply = UserSupply.where(user_id: current_user.id, beer_id: drink.id) %>
						<% @supply_cooler = @supply.where(supply_type_id: 1).first %>
						<% @supply_cellar = @supply.where(supply_type_id: 2).first %>
						<% @supply_next = @supply.where(supply_type_id: 3).first %>
						<% if !@supply.blank? %>
							<% if !@supply_cooler.nil? && !@supply_cellar.nil? %>
								<div class="col-xs-6 change-cooler-button btn btn-default btn-success hidden" id="cooler-add-<%= drink.id %>">
									<i class="fa fa-plus"> add to cooler</i>
								</div>
								<div class="col-xs-6 change-cooler-button btn btn-default btn-danger" id="cooler-remove-<%= drink.id %>">
									<i class="fa fa-minus"> out of cooler</i>
								</div>
								<div class="col-xs-6 change-cellar-button btn btn-default btn-success hidden" id="cellar-add-<%= drink.id %>">
									<i class="fa fa-plus"> add to cellar</i>
								</div>
								<div class="col-xs-6 change-cellar-button btn btn-default btn-danger" id="cellar-remove-<%= drink.id %>">
									<i class="fa fa-minus"> out of cellar</i>
								</div>
							<% elsif !@supply_cooler.nil? %>
								<div class="col-xs-6 change-cooler-button btn btn-default btn-success hidden" id="cooler-add-<%= drink.id %>">
									<i class="fa fa-plus"> add to cooler</i>
								</div>
								<div class="col-xs-6 change-cooler-button btn btn-default btn-danger" id="cooler-remove-<%= drink.id %>">
									<i class="fa fa-minus"> out of cooler</i>
								</div>
								<div class="col-xs-6 change-cellar-button btn btn-default btn-success" id="cellar-add-<%= drink.id %>">
									<i class="fa fa-plus"> add to cellar</i>
								</div>
								<div class="col-xs-6 change-cellar-button btn btn-default btn-danger hidden" id="cellar-remove-<%= drink.id %>">
									<i class="fa fa-minus"> out of cellar</i>
								</div>
							<% elsif !@supply_cellar.nil? %>
								<div class="col-xs-6 change-cooler-button btn btn-default btn-success" id="cooler-add-<%= drink.id %>">
									<i class="fa fa-plus"> add to cooler</i>
								</div>
								<div class="col-xs-6 change-cooler-button btn btn-default btn-danger hidden" id="cooler-remove-<%= drink.id %>">
									<i class="fa fa-minus"> out of cooler</i>
								</div>
								<div class="col-xs-6 change-cellar-button btn btn-default btn-success hidden" id="cellar-add-<%= drink.id %>">
									<i class="fa fa-plus"> add to cellar</i>
								</div>
								<div class="col-xs-6 change-cellar-button btn btn-default btn-danger" id="cellar-remove-<%= drink.id %>">
									<i class="fa fa-minus"> out of cellar</i>
								</div>
							<% else %>
								<div class="col-xs-12 change-cooler-button btn btn-default btn-primary">
									<h6>In your next delivery</h6>
								</div>
							<% end %>
						<% else %>
							<div class="col-xs-6 change-cooler-button btn btn-default btn-success" id="cooler-add-<%= drink.id %>">
								<i class="fa fa-plus"> add to cooler</i>
							</div>
							<div class="col-xs-6 change-cooler-button btn btn-default btn-danger hidden" id="cooler-remove-<%= drink.id %>">
								<i class="fa fa-minus"> out of cooler</i>
							</div>
							<div class="col-xs-6 change-cellar-button btn btn-default btn-success" id="cellar-add-<%= drink.id %>">
								<i class="fa fa-plus"> add to cellar</i>
							</div>
							<div class="col-xs-6 change-cellar-button btn btn-default btn-danger hidden" id="cellar-remove-<%= drink.id %>">
								<i class="fa fa-minus"> out of cellar</i>
							</div>
						<% end %>
						
					</div>
				</div>
			</div>				
		<% end %>
	<div class="col-sm-12">
		<%= js_will_paginate @final_search_results %>
	</div>
