<% if @view == "cellar" %>
	<div id="<%= drink.id %>" class="fridge-icon btn btn-default" data-toggle="tooltip" title="Click to move this drink to your cooler.">
		<%= link_to "#", :class => 'text-center', data: {toggle: "modal", target: "#move_drink_to_cooler"} do %>
			<img class="img-responsive center-block" alt="Responsive image" src="<%= image_url('fridge.png') %>">
		<% end %>
	</div>
<% end %>
<%= link_to "#", :class => 'rate-drink-from-supply text-center' do %>
	<i class="fa fa-thumbs-up"></i>
	<i class="fa fa-thumbs-down fa-flip-horizontal"></i>
	<p>rate</p>
<% end %>
<div class="drink-supply-tile drink-tile-width-measurement">
	<div class="row no-margin ratings-image-holder-row">
		<div class="col-xs-4 col-sm-5 no-padding wishlist-image-holder-column">
			<% if !drink.beer.brewery.image.blank? %>
				<img class="img-responsive center-block" alt="Responsive image" src="<%= drink.beer.brewery.image %>">
			<% else %>
				<div class="brewery-image-holder-empty-ratings-page text-center">
					<h2><i class="fa fa-beer"></i></h2>
				</div>
			<% end %>
		</div>
		<div class="col-xs-8 col-sm-7 wishlist-best-guess">
			<%= render 'layouts/drink_user_rating_info', drink: drink %>
		</div>
	</div>
	<div class="row no-margin drink-name-and-info-row">
		<%= render 'layouts/drink_name_and_info', drink: drink.beer %>	
	</div>
	<div class="row no-margin cloud-descriptor-row">
		<div class="col-xs-12">
			<p>Described as:</p>
			<div class="cloud-holder" id="drink_<%= drink.beer.id %>"></div>
		</div>	
	</div>
	<div class="row no-margin list-overview hidden-xs">
		<div class="col-xs-12 why-statement">
			<p>Why you might like this:</p>
			<% if drink.recommendation_rationale == "style" %>
				<% if  drink.is_hybrid == "yes" %>
					<%= render 'locations/hybrid_rating_rationale', beer: drink %>
				<% else %>
					<%= render 'locations/nonhybrid_rating_rationale', beer: drink %>
				<% end %>
			<% else %>
				<%= render 'locations/type_rating_rationale', beer: drink %>
			<% end %>
		</div>
	</div>
	<div class="row no-margin recent-rating-tile-second-last-row">
	</div>
	<div class="row no-margin next-delivery-tile-last-row">
		<div class="col-xs-6 no-padding">
			<div class="supply-quantity-change-minus" id="user-delivery-minus-<%= drink.id %>">
				<p><i class="fa fa-minus"></i> qty</p>
			</div>
		</div>
		<div class="col-xs-6 no-padding">
			<div class="supply-quantity-change-add" id="user-delivery-add-<%= drink.id %>">
				<p><i class="fa fa-plus"></i> qty</p>
			</div>
		</div>
	</div>
</div>
<div class="quantity-holder" id="user-supply-<%= drink.id %>">
	<h3 id="drink-quantity-<%= drink.id %>"><%= drink.quantity %></h3>
	<p>qty</p>
</div>
