<div class="col-xs-12 col-sm-6 col-md-4">
	<%= form_for @user do |f| %>
		<%= f.hidden_field :user_form, :value => "profile" %>
		<%= f.text_field :username, :class => "form-control", placeholder: "Username" %>
		<%= f.text_field :first_name, :class => "form-control", placeholder: "First name" %>
		<%= f.text_field :email, :class => "form-control", placeholder: "Email" %>
		<%= f.submit "Update profile", class: "btn btn-default btn-success formButton" %>
	<% end %>
	<%- flash.each do |name, msg| -%>
		<% if msg == "You're updated!" || msg == "Sorry, incorrect current password..." || msg == "New password saved!" %>
			<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
		<% end %>
	<%- end -%>
	<%= link_to "change password", "#", class: 'btn btn-default btn-danger changeButton change-password', id: 'change-password-button' %>
	<div class="password-change-form hidden">
		<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
			<%= f.password_field :current_password, :class => "form-control", placeholder: "Current password" %>
			<%= f.password_field :password, :class => "form-control", placeholder: "New password" %>
			<%= f.password_field :password_confirmation, :class => "form-control", placeholder: "Confirm new password" %>
			<%= f.submit "Change password", class: "btn btn-default btn-success formButton" %>	
		<% end %>
	</div>
</div>
<div class="col-xs-0 col-sm-1 col-md-1"></div>
<div class="col-xs-12 col-sm-5 col-md-3">
	<% if !current_user.invitation_accepted_at.nil? %>
		<h5 class="account-created">Account created: <%= (current_user.invitation_accepted_at).strftime("%b %e, %Y") %></h5>
	<% else %>
		<h5 class="account-created">Account created: <%= (current_user.created_at).strftime("%b %e, %Y") %></h5>
	<% end %>
	<%= link_to user_path(current_user.id), :method => :delete, class: 'btn btn-default btn-danger changeButton delete-acct', data: {confirm: "Delete your account?"} do %>
		<i class="fa fa-minus"> delete account</i>
	<% end %>
</div>