<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12 col-sm-5">
			<h1 class="section-header">Account Settings</h1>
		</div>
		<div class="col-xs-12 col-sm-7">
			<h4 class="join-date"><%= current_user.username %> joined <%= (current_user.created_at).strftime("%b %e, %Y") %></h4>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
			<div class="row">
				<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-center">
					<%= link_to "Plan", account_settings_membership_user_path, class: "drink-preference-view-option #{if current_section == "Plan" then "current" else "" end}", id: "history" %>
				</div>
				<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 text-center">
					<%= link_to "Mates", account_settings_mates_user_path, class: "drink-preference-view-option #{if current_section == "Mates" then "current" else "" end}", id: "guests" %>
				</div>
				<div class="col-xs-3 col-sm-2 col-md-2 col-lg-2 text-center">
					<%= link_to "Profile", account_settings_profile_user_path, class: "drink-preference-view-option #{if current_section == "Profile" then "current" else "" end}", id: "next" %>
				</div>
			</div>
		</div>
	</div>
</div>