<div class="form-group">
	<label for="first_name_field" class="col-xs-4 col-sm-3 control-label">First name</label>
	<div class="col-xs-8 col-sm-9">
		<%= f.input :first_name, input_html: { class: "form-control", id: "first_name_field" }, placeholder: "First name", label: false, required: true %>
	</div>
</div>
<div class="form-group">
	<label for="last_name_field" class="col-xs-4 col-sm-3 control-label">Last name</label>
	<div class="col-xs-8 col-sm-9">
		<%= f.input :last_name, input_html: { class: "form-control", id: "last_name_field" }, placeholder: "Last name", label: false, required: true %>
	</div>
</div>
<div class="form-group">
	<label for="email_field" class="col-xs-4 col-sm-3 control-label">Email</label>
	<div class="col-xs-8 col-sm-9">
		<%= f.input :email, input_html: { class: "form-control", id: "email_field" }, placeholder: "Email", label: false, required: true %>
	</div>
</div>
<div class="form-group">
	<label for="username_field" class="col-xs-4 col-sm-3 control-label">Username</label>
	<div class="col-xs-8 col-sm-9">
		<%= f.input :username, input_html: { class: "form-control", id: "username_field" }, placeholder: "Username", label: false, required: true %>
		<h5 class="hidden" id="username-not-available"></h5>
		<h5 class="hidden" id="username-available"></h5>
	</div>
</div>
<% if @show_phone == true %>
	<div class="form-group">
		<label for="phone_field" class="col-xs-4 col-sm-3 control-label">Mobile <sup  id="signup_phone_note" data-toggle="tooltip" title="This is how we'll provide an update on delivery times.">?</sup></label>
		<div class="col-xs-8 col-sm-9">
			<%= f.input :phone, as: :tel, input_html: 
				{ class: "form-control", 
					id: "phone_field",
					pattern: "^([0-9]{3}-[0-9]{3}-[0-9]{4})|([0-9]{10})$",
					title: 'Enter a valid mobile number in 123-123-1234 or 1231231234 format' }, placeholder: "Mobile (for texts when delivering)", label: false, required: true %>
		</div>
	</div>
<% end %>
<div class="form-group">
	<label for="birthdate_field" class="col-xs-4 col-sm-3 control-label">Birthdate <sup  id="signup_birthdate_note" data-toggle="tooltip" title="You must be 21 to use the Knird service.">?</sup></label>
	<div class="col-xs-8 col-sm-9">
		<%= f.input :birthday, as: :date, start_year: Date.today.year - 18,
                              end_year: Date.today.year - 90,
                              order: [:month, :day, :year],
                              input_html: { class: "form-control", 
											id: "birthdate_field"}, 
							  label: false, required: true %>
	</div>
</div>		