<div class="row no-margin">
	<div class="col-sm-9">
		<div class="row no-margin">
			<div class="col-xs-12 no-padding-left">
				<h3 class="recent-ratings-header">My delivery preferences</h3>
				<h5>Change the rules below to adjust the per delivery estimations on the right.</h5>
			</div>
		</div>
		<%= form_for @delivery_preferences, :url => {:action => "deliveries_update_preferences"}, :remote => true do |f| %>
			<%= f.hidden_field :first_delivery_date %>
			<%= f.hidden_field :drink_option_id %>
			<%= f.hidden_field :drinks_per_week %>
			<%= f.hidden_field :max_large_format %>
			<hr>
			<div class="row no-margin">
				<div class="col-sm-9 no-padding">
					<h3 class="delivery-preference-prompt">Your next delivery:</h3>
					<p class="delivery-detail">You will receive 2 deliveries per month--every other Thursday.</p>
					<% if @current_time_difference_for_next_delivery > 1 %>
						<%= link_to "Change next delivery date", "#", :class => "btn btn-primary pause-delivery-button", 
								data: {toggle: "modal", target: "#pause_delivery"} %>
					<% else %>
						<%= link_to "Change next delivery date", "#", :class => "btn btn-default pause-delivery-button", 
								data: {toggle: "tooltip", title: "It's too late to change this week's delivery date!"} %>
					<% end %>
				</div>
				<div class="col-sm-3 no-padding preferences-start-date-row-holder">
					<div class="row no-margin preferences-next-delivery-date text-center">
						<div class="col-xs-12 start-month-holder">
							<h1 class="signup-start-month"><%= (@delivery.delivery_date).strftime("%^B") %></h1>
						</div>
						<div class="col-xs-12 start-date-holder">
							<h1 class="signup-start-date"><%= (@delivery.delivery_date).strftime("%e") %></h1>
						</div>
						<div class="col-xs-12 start-day-holder">
							<h1 class="signup-start-day"><%= (@delivery.delivery_date).strftime("%^A") %></h1>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row no-margin">
				<div class="col-sm-4 no-padding">
					<h3 class="delivery-preference-prompt">What do you drink?</h3>
				</div>
				<div class="col-sm-8 no-padding">
					<div class="row no-margin preferences-drink-category-row-holder">
						<%= render 'signup/drink_category_choice' %>
					</div>
					
				</div>
			</div>
			<hr>
			<div class="row no-margin">
				<div class="col-sm-6 no-padding">
					<h3 class="delivery-preference-prompt">What is the average number of <%= @drink_type_preference %> you drink at home each week?</h3>
				</div>
				<div class="col-sm-6 no-padding-right">
					<%= render 'signup/drinks_per_week_choice'%>
				</div>
			</div>
			<hr>
			<div class="row no-margin">
				<div class="col-sm-6 no-padding">
					<h3 class="delivery-preference-prompt">What is the max number of large format drinks (22oz) you would drink each week?</h3>
				</div>
				<div class="col-sm-6 no-padding-right" id="large_format_drinks_per_week_options">
					<%= render 'signup/large_format_per_week_choice'%>
				</div>
			</div>
			<hr>
			<div class="row no-margin">
				<div class="col-sm-4 no-padding">
					<h3 class="delivery-preference-prompt">Additional requests</h3>
				</div>
				<div class="col-sm-8 delivery-additional-request">
					<%= f.text_area :additional, {class: 'form-control', placeholder: 'For example, "I always want an ISA on hand" or "I drink only gluten free drinks"'}  %>
				</div>
			</div>
	</div>
	<div class="col-sm-3 no-padding" id="estimate-column">
		<div id="scroller-anchor"></div>
		<div class="row no-margin" id="last-updated-holder">
			<% if !@preference_updated.nil? %>
				<%= render 'preferences_last_updated' %>
			<% end %>
		</div>
		<div class="row no-margin" id="scroller">
			<%= f.submit "Save changes", disabled: true, class: "btn btn-default update_delivery_preferences", id: "update_delivery_preferences_button" %>
		</div>
		<div class="row no-margin estimated-delivery-price-holder" id="scroller2">
			<%= render 'user_delivery_estimates_for_customer' %>
		</div>
	</div>
	<% end %>
</div>
<div id="pause_delivery" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Change your next delivery date</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12 no-padding">
				<h5>Choose your next delivery date:</h5>
			</div>
		</div>
		<div class="row no-margin">
			<%= render 'delivery_date_change_options' %>
		</div>
		<div class="row no-margin">
			<div class="col-xs-1 col-sm-3"></div>
			<div class="col-xs-10 col-sm-6">
				<%= link_to "Confirm date change", change_next_delivery_date_path(current_user.id), 
					:class => "btn btn-success confirm-date-change-button", :id => "confirm-date-change-button" %>
			</div>
		</div>
	</div>
</div>