<div class="row no-margin">
	<div class="col-xs-12 col-sm-8">
		<h3 class="recent-ratings-header">My delivery preferences</h3>
		<h5>Change the rules below to adjust the per delivery estimations on the right.</h5>
	</div>
	<div class="col-xs-12 col-sm-4 no-padding-right text-right" id="last-updated-holder">
		<% if !@preference_updated.nil? %>
			<%= render 'preferences_last_updated' %>
		<% end %>
	</div>
</div>
<div class="row no-margin">
	<div class="col-sm-9">
		<%= form_for @delivery_preferences, :url => {:action => "deliveries_update_preferences"}, :remote => true do |f| %>
			<hr>
			<div class="row no-margin">
				<% if @current_time_difference > 1 %>
					<div class="col-sm-4 no-padding">
						<h3 class="delivery-preference-prompt">Your first delivery:</h3>
						<p class="delivery-detail">Deliveries are every other Thursday.</p>
					</div>
					<div class="col-sm-8 no-padding">
						 <div class="row no-margin preferences-start-date-row-holder">
						 	<%= render 'signup/start_date_choice' %>
						 </div>
					</div>
				<% else %>
					<div class="col-sm-9 no-padding">
						<h3 class="delivery-preference-prompt">Your next delivery:</h3>
					</div>
					<div class="col-sm-3 no-padding preferences-start-date-row-holder">
						<div class="row no-margin preferences-next-delivery-date text-center">
							<div class="col-xs-12 start-month-holder">
								<h1 class="signup-start-month"><%= (@delivery.delivery_date).strftime("%^B") %></h1>
							</div>
							<div class="col-xs-12 start-date-holder">
								<h1 class="signup-start-date"><%= (@delivery.delivery_date).strftime("%e") %></h1>
							</div>
							<div class="col-xs-12 start-day-holder">
								<h1 class="signup-start-day"><%= (@delivery.delivery_date).strftime("%^A") %></h1>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			<hr>
			<div class="row no-margin">
				<div class="col-sm-4 no-padding">
					<h3 class="delivery-preference-prompt">What do you drink?</h3>
				</div>
				<div class="col-sm-8 no-padding">
					<div class="row no-margin preferences-drink-category-row-holder">
						<%= render 'signup/drink_category_choice' %>
					</div>
					
				</div>
			</div>
			<hr>
			<div class="row no-margin">
				<div class="col-sm-6 no-padding">
					<h3 class="delivery-preference-prompt">What is the average number of beers/ciders you drink at home each week?</h3>
				</div>
				<div class="col-sm-6 no-padding-right">
					<%= render 'signup/drinks_per_week_choice'%>
				</div>
			</div>
			<hr>
			<div class="row no-margin">
				<div class="col-sm-6 no-padding">
					<h3 class="delivery-preference-prompt">What is the max number of large format drinks (22oz) you would drink each week?</h3>
				</div>
				<div class="col-sm-6 no-padding-right" id="large_format_drinks_per_week_options">
					<%= render 'signup/large_format_per_week_choice'%>
				</div>
			</div>
			<hr>
			<div class="row no-margin">
				<div class="col-sm-4 no-padding">
					<h3 class="delivery-preference-prompt">Additional requests</h3>
				</div>
				<div class="col-sm-8 delivery-additional-request">
					<%= f.text_area :additional, {required: 'true', class: 'form-control', placeholder: 'For example, "I always want an ISA on hand" or "I drink only gluten free drinks"'}  %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-sm-3 no-padding" id="estimate-column">
		<div id="scroller-anchor"></div>
		<div class="row no-margin estimated-delivery-price-holder" id="scroller">
			<%= render 'user_delivery_estimates_for_customer' %>
		</div>
	</div>
</div>
