<div class="row no-margin">
	<div class="col-xs-12 col-sm-8">
		<h3 class="user-settings-header">My personal info</h3>
	</div>
	<div class="col-xs-12 col-sm-4 no-padding-right text-right" id="last-updated-holder">
		<% if !@preference_updated.nil? %>
			<%= render 'layouts/preferences_last_updated' %>
		<% end %>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-12 col-sm-6">
		<%= simple_form_for @user, remote: true do |f| %>
			<div class="row no-margin">
				<div class="col-xs-4 col-sm-3 no-padding">
					<%= label :first_name, 'First name' %>
				</div>
				<div class="col-xs-8 col-sm-9 no-padding-right">
					<%= f.text_field :first_name, :class => "form-control user-info-field", placeholder: "First name" %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-4 col-sm-3 no-padding">
					<%= label :last_name, 'Last name' %>
				</div>
				<div class="col-xs-8 col-sm-9 no-padding-right">
					<%= f.text_field :last_name, :class => "form-control user-info-field", placeholder: "Last name" %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-4 col-sm-3 no-padding">
					<%= label :username, 'Username' %>
				</div>
				<div class="col-xs-8 col-sm-9 no-padding-right">
					<%= f.text_field :username, :class => "form-control user-info-field", placeholder: "Username" %>
					<h5 class="username-response hidden" id="username-not-available"></h5>
					<h5 class="username-response hidden" id="username-available"></h5>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-4 col-sm-3 no-padding">
					<%= label :email, 'Email' %>
				</div>
				<div class="col-xs-8 col-sm-9 no-padding-right">
					<%= f.text_field :email, :class => "form-control user-info-field", placeholder: "Email" %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-4 col-sm-3 no-padding">
					<label for="birthdate_field">Birthdate <sup  id="signup_birthdate_note" data-toggle="tooltip" title="You must be 21 to use the Knird service.">?</sup></label>
				</div>
				 <div class="col-xs-8 col-sm-9 no-padding-right">
					<%= f.input :birthday, as: :string, input_html: { value: @birthday, type: :date, class: "form-control user-info-field", id: "birthdate_field" }, label: false %>
				</div>
			</div>
		<% end %>
	<hr>
	</div>
	<div class="col-xs-12 col-sm-5">
		<%- flash.each do |name, msg| -%>
			<% if name == "success" || name == "failure" %>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			<% end %>
		<%- end -%>
	</div>
</div>
<%= simple_form_for(@user, remote: true ) do |f| %>
	<%= f.simple_fields_for :user_addresses, @home_address do |address| %>
		<div class="row no-margin">
			<div class="col-xs-12 col-sm-8">
				<h3 class="user-settings-header">My home address</h3>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-12 col-sm-6">
				<div class="row no-margin">
					<div class="col-xs-4 col-sm-3 no-padding">
						<%= label :address_street, 'Home Address' %>
					</div>
					<div class="col-xs-8 col-sm-9 no-padding-right">
						<%= address.text_field :address_street, :class => "form-control user-address-field", placeholder: "Home Street Address", required: true %>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-xs-4 col-sm-3 no-padding">
						<%= label :address_unit, 'Home Unit/Floor' %>
					</div>
					<div class="col-xs-8 col-sm-9 no-padding-right">
						<%= address.text_field :address_unit, :class => "form-control user-address-field", placeholder: "Home Apt, Unit, etc." %>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-xs-4 col-sm-3 no-padding">
						<%= label :city, 'Home City' %>
					</div>
					<div class="col-xs-8 col-sm-9 no-padding-right">
						<%= address.text_field :city, :class => "form-control user-address-field", placeholder: "Home City", required: true %>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-xs-4 col-sm-3 no-padding">
						<%= label :state, 'Home State' %>
					</div>
					<div class="col-xs-8 col-sm-9 no-padding-right">
						<%= address.text_field :state, :class => "form-control user-address-field", placeholder: "Home State", required: true %>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-xs-4 col-sm-3 no-padding">
						<%= label :zip, 'Home Zip' %>
					</div>
					<div class="col-xs-8 col-sm-9 no-padding-right">
						<%= address.text_field :zip, :class => "form-control user-address-field", placeholder: "Home Zip Code", required: true %>
					</div>
				</div>
				<% if @home_address.location_type == "Home" %>
					<div class="row no-margin">
						<div class="col-xs-4 col-sm-3 no-padding">
							<%= label :special_instructions, 'Delivery Instructions' %>
						</div>
						<div class="col-xs-8 col-sm-9 no-padding-right">
							<%= address.text_field :special_instructions, class: "form-control user-address-field", placeholder: "Any special instructions for deliveries?" %>
						</div>
					</div>
				<% end %>
				<div class="row no-margin hidden" id="required-home-address-field-error">
					<div class="col-xs-4 col-sm-3 no-padding">
					</div>
					<div class="col-xs-8 col-sm-9 no-padding-right">
						<h5 class="required-home-address-field-error">Sorry, that field can't be left empty.</h5>
					</div>
				</div>
			<hr>
			</div>
		</div>
	<% end %>
<% end %>
<div class="row no-margin">
	<div class="col-xs-12 col-sm-8">
		<h3 class="user-settings-header">My password</h3>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-12 col-sm-5">
		<div class="col-xs-12 no-padding-left">
			<%= link_to "change password", "#", class: 'btn btn-success changeButton change-password show', id: 'change-password-button' %>
			<%= link_to "nevermind", "#", class: 'btn btn-default btn-danger changeButton change-password-nevermind hidden' %>
		</div>
		<div class="password-change-form hidden">
			<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
				<%= f.password_field :current_password, :class => "form-control", placeholder: "Current password" %>
				<%= f.password_field :password, :class => "form-control", placeholder: "New password" %>
				<%= f.password_field :password_confirmation, :class => "form-control", placeholder: "Confirm new password" %>
				<%= f.submit "Change password", class: "btn btn-default btn-success formButton" %>	
			<% end %>
		</div>
	</div>
</div>
	<%#<div class="col-xs-10 col-sm-2 no-padding"> %>
	<%#	<%= link_to user_path(current_user.id), :method => :delete, class: 'btn btn-default btn-danger changeButton delete-acct', data: {confirm: "Delete your account?"} do %>
	<%#		<i class="fa fa-minus"> delete account</i> %>
	<%#	<% end %>
	<%#</div> %>
