<div class="row no-margin">
	<div class="col-xs-6 no-padding-right">
		<h3 class="recent-ratings-header">My cellar drinks</h3>
	</div>
	<div class="col-xs-0 col-sm-3"></div>
	<div class="col-xs-6 hidden-sm hidden-md hidden-lg hidden-xl">
		<%= link_to drink_search_path(current_user.id), class: 'btn btn-default btn-success formButton-send-note the-supply-button' do %>
			<i class="fa fa-plus"> add a drink</i>
		<% end %>
	</div>
	<div class="col-sm-3 hidden-xs">
		<%= link_to drink_search_path(current_user.id), class: 'btn btn-default btn-success formButton-send-note the-supply-button' do %>
			<i class="fa fa-plus"> add a drink to your supply</i>
		<% end %>
	</div>
</div>
<div class="row no-margin">
	<div class="col-xs-12">
		<div class="row no-margin">
			<% if !@user_cellar.blank? %>
				<div class="row no-margin recent-rating-holder">
					<% @user_cellar_final.each do |drink| %>
						<%= render(partial: 'supply_card', locals: { drink: drink }) %>
					<% end%>
				</div>
				<div class="col-sm-12" id="fav-drink-types-container">
					<%= will_paginate @user_cellar_final, renderer: BootstrapPagination::Rails %>
				</div>
			<% else %>
				<div class="row no-margin">
					<h4 class="no-results-empty-message">You don't currently have any drinks in your cellar. Add one now!</h4>				
				</div>
			<% end %>
		</div>
	</div>
</div>
<div id="move_drink_to_cooler" class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Move drink confirmation</h3>
		</div>
		<div class="modal-body">
			<div class="row no-margin">
				<div class="col-sm-12">
					<h4>Move this drink to your cooler?</h4>
				</div>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "#", :class => 'move-drink-to-cooler-confirmation text-center btn btn-success remove-drink-button' do %>
					<i class="fa fa-minus"></i>
					Move it!
				<% end %>
			</div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>