<div class="row user-membership-optons-row">
	<div class="col-xs-12 col-sm-4">
		<div class="homepage-plan-options <%= @zero %>">
			<%= render 'layouts/deliveries_plan_zero' %>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<% if @customer_plan.subscription_id == 1 && @customer_plan.auto_renew_subscription_id == 1 %>
						<h4 class="formButton-renew-plan-set">Current plan</h4>
					<% elsif @customer_plan.auto_renew_subscription_id == 1 %>
						<h4 class="formButton-renew-plan-set">Set to auto renew</h4>
					<% else %>
						<%= link_to "#", class: 'btn btn-primary plan-get-started-button', 
								data: {toggle: "modal", target: "#change_auto_renew_plan_to_zero"} do %>
							<i class="fa fa-refresh" aria-hidden="true"> Auto renew to this plan</i>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<h6 class='membership-extra-info'>Order when you like; 6 drink minimum order.</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="homepage-plan-options <%= @six %>">
			<%= render 'layouts/deliveries_plan_six' %>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<% if @customer_plan.subscription_id == 1 && @customer_plan.auto_renew_subscription_id == 1 %>
						<%= link_to "#", class: 'btn btn-primary plan-get-started-button', 
								data: {toggle: "modal", target: "#start_six_plan"} do %>
							<i class="fa fa-play" aria-hidden="true"> Start the 6 Prepaid Deliveries Plan</i>
						<% end %>
					<% elsif @customer_plan.auto_renew_subscription_id == 2 %>
						<h4 class="formButton-renew-plan-set">Set to auto renew</h4>
					<% else %>
						<%= link_to "#", class: 'btn btn-primary plan-get-started-button', 
								data: {toggle: "modal", target: "#change_auto_renew_plan_to_six"} do %>
							<i class="fa fa-refresh" aria-hidden="true"> Auto renew to this plan</i>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<h6 class='membership-extra-info'>Change any delivery date. Cancel any time.</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="homepage-plan-options <%= @twenty_five %>">
			<%= render 'layouts/deliveries_plan_twenty_five' %>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<% if @customer_plan.subscription_id == 1 && @customer_plan.auto_renew_subscription_id == 1 %>
						<%= link_to "#", class: 'btn btn-primary plan-get-started-button', 
								data: {toggle: "modal", target: "#start_twenty_five_plan"} do %>
							<i class="fa fa-play" aria-hidden="true"> Start the 25 Prepaid Deliveries Plan</i>
						<% end %>
					<% elsif @customer_plan.auto_renew_subscription_id == 3 %>
						<h4 class="formButton-renew-plan-set">Set to auto renew</h4>
					<% else %>
						<%= link_to "#", class: 'btn btn-primary plan-get-started-button', 
								data: {toggle: "modal", target: "#change_auto_renew_plan_to_twenty_five"} do %>
							<i class="fa fa-refresh" aria-hidden="true"> Auto renew to this plan</i>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<h6 class='membership-extra-info'>Change any delivery date. Cancel any time.</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
