<div class="col-xs-12 col-sm-9 col-md-6">
		<%= form_for @user_notifications do |f| %>
			<%= f.hidden_field :user_form, :value => "notifications" %>
			<div class="row">
				<div class="col-xs-10 col-sm-9">
					<%= f.label :preference_one, :class => "user-notification-form-text" do %>
						Notify me when <span class="user-rated">beers I've rated highly</span> are available:
					<% end %>
				</div>
				<div class="col-xs-2 text-left">
					<%= f.check_box :preference_one, :class => "form-control" %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-xs-7 col-sm-4">
					<h5 class="user-notification-form-text">Beers <span class="user-rated">rated at least</span> a:</h5>
				</div>
				<div class="col-xs-4 col-sm-2 text-left">
					<%= f.text_field :threshold_one, :class => "form-control" %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-sm-9">
					<%= f.label :preference_two, :class => "user-notification-form-text" do %>
						Notify me when <span class="best-guess-rating">highly recommend beers</span> are available:
					<% end %>
				</div>
				<div class="col-xs-2 text-left">
					<%= f.check_box :preference_two, :class => "form-control" %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-xs-7 col-sm-4">
					<h5 class="user-notification-form-text">Beers <span class="best-guess-rating">rated at least</span> a:</h5>
				</div>
				<div class="col-xs-4 col-sm-2 text-left">
					<%= f.text_field :threshold_two, :class => "form-control" %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-xs-12 col-sm-8">
					<%= f.submit "Update preferences", class: "btn btn-default btn-success formButton" %>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>