<div class="row user-membership-optons-row">
	<div class="col-xs-12 col-sm-4">
		<div class="homepage-plan-options <%= @no_plan %>">
			<%= render 'layouts/plan_shipping_zero' %>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<% if @customer_plan.subscription_id == @zone_plan_zero.id && @customer_plan.auto_renew_subscription_id == 1 %>
						<h4 class="formButton-renew-plan-set">Current plan</h4>
					<% elsif @customer_plan.auto_renew_subscription_id == @zone_plan_zero.id %>
						<h4 class="formButton-renew-plan-set">Set to auto renew</h4>
					<% else %>
						<%= link_to "#", class: 'btn btn-primary plan-get-started-button', 
								data: {toggle: "modal", target: "#change_auto_renew_plan_to_#{@zone_plan_zero.subscription_level}"} do %>
							<i class="fa fa-refresh" aria-hidden="true"> Auto renew to this plan</i>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<h6 class='membership-extra-info'>Order when you like; 6 drink minimum order.</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="homepage-plan-options <%= @test_plan %>">
			<%= render 'layouts/plan_shipping_three' %>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<% if @customer_plan.subscription_id == @zone_plan_zero.id && @customer_plan.auto_renew_subscription_id == @zone_plan_zero.id %>
						<%= link_to "#", class: 'btn btn-primary plan-get-started-button', 
								data: {toggle: "modal", target: "#start_plan_#{@zone_plan_test.subscription_level}"} do %>
							<i class="fa fa-play" aria-hidden="true"> Start the 3 Prepaid Shipments Plan</i>
						<% end %>
					<% elsif @customer_plan.auto_renew_subscription_id == @zone_plan_test.id %>
						<h4 class="formButton-renew-plan-set">Set to auto renew</h4>
					<% else %>
						<%= link_to "#", class: 'btn btn-primary plan-get-started-button', 
								data: {toggle: "modal", target: "#change_auto_renew_plan_to_#{@zone_plan_test.subscription_level}"} do %>
							<i class="fa fa-refresh" aria-hidden="true"> Auto renew to this plan</i>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<h6 class='membership-extra-info'>Change any delivery date. Cancel any time.</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="homepage-plan-options <%= @committed_plan %>">
			<%= render 'layouts/plan_shipping_nine' %>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<% if @customer_plan.subscription_id == @zone_plan_zero.id && @customer_plan.auto_renew_subscription_id == @zone_plan_zero.id %>
						<%= link_to "#", class: 'btn btn-primary plan-get-started-button', 
								data: {toggle: "modal", target: "#start_plan_#{@zone_plan_committed.subscription_level}"} do %>
							<i class="fa fa-play" aria-hidden="true"> Start the 9 Prepaid Shipments Plan</i>
						<% end %>
					<% elsif @customer_plan.auto_renew_subscription_id == @zone_plan_committed.id %>
						<h4 class="formButton-renew-plan-set">Set to auto renew</h4>
					<% else %>
						<%= link_to "#", class: 'btn btn-primary plan-get-started-button', 
								data: {toggle: "modal", target: "#change_auto_renew_plan_to_#{@zone_plan_committed.subscription_level}"} do %>
							<i class="fa fa-refresh" aria-hidden="true"> Auto renew to this plan</i>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<h6 class='membership-extra-info'>Change any delivery date. Cancel any time.</h6>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>
