<div class="row">
	<div class="container">
		<div class="col-xs-12">
			<h3 class="recent-ratings-header">My current plan</h3>
		</div>
		<% if !@customer_plan.auto_renew_subscription_id.nil? %>
			<div class="col-xs-12 col-sm-10">
				<% if @customer_plan.auto_renew_subscription_id == @customer_plan.subscription_id %>
					<h4 class="auto-renew-info">Your <%= @customer_plan.subscription.subscription_name %> plan is currently set to renew on <%= (@customer_plan.active_until).strftime("%b %-d, %Y") %>.</h4>
				<% else %>
					<% @renew_to_plan = Subscription.find_by_id(@customer_plan.auto_renew_subscription_id) %>
					<h4 class="auto-renew-info">Your <%= @customer_plan.subscription.subscription_name %> plan is currently set to renew to the <%= @renew_to_plan.subscription_name %> plan on <%= (@customer_plan.active_until).strftime("%b %-d, %Y") %>.</h4>
				<% end %>
			</div>
			<div class="col-xs-12 col-sm-2">
				<%= link_to "Turn off auto renew", "#", :class => "btn btn-default turn-off-renew-button",
						data: {toggle: "modal", target: "#auto_renew_change"} %>
			</div>	
		<% else %>
			<div class="col-xs-12 col-sm-10">
				<h4 class="auto-renew-info">Your <%= @customer_plan.subscription.subscription_name %> plan currently has auto renew turned off!</h4>
			</div>
			<div class="col-xs-12 col-sm-2">
				<%= link_to "Turn on auto renew", "#", :class => "btn btn-success turn-on-renew-button",
						data: {toggle: "modal", target: "#auto_renew_change"} %>
			</div>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="container">
		<%= render 'signup/delivery_plan_choice'%>
	</div>
</div>
<div id="auto_renew_change" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Confirm your auto renew settings change</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12">
				<% if !@customer_plan.auto_renew_subscription_id.nil? %>
					<h4 class="auto-confirm-confirmation-text">Are you sure you want to <span class="turn-off-renew">turn off auto renew</span>?</h4>
				<% else %>
					<h4 class="auto-confirm-confirmation-text">Are you sure you want to <span class="turn-on-renew">turn on auto renew</span> for your <%= @customer_plan.subscription.subscription_name %> plan?</h4>
				<% end %>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-sm-2"></div>
			<div class="col-sm-4 remove-button-holder">
				<% if !@customer_plan.auto_renew_subscription_id.nil? %>
					<%= link_to "Yep, positive", plan_rewewal_update_path(current_user.id), :class => 'change-auto-renew-confirmation text-center btn btn-danger remove-drink-button' %>
				<% else %>
					<%= link_to "Yep, positive", plan_rewewal_update_path(current_user.id), :class => 'change-auto-renew-confirmation text-center btn btn-success remove-drink-button' %>
				<% end %>
			</div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>
	</div>
</div>
<div id="change_auto_renew_plan_to_enjoy" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Confirm your auto renew plan change</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="auto-confirm-confirmation-text">Are you sure you want to change your auto renew from the Relish to the Enjoy plan?</h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-sm-2"></div>
			<div class="col-sm-4 remove-button-holder">
				<% if @user.cohort == "early_beta" %>
					<%= link_to "Yep, let's do it", process_user_plan_choice_path("account-1-enjoy_beta"), :class => 'change-auto-renew-confirmation text-center btn btn-success remove-drink-button', method: :post %>
				<% else %>
					<%= link_to "Yep, let's do it", process_user_plan_choice_path("account-1-enjoy"), :class => 'change-auto-renew-confirmation text-center btn btn-success remove-drink-button', method: :post %>
				<% end %>		
			</div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>
	</div>
</div>
<div id="change_auto_renew_plan_to_relish" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Confirm your auto renew plan change</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="auto-confirm-confirmation-text">Are you sure you want to change your auto renew from the Enjoy to the Relish plan?</h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-sm-2"></div>
			<div class="col-sm-4 remove-button-holder">
				<% if @user.cohort == "early_beta" %>
					<%= link_to "Yep, let's do it", process_user_plan_choice_path("account-1-relish_beta"), :class => 'change-auto-renew-confirmation text-center btn btn-success remove-drink-button', method: :post %>
				<% else %>
					<%= link_to "Yep, let's do it", process_user_plan_choice_path("account-1-relish"), :class => 'change-auto-renew-confirmation text-center btn btn-success remove-drink-button', method: :post %>
				<% end %>		
			</div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>
	</div>
</div>