<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-sm-5 no-padding">
			<h1 class="section-header">Account Settings</h1>
			<h4 class="drinks-rated no-margin"><%= current_user.username %> joined <%= (current_user.created_at).strftime("%b %e, %Y") %></h4>
		</div>
		<div class="col-sm-7">
			<div class="row no-margin">
				<div class="col-xs-3 text-right">
					<%= link_to "Guests", account_settings_guests_path(current_user.id), class: "drink-preference-view-option", id: "guests" %>
				</div>
				<div class="col-xs-3 text-center">
					<%= link_to "Profile", account_settings_profile_path(current_user.id), class: "drink-preference-view-option", id: "next" %>
				</div>
				<div class="col-xs-3">
					<%= link_to "Membership", account_settings_membership_path(current_user.id), class: "drink-preference-view-option", id: "history" %>
				</div>
				<div class="col-xs-3 text-center">
					<%= link_to "Credit card", account_settings_cc_path(current_user.id), class: "drink-preference-view-option current", id: "card" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="container" id="preference-view-choice">
		<%= render 'user_account_credit_card' %>
	</div>
</div>
<%= render 'layouts/footer' %>