<%= render 'layouts/header' %> 
<div class="container">
	<%= render 'layouts/back_to_previous' %>
	<% if current_user.unregistered == true %>
   		<%= render 'account_personal_new' %>
	<% else %>  
    	<%= render 'account_personal_info' %>
    	<%= render 'account_personal_password' %>
	<% end %>
</div>
<%= render 'layouts/footer' %>