<%= render 'layouts/header' %> 
<%= render 'user_account_settings_common', current_section: "Plan" %>
<div class="row">
	<div class="container" id="preference-view-choice">
		<%= render 'user_account_membership' %>
	</div>
</div>
<div class="row">
	<div class="container" id="preference-view-choice">
		<%= render 'user_account_credit_card' %>
	</div>
</div>
<%= render 'layouts/footer' %>