<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12 col-sm-5">
			<h1 class="section-header">Account Settings</h1>
		</div>
		<div class="col-xs-12 col-sm-7">
			<h4 class="join-date"><%= current_user.username %> joined <%= (current_user.created_at).strftime("%b %e, %Y") %></h4>
		</div>
		<div class="col-xs-12 col-sm-6 no-padding">
			<div class="row">
				<div class="col-xs-3 text-center">
					<%= link_to "Membership", account_settings_membership_user_path, class: "drink-preference-view-option", id: "history" %>
				</div>
				<div class="col-xs-3 text-center">
					<%= link_to "Mates", account_settings_mates_user_path, class: "drink-preference-view-option current", id: "guests" %>
				</div>
				<div class="col-xs-3 text-center">
					<%= link_to "Profile", account_settings_profile_user_path, class: "drink-preference-view-option", id: "next" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="container" id="preference-view-choice">
		<div class="row no-margin">
			<div class="col-xs-12 col-sm-6">
				<div class="row no-margin">
					<div class="col-xs-12">
						<h4 class="recent-ratings-header">Share the love, add a mate to your Knird account.</h4>
						<h5 class="signup-next-step-text">
							<ul>
								<li>Whether it's your soulmate, roommate, or workmate, adding mates is free!</li>
								<li>Your mate will receive drinks at the same address you do.</li>
								<li>Your mate's drinks will be billed to your credit card since you're the account owner.</li>
								<li>Any questions? <%= mail_to "questions@drinkknird.com", "Let us know" %>!</li>
							</ul>
						</h5>
					</div>
				</div>
			<hr>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-12 col-sm-5">
				<% if !@user_guests.blank? %>
					<div class="row no-margin">
						<h4 class="recent-ratings-header">Your mates:</h4>
						<% @user_guests.each do |mate| %>
							<div class="col-xs-12 col-sm-10 friend-tile-container" id="friend-id-<%= mate.id %>">
								<%= render 'layouts/mate_tile', mate: mate %>
							</div>
						<% end%>
					</div>
					<div class="row no-margin">
						<div class="col-xs-12 col-sm-6">
							<%= link_to "Add a mate", invite_mate_path(current_user.id), :class => "btn btn-success connect-with-friends-button"%>
						</div>
					</div>
				<% else %>	
					<div class="row no-margin">
						<div class="col-xs-12 no-padding-right">
							<h4 class="recent-ratings-header">You haven't added any mates yet; add one now!</h4>
						</div>
						<div class="col-xs-12 col-sm-6">
							<%= link_to "Add a mate", invite_mate_path(current_user.id), :class => "btn btn-success connect-with-friends-button"%>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div id="remove_mate_confirmation" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Remove mate confirmation</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-sm-12">
				<h4>Remove this mate from your account?</h4>
			</div>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-4 remove-button-holder">
			<%= link_to "#", :id => "remove-mate", :class => 'subtract-drink-confirmation text-center btn btn-danger remove-drink-button', remote: true do %>
				<i class="fa fa-minus"></i>
				Yup, do it!
			<% end %>
		</div>
		<div class="col-sm-4 remove-button-holder">
			<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
		</div>
	</div>
</div>
<div id="resend_invitation_confirmation" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Resend invitation confirmation</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-sm-12">
				<h4>Your invitation reminder has been sent!</h4>
			</div>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4 remove-button-holder">
			<%= link_to "Thanks!", "#", :class => 'btn btn-success wait-button', :data => {:dismiss=>"modal"} %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>