<%= render 'layouts/header' %> 
<div class="container">
	<div class="row back-to-previous-row">
		<div class="col-xs-12 no-padding-right">
			<h3 class="submenu-options">
				<%= link_to "Back to previous", account_overview_path, class: "current" %>
			</h3>
			
		</div>
	</div>
	<%= render 'user_credits' %>
	<div class="col-xs-12 col-sm-4 col-md-3">
        <div class="gift-card-info-holder">
        	<%= form_tag gift_certificates_process_redeem_path, :html => { :class => 'form-horizontal' } do |f| %>
                <div class="col-xs-offset-1 col-xs-10">
                	<%= text_field_tag :redeem_code, params[:redeem_code], size: 20, placeholder: "Enter redemption code", class: "form-control gift-code-entry-field", :required => true %>
                </div>
                <div class="col-xs-offset-1 col-xs-10">
                	<input type="submit" class="btn btn-primary gift-redeem-submit" value="Redeem Credit"></input>
                </div>
        <% end %>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3">
		<div class="gift-card-info-holder">
       		<h5>Buy credit for yourself or as a gift</h5>
        	<%= link_to "Buy Knird credit", gift_certificates_new_path, class: "btn btn-primary buy-knird-credit-button" %>
   		</div>
   	</div>
</div>
<%= render 'layouts/footer' %>