<%= render 'layouts/header' %> 
	<div class="row no-margin first-row">
		<div class="container first-row-container">
			<div class="col-sm-5 no-padding">
				<h1 class="section-header">Drink Deliveries</h1>
			</div>
			<div class="col-sm-7">
				<div class="row no-margin">
					<div class="col-sm-3"></div>
					<div class="col-sm-4 text-right">
						<%= link_to "Next Delivery", user_deliveries_path('next'), class: "drink-preference-view-option #{@next_chosen}", id: "next" %>
					</div>
					<div class="col-sm-2">
						<%= link_to "History", user_deliveries_path('history'), class: "drink-preference-view-option #{@history_chosen}", id: "history" %>
					</div>
					<div class="col-sm-2">
						<%= link_to "Preferences", user_deliveries_path('preferences'), class: "drink-preference-view-option #{@delivery_preferences_chosen}", id: "delivery-preferences" %>
					</div>
				</div>
				<% if @delivery_view == "next" %>
					<% if !@next_delivery_date.nil? %>
						<div class="row no-margin">
							<div class="col-sm-2"></div>
							<div class="col-sm-10 text-right">
								<h3 class="next-delivery-text">Next delivery: <%= (@next_delivery_date).strftime("%A, %b %e, %Y") %></h3>
								<h5 class="next-delivery-subtext">Review period ends @1pm on <%= (@next_delivery_review_end_date).strftime("%a, %b %e") %></h5>
							</div>
						</div>
					<% end %>
				<% end %>
				<% if @delivery_view == "preferences" %>
					<div class="row no-margin">
						<div class="col-sm-12 text-right no-padding-right">
							<h4 class="next-delivery-text">Deliveries are every other Thursday--2 each month. </h4>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container" id="deliveries-view">
			<% if @delivery_view == "next" %>
				<%= render 'user_delivery_next' %>
			<% elsif @delivery_view == "history" %>
				<%= render 'user_delivery_history' %>
			<% else %>
				<%= render 'user_delivery_preferences' %>
			<% end %>
		</div>
	</div>
<%= render 'layouts/footer' %>