<%= render 'layouts/header' %> 
	<div class="row no-margin first-row">
		<div class="container first-row-container">
			<div class="col-sm-4 no-padding">
				<h1 class="section-header">Drink Settings</h1>
			</div>
			<div class="col-sm-8 no-padding">
				<div class="row no-margin">
					<div class="col-sm-3"></div>
					<div class="col-sm-4">
						<%= link_to "My preferred styles", user_drink_settings_path(current_user.id, 'styles'), class: "drink-preference-view-option #{@styles_chosen}", id: "styles" %>
					</div>
					<div class="col-sm-4">
						<%= link_to "My favorite drinks", user_drink_settings_path(current_user.id, 'drinks'), class: "drink-preference-view-option #{@drinks_chosen}", id: "fav-drinks" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container" id="preference-view-choice">
			<% if @view == "styles"%>
				<%= render 'user_drink_styles' %>
			<% else %>
				<%= render 'user_drink_favorite_drinks' %>
			<% end %>
		</div>
	</div>
	<div id="add_drink" class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Add a new drink</h3>
		</div>
		<div class="modal-body">
			<div class="text-center">
				<%= form_for @add_new_drink, :url => {:action => 'add_drink'} do |f| %> 
					<div class="row"> 
						<div class="col-xs-12">
				      		<%= f.text_field :associated_brewery, :class => "form-control", placeholder: "Brewery/Cidery name" %> 
						</div>
					</div>
					<div class="row"> 
						<div class="col-xs-12">
					 		<%= f.text_field :beer_name, :class => "form-control", placeholder: "Drink name" %> 
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
			     			<%= f.submit "Submit", class: "btn btn-default btn-success formButton" %> 
						</div>
					</div>
				<% end %> 
			</div>
	</div>
</div>
			
		</div>
	</div>
<%= render 'layouts/footer' %>