<%= render 'layouts/header_early_signup' %> 
	<div class="row create-password-first-screen">
		<div class="container">
			<div class="col-xs-12 text-center">
				<h2 class="signup-question">Welcome <%= @user.first_name %>! It's finally time to set a password.</h2>
				<h5 class="signup-question-detail-set-password">You can update this on your account profile page anytime after signup.</h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<div class="row"> 
				<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
					<div class="row">
						<div class="col-xs-12">
							    <%= simple_form_for @user, :url => process_first_password_user_path do |f| %>
		  							<%- flash.each do |name, msg| -%>
										<% if name == "error" || name == "failure" %>
											<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
										<% end %>
									<%- end -%>
									<div class="row"> 
										<div class="col-xs-4 col-sm-3 no-padding-left">
											<label for="password" class="control-label">Password</label>
										</div>
										<div class="col-xs-8 col-sm-9">
									 		<%= f.input :password, input_html: { class: "form-control", id: "password" }, label: false, required: true, placeholder: "Set password (8 characters min)", hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
										</div>
									</div>
									<div class="row"> 
										<div class="col-xs-4 col-sm-3 no-padding-left">
											<label for="confirm_password" class="control-label">Confirm password</label>
										</div>
										<div class="col-xs-8 col-sm-9">
									 		<%= f.input :password_confirmation, input_html: { class: "form-control", id: "confirm_password" }, label: false, required: true, placeholder: "Confirm password (8 characters min)" %>
										</div>
									</div>
									<div class="row"> 
										<div class="col-xs-12">
									 		<%= f.submit "Next", class: "btn btn-default btn-success formButton" %> 
									 		<h5 class="terms-and-conditions-text">By clicking "Next", you agree to our 
												<%= link_to "terms", terms_path %> and <%= link_to "privacy policy", privacy_path %>.
											</h5>
										</div>
									</div>
							    <% end %>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render 'layouts/header' %> 