<%= render 'layouts/header' %> 
	<div class="row no-margin first-row">
		<div class="container first-row-container">
			<div class="col-sm-4 no-padding">
				<h1 class="section-header">Drink Profile</h1>
			</div>
			<div class="col-sm-8">
				<div class="row no-margin">
					<div class="col-sm-1"></div>
					<div class="col-sm-3 no-padding-left">
						<%= link_to "My recent ratings", user_profile_path('recent_ratings'), class: "drink-preference-view-option #{@ratings_chosen}", id: "ratings" %>
					</div>
					<div class="col-sm-4 text-right">
						<%= link_to "My favorite drink types", user_profile_path('drink_types'), class: "drink-preference-view-option #{@drink_types_chosen}", id: "drink-types" %>
					</div>
					<div class="col-sm-4 text-center">
						<%= link_to "My favorite producers", user_profile_path('producers'), class: "drink-preference-view-option #{@producers_chosen}", id: "producers" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<% if @view == "recent_ratings" %>
				<%= render 'user_profile_recent_ratings' %>
			<% elsif @view == "drink_types" %>
				<%= render 'user_profile_favorite_drink_type' %>
			<% else %>
				<%= render 'user_profile_favorite_producers' %>
			<% end %>
		</div>
	</div>
<%= render 'layouts/footer' %>