<%= render 'layouts/header' %> 
	<div class="container">
		<div class="row header-row">
			<div class="page-header"> 
				<div class="row">
					<div class="col-xs-9 best-beer-header">
						<h3 class="dark-gray-text">The best beer available in Seattle right now</h3> 
					</div>
					<div class="col-xs-3 updated">
						<h5 class="last-updated dark-gray-text">Updated today @ <%= @time.strftime("%l:%M%P") %></h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row filter-button-row">
						<div class="col-xs-1"><h6 class="dark-gray-text">Filter by:</h6></div>
						<div class="col-xs-2 filter-options show" id="first_filter">
						  <h5 class="filter-heading">Ratings</h5>
						  <%= form_for_filterrific @filterrific do |f| %>
						  <%= f.select(:sorted_by, 
						  		@filterrific.select_options[:sorted_by],
						  		{ include_blank: false },
								{ class: 'chosen-select' })
						  %>
						</div>
						<div class="col-xs-2 filter-options show">
							<h5 class="filter-heading">Locations</h5>
						  		<%= f.select(:with_any_location_ids,
									@filterrific.select_options[:with_any_location_ids],
								    { include_blank: true },
								    { multiple: true, class: 'chosen-select' })
								%>
								<%# add an automated spinner to your form when the list is refreshed %>
  								<%= render_filterrific_spinner %>
						</div>
						<div class="col-xs-2 filter-options show">
							<h5 class="filter-heading">Types</h5>
						  	<%= f.select(:with_beer_type,
									@filterrific.select_options[:with_beer_type],
								    { include_blank: true },
								    { multiple: true, class: 'chosen-select' })
								%>
								<%# add an automated spinner to your form when the list is refreshed %>
  								<%= render_filterrific_spinner %>

						</div>
						<div class="col-xs-2 filter-options show">
							<h5 class="filter-heading">ABV Limit</h5>
						  	<%= f.select(:beer_abv_lte,
									@filterrific.select_options[:beer_abv_lte],
								    { include_blank: true },
								    { class: 'chosen-select' })
								%>
								<%# add an automated spinner to your form when the list is refreshed %>
  								<%= render_filterrific_spinner %>
						</div>
						<div class="col-xs-2 filter-options show">
							<h5 class="filter-heading">Special items</h5>
						  	<%= f.select(:with_special,
									@filterrific.select_options[:with_special],
								    { include_blank: true },
								    { multiple: true, class: 'chosen-select' })
								%>
								<%# add an automated spinner to your form when the list is refreshed %>
  								<%= render_filterrific_spinner %>
						  	<% end %>
						</div>
		</div>
		<div class="row">
			<div class="col-sm-9 no-padding">
 				<hr/>
 				<%= render( partial: 'users/list', locals: { beers: @beers }) %>
 			</div>
			<div class="col-sm-3 no-padding">
				
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>