<%= render 'layouts/header' %> 
	<div class="row no-margin first-row">
		<div class="container first-row-container">
			<div class="col-xs-12 col-sm-4 no-padding">
				<h1 class="section-header">Supply</h1>
			</div>
			<div class="col-xs-12 col-sm-8 mobile-menu-holder">
				<div class="row no-margin">
					<div class="col-xs-0 col-sm-4 no-padding"></div>
					<div class="col-xs-4 col-sm-2 no-padding">
						<%= link_to "My Cooler", user_supply_path(current_user.id, 'cooler'), class: "drink-preference-view-option #{@cooler_chosen}", id: "cooler" %>
					</div>
					<div class="col-xs-4 col-sm-2">
						<%= link_to "My Cellar", user_supply_path(current_user.id, 'cellar'), class: "drink-preference-view-option #{@cellar_chosen}", id: "cellar" %>
					</div>
					<div class="col-xs-4 col-sm-2 no-padding-right">
						<%= link_to "My Wishlist", user_supply_path(current_user.id, 'wishlist'), class: "drink-preference-view-option #{@wishlist_chosen}", id: "wishlist" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row no-margin supply-spinner text-center hidden">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Updating...</h4>
		</div>
	</div>
	<div class="row">
		<div class="container" id="preference-view-choice">
			<% if @view == "cooler" %>
				<%= render 'user_supply_cooler' %>
			<% elsif @view == "cellar" %>
				<%= render 'user_supply_cellar' %>
			<% else %>
				<%= render 'user_supply_wishlist' %>
			<% end %>
		</div>
	</div>
	<div id="remove_drink_confirmation" class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Remove drink confirmation</h3>
		</div>
		<div class="modal-body">
			<div class="row no-margin">
				<div class="col-sm-12">
					<h4>Remove this drink from your supply without rating it?</h4>
				</div>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "#", :class => 'subtract-drink-confirmation text-center btn btn-danger remove-drink-button' do %>
					<i class="fa fa-minus"></i>
					Remove it!
				<% end %>
			</div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>
	</div>
	<div id="remove_drink_from_wishlist_confirmation" class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Remove drink confirmation</h3>
		</div>
		<div class="modal-body">
			<div class="row no-margin">
				<div class="col-sm-12">
					<h4>Remove this drink from your wishlist?</h4>
				</div>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "#", :class => 'subtract-drink-from-wishlist-confirmation text-center btn btn-danger remove-drink-button' do %>
					<i class="fa fa-minus"></i>
					Remove it!
				<% end %>
			</div>
			<div class="col-sm-4 remove-button-holder">
				<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>
	</div>
	<div class="row no-margin rating-from-supply hidden"></div>
<%= render 'layouts/footer' %>