<%= render 'layouts/header' %>
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12 col-sm-4 no-padding">
			<h1 class="section-header">Rewards</h1>
		</div>
	</div>
</div>
<% if !@user_rewards.blank? %>
	<div class="row no-margin">
		<div class="container">
			<div class="col-sm-8">
				<div class="row no-margin">
					<div class="col-sm-12">
				    	<h3 class="user-settings-header">Current Bottle Caps</h3>
				    </div>
					<div class="col-sm-offset-1 col-sm-8">
						<h2 class="current-reward-points all-reward-points"><%= @user_rewards.first.total_points.to_i %></h2>
						<h1 class="icon-bottle-cap current-reward-bottle-cap all-bottle-caps"></h1>
					</div>
				</div>
				<hr>
				<div class="row no-margin">
					<div class="col-sm-12">
				    	<h3 class="user-settings-header">Opportunities</h3>
				    </div>
				    <% if @number_of_unrated_drinks >= 1 %>
						<div class="row opportunity-row">
						    <div class="col-sm-8">
						    	<h5 class="signup-next-step-text">
						    		You have <b><%= @number_of_unrated_drinks %>
						    		unrated <%= "drink".pluralize(@number_of_unrated_drinks) %> bought in the last month
						    		worth <%= @total_reward_opportunity.round %> bottle caps</b>.  Get on it!
						    	</h5>
						    </div>
						    <div class="col-sm-4">
						    	<%= link_to "Rate drinks", user_deliveries_path, class: "btn btn-default btn-success thank-you-next-button" %>
						    </div>
						</div>
					<% end %>
				    <div class="row opportunity-row">
					    <div class="col-sm-8">
					    	<h5 class="signup-next-step-text">Earn 30 bottle caps for each friend that joins with at least a 3-month membership</h5>
					    </div>
					    <div class="col-sm-4">
					    	<%= link_to "Invite a friend", invite_friend_path(current_user.id), class: "btn btn-default btn-success thank-you-next-button" %>
					    </div>
					</div>
				</div>
				<hr>
				<div class="row no-margin">
				    <div class="col-sm-12">
				    	<h3 class="user-settings-header">History</h3>
				    </div>
				    <% @user_rewards.each do |reward| %>
				    	<div class="row no-margin">
				    		<div class="col-sm-2">
				    			<% if reward.reward_transaction_type.reward_impact == "addition" %>
				    				<% @action = "RECEIVED" %>
				    			<% else %>
				    				<% @action = "USED" %>
				    			<% end %>
				    			<h5><%= @action %></h5>
				    		</div>
				    		<div class="col-sm-2">
				    			<h5 class="transaction-reward-points all-reward-points"><%= reward.transaction_points.to_i %></h5>
				    			<h5 class="icon-bottle-cap transaction-reward-bottle-cap all-bottle-caps"></h5>
				    		</div>
				    		<div class="col-sm-6">
				    			<% if reward.reward_transaction_type_id == 1 %>
				    				<% @friend = User.find_by_id(reward.friend_user_id)%>
									<% if @friend != nil%>
				    				<h5>
				    					Your friend <%= @friend.first_name %> (<%= @friend.email %>)
				    					<%= reward.reward_transaction_type.reward_description %>
				    				</h5>
									<% end %>
				    			<% elsif reward.reward_transaction_type_id == 2 || reward.reward_transaction_type_id == 3 %>
									<h5>
										You bought drinks worth $<%=reward.transaction_amount%> and earned <%=reward.transaction_points.to_i%> bottle caps
									</h5>
				    			<% else %>
									<% @drink_rated = AccountDelivery.find_by_id(reward.account_delivery_id) %>
									<% if @drink_rated != nil%>
										<h5>
											You bought and rated <%= @drink_rated.beer.brewery.short_brewery_name %>
											<%= @drink_rated.beer.beer_name %>
										</h5>
									<% end %>
				    				<h5><%= reward.reward_transaction_type.reward_description %></h5>
				    			<% end %>
				    		</div>
				    		<div class="col-sm-2">
				    			<h5 class="totaling-reward-points all-reward-points"><%= reward.total_points.to_i %></h5>
				    			<h5 class="icon-bottle-cap totaling-reward-bottle-cap all-bottle-caps"></h5>
				    		</div>
				    	</div>
				    	<hr>
				    <% end %>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="col-sm-12">
			    	<h3 class="user-settings-header">Redemption</h3>
			    </div>
			    <div class="col-sm-12">
			    	<h4 class="redemption-message">We're currently working out the details for rewards redemption.
			    		But we didn't think that should stop you from collecting bottle caps!
			    		Please <%= mail_to "questions@drinkknird.com", "let us know" %> if you have any thoughts, requests or questions about Knird Rewards.
			    		Thanks!
			    	</h4>
			    </div>
			</div>
		</div>
	</div>
<% else %>
	<div class="row no-margin">
		<div class="container">
			<div class="col-xs-12">
				<h4>You don't have any reward points yet, but hang in there. Life's bound to get better!</h4>
			</div>
		</div>
	</div>
<% end %>
<%= render 'layouts/footer' %>