<%= render 'layouts/header' %> 
<%= render 'beer_settings_common', current_section: "Extras" %>
<div class="row">
	<div class="container">
		<div class="col-xs-12 text-center">
			<h2 class="signup-question">What additional requests do you have?</h2>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container">
		<div class="row no-margin">
			<%= simple_form_for @user_beer_preferences, :url => {:action => "process_beer_extras"} do |f| %>
				<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 delivery-additional-request">
					<%= f.input :additional, placeholder: 'For example, "I always want an ISA on hand" or "I want to improve my cellar selection"', label: false %>
				</div>
				<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 no-padding text-center">
					<% if @user_beer_preferences.additional.nil? %>
						<%= f.submit "Save", class: "btn btn-success update_delivery_request" %>
					<% else %>
						<%= f.submit "Update", class: "btn btn-success update_delivery_request" %>
					<% end %>
				</div>
			<% end %>
		</div>
		<% if !@user_beer_preferences.additional.nil? %>
			<div id="settings-last-saved">
				<%= render 'layouts/last_saved' %>
			</div>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>