<div class="container draft-board-container">
		<div class="row no-margin ">
			<div class="col-sm-12 visible-sm visible-md visible-lg">
				<div class="row img-responsive retailer-logo-image-med" alt="Responsive image" style="background-image: url(<%= @retailer.logo_med %>)">
					<h3 class="retailer-page-title"><%= @retailer.short_name %>'s Account</h3>
				</div>
			</div>
			<div class="col-xs-12 visible-xs">
				<div class="row img-responsive retailer-logo-image-small" alt="Responsive image" style="background-image: url(<%= @retailer.logo_small %>)">
					<h3 class="retailer-page-title-mobile"><%= @retailer.short_name %>'s Account</h3>
				</div>
			</div>
		</div>
		<% if current_user.role_id == 1 || current_user.role_id == 5 %>
			<div class="row no-margin ">
				<div class="col-xs-6 col-sm-3 col-md-2 text-right">
					<%= link_to "Draft Details", retailer_path(@retailer.id), class: 'retailer-account-options live-view' %>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-2 account-details-header-holder text-center">
					<%= link_to "Account Details", retailer_path(@retailer.id, "location"), class: 'retailer-account-options' %>
				</div>
			</div>
		<% end %>
		<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) && name == "error" %>
			<%- end -%>
		<hr>
		<div class="row no-margin">
			<div class="col-xs-12 text-center">
				<% if @draft_board.blank? %>
					<h4 class="retail-manage-header">Draft Board</h4>
				<% else %>
					<h4 class="retail-manage-header">Draft Board <span class="last-updated"> (Last updated: <%= (@last_draft_board_update.updated_at).strftime("%B %e, %Y @ %l:%M %p") %>)</span></h4>
				<% end %>
			</div>
			<div class="col-xs-12">
				<% if @draft_board.blank? %>
					<div class="row no-margin ">
						<div class="col-xs-8 col-sm-5 col-md-4">
							<%= link_to new_draft_board_path(@retailer.id), class: 'btn btn-default btn-success formButton-add-draft-board' do %>
								<i class="fa fa-plus"> Create new draft board</i>
							<% end %>
						</div>
					</div>
				<% else %>
					<div class="row no-margin ">
						<div class="col-xs-12 col-sm-5 col-md-4">
							<%= link_to edit_draft_board_path(@draft_board[0].id), class: 'btn btn-default btn-success formButton-draft-board-edit' do %>
								<i class="fa fa-pencil"> Edit board</i>
							<% end %>
						</div>
						<% if !@draft_inventory.blank? && @subscription_plan == "retain" %>
							<div class="col-xs-12 col-sm-1 col-md-1 or-option text-center">
								<p>or</p>
							</div> 
							<div class="col-xs-12 col-sm-5 col-md-4">
								<%= link_to quick_draft_edit_path(@draft_board[0].id), class: 'btn btn-default btn-success formButton-draft-board-edit' do %>
									<i class="fa fa-refresh"> Quickly swap drinks</i>
								<% end %>
							</div>
						<% end %>
					</div>		
					<div class="row no-margin ">	
						<div class="col-xs-12 col-sm-5 col-md-4">
							<%= link_to draft_board_path(@draft_board[0].id, "column"), class: 'btn btn-default btn-primary formButton-view-draft-board' do %>
								<i class="fa fa-chevron-right"> View/Edit web board</i>
							<% end %>
						</div>
						<div class="col-xs-12 col-sm-1 col-md-1 or-option text-center">
							<p>or</p>
						</div> 
						<div class="col-xs-12 col-sm-5 col-md-4">
							<%= link_to draft_board_path(@draft_board[0].id, "row"), class: 'btn btn-default btn-primary formButton-view-draft-board' do %>
								<i class="fa fa-chevron-right"> View/Edit internal board</i>
							<% end %>
						</div>
					</div>		
				<% end %>
			</div>
		</div>
		<% if !@draft_board.blank? && @subscription_plan == "retain" %>
			<% if current_user.role_id == 1 || current_user.role_id == 5 %>
				<hr>
				<div class="row no-margin">
					<div class="col-xs-12">
						<% if @draft_inventory.blank? %>
							<h4 class="retail-manage-header">Draft Inventory</h4>
						<% else %>
							<h4 class="retail-manage-header">Draft Inventory <span class="last-updated"> (Last updated: <%= (@last_draft_inventory_update.updated_at).strftime("%B %e, %Y @ %l:%M %p") %>)</span></h4>
						<% end %>
					</div>
					<div class="col-xs-12">
						<% if @draft_inventory.blank? %>
							<div class="row no-margin ">
								<div class="col-xs-12 col-sm-5 col-md-4">
									<%= link_to edit_draft_inventory_path(@draft_board[0].id), class: 'btn btn-default btn-success formButton-add-draft-board' do %>
										<i class="fa fa-plus"> Create inventory</i>
									<% end %>
								</div>
							</div>
						<% else %>
							<div class="row no-margin ">
								<div class="col-xs-12 col-sm-5 col-md-4">
									<%= link_to edit_draft_inventory_path(@draft_board[0].id), class: 'btn btn-default btn-success formButton-draft-board-edit' do %>
										<i class="fa fa-plus"> Add inventory</i>
									<% end %>
								</div>
							</div>
							<div class="row no-margin ">	
								<div class="col-xs-12 col-sm-5 col-md-4">
									<%= link_to draft_inventory_path(@draft_board[0].id), class: 'btn btn-default btn-primary formButton-view-draft-board' do %>
										<i class="fa fa-chevron-right"> View inventory list</i>
									<% end %>
								</div>
							</div>				
						<% end %>
					</div>
				</div>
				<% if false %>
				<hr>
				<div class="row no-margin">
					<div class="col-xs-12">
						<% if @drink_price_tiers.blank? %>
							<h4 class="retail-manage-header">Drink Price Tiers</h4>
						<% else %>
							<h4 class="retail-manage-header">Drink Price Tiers <span class="last-updated"> (Last updated: <%= (@last_drink_prices_update.updated_at).strftime("%B %e, %Y @ %l:%M %p") %>)</span></h4>
						<% end %>
					</div>
					<div class="col-xs-12">
						<div class="row no-margin ">
							<% if @drink_price_tiers.blank? %>
								<div class="col-xs-12 col-sm-5 col-md-4">
									<%= link_to new_drink_price_tier_path(@draft_board[0].id), class: 'btn btn-default btn-success formButton-add-draft-board' do %>
										<i class="fa fa-plus"> Create drink price tiers</i>
									<% end %>
								</div>
							<% else %>
								<div class="col-xs-12 col-sm-5 col-md-4">
									<%= link_to edit_drink_price_tier_path(@draft_board[0].id), class: 'btn btn-default btn-success formButton-draft-board-edit' do %>
										<i class="fa fa-wrench"> Edit drink price tiers</i>
									<% end %>
								</div>				
							<% end %>
							<div class="col-xs-12 col-sm-7 col-md-8 visible-sm visibl-md visible-lg">
								<div class="row no-margin">
									<h5 class="retailer-section-instructions">Current drink price tiers:</h5>
								</div>
								<% @drink_price_tiers.each do |tier| %>
									<div class="row no-margin">
										<div class="col-sm-2">
											<h5 class="price-tier-name"><%= tier.tier_name %></h5>
										</div>
										<% tier.drink_price_tier_details.each do |details| %>
											<% if details.drink_size > 0 && details.drink_size <= 5 %>
												<div class="col-sm-2 draft-size-holder">
													<img class="draft-pretty-icon icon-taster" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/taster-small.png" />
													<p class="draft-pretty-draft-size"><%= details.drink_size %> oz.</p>
													<p class="draft-pretty-draft-cost"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>	
												</div>
											<% end %>
											<% if details.drink_size > 5 && details.drink_size <= 12 %>
												<div class="col-sm-2 draft-size-holder">
													<img class="draft-pretty-icon icon-tulip" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/tulip.png" />
													<p class="draft-pretty-draft-size"><%= details.drink_size %> oz.</p>
													<p class="draft-pretty-draft-cost"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>	
												</div>
											<% end %>
											<% if details.drink_size > 12 && details.drink_size <= 22 %>
												<div class="col-sm-2 draft-size-holder">
													<img class="draft-pretty-icon icon-nonic" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/pint.png" />
													<p class="draft-pretty-draft-size"><%= details.drink_size %> oz.</p>
													<p class="draft-pretty-draft-cost"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>	
												</div>
											<% end %>
											<% if details.drink_size == 32 %>
												<div class="col-sm-2 draft-size-holder">
													<img class="draft-pretty-icon icon-half-growler" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/growler32.png" />
													<p class="draft-pretty-draft-size"><%= details.drink_size %> oz.</p>
													<p class="draft-pretty-draft-cost"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>	
												</div>
											<% end %>
											<% if details.drink_size == 64 %>
												<div class="col-sm-2 draft-size-holder-growler">
													<img class="draft-pretty-icon icon-growler" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/growler64.png" />
													<p class="draft-pretty-draft-size"><%= details.drink_size %> oz.</p>
													<p class="draft-pretty-draft-cost"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>	
												</div>
											<% end %>
										<% end %>
								</div>
								<hr>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row no-margin">
					<div class="col-xs-12">
						<% if @drink_categories.blank? %>
							<h4 class="retail-manage-header">Drink Categories</h4>
						<% else %>
							<h4 class="retail-manage-header">Drink Categories <span class="last-updated"> (Last updated: <%= (@last_drink_category_update.updated_at).strftime("%B %e, %Y @ %l:%M %p") %>)</span></h4>
						<% end %>
					</div>
					<div class="col-xs-12">
						<% if @drink_categories.blank? %>
							<div class="col-xs-12 col-sm-5 col-md-4">
								<%= link_to new_drink_category_path(@draft_board[0].id), class: 'btn btn-default btn-success formButton-add-draft-board' do %>
									<i class="fa fa-plus"> Create drink categories</i>
								<% end %>
							</div>
						<% else %>
							<div class="col-xs-12 col-sm-5 col-md-4">
								<%= link_to edit_drink_category_path(@draft_board[0].id), class: 'btn btn-default btn-success formButton-draft-board-edit' do %>
									<i class="fa fa-wrench"> Edit drink categories</i>
								<% end %>
							</div>				
						<% end %>
					</div>
				</div>
				<% end %>
			<% end %>
				<hr>
				<div class="row no-margin">
					<div class="col-xs-12">
						<h4 class="retail-manage-header">Print Draft Menu</h4>
					</div>
					<div class="col-xs-12">
						<div class="row no-margin ">	
							<div class="col-xs-12 col-sm-5 col-md-4">
								<%= link_to print_menus_path(@draft_board[0].id, :format => 'pdf'), class: 'btn btn-default btn-success formButton-view-draft-board', :target => "_blank" do %>
									<i class="fa fa-chevron-right"> View/Print drink menu (vertical)</i>
								<% end %>
							</div>
							<div class="col-xs-12 col-sm-1 col-md-1 or-option text-center">
								<p>or</p>
							</div>
							<div class="col-xs-12 col-sm-5 col-md-4">
								<%= link_to print_menu_path(@draft_board[0].id, :format => 'pdf'), class: 'btn btn-default btn-success formButton-view-draft-board', :target => "_blank" do %>
									<i class="fa fa-chevron-right"> View/Print drink menu (horizontal)</i>
								<% end %>
							</div>
						</div>
					</div>
				</div>	
			<% if current_user.role_id == 1 || current_user.role_id == 5 %>
				<hr>
				<div class="row no-margin" id="social-media-preferences">
					<%= render 'social_media_preferences' %>
				</div>
			<% end %>
		<% end %>
	</div>