<div class="col-xs-12 text-center">
	<h4 class="retail-manage-header">Team Authorization</h4>
</div>
<div class="col-md-1"></div>
<div class="col-xs-12 col-md-10">
	<div class="row no-margin">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<th>Team Member<br> </th>
					<th class="text-center">User<br><span class="team-user-info">Access 'Draft Board', 'Social Media', and 'Drink Menu'</span></th>
					<th class="text-center">Admin<br><span class="team-user-info">Access everything except 'Your Plan'</span></th>
					<th class="text-center">Owner<br><span class="team-user-info">Full access<br>&nbsp;</span></th>
					<th></th>
				</thead>
				<tbody class="team-status-table">
				<% @team_authorizations.each do	|member| %>		
					<% if member.owner == true %>
						<% @status = "owner" %>
					<% elsif member.user.role_id == 5 %>
						<% @status = "admin" %>
					<% else %>
						<% @status = "user" %>
					<% end %>
					<tr>
						<% if member.user.invitation_token.nil? %>
							<td class="team-member-name-column"><%= member.user.first_name %> (<%= member.user.email %>)</td>
						<% else %>
							<td class="team-member-name-column"><%= member.user.first_name %> (<%= member.user.email %>) <span class="not-active-team-member">[invitation not yet accepted]</span></td>
						<% end %>
						<% if member.owner == true && @only_owner == true %>
							<td class="team-user-status-column">
								<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="user" class="team-member-authorization" disabled="disabled" data-toggle="tooltip" title="There must be one owner; currently this it." />
							</td>
							<td class="team-user-status-column">
								<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="admin" class="team-member-authorization" disabled="disabled" data-toggle="tooltip" title="There must be one owner; currently this it." />
							</td>
							<td class="team-user-status-column">
								<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="owner" class="team-member-authorization" disabled="disabled" data-toggle="tooltip" title="There must be one owner; currently this it." checked="checked" />
							</td>
						<% elsif member.owner == true %>
							<td class="team-user-status-column">
								<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="user" class="team-member-authorization" />
							</td>
							<td class="team-user-status-column">
								<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="admin" class="team-member-authorization" />
							</td>
							<td class="team-user-status-column">
								<% if @current_team_user == "owner" %>
									<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="owner" class="team-member-authorization" checked="checked" />
								<% else %>
									<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="owner" class="team-member-authorization" checked="checked" disabled="disabled" data-toggle="tooltip" title="Only a current owner can make another owner." />
								<% end %>
							</td>
						<% elsif member.user.role_id == 5 %>
							<td class="team-user-status-column">
								<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="user" class="team-member-authorization" />
							</td>
							<td class="team-user-status-column">
								<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="admin" class="team-member-authorization" checked="checked" />
							</td>
							<td class="team-user-status-column">
								<% if @current_team_user == "owner" %>
									<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="owner" class="team-member-authorization" />
								<% else %>
									<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="owner" class="team-member-authorization" disabled="disabled" data-toggle="tooltip" title="Only a current owner can make another owner." />
								<% end %>
							</td>
						<% else %>
							<td class="team-user-status-column">
								<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="user" class="team-member-authorization" checked="checked" />
							</td>
							<td class="team-user-status-column">
								<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="admin" class="team-member-authorization" />
							</td>
							<td class="team-user-status-column">
								<% if @current_team_user == "owner" %>
									<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="owner" class="team-member-authorization" />
								<% else %>
									<input id="user_status.<%= member.user_id %>-<%= member.id %>" name="user_status[<%= member.user_id %>]" type="radio" value="owner" class="team-member-authorization" disabled="disabled" data-toggle="tooltip" title="Only a current owner can make another owner." />
								<% end %>
							</td>
						<% end %>
						<td class="remove-team-member-column">
							<% if member.owner == true %>
								<div class="remove-team-member-button-owner">
									<i class="fa fa-trash-o" data-toggle="tooltip" title="An owner cannot be deleted."></i>	
								</div>
							<% elsif member.user.id == current_user.id %>
								<div class="remove-team-member-button-owner">
									<i class="fa fa-trash-o" data-toggle="tooltip" title="You cannot delete yourself."></i>	
								</div>
							<% else %>
								<%= link_to remove_team_member_path(member.id),  data: { confirm: "Are you sure you want to delete this team member?" } do %>
									<i class="fa fa-trash-o"></i>	
								<% end %>
							<% end %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>						
	</div>
</div>	
<div class="col-xs-12">
	<div class="row no-margin">
		<div class="col-xs-0 col-sm-3 col-md-4"></div>
		<div class="col-xs-12 col-sm-5 col-md-4">
			<%= link_to invite_team_member_path(@retailer.id), class: 'btn btn-default btn-success formButton-draft-board-edit',
					data: {toggle: "modal", target: "#invite-team-member"} do %>
				<i class="fa fa-plus"> Invite Team Members</i>
			<% end %>
		</div>
	</div>
</div>
