<html class="homeImage img-responsive">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body class="index-body body-retail-index">
		<%= render 'layouts/home_header' %> 
		<!-- Page Content -->
	        <header class="banner-retail visible-sm visible-md visible-lg">
	        	<div class="row retailer-valueStatement">
		            <div class="col-sm-1 col-md-1"></div>
		            <div class="col-sm-3 col-md-4">
		                <h1 class="brand-font">Knird</h1>
		                <h3 class="brand-subfont">A drink for each person.<br> A person for each drink.</h3>
		            </div>
		            <div class="col-sm-3 col-md-3">
		                <%= link_to "Request more info", "#request-invitation", class: 'btn btn-default btn-primary formButton-index-Banner-retailer' %>
		            </div>
		            <div class="col-sm-3 col-md-3"></div>
		        </div>
	        </header>
	        <header class="banner-xs-retail visible-xs">	
	        	<div class="row retailer-valueStatement">
		            <div class="col-xs-1"></div>
		            <div class="col-xs-11 no-padding-right">
		                <h1 class="brand-font">Knird</h1>
		                <h3 class="brand-subfont">A drink for each person.<br> A person for each drink.</h3>
		            </div>
		            <div class="col-xs-0"></div>
		        	<div class="col-xs-4"></div>
		            <div class="col-xs-7 mobile-container-fix">
		                <%= link_to "Request more info", "#request-invitation", class: 'btn btn-default btn-primary formButton-index-Banner' %>
		            </div>
		            <div class="col-xs-1"></div>
		        </div>
	        </header>
	        <section class="background-light request-invitation-section">
	   			<div class="container">
		   			<div class="row">
		        		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		        		<div class="col-xs-12 col-sm-10 col-md-12">
		        			<h3 class="index-section-header-two">Choose the best Knird plan for you--keep it free with our Connect plan or reach more customers with our Retain plan.</h3> 
		        		</div>
		        	</div>
		   			<table class="table">
						<thead>
							<th></th>
							<th class="retailer-plan-header  top-row">Connect<br><span class="retailer-plan-info">with customers</span></th>
							<th class="retailer-plan-header">Retain<br><span class="retailer-plan-info">your customers</span></th>
						</thead>
						<tbody>
							<tr>
								<td class="feature-list-column">Cost with a 1-yr contract</td>
								<td class="feature-show-column feature-included ">$0/mo</td>
								<td class="feature-show-column feature-included">$25/mo</td>
							</tr>
							<tr>
								<td class="feature-list-column">Cost with a month-to-month contract</td>
								<td class="feature-show-column feature-included ">$0/mo</td>
								<td class="feature-show-column feature-included">$30/mo</td>
							</tr>
							<tr>
								<td class="feature-list-column">Knird App Business Listing + Logo</td>
								<td class="feature-show-column feature-included "><i class="fa fa-check"></i></td>
								<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<td class="feature-list-column">Leverage Knird's curated drink database</td>
								<td class="feature-show-column feature-included "><i class="fa fa-check"></i></td>
								<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<td class="feature-list-column">Easily update both your website and internal draft list at the same time</td>
								<td class="feature-show-column feature-included "><i class="fa fa-check"></i></td>
								<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<td class="feature-list-column">Share available drinks on Facebook & Twitter</td>
								<td class="feature-show-column feature-not-included "><i class="fa fa-minus"></i></td>
								<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<td class="feature-list-column">Print current draft list to a hard copy drink menu</td>
								<td class="feature-show-column feature-not-included "><i class="fa fa-minus"></i></td>
								<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<td class="feature-list-column">Show what's going on draft next</td>
								<td class="feature-show-column feature-not-included "><i class="fa fa-minus"></i></td>
								<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<td class="feature-list-column">Customize your draft boards</td>
								<td class="feature-show-column feature-not-included "><i class="fa fa-minus"></i></td>
								<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<td class="feature-list-column">Manage your draft inventory</td>
								<td class="feature-show-column feature-not-included "><i class="fa fa-minus"></i></td>
								<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<td class="feature-list-column">Assign access rights to team members</td>
								<td class="feature-show-column feature-not-included "><i class="fa fa-minus"></i></td>
								<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
							</tr>
							<tr>
								<td class="feature-list-column">Take advantage of outstanding customer support</td>
								<td class="feature-show-column feature-not-included "><i class="fa fa-minus"></i></td>
								<td class="feature-show-column feature-included"><i class="fa fa-check"></i></td>
							</tr>
						</tbody>
					</table>    	
		        </div>
	        </section>
	         <!-- /.row -->
	        <!-- /.row -->		
	        <section class="background-dark value-prop-section">
	   			<div class="container">
		   			<div class="row">
		        		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		        		<div class="col-xs-12 col-sm-10 col-md-12">
		        			<h3 class="index-section-header">Knird is the simplest, fastest way to share your current inventory with the world.</h3> 
		        		</div>
		        	</div>
		        	<div class="row value-prop-row">
		        		<div class="col-sm-4">
		        			<div class="retailer-icon-background">
		        				<h3><i class="fa fa-smile-o"></i></h3>
		        			</div>
		        			<h4>Make customers happy.</h4> 
		        			<h5 class="valueDesc">Draw customers in by providing accurate and up-to-date information about your currently available drinks.</h5>
		        		</div>
		        		<div class="col-sm-4">
		        			<div class="retailer-icon-background">
		        				<h3><i class="fa fa-bullhorn"></i></h3>
		        			</div>
		        			<h4>Make it easy.</h4>
		        			<h5 class="valueDesc">Easily share inventory with customers through draft boards, printed menus, and social media--all with one tool.</h5>
		        		</div>
		        		<div class="col-sm-4">
		        			<div class="retailer-icon-background">
		        				<h3><i class="fa fa-clock-o"></i></h3>
		        			</div>
		        			<h4>And save time doing it!</h4> 
		        			<h5 class="valueDesc">Save staff time by making it easy for all staff to contribute by using Knird's update tool and drink database.</h5>
		        		</div>		
		        	</div>
		        </div>
	        </section>
	        <!-- /.row -->
	        <section class="background-light request-invitation-section-retailer">
	   			<div class="container">
		   			<div class="row">
		        		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		        		<div class="col-xs-12 col-sm-10 col-md-12">
		        			<h3 class="index-section-header">We're currently accepting new Seattle retailers--please let us know if you're interested!</h3> 
		        		</div>
		        	</div>
		        	<div class="row request-invitation-row show" id="request-info">
		        		<%= form_for @request_info, :url => {:controller => "retailers", :action => "create"}, :remote => true do |invite| %>
							<div class="col-xs-2 col-sm-2 text-right no-padding-right">
								<%= label :email, 'Email' %>
							</div>
							<div class="col-sm-3 col-xs-10">
								<%= invite.email_field :email, :class => "form-control", required: true, placeholder: "you@yourdomain.com" %>
							</div>
							<div class="col-xs-2 col-sm-1 text-right no-padding-right">
								<%= label :email, 'Name' %>
							</div>
							<div class="col-sm-3 col-xs-10">
								<%= invite.text_field :name, :class => "form-control", required: true, placeholder: "Joe Smith" %>
							</div>
							<div class="col-sm-2 col-xs-12">
								<%= invite.submit "Submit", class: "btn btn-default btn-success formButton-invitation-request" %>
							</div>
						<% end %>
		        	</div>
		        	<div class="row request-invitation-row hidden text-center" id="request-info-thanks">
						<h4 class="invitation-request-response">Thanks for your interest! We'll be in touch soon.</h4>
		        	</div>       	
		        </div>
	        </section>
	         <!-- /.row -->
		<%= render 'layouts/footer' %>
	</body>
</html>
