<%= render 'layouts/header' %> 
	<div class="row no-margin first-row">
		<div class="container first-row-container">
			<div class="col-xs-12 col-sm-4 no-padding">
				<h1 class="section-header">Deliveries</h1>
			</div>
			<div class="col-xs-12 col-sm-8">
				<div class="row no-margin">
					<div class="col-xs-0 col-sm-3 mobile-menu-holder"></div>
					<div class="col-xs-4 col-sm-3 mobile-menu-holder">
						<%= link_to "Upcoming", user_deliveries_path('next'), class: "drink-preference-view-option #{@next_chosen}", id: "next" %>
					</div>
					<div class="col-xs-4 col-sm-2 mobile-menu-holder no-padding-left">
						<%= link_to "History", user_deliveries_path('history'), class: "drink-preference-view-option #{@history_chosen}", id: "history" %>
					</div>
					<div class="col-xs-4 col-sm-3 mobile-menu-holder">
						<%= link_to "Delivery settings", user_delivery_settings_path, class: "drink-preference-view-option #{@settings_chosen}", id: "settings" %>
					</div>
				</div>
				<% if @delivery_view == "next" %>
					<% if !@next_delivery_date.nil? %>
						<div class="row delivery-extra-info-row">
							<div class="col-xs-4 col-sm-2 text-right no-padding">
								<h5 class="next-delivery-subtext">Next delivery:</h5>
							</div>
							<div class="col-xs-4 col-sm-2 signup-plan-start-holder-parent">
								<div class="row no-margin next-delivery-date-notice text-center">
									<div class="col-xs-12 start-month-holder">
										<h1 class="next-delivery-month"><%= (@next_delivery_date).strftime("%^B") %></h1>
									</div>
									<div class="col-xs-12 start-date-holder">
										<h1 class="next-delivery-date"><%= (@next_delivery_date).strftime("%e") %></h1>
									</div>
									<div class="col-xs-12 start-day-holder hidden-xs">
										<h1 class="next-delivery-day"><%= (@next_delivery_date).strftime("%^A") %></h1>
									</div>
									<div class="col-xs-12 start-day-holder hidden-sm hidden-md hidden-lg hidden-xl">
										<h1 class="next-delivery-day"><%= (@next_delivery_date).strftime("%^a") %></h1>
									</div>
								</div>
							</div>
							<% if @current_review_time %>
								<div class="col-xs-4 delivery-mobile-spacer hidden-sm hidden-md hidden-lg hidden-xl"></div>
								<div class="col-xs-4 col-sm-2 text-right no-padding">
									<h5 class="next-delivery-subtext">
										Review ends:
									</h5>
								</div>
								<div class="col-xs-8 col-sm-5 no-padding-right small-padding">
									<h3 class="next-delivery-text review-ends"><span id="review-ends-on"></span></h3>
								</div>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="row no-margin spinner text-center">
			<div class="spinner-text">
				<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
				<h4>Updating...</h4>
			</div>
		</div>
		<div class="container" id="deliveries-view">
			<% if @delivery_view == "next" %>
				<%= render 'user_delivery_next' %>
			<% else %>
				<%= render 'user_delivery_history' %>
			<% end %>
		</div>
	</div>
<%= render 'layouts/footer' %>