<div class="row no-margin hidden" id="home-choose-styles-direction">
	<div class="col-xs-12 text-center">
		<h3 class="home-prompt-text">
			Choose each style you enjoy drinking
		</h3>
	</div>
</div>
<div class="row no-margin hidden" id="home-styles-to-choose">
	<div class="col-sm-offset-1 col-sm-10">
		<% @drink_styles.each do |style| %>
			<div class="col-xs-6 col-sm-3 col-md-2 padding-5" id="<%= style.id %>-<%= @page_source %>">
				<%= render 'home/style_holder_home', style: style %>
			</div>
		<% end %>
	</div>
</div>
<div class="row no-margin hidden" id="process-styles-disabled-button-row">
	<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
		<%= link_to "Done!", "#", class: "btn btn-default home-disabled-styles-button" %>
	</div>
</div>
<div class="row no-margin hidden" id="process-styles-live-button-row">
	<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
		<%= link_to "Done!", "#", class: "btn btn-success home-process-styles-button" %>
	</div>
</div>