<div class="container">
	<div class="row landing-page-first-row landing-page-value-prop-holder">
		<div class="col-xs-12 text-center">
			<h1 class="first-words">Knird is the easiest way to get rad craft beers and ciders!</h1>
		</div>
	</div>
	<div class="row get-started-and-bouncing-arrow-row">
		<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 text-center">
			<div class="get-started-words-box">
				<h2 class="get-started-words">Find drinks you love</h2>
			</div>
		</div>
		<div class="col-xs-12 text-center">
			<div class="arrow bounce">
				<i class="fa fa-chevron-down fa-5x" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<div class="row no-margin" id="home-choose-styles-direction">
		<div class="col-xs-12 text-center">
			<h3 class="home-prompt-text">
				We'll quickly personalize your view of our inventory....<br>Choose your favorite styles.
			</h3>
		</div>
	</div>
	<div class="row no-margin" id="home-styles-to-choose">
		<div class="col-sm-offset-1 col-sm-10">
			<% @drink_styles.each do |style| %>
				<div class="col-xs-6 col-sm-3 col-md-2 padding-5" id="<%= style.id %>-<%= @page_source %>">
					<%= render 'home/style_holder_home', style: style %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row no-margin show" id="process-styles-disabled-button-row">
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
			<%= link_to "Done!", "#", class: "btn btn-default home-disabled-styles-button" %>
		</div>
	</div>
	<div class="row no-margin hidden" id="process-styles-live-button-row">
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
			<%= link_to "Done!", "#", class: "btn btn-success home-process-styles-button" %>
		</div>
	</div>
</div>
