<div class="container">
<% if @coverage == true && @plan_type == "delivery" && @location != nil %>
	<div class="row zip-response-row">
		<div class="col-xs-12 text-center">
			<h3 class="index-section-header" id="zip-code-response-text">Lucky day, we deliver to <%= @location %>!</h3> 
		</div>
		<div class="col-xs-12 text-center">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
				<%= link_to "Let me see the drinks!", stocks_path, class: "btn btn-success stock-ranking-ready-button" %>
			</div>
		</div>
	</div>
<% elsif @coverage == true && @plan_type == "delivery" && @location == nil %>
	<div class="row zip-response-row">
		<div class="col-xs-12 text-center">
			<h3 class="index-section-header" id="zip-code-response-text">Lucky day, we deliver to you!</h3>
		</div>
		<div class="col-xs-12 text-center">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
				<%= link_to "Let me see the drinks!", stocks_path, class: "btn btn-success stock-ranking-ready-button" %>
			</div>
		</div>
	</div>
<% elsif @coverage == true && @plan_type == "shipping" && @location != nil %>
	<div class="row zip-response-row">
		<div class="col-xs-12 text-center">
			<h3 class="index-section-header" id="zip-code-response-text">Lucky day, we ship to <%= @location %>!</h3>
		</div>
		<div class="col-xs-12 text-center">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
				<%= link_to "Let me see the drinks!", stocks_path, class: "btn btn-success stock-ranking-ready-button" %>
			</div>
		</div>
	</div>
<% elsif @coverage == true && @plan_type == "shipping" && @location == nil %>
	<div class="row zip-response-row">
		<div class="col-xs-12 text-center">
			<h3 class="index-section-header" id="zip-code-response-text">Lucky day, we ship to you!</h3>
		</div>
		<div class="col-xs-12 text-center">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 text-center">
				<%= link_to "Let me see the drinks!", stocks_path, class: "btn btn-success stock-ranking-ready-button" %>
			</div>
		</div>
	</div>
<% elsif @coverage == false &&  @location != nil %>
	<div class="row zip-response-row">
		<div class="col-xs-12 text-center">
			<h3 class="index-section-header" id="zip-code-response-text">We're not yet available in <%= @location %>, but we will be soon!</h3>
		</div>
		<div class="col-xs-12 text-center">
			<h3 class="index-section-header">Be the first to know when we are...</h3> 
		</div>
	</div>
	<div class="row no-margin" id="invitation_request_row">
		
	</div>
<% else %>
	<div class="row zip-response-row">
		<div class="col-xs-12 text-center">
			<h3 class="index-section-header" id="zip-code-response-text">We're not yet available in your area, but we will be soon!</h3>
		</div>
		<div class="col-xs-12 text-center">
			<h3 class="index-section-header">Be the first to know when we are...</h3> 
		</div>
	</div>
	<div class="row no-margin" id="invitation_request_row">
		
	</div>
<% end %>	
	<div class="row no-margin hidden" id="invitation-request-response-row">
		<div class="col-xs-12 text-center">
			<h3 class="index-section-header" id="zip-code-response-text">Got it. We'll be in touch soon!</h3> 
		</div>
	</div>	
</div>