<%= render 'layouts/header_home_temp' %> 
<!-- Page Content -->
    <section class="background-light about_us_section">
		<%= render 'section_about_us_intro' %>
    </section>
    <section class="background-dark about_us_section">
		<%= render 'section_about_us_how' %>
    </section>
    <%= render 'knird_preferred/membership_value_prop' %>
	<%= render 'knird_preferred/membership_overview' %>
	<%= render 'knird_preferred/membership_pda' %>
	<%= render 'knird_preferred/membership_drink_pricing' %>
	<%= render 'knird_preferred/membership_regular_deliveries' %>
<%= render 'layouts/footer_home' %>