<html class="homeImage img-responsive">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body class="index-body">
		<%= render 'layouts/home_header' %> 
		<!-- Page Content -->
	        <header class="banner visible-sm visible-md visible-lg">
	        	<div class="row valueStatement">
		            <div class="col-sm-5 col-md-6"></div>
		            <div class="col-sm-4 col-md-5">
		                <h1 class="brand-font">Knird</h1>
		                <h3 class="brand-subfont">Drink what you love. Love what you drink.</h3>
		            </div>
		            <div class="col-sm-1 col-md-1"></div>
		        	<div class="col-sm-5 col-md-6"></div>
		            <div class="col-sm-3 col-md-3">
		                <%= link_to "Request an invitation", "#request-invitation", class: 'btn btn-default btn-primary formButton-index-Banner' %>
		            </div>
		            <div class="col-sm-3 col-md-3"></div>
		        </div>
	        </header>
	        <header class="banner-xs visible-xs">	
	        	<div class="row valueStatement">
		            <div class="col-xs-4"></div>
		            <div class="col-xs-8">
		                <h1 class="brand-font">Knird</h1>
		                <h3 class="brand-subfont">Drink what you love. Love what you drink.</h3>
		            </div>
		            <div class="col-xs-0"></div>
		        	<div class="col-xs-4"></div>
		            <div class="col-xs-7">
		                <%= link_to "Request an invitation", "#request-invitation", class: 'btn btn-default btn-primary formButton-index-Banner' %>
		            </div>
		            <div class="col-xs-1"></div>
		        </div>
	        </header>
	        <!-- /.row -->	
	        <section class="background-light first-section">
	   			<div class="container">
		   			<div class="row">
		        		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		        		<div class="col-xs-12 col-sm-10 col-md-12">
		        			<h3 class="index-section-header">The Top 10 Best Beers Currently Available in Seattle</h3>
		        		</div>
		        		<div class="col-xs-12 col-sm-6 col-md-6">
			        		<% @best_five.each_with_index do |beer, index| %>
					        	<div class="row">
					        		<div class="col-xs-2 col-sm-1 col-md-1 no-padding">
					        			<h5 class="index-beer-rating text-center"><%= index + 1 %></h5>
					        		</div>
					        		<div class="col-xs-10 col-sm-11 col-md-11 no-padding">
					        			<div class="row no-padding">
											<div class="col-xs-12">
												<h5 class="tile-header beer-tile-header-full-page"><%= beer.brewery.short_brewery_name %> <%= beer.beer_name %></h5>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-4 no-padding-right">
												<% if !beer.beer_type_id.nil? %>
													<h5 class="tile-subheader beer-info no-overflow"><%= beer.beer_type.beer_type_name %></h5>
												<% else %>
													<h5 class="tile-subheader beer-info">Style unknown</h5>
												<% end %>
											</div>
											<div class="col-xs-3 col-sm-3 col-md-3 index-abv-div text-center">
												<h6 class="tile-subheader beer-info"><%= beer.beer_abv %>% ABV</h6>
											</div>
											<div class="col-xs-3 col-sm-3 col-md-3 no-padding-left text-center">
												<% if !beer.beer_ibu.nil? %>
													<h6 class="tile-subheader beer-info"><%= beer.beer_ibu %> IBUs</h6>
												<% else %>
													<h6 class="tile-subheader beer-info">IBUs N/A</h6>
												<% end %>
											</div>	
											<div class="col-xs-12 col-sm-12 col-md-12">
												<h6 class="tile-subheader beer-info">Available at:</h6>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 index-locations-list-container">
												<% @current_beer_location_ids = BeerLocation.where(beer_id: beer.id, beer_is_current: "yes").pluck(:location_id) %>
								        		<% @current_beer_locations_all = Location.where(id: @current_beer_location_ids) %>
								        		<% @current_beer_locations = @current_beer_locations_all.first(3) %>
								        		<ul class="index-locations-list">
												<% @current_beer_locations.each do |location| %>
													<% @this_location = Location.where(id: location)[0] %>
													<li>
														<div class="row img-responsive location-logo-image-small" alt="Responsive image" style="background-image: url(<%= @this_location.logo_small %>)">
															<p class="index-location-name-by-image"><%= @this_location.short_name %></p>
														</div>
													</li>
												<% end %>
												</ul>
											</div>
										</div>	
					        		</div>
					        	</div>
				        	<% end %>
				        </div>
				        <div class="col-xs-12 col-sm-6 col-md-6">
			        		<% @next_five.each_with_index do |beer, index| %>
					        	<div class="row">
					        		<div class="col-xs-2 col-sm-1 col-md-1 no-padding">
					        			<h5 class="index-beer-rating text-center"><%= index + 6 %></h5>
					        		</div>
					        		<div class="col-xs-10 col-sm-11 col-md-11 no-padding">
					        			<div class="row no-padding">
											<div class="col-xs-12">
												<h5 class="tile-header beer-tile-header-full-page"><%= beer.brewery.short_brewery_name %> <%= beer.beer_name %></h5>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-4 no-padding-right">
												<% if !beer.beer_type_id.nil? %>
													<h5 class="tile-subheader beer-info no-overflow"><%= beer.beer_type.beer_type_name %></h5>
												<% else %>
													<h5 class="tile-subheader beer-info">Style unknown</h5>
												<% end %>
											</div>
											<div class="col-xs-3 col-sm-3 col-md-3 index-abv-div text-center">
												<h6 class="tile-subheader beer-info"><%= beer.beer_abv %>% ABV</h6>
											</div>
											<div class="col-xs-3 col-sm-3 col-md-3 no-padding-left text-center">
												<% if !beer.beer_ibu.nil? %>
													<h6 class="tile-subheader beer-info"><%= beer.beer_ibu %> IBUs</h6>
												<% else %>
													<h6 class="tile-subheader beer-info">IBUs N/A</h6>
												<% end %>
											</div>	
											<div class="col-xs-12 col-sm-12 col-md-12">
												<h6 class="tile-subheader beer-info">Available at:</h6>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 index-locations-list-container">
												<% @current_beer_location_ids = BeerLocation.where(beer_id: beer.id, beer_is_current: "yes").pluck(:location_id) %>
								        		<% @current_beer_locations_all = Location.where(id: @current_beer_location_ids) %>
								        		<% @current_beer_locations = @current_beer_locations_all.first(3) %>
								        		<ul class="index-locations-list">
												<% @current_beer_locations.each do |location| %>
													<% @this_location = Location.where(id: location)[0] %>
													<li>
														<div class="row img-responsive location-logo-image-small" alt="Responsive image" style="background-image: url(<%= @this_location.logo_small %>)">
															<p class="index-location-name-by-image"><%= @this_location.short_name %></p>
														</div>
													</li>
												<% end %>
												</ul>
											</div>
										</div>	
					        		</div>
					        	</div>
				        	<% end %>
				        </div>
		        	</div>
		        	<div class="row">
		        		<div class="col-xs-1 col-sm-3 col-md-4"></div>
		        		<div class="col-xs-10 col-sm-6 col-md-4">
		        			<%= link_to "Find more great beers in Seattle", "#request-invitation", class: 'btn btn-default btn-primary formButton-index-Banner2' %>
		        		</div>
		        		<div class="col-xs-1 col-sm-3 col-md-4"></div>		
		        	</div>
		        </div>
	        </section>
	        <!-- /.row -->	
	        <section class="background-dark value-prop-section">
	   			<div class="container">
		   			<div class="row">
		        		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		        		<div class="col-xs-12 col-sm-10 col-md-12">
		        			<h3 class="index-section-header">Knird is the simplest, fastest way to find locally available craft beer and ciders you will love.</h3> 
		        		</div>
		        	</div>
		        	<div class="row value-prop-row">
		        		<div class="col-sm-4">
		        			<div class="icon-background">
		        				<h3><i class="fa fa-heart"></i></h3>
		        			</div>
		        			<h4>Make it personal.</h4> 
		        			<h5 class="valueDesc">Get personalized recommendations for drinks you'll love.</h5>
		        		</div>
		        		<div class="col-sm-4">
		        			<div class="icon-background">
		        				<h3><i class="fa fa-thumbs-up"></i></h3>
		        			</div>
		        			<h4>Make it easy.</h4>
		        			<h5 class="valueDesc">Effortlessly find drinks you love at locally accessible retailers.</h5>
		        		</div>
		        		<div class="col-sm-4">
		        			<div class="icon-background">
		        				<h3><i class="fa fa-smile-o"></i></h3>
		        			</div>
		        			<h4>Make it convenient.</h4> 
		        			<h5 class="valueDesc">Track drinks of interest and get notified when they become locally available.</h5>
		        		</div>		
		        	</div>
		        </div>
	        </section>
	        <!-- /.row -->
	        <section class="background-light request-invitation-section">
	   			<div class="container">
		   			<div class="row">
		        		<div class="col-xs-0 col-sm-1 col-md-0"></div>
		        		<div class="col-xs-12 col-sm-10 col-md-12">
		        			<h3 class="index-section-header">We're currently in a closed beta, but request an invitation to check it out!</h3> 
		        		</div>
		        	</div>
		        	<div class="row request-invitation-row show" id="request-invitation">
		        		<%= form_for @request_invitation, :url => {:controller => "home", :action => "create"}, :remote => true do |invite| %>
							<div class="col-sm-2 col-xs-0"></div>
							<div class="col-xs-2 text-right no-padding-right">
								<%= label :email, 'Email address' %>
							</div>
							<div class="col-sm-4 col-xs-10">
								<%= invite.email_field :email, :class => "form-control", required: true, placeholder: "Add your email address here" %>
							</div>
							<div class="col-sm-2 col-xs-12">
								<%= invite.submit "Submit", class: "btn btn-default btn-success formButton-invitation-request" %>
							</div>
						<% end %>
		        	</div>
		        	<div class="row request-invitation-row hidden text-center" id="request-invitation-thanks">
						<h4 class="invitation-request-response">Thanks for your interest! We'll be in touch soon.</h4>
		        	</div>       	
		        </div>
	        </section>
		<%= render 'layouts/footer' %>
	</body>
</html>
