<%= render 'layouts/header_home' %> 
<!-- Page Content -->
    <section class="background-light about_us_section">
		<%= render 'section_about_us_intro' %>
    </section>
    <section class="background-light">
		<%= render 'section_hot_drinks' %>
    </section>
    <section class="background-dark about_us_section">
		<%= render 'section_about_us_how' %>
    </section>
<%= render 'layouts/footer_home' %>