<html class="homeImage img-responsive">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body class="index-body">
		<%= render 'layouts/header_home_temp' %> 
		<!-- Page Content -->
	        <header class="banner">
	        	<div class="row valueStatement">
	        		<div class="container">
			            <div class="col-xs-0 col-sm-1"></div>
			            <div class="col-xs-12 col-sm-6 no-padding-right">
			                <h1 class="brand-subfont"><span class="homepage-emphasis">Craft</span> beer and cider.<br> 
			                	<span class="homepage-extra-spacing"><span class="homepage-emphasis">Curated</span> just for you.</span><br> 
			                	<span class="homepage-emphasis">Delivered</span> to your door. 
			                </h1>
			                <h3 class="brand-subfont"><span class="homepage-emphasis">100% enjoyment</span>. 0% hassle.</h3>
			            </div>
			    	</div>
		        </div>
	        </header>
	        <!-- /.row -->
	        <div id="home-scroller-anchor"></div>
	        <section class="background-light about-us-section">
	   			<%= render 'about_us_section' %>
	        </section>
	        <!-- /.row -->	
	        <section class="background-dark value-prop-section">
	   			<%= render 'value_prop_section' %>
	        </section>
	        <!-- /.row -->
	        <section class="background-light how-it-works-section">
	   			<%= render 'how_it_works_section' %>
	        </section>
	        <!-- /.row -->
	        <section class="background-dark what-you-get-section">
	   			<%= render 'what_you_get_section' %>
	        </section>
	       	 <!-- /.row -->
	        <!-- /.row -->
	       	<section class="background-light homepage-last-row">
				<%= render 'plan_section_deliveries' %>
	        </section>
	        <!-- /.row -->
	    <div id="explorer_sample" class="modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3>Sample delivery for an <span class="homepage-emphasis">Explorer</span> beer drinker <span class="homepage-emphasis">*</span></h3>
			</div>
			<div class="modal-body">
				<div class="row no-margin">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table class="table table-striped">
							    <tr>
							      <th>Maker</th>
							      <th>Drink</th>
							      <th>Drink type</th>
							      <th>Format</th>
							      <th>Price</th>
							      <th class="text-center">Quantity</th>   
							    </tr>
							    <tr>
							        <td>Crux</td>
							        <td>Pilz</td>
							        <td>American Pilsner</td>
							        <td>12oz can</td>  
							        <td>$2.22</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Melvin</td>
							        <td>Killer Bees</td>
							        <td>Blonde / Golden Ale</td>
							        <td>12oz can</td>  
							        <td>$1.94</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Avery</td>
							        <td>Ellie's Brown</td>
							        <td>American Brown Ale</td>
							        <td>12oz can</td>  
							        <td>$1.87</td>
							        <td class="text-center">1</td>
							    </tr>
 								<tr>
							        <td>Ecliptic</td>
							        <td>Quasar</td>
							        <td>American Pale Ale</td>
							        <td>22oz bottle</td>  
							        <td>$5.82</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Fremont</td>
							        <td>Lush</td>
							        <td>American IPA</td>
							        <td>12oz can</td>  
							        <td>$1.94</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Reuben's</td>
							        <td>Hopped Off The Press!</td>
							        <td>American IPA</td>
							        <td>12oz can</td>  
							        <td>$2.11</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Alpine (CA)</td>
							        <td>Pure Hoppiness</td>
							        <td>Imperial / Double IPA</td>
							        <td>12oz bottle</td>  
							        <td>$3.07</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Golden Road</td>
							        <td>Wolf Among Weeds</td>
							        <td>Imperial / Double IPA</td>
							        <td>16oz can</td>  
							        <td>$3.56</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Evil Twin</td>
							        <td>Citra Sunshine Slacker</td>
							        <td>India Session Ale (ISA)</td>
							        <td>16oz can</td>  
							        <td>$2.78</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Oskar Blues</td>
							        <td>Death By Coconut</td>
							        <td>Porter</td>
							        <td>12oz can</td>  
							        <td>$2.22</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
									<td></td>
							        <td></td>
							        <td></td>
							        <td></td>  
							        <td><b>$27.53</b></td>
							        <td class="text-center"><b>10</b></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-xs-12">
						<h5 class="sample-disclamier-text"><span class="homepage-emphasis">* Note</span>: This is a sample 
							delivery to illustrate pricing and variety. The contents of a real delivery will be chosen based 
							entirely on <i>your</i> personal taste preferences.</h5>
					</div>
				</div>
			</div> 
		</div>
		<div id="geek_sample" class="modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3>Sample delivery for a <span class="homepage-emphasis">Geek</span> beer drinker <span class="homepage-emphasis">*</span></h3>
			</div>
			<div class="modal-body">
				<div class="row no-margin">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table class="table table-striped">
							    <tr>
							      <th>Maker</th>
							      <th>Drink</th>
							      <th>Drink type</th>
							      <th>Format</th>
							      <th>Price</th>
							      <th class="text-center">Quantity</th>   
							    </tr>
							    <tr>
							        <td>Melvin</td>
							        <td>Hubert</td>
							        <td>American Pale Ale</td>
							        <td>12oz can</td>  
							        <td>$2.22</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Block 15</td>
							        <td>Sticky Hands</td>
							        <td>American IPA</td>
							        <td>16oz can</td>  
							        <td>$4.07</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Stillwater</td>
							        <td>SuperHop</td>
							        <td>American IPA</td>
							        <td>16oz can</td>  
							        <td>$3.81</td>
							        <td class="text-center">1</td>
							    </tr>
 								<tr>
							        <td>Fort George</td>
							        <td>Overdub</td>
							        <td>India Session Ale (ISA)</td>
							        <td>16oz can</td>  
							        <td>$3.01</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Reuben's</td>
							        <td>Roasted Rye IPA</td>
							        <td>Rye IPA</td>
							        <td>12oz can</td>  
							        <td>$1.77</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Knee Deep</td>
							        <td>Stoutella</td>
							        <td>American Stout</td>
							        <td>16oz can</td>  
							        <td>$3.30</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Fremont</td>
							        <td>Dark Star (2017)</td>
							        <td>Imperial Oatmeal Stout</td>
							        <td>12oz can</td>  
							        <td>$2.37</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Fremont</td>
							        <td>Bourbon Barrel Aged Dark Star (2016)</td>
							        <td>Barrel Aged Imperial Stout</td>
							        <td>22oz bottle</td>  
							        <td>$20.69</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Anderson Valley</td>
							        <td>Briney Melon Gose</td>
							        <td>Gose</td>
							        <td>12oz can</td>  
							        <td>$1.66</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Breakside</td>
							        <td>Passionfruit Sour Ale</td>
							        <td>Sour</td>
							        <td>22oz bottle</td>  
							        <td>$6.23</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
									<td></td>
							        <td></td>
							        <td></td>
							        <td></td>  
							        <td><b>$49.13</b></td>
							        <td class="text-center"><b>10</b></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-xs-12">
						<h5 class="sample-disclamier-text"><span class="homepage-emphasis">* Note</span>: This is a sample 
							delivery to illustrate pricing and variety. The contents of a real delivery will be chosen based 
							entirely on <i>your</i> personal taste preferences.</h5>
					</div>
				</div>
			</div> 
		</div>
		<div id="connoisseur_sample" class="modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3>Sample delivery for a <span class="homepage-emphasis">Connoisseur</span> beer drinker <span class="homepage-emphasis">*</span></h3>
			</div>
			<div class="modal-body">
				<div class="row no-margin">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table class="table table-striped">
							    <tr>
							      <th>Maker</th>
							      <th>Drink</th>
							      <th>Drink type</th>
							      <th>Format</th>
							      <th>Price</th>
							      <th class="text-center">Quantity</th>   
							    </tr>
							    <tr>
							        <td>Golden Road</td>
							        <td>Wolf Pup</td>
							        <td>India Session Ale (ISA)</td>
							        <td>12oz can</td>  
							        <td>$2.28</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Firestone Walker</td>
							        <td>Luponic Distortion No. 004</td>
							        <td>American IPA</td>
							        <td>12oz can</td>  
							        <td>$1.94</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Melvin</td>
							        <td>Asterisk</td>
							        <td>Imperial / Double IPA</td>
							        <td>12oz can</td>  
							        <td>$3.30</td>
							        <td class="text-center">1</td>
							    </tr>
 								<tr>
							        <td>Against the Grain</td>
							        <td>Citra Ass Down</td>
							        <td>Imperial / Double IPA</td>
							        <td>12oz can</td>  
							        <td>$5.36</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Reuben's</td>
							        <td>Gose</td>
							        <td>Gose</td>
							        <td>12oz can</td>  
							        <td>$2.37</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Destihl</td>
							        <td>Synchopathic</td>
							        <td>Sour</td>
							        <td>12oz can</td>  
							        <td>$2.63</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>de Garde</td>
							        <td>Bu Weisse</td>
							        <td>Berliner Weisse</td>
							        <td>22oz bottle</td>  
							        <td>$6.23</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>TRVE</td>
							        <td>Buried sun</td>
							        <td>Saison</td>
							        <td>12oz bottle</td>  
							        <td>$8.91</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
							        <td>Block 15</td>
							        <td>Kriek, A Three Summers Cuvée (2017)</td>
							        <td>Flanders Oud Bruin</td>
							        <td>16oz bottle</td>  
							        <td>$3.04</td>
							        <td class="text-center">1</td>
							    </tr>
							    <tr>
							        <td>Evil Twin</td>
							        <td>Michigan Maple Jesus</td>
							        <td>Barrel Aged Imperial Stout</td>
							        <td>12oz bottle</td>  
							        <td>$11.39</td>
							        <td class="text-center">1</td>
							    </tr>
								<tr>
									<td></td>
							        <td></td>
							        <td></td>
							        <td></td>  
							        <td><b>$57.45</b></td>
							        <td class="text-center"><b>10</b></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-xs-12">
						<h5 class="sample-disclamier-text"><span class="homepage-emphasis">* Note</span>: This is a sample 
							delivery to illustrate pricing and variety. The contents of a real delivery will be chosen based 
							entirely on <i>your</i> personal taste preferences.</h5>
					</div>
				</div>
			</div> 
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>