<html class="homeImage img-responsive">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	</head>
	<body class="index-body">
		<%= render 'layouts/header_home_temp' %> 
		<!-- Page Content -->
	        <header class="banner">
	        	<div class="row valueStatement">
	        		<div class="container">
			            <div class="col-xs-0 col-sm-1"></div>
			            <div class="col-xs-12 col-sm-6 no-padding-right">
			                <h1 class="brand-subfont"><span class="homepage-emphasis">Craft</span> beer and cider.<br> 
			                	<span class="homepage-extra-spacing"><span class="homepage-emphasis">Curated</span> just for you.</span><br> 
			                	<span class="homepage-emphasis">Delivered</span> to your door. 
			                </h1>
			                <h3 class="brand-subfont"><span class="homepage-emphasis">100% enjoyment</span>. 0% hassle.</h3>
			            </div>
			            <div class="col-xs-0 col-sm-1"></div>
			        	<div class="col-xs-12 col-sm-5">
			        		<div id="homepage-get-started-box">
								<% if @view == "original" %>
									<%= render 'zip_search_box' %>
								<% end %>
			        		</div>
			        	</div>

			    	</div>
		        </div>
	        </header>
	        <!-- /.row -->	
	        <div id="home-scroller-anchor"></div>
	        <section class="background-dark value-prop-section">
	   			<%= render 'value_prop_section' %>
	        </section>
	        <!-- /.row -->
	        <section class="background-light how-it-works-section">
	   			<%= render 'how_it_works_section' %>
	        </section>
	       	 <!-- /.row -->
	       	<section class="background-dark homepage-last-row">
				<%= render 'membership_plan_section' %>
	        </section>
	        <!-- /.row -->
		<%= render 'layouts/footer' %>
	</body>
</html>