<%= render 'layouts/header_home_temp' %> 
<!-- Page Content -->
    <section class="background-light intro-section">
		<%= render 'intro_section' %>
    </section>
    <!-- /.row -->	
    <section class="background-dark value-prop-section">
		<%= render 'value_prop_section' %>
    </section>
    <!-- /.row -->
    <section class="background-light how-it-works-section">
		<%= render 'how_it_works_section2' %>
    </section>
    <!-- /.row -->
   	<section class="background-dark homepage-last-row" id="membership_section">
		<%= render 'plan_section_deliveries' %>
    </section>
    <!-- /.row -->
    <section class="background-light how-it-works-section">
		<%= render 'prices_section' %>
    </section>
<%= render 'layouts/footer' %>