<% @need_user_ratings.each do |d| %>
		<div class="row each-beer-ratings-page">
			<div class="col-xs-1"></div>
			<div class="col-xs-11">
				<div class="row">
					<div class="col-xs-8">
						<h4 class="beer-name dark-gray-text"><%= d.beer.beer_name %></h4>
						<% if d.beer.tag_one == "new release" %>
							<h5 class="special-tag-text special-info"><i class="fa fa-tag"></i> <%= d.beer.tag_one %></h5>
						<% elsif d.beer.tag_one == "limited release" %>
							<h5 class="special-tag-text special-info"><i class="fa fa-tag"></i> <%= d.beer.tag_one %></h5>
						<% elsif d.beer.tag_one == "rare" %>
							<h5 class="special-tag-text special-info"><i class="fa fa-tag"></i> <%= d.beer.tag_one %></h5>
						<% elsif d.beer.tag_one == "seasonal" %>
							<h5 class="special-tag-text special-info"><i class="fa fa-tag"></i> <%= d.beer.tag_one %></h5>
						<% end %>
						<h5 class="beer-type light-gray-text">
							<% if d.beer.beer_type =~ /^[aeiou]/i %>An <% else %> A <% end %>
							<%= d.beer.beer_type %> by <span class="dark-gray-text"><%= d.beer.brewery.brewery_name %></span></h5>
						<div class="row no-padding beer-info">
							<div class="col-xs-2 no-padding">
								<h5 class="light-gray-text"><%= d.beer.beer_abv %>% ABV</h5>
							</div>
							<div class="col-xs-2 no-padding">
								<% if d.beer.beer_ibu == 0 %>
									<h5 class="light-gray-text">IBUs n/a</h5>
								<% else %>
									<h5 class="light-gray-text"><%= d.beer.beer_ibu %> IBUs</h5>
								<% end %>
							</div>
							<div class="col-xs-2 more-info show">
								<h6 class="light-gray-text"><i class="fa fa-plus-square-o"></i> more</h6>
							</div>
							<div class="col-xs-2 less-info hidden">
								<h6 class="light-gray-text"><i class="fa fa-minus-square-o"></i> less</h6>
							</div>
						</div>
						<div class="row descriptor-row hidden">
							<div class="col-xs-3">
								<h6 class="dark-gray-text">Common descriptors:</h6>
							</div>
							<div class="col-xs-9 descriptor-text-container">
								<% if !d.beer.descriptors.nil? %>
									<% @descriptor_list = d.beer.descriptors.split(',') %>
									<% @descriptor_list.each do |descriptor| %>
										<h6 class="descriptor-text"><%= descriptor %></h6>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
					<div class="col-xs-4 beer-location-info">
						<h5 class="locations dark-gray-text half-bottom-margin">@ <%= d.drank_at %></h5>
						<h6 class="light-gray-text  half-top-margin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= (d.created_at).strftime("%B %d, %Y at %l:%M %p") %></h6>
					</div>
				</div>
				<div class="row ratings-row">
					<div class="col-xs-4 beer-rating-info-1">
							<% if d.beer.beer_rating > 4.25 %>
								<h4 class="dark-orange-text star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></h4>
							<% elsif d.beer.beer_rating > 3.75 %>
								<h4 class="dark-orange-text star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></h4>
							<% elsif d.beer.beer_rating > 3.25 %>
								<h4 class="dark-orange-text star-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i></h4>
							<% end %>
						<h6 class="beer-rating light-gray-text">(<%= d.beer.beer_rating %>--<%= number_with_delimiter(d.beer.number_ratings, :delimiter => ',') %> ratings)</h6>
					</div>
					<div class="col-xs-4 no-padding beer-rating-info-1"></div>
					<div class="col-xs-4 drink-button-holder-rl no-padding">
						<%= link_to "rate!", "#", class: "btn btn-warning rate-button", data: {toggle: "modal", target: "#rate_beer"} %>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<div id="rate_beer" class="modal">
			<%= render( partial: 'layouts/rate_beer') %>
		</div>
	<% end %>