<%= render 'layouts/header' %> 
<div class="container">
	<div class="row rating-tile">
		<div class="row no-margin">
			<div class="col-sm-4 col-xs-12">
				<div class="col-xs-4 brewery-image-holder">	
						<% if !@this_beer.brewery.image.nil? %>
							<div class="brewery-image-holder-full text-center">
								<p>show image</p>
							</div>	
						<% else %>
							<div class="brewery-image-holder-empty text-center">
								<h1><i class="fa fa-beer"></i></h1>
							</div>
						<% end %>
					</div>
					<div class="col-xs-8 no-padding-left">
						<h5 class="tile-header beer-tile-header"><%= @this_beer.brewery.short_brewery_name %> <%= @this_beer.beer_name %></h5>
						<h6 class="tile-subheader">@ <%= @location.short_name %></h6>
					</div>			
			</div>
		</div>
		<div class="row no-margin">
			<%= form_for @user_beer_rating, :url => {:controller => "ratings", :action => "create"} do |rate| %>
			<div class="col-sm-4 col-xs-12 rating-holder text-center no-padding-right">
				<div id="visible-rating">
					<h1>NR</h1>
				</div>
				<%= rate.text_field :user_beer_rating, id: 'rater', type: 'text',
                 data: {'slider-id' => 'rating-slider',
                 		'slider-min' => '-0.5',
                        'slider-max' => '10',
                        'slider-step' => '0.5',
                        'slider-value' => '-0.5',
                        'slider-orientation' => 'horizontal' } %> 
			</div>
			<div class="col-sm-4 col-xs-12">
				<h5>Common descriptors for this beer:</h5>
				<% if @this_descriptors.blank? %>
					<h5 class="need-text">Looks like you're the first to describe this beer. Hooray!</h5>
				<% else %>
					<ul class="token-input-list-facebook_rating">
					<% @this_descriptors.each do |descriptor| %>
						<li class="token-input-token-facebook_rating">
							<p><%= descriptor %></p>
							<span class="token-input-delete-token-facebook_rating">+</span>
						</li>
					<% end %>
					</ul>
				<% end %>
				<%= rate.fields_for :beer do |beer| %> 
			    	<%= beer.text_field :descriptor_list_tokens, data: { load: @beer_descriptors }, :class => "form-control" %>
			    <% end %>
				<%= rate.text_field :comment, :class => "form-control", placeholder: "Additional comments" %>
			</div>
			
			<%= rate.submit "Save", class: "btn btn-default btn-success formButton" %>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>