<%= render 'layouts/header' %> 
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-xs-0"></div>
		<div class="col-sm-6 col-xs-12 rating-tile">
			<div class="row">
				<div class="col-sm-3 col-xs-4 brewery-image-holder">	
					<div class="brewery-image-holder-full-page">	
						<% if !@this_beer.brewery.image.nil? %>
							<div class="brewery-image-holder-full text-center">
								<img class="img-responsive center-block" alt="Responsive image" src="<%= @this_beer.brewery.image %>">
							</div>	
						<% else %>
							<div class="brewery-image-holder-empty-full-page text-center">
								<h1><i class="fa fa-beer"></i></h1>
							</div>
						<% end %>
					</div>
				</div>
				<div class="col-sm-9 col-xs-8 no-padding-left">
					<h5 class="tile-header beer-tile-header"><%= @this_beer.brewery.short_brewery_name %> <%= @this_beer.beer_name %></h5>
					<% if @location != "0" %>
						<h6 class="tile-subheader">@ <%= @location.short_name %></h6>
					<% end %>
				</div>			
			</div>
			<%= form_for @user_beer_rating, :url => {:controller => "ratings", :action => "create"} do |rate| %>
			<%= rate.hidden_field :user_id, :value => @user.id %>
			<%= rate.hidden_field :rated_on, :value => @time %>
			<%= rate.hidden_field :beer_id, :value => @this_beer.id %>
			<%= rate.hidden_field :projected_rating, :value => @our_best_guess %>
			<%= rate.hidden_field :current_descriptors, :value => "" %>
			<%= rate.hidden_field :beer_type_id, :value => @this_beer.beer_type_id %>
			<div class="row rating-top-row">
				<div class="col-sm-1 col-xs-0"></div>
				<div class="col-sm-10 col-xs-12 rating-holder text-center">
					<p class="common-description-heading text-left">Rate drink 0 - 10 or leave it unrated ("NR"):</p>
					<div id="visible-rating">
						<h1>NR</h1>
					</div>
					<%= rate.text_field :user_beer_rating, id: 'rater', type: 'text',
	                 data: {'slider-id' => 'rating-slider',
	                 		'slider-min' => '-0.5',
	                        'slider-max' => '10',
	                        'slider-step' => '0.5',
	                        'slider-value' => '-0.5',
	                        'slider-orientation' => 'horizontal' } %> 
				</div>
			</div>
			<% if @location != "0" %>
				<%= rate.hidden_field :drank_at, :value => @location.short_name %>
			<% else %>
				<%= rate.hidden_field :drank_at, :value => "not at location" %>
			<% end %>
			<div class="row">
				<div class="col-sm-1 col-xs-0"></div>
				<div class="col-sm-10 col-xs-12 descriptor-holder text-left">
					<p class="common-description-heading">Add keyword descriptors to describe drink:</p>
					<% if !@this_descriptors.blank? %>
						<ul class="token-input-list-facebook_rating">
						<% @this_descriptors.each do |descriptor| %>
							<li class="token-input-token-facebook_rating">
								<p><%= descriptor %></p>
								<span class="token-input-delete-token-facebook_rating">+</span>
							</li>
						<% end %>
						</ul>
					<% end %>
					<%= rate.fields_for :beer do |beer| %> 
				    	<%= beer.text_field :descriptor_list_tokens, data: { load: @beer_descriptors }, :class => "form-control" %>
				    <% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-xs-0"></div>
				<div class="col-sm-10 col-xs-12 comment-holder">
					<p class="common-description-heading">Add extra thoughts here if you'd like:</p>
					<%= rate.text_area :comment, :class => "form-control", placeholder: "Additional comments (optional)" %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-xs-0"></div>
				<div class="col-sm-10 col-xs-12 comment-holder">
					<%= rate.submit "Save", class: "btn btn-default btn-success formButton" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>