<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Ratings</h1>
		</div>
		<div class="col-xs-12 col-sm-7">
			<div class="row">
				<div class="col-xs-4">
					<%= link_to "My ratings", recent_user_ratings_path, class: "drink-preference-view-option current" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Other's ratings", recent_friend_ratings_path, class: "drink-preference-view-option" %>
				</div>
				<div class="col-xs-4">
					<%= link_to "Unrated drinks", unrated_drinks_path, class: "drink-preference-view-option" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<%= render 'recent_user_ratings' %>
	</div>
</div>
<%= render 'layouts/footer' %>