<div class="col-xs-12">
	<h3 class="retailer-page-title-mobile"><%= @retailer.short_name %>'s Current Draft List <span class="last-updated">(last updated: <%= (@last_draft_board_update.updated_at).strftime("%B %e, %Y @ %l:%M %p") %>)</span></h3>
</div>
<% @current_draft_board.each do	|drink| %>
	<div class="col-sm-6 visible-sm visible-md visible-lg drink-container">
		<% if @display_height == "both" %>
			<div class="row no-margin display-with-two-extra">
		<% elsif @display_height == "one" %>
			<div class="row no-margin display-with-one-extra">
		<% else %>
			<div class="row no-margin display-with-no-extra">
		<% end %>
			<div class="col-sm-2 no-padding">
				<div class="draft-board-column-tap-number tap-number-variable-web text-center"><%= drink.tap_number %></div>
				<% if !drink.beer.brewery.image.nil? %>
					<div class="draft-brewery-image-holder-variable-web">
						<img class="img-responsive center-block" alt="Responsive image" src="<%= drink.beer.brewery.image %>">
					</div>		
				<% else %>
					<div>
						<h1><i class="fa fa-beer"></i></h1>
					</div>
				<% end %>
				<% if !drink.beer.brewery.brewery_state_long.nil? %>
					<h6 class="tile-subheader drink-origin origin-variable-web"><i class="fa fa-map-marker"> <%= drink.beer.brewery.brewery_state_long %></i></h6>
				<% elsif !drink.beer.brewery.brewery_state_short.nil? %>
					<h6 class="tile-subheader drink-origin origin-variable-web"><i class="fa fa-map-marker"> <%= drink.beer.brewery.brewery_state_short %></i></h6>
				<% else %>
					<h6 class="tile-subheader drink-origin origin-variable-web"></h6>
				<% end %>
			</div>
			<div class="col-sm-10 no-padding">
				<div class="row no-margin">
					<div class="col-sm-12">
						<% if drink.beer.collab == true %>
							<% @collab_brewery_name = Beer.collab_brewery_name(drink.beer.id) %>
							<h5 class="drink-header-draft-column column-header-variable-web"><%= @collab_brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.beer_name+"</span>").html_safe %></h5>
						<% else %>
							<h5 class="drink-header-draft-column column-header-variable-web"><%= drink.beer.brewery.short_brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.beer_name+"</span>").html_safe %></h5>
						<% end %>
					</div>
					<div class="col-sm-12">
						<% if !drink.beer.beer_type_id.nil? %>
							<h5 class="draft-subheader no-overflow"><%= drink.beer.beer_type.beer_type_name %></h5>
						<% else %>
							<h5 class="draft-subheader">Style unknown</h5>
						<% end %>
					</div>
					<div class="col-sm-4 col-md-3 no-padding-right">
						<% if !drink.beer.beer_abv.nil? %>
							<h6 class="draft-subheader"><%= drink.beer.beer_abv %>% ABV</h6>
						<% else %>
							<h6 class="draft-subheader">ABV N/A</h6>
						<% end %>
					</div>
					<% if !drink.beer.beer_ibu.nil? %>
						<div class="col-sm-4 col-md-3 no-padding-left text-center">
							<h6 class="draft-subheader ibu-div ibu-variable-web"><%= drink.beer.beer_ibu %> IBUs</h6>
						</div>
					<% end %>
				</div>
				<div class="row no-margin">
					<% @draft_details = DraftDetail.where(beer_location_id: drink.id).order(:drink_size) %>
					<% @draft_details.each do |details| %>
						<% if details.drink_size > 0 && details.drink_size <= 5 %>
							<div class="<%= @column_class %> draft-size-holder-variable-web">
								<img class="img-responsive draft-column-icons icon-taster-variable-web" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/taster-small.png" />
								<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>
								<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= details.drink_size %> oz.</p>					
							</div>
						<% end %>
						<% if details.drink_size > 5 && details.drink_size <= 12 %>
							<div class="<%= @column_class %> draft-size-holder-variable-web">
								<img class="img-responsive draft-column-icons icon-tulip-variable-web" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/tulip.png" />
								<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>
								<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= details.drink_size %> oz.</p>								
							</div>
						<% end %>
						<% if details.drink_size > 12 && details.drink_size <= 22 %>
							<div class="<%= @column_class %> draft-size-holder-variable-web">
								<img class="img-responsive draft-column-icons icon-nonic-variable-web" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/pint.png" />
								<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>
								<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= details.drink_size %> oz.</p>			
							</div>
						<% end %>
						<% if details.drink_size == 32 %>
							<div class="<%= @column_class %> draft-size-holder-variable-web">
								<img class="img-responsive draft-column-icons icon-half-growler-variable-web" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/growler32.png" />
								<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>
								<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= details.drink_size %> oz.</p>	
							</div>
						<% end %>
						<% if details.drink_size == 64 %>
							<div class="<%= @column_class %> draft-size-holder-variable-web">
								<img class="img-responsive draft-column-icons icon-growler-variable-web" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/growler64.png" />
								<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>
								<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= details.drink_size %> oz.</p>	
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
			<% if @web_board_preferences.show_descriptors == true %>
				<% if !drink.beer.top_descriptor_list.blank? %>
					<div class="col-xs-12">
						<% @top_descriptors = drink.beer.top_descriptor_list.to_sentence %>
						<h5 class="next-up-drink-info">This drink is described as <span class="column-board-descriptors"><%= @top_descriptors %></span>.</h5>
					</div>
				<% end %>
			<% end %>
			<% if @web_board_preferences.show_up_next == true %>
				<% if @web_board_preferences.show_next_type == "specific" %>
					<% @next_up = BeerLocation.where(draft_board_id: drink.draft_board_id, tap_number: drink.tap_number, beer_is_current: "hold")[0] %>
					<% if !@next_up.blank? %>
						<% if @next_up.beer.collab == true %>
							<% @brewery_name = Beer.collab_brewery_name(@next_up.beer.id) %>
						<% else %>
							<% @brewery_name = @next_up.beer.brewery.short_brewery_name %>
						<% end %>
						<div class="col-xs-12">
							<% if !@next_up.beer.beer_type_id.nil? && !@next_up.beer.top_descriptor_list.blank? %>
								<% @next_up_top_descriptors = drink.beer.top_descriptor_list.to_sentence %>
								<h5 class="next-up-drink-info no-overflow show-next-up">Next up: <%= @brewery_name %> <%= @next_up.beer.beer_name %>--a <%= @next_up_top_descriptors %> <%= @next_up.beer.beer_type.beer_type_short_name %>.</h5>
							<% elsif !@next_up.beer.beer_type_id.nil? %>
								<h5 class="next-up-drink-info no-overflow show-next-up">Next up: <%= @brewery_name %> <%= @next_up.beer.beer_name %> <%= @next_up.beer.beer_type.beer_type_short_name %></h5>
							<% else %>
								<h5 class="next-up-drink-info no-overflow show-next-up">Next up: <%= @brewery_name %> <%= @next_up.beer.beer_name %></h5>
							<% end %>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<hr/>
	</div>
	<div class="col-xs-12 visible-xs">
		<div class="row no-margin">
			<div class="col-xs-3 no-padding">
				<div class="draft-board-column-tap-number tap-number-variable-web text-center"><%= drink.tap_number %></div>
				<% if !drink.beer.brewery.image.nil? %>
					<div class="draft-brewery-image-holder-variable-web">
						<img class="img-responsive center-block" alt="Responsive image" src="<%= drink.beer.brewery.image %>">
					</div>		
				<% else %>
					<div>
						<h1><i class="fa fa-beer"></i></h1>
					</div>
				<% end %>
				<% if !drink.beer.brewery.brewery_state_long.nil? %>
					<h6 class="tile-subheader drink-origin origin-variable-web"><i class="fa fa-map-marker"> <%= drink.beer.brewery.brewery_state_long %></i></h6>
				<% elsif !drink.beer.brewery.brewery_state_short.nil? %>
					<h6 class="tile-subheader drink-origin origin-variable-web"><i class="fa fa-map-marker"> <%= drink.beer.brewery.brewery_state_short %></i></h6>
				<% else %>
					<h6 class="tile-subheader drink-origin origin-variable-web"></h6>
				<% end %>
			</div>
			<div class="col-xs-9 no-padding">
				<div class="row no-margin">
					<div class="col-xs-12">
						<% if drink.beer.collab == true %>
							<% @collab_brewery_name = Beer.collab_brewery_name(drink.beer.id) %>
							<h5 class="drink-header-draft-column-mobile"><%= @collab_brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.beer_name+"</span>").html_safe %></h5>
						<% else %>
							<h5 class="drink-header-draft-column-mobile"><%= drink.beer.brewery.short_brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.beer_name+"</span>").html_safe %></h5>
						<% end %>
					</div>
					<div class="col-xs-12">
						<% if !drink.beer.beer_type_id.nil? %>
							<h5 class="draft-subheader no-overflow"><%= drink.beer.beer_type.beer_type_name %></h5>
						<% else %>
							<h5 class="draft-subheader">Style unknown</h5>
						<% end %>
					</div>
					<div class="col-xs-6 no-padding-right">
						<% if !drink.beer.beer_abv.nil? %>
							<h6 class="draft-subheader"><%= drink.beer.beer_abv %>% ABV</h6>
						<% else %>
							<h6 class="draft-subheader">ABV N/A</h6>
						<% end %>
					</div>
					<% if !drink.beer.beer_ibu.nil? %>
						<div class="col-xs-6 no-padding-left text-center">
							<h6 class="draft-subheader ibu-div ibu-variable-web"><%= drink.beer.beer_ibu %> IBUs</h6>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="row no-margin">
			<% @draft_details = DraftDetail.where(beer_location_id: drink.id).order(:drink_size) %>
			<% @draft_details.each do |details| %>
				<% if details.drink_size > 0 && details.drink_size <= 5 %>
					<div class="<%= @column_class_xs %> draft-size-holder-variable-web">
						<img class="img-responsive draft-column-icons icon-taster-variable-web" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/taster-small.png" />
						<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>
						<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= details.drink_size %> oz.</p>					
					</div>
				<% end %>
				<% if details.drink_size > 5 && details.drink_size <= 12 %>
					<div class="<%= @column_class_xs %> draft-size-holder-variable-web">
						<img class="img-responsive draft-column-icons icon-tulip-variable-web" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/tulip.png" />
						<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>
						<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= details.drink_size %> oz.</p>								
					</div>
				<% end %>
				<% if details.drink_size > 12 && details.drink_size <= 22 %>
					<div class="<%= @column_class_xs %> draft-size-holder-variable-web">
						<img class="img-responsive draft-column-icons icon-nonic-variable-web" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/pint.png" />
						<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>
						<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= details.drink_size %> oz.</p>			
					</div>
				<% end %>
				<% if details.drink_size == 32 %>
					<div class="<%= @column_class_xs %> draft-size-holder-variable-web">
						<img class="img-responsive draft-column-icons icon-half-growler-variable-web" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/growler32.png" />							
						<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>
						<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= details.drink_size %> oz.</p>	
					</div>
				<% end %>
				<% if details.drink_size == 64 %>
					<div class="<%= @column_class_xs %> draft-size-holder-variable-web">
						<img class="img-responsive draft-column-icons icon-growler-variable-web" alt="Responsive image" src="https://s3-us-west-2.amazonaws.com/knird/icons/growler64.png" />
						<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= number_to_currency(details.drink_cost, :unit => "$") %></p>
						<p class="draft-column-size-and-cost size-and-cost-variable-web"><%= details.drink_size %> oz.</p>	
					</div>
				<% end %>
			<% end %>
		</div>
		<% if @web_board_preferences.show_descriptors == true %>
				<% if !drink.beer.top_descriptor_list.blank? %>
					<div class="col-xs-12">
						<% @top_descriptors = drink.beer.top_descriptor_list.to_sentence %>
						<% if !drink.beer.short_beer_name.nil? %>
							<h5 class="next-up-drink-info"><span class="column-board-descriptors"><%= drink.beer.short_beer_name %></span> is described as <span class="column-board-descriptors"><%= @top_descriptors %></span>.</h5>
						<% else %>
							<h5 class="next-up-drink-info"><span class="column-board-descriptors"><%= drink.beer.beer_name %></span> is described as <span class="column-board-descriptors"><%= @top_descriptors %></span>.</h5>
						<% end %>
					</div>
				<% end %>
			<% end %>
			<% if @web_board_preferences.show_descriptors == true %>
			<% if !drink.beer.top_descriptor_list.blank? %>
				<div class="row no-margin">
					<div class="col-xs-12 no-padding">
						<% @top_descriptors = drink.beer.top_descriptor_list.to_sentence %>
						<% if !drink.beer.short_beer_name.nil? %>
							<h5 class="next-up-drink-info"><span class="column-board-descriptors"><%= drink.beer.short_beer_name %></span> is described as <span class="column-board-descriptors"><%= @top_descriptors %></span>.</h5>
						<% else %>
							<h5 class="next-up-drink-info"><span class="column-board-descriptors"><%= drink.beer.beer_name %></span> is described as <span class="column-board-descriptors"><%= @top_descriptors %></span>.</h5>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
		<% if @web_board_preferences.show_up_next == true %>
				<% if @web_board_preferences.show_next_type == "specific" %>
					<% @next_up = BeerLocation.where(draft_board_id: drink.draft_board_id, tap_number: drink.tap_number, beer_is_current: "hold")[0] %>
					<% if !@next_up.blank? %>
						<% if @next_up.beer.collab == true %>
							<% @brewery_name = Beer.collab_brewery_name(@next_up.beer.id) %>
						<% else %>
							<% @brewery_name = @next_up.beer.brewery.short_brewery_name %>
						<% end %>
						<div class="row no-margin">
							<div class="col-xs-12 no-padding">
								<% if !@next_up.beer.beer_type_id.nil? && !@next_up.beer.top_descriptor_list.blank? %>
									<% @next_up_top_descriptors = drink.beer.top_descriptor_list.to_sentence %>
									<h5 class="next-up-drink-info no-overflow show-next-up">Next up: <%= @brewery_name %> <%= @next_up.beer.beer_name %>--a <%= @next_up_top_descriptors %> <%= @next_up.beer.beer_type.beer_type_short_name %>.</h5>
								<% elsif !@next_up.beer.beer_type_id.nil? %>
									<h5 class="next-up-drink-info no-overflow show-next-up">Next up: <%= @brewery_name %> <%= @next_up.beer.beer_name %> <%= @next_up.beer.beer_type.beer_type_short_name %></h5>
								<% else %>
									<h5 class="next-up-drink-info no-overflow show-next-up">Next up: <%= @brewery_name %> <%= @next_up.beer.beer_name %></h5>
								<% end %>
							</div>
						</div>
					<% end %>
				<% end %>
			<% end %>
	<hr/>
	</div>
<% end %>
<% if @web_board_preferences.show_up_next == true %>
	<% if @web_board_preferences.show_next_type == "general" %>
		<div class="row no-margin ">
			<div class="col-xs-12">
				<h5 class="next-up-drink-info">On tap soon: <%= @general_next_drinks.to_sentence %></h5>
			</div>
		</div>
	<% end %>
<% end %>
