<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<th class="text-center">Tap</th>
			<th>Maker <span class="draft-board-drink-name">Drink Name</span></th>
			<th>Style</th>
			<th class="text-center">ABV</th>
			<th class="text-center">IBU</th>
			<% if @taster_size >= 1 %>
				<th class="text-center">Taster</th>
			<% end %>
			<% if @tulip_size >= 1 %>
				<th class="text-center">Tulip</th>
			<% end %>
			<% if @pint_size >= 1 %>
				<th class="text-center">Pint</th>
			<% end %>
			<% if @half_growler_size >= 1 %>
				<th class="text-center">1/2 G</th>
			<% end %>
			<% if @growler_size >= 1 %>
				<th class="text-center">Growler</th>
			<% end %>
		</thead>
		<tbody>
		<% @current_draft_board.each do	|drink| %>		
			<tr>
				<td class="draft-board-row-tap text-center"><%= drink.tap_number %></td>
				<% if drink.beer.collab == true %>
					<% @collab_brewery_name = Beer.collab_brewery_name(drink.beer.id) %>
					<td class="draft-board-row-name-internal"><%= @collab_brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.beer_name+"</span>").html_safe %></td>
				<% else %>
					<td class="draft-board-row-name-internal table-condensed"><%= drink.beer.brewery.short_brewery_name %> <%= ("<span class=draft-board-drink-name>"+drink.beer.beer_name+"</span>").html_safe %></td>
				<% end %>
				<% if !drink.beer.beer_type_id.nil? %>
					<td class="draft-board-row-style"><%= drink.beer.beer_type.beer_type_short_name %></td>
				<% else %>
					<td class="draft-board-row-style">N/A</td>
				<% end %>
				<% if !drink.beer.beer_abv.nil? %>
					<td class="draft-board-row-abv text-center"><%= drink.beer.beer_abv %></td>
				<% else %>
					<td class="draft-board-row-abv text-center">N/A</td>
				<% end %>
				<% if !drink.beer.beer_ibu.nil? %>
					<td class="draft-board-row-ibu text-center"><%= drink.beer.beer_ibu %></td>
				<% else %>
					<td class="draft-board-row-ibu text-center">N/A</td>
				<% end %>
				<% @taster = "N/A" %>
				<% @tulip = "N/A" %>
				<% @pint = "N/A" %>
				<% @half_growler = "N/A" %>
				<% @growler = "N/A" %>
				<% @draft_details = DraftDetail.where(beer_location_id: drink.id) %>
				<% @draft_details.each do |details| %>
					<% if details.drink_size > 0 && details.drink_size <= 5 %>
						<% @taster = "$"+details.drink_cost.to_s %>
					<% end %>
					<% if details.drink_size > 5 && details.drink_size <= 12 %>
						<% @tulip = "$"+details.drink_cost.to_s %>
					<% end %>
					<% if details.drink_size > 12 && details.drink_size <= 22 %>
						<% @pint = "$"+details.drink_cost.to_s %>
					<% end %>
					<% if details.drink_size == 32 %>
						<% @half_growler = "$"+details.drink_cost.to_s %>
					<% end %>
					<% if details.drink_size == 64 %>
						<% @growler = "$"+details.drink_cost.to_s %>
					<% end %>
				<% end %>
				<% if @taster_size >= 1 %>
					<td class="draft-board-row-taster text-center"><%= @taster %></td>
				<% end %>
				<% if @tulip_size >= 1 %>
					<td class="draft-board-row-tulip text-center"><%= @tulip %></td>
				<% end %>
				<% if @pint_size >= 1 %>
					<td class="draft-board-row-pint text-center"><%= @pint %></td>
				<% end %>
				<% if @half_growler_size >= 1 %>
					<td class="draft-board-row-growler text-center"><%= @half_growler %></td>
				<% end %>
				<% if @growler_size >= 1 %>
					<td class="draft-board-row-growler text-center"><%= @growler %></td>
				<% end %>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
