<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://drinkknird.com/bootstrap.min.js"></script>	
	<link href="https://drinkknird.com/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="https://drinkknird.com/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://drinkknird.com/draft.css" rel="stylesheet" type="text/css"> 
</head>
<body>
	<% if @board_type == "column-web" %>
		<div class="row no-margin" id="draft-board">
			<%= render 'column_board_web' %>
		</div>
	<% elsif @board_type == "column-internal" %>
		<div class="row no-margin" id="draft-board">
			<%= render 'column_board_internal' %>
		</div>
	<% elsif @board_type == "row-web" %>
		<div class="row no-margin" id="draft-board">
			<%= render 'row_board_web' %>
		</div>
	<% else %>
		<div class="row no-margin" id="draft-board">
			<%= render 'row_board_internal' %>	
		</div>
	<% end %>
	<% if !@g_a_next_drinks.blank? %>
			<div class="row no-margin ">
				<div class="col-xs-12">
					<h5 class="next-up-drink-info">Going on tap soon: 
						<% @g_a_next_drinks.each do |next_drink| %>
							<% if next_drink == @g_a_next_drinks.last %>
								<% if !next_drink.beer.beer_type_id.nil? %>
									<% if next_drink.beer.collab == true %>
										<% @collab_brewery_name = Beer.collab_brewery_name(next_drink.beer.id) %>
										<%= @collab_brewery_name %> <%= next_drink.beer.beer_name %> <%= next_drink.beer.beer_type.beer_type_short_name %>
									<% else %>
										<%= next_drink.beer.brewery.short_brewery_name %> <%= next_drink.beer.beer_name %> <%= next_drink.beer.beer_type.beer_type_short_name %>
									<% end %>
								<% else %>
									<% if next_drink.beer.collab == true %>
										<% @collab_brewery_name = Beer.collab_brewery_name(next_drink.beer.id) %>
										<%= @collab_brewery_name %> <%= next_drink.beer.beer_name %>
									<% else %>
										<%= next_drink.beer.brewery.short_brewery_name %> <%= next_drink.beer.beer_name %>
									<% end %>
								<% end %>
							<% else %>
								<% if !next_drink.beer.beer_type_id.nil? %>
									<% if next_drink.beer.collab == true %>
										<% @collab_brewery_name = Beer.collab_brewery_name(next_drink.beer.id) %>
										<%= @collab_brewery_name %> <%= next_drink.beer.beer_name %> <%= next_drink.beer.beer_type.beer_type_short_name %>, 
									<% else %>
										<%= next_drink.beer.brewery.short_brewery_name %> <%= next_drink.beer.beer_name %> <%= next_drink.beer.beer_type.beer_type_short_name %>, 
									<% end %>
								<% else %>
									<% if next_drink.beer.collab == true %>
										<% @collab_brewery_name = Beer.collab_brewery_name(next_drink.beer.id) %>
										<%= @collab_brewery_name %> <%= next_drink.beer.beer_name %>, 
									<% else %>
										<%= next_drink.beer.brewery.short_brewery_name %> <%= next_drink.beer.beer_name %>, 
									<% end %>
								<% end %>
							<% end %>
						<% end %>
					</h5>
				</div>
			</div>
		<% end %>
	<script type="text/javascript" src="https://drinkknird.com/iframeResizer.contentWindow.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		    var drink_container_height = $(".drink-container").first().height();
		    $(".drink-container").css("max-height", drink_container_height);
		});
	</script>
</body>
