<% (6..@max_drink_number).each do |i| %>
  <div class="col-xs-2 no-padding number-box-holder-parent">
	  <% if @drinks_per_week == i %>
	  	<div class="number-box-holder weekly-drinks chosen" id="<%= i %>-<%= @current_page %>">
	 		<p><%= i %></p>
	 	</div>
	  <% else %>
	  	<div class="number-box-holder weekly-drinks" id="<%= i %>-<%= @current_page %>">
	 		<p><%= i %></p>
	 	</div>
	 <% end %>
  </div>    
<% end %>