<%= render 'layouts/header' %>
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Ad Hoc Orders</h1>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-2">
					<%= link_to "Order Status", order_status_path, class: "drink-preference-view-option" %>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-2">
					<%= link_to "Edit Order", edit_order_path, class: "drink-preference-view-option current" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" id="user-delivery-preferences-holder">
    <%= render 'order_form' %>
</div>
<%= render 'layouts/footer' %>