<%= render 'layouts/header' %>
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Order Drinks</h1>
		</div>
	</div>
</div>
<div class="container" id="user-delivery-preferences-holder">
    <%= form_for @order, :url => {:action => "process_order"}, :remote => true do |f| %>
            <%= f.hidden_field :delivery_date %>
			<%= f.hidden_field :drink_option_id, :value => @delivery_preferences.drink_option_id %>
			<%= f.hidden_field :number_of_drinks %>
			<%= f.hidden_field :number_of_large_drinks %>
            <%- flash.each do |name, msg| -%>
                <%= content_tag :div, msg, class: "alert alert-warning text-center", :id => "flash_gift_#{name}" if msg.is_a?(String) %>
            <%- end -%>
    <div class="row no-margin estimate-holder" id="scroller-anchor">
		<div class="row no-margin" id="delivery-info-row">
			<div class="col-sm-8">
				<div class="row no-margin estimated-delivery-price-holder-signup" id="delivery-estimates-for-customer">
					<h4 class="estimated-delivery-price-header delivery-estimate-information <%= @estimate_visible_status %>">
						Change preferences below to update these delivery estimates
					</h4>
					<div class="col-xs-3 preference-estimate-holder delivery-estimate-information <%= @estimate_visible_status %>">
						<div class="delivery-settings-info-box drinks">
							<p>total drinks</p>
							<h4 class="delivery-preference-prompt"><span id="total_drinks"></span></h4>
						</div>	
					</div>
					<div class="col-xs-2 preference-estimate-holder delivery-estimate-information <%= @estimate_visible_status %>">
						<div class="delivery-settings-info-box small">
							<p>small</p>
							<h4 class="delivery-preference-prompt"><span class="preference-estimate-signs hidden"><<br>=</span>
								<span id="small_drink_number"></span>
							</h4>
						</div>	
					</div>
					<div class="col-xs-2 preference-estimate-holder delivery-estimate-information <%= @estimate_visible_status %>">
						<div class="delivery-settings-info-box large">
							<p>large</p>
							<h4 class="delivery-preference-prompt"><span class="preference-estimate-signs hidden"><<br>=</span>
								<span id="large_drink_number"></span>
							</h4>
						</div>	
					</div>
					<div class="col-xs-4 preference-estimate-holder no-padding-right delivery-estimate-information <%= @estimate_visible_status %>">
						<div class="delivery-settings-info-box total-price">
							<p>total price <sup  data-toggle="tooltip" title="You always have final say on each delivery, so you'll never be surprised by the actual cost.">?</sup></p>
							<h4 class="delivery-preference-prompt" id="order_price_estimate"></h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<input type="button" data-toggle="modal" data-target="#confirm-drink-order"  class="btn btn-success user-info-next-button" id="place-order-button" value="Place Order"></input>
			</div>	
		</div>
	</div>
	<hr />
	<div class="row no-margin" id="second-delivery-row">
        <div class="col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col-sm-6 no-padding">
                    <h3 class="delivery-preference-prompt">Choose your delivery Date</h3>
                </div>
                <div class="col-sm-6 no-padding-right" id="order_large_format_drinks">
                    <%= render 'delivery_date_options'%>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row no-margin full-top-margin">
        <div class="col-xs-10 col-sm-4 no-padding">
            <h3 class="delivery-preference-prompt">Current drink preference: <span class="delivery-preference-prompt" id="order-drink-type-text"><%= @drink_type_preference %></span></h3>
        </div>
        <div class="col-xs-2 col-sm-1 no-padding" id="order-change-drink-type">
            <a href="#" id="order-change-drink-type-text">Change</a>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-xs-offset-3 col-sm-offset-1 col-xs-6 no-padding-right hidden" id="order-drink-type">
            <div class="row preferences-drink-category-row-holder half-top-margin">
                <%= render 'delivery_settings/drink_category_choice' %>
            </div>
        </div>
    </div>
    <hr />
    <div class="row no-margin">
        <div class="col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col-sm-6 no-padding">
                    <h3 class="delivery-preference-prompt">How many drinks would you like to order?</h3>
                </div>
                <div class="col-sm-6 no-padding-right">
                    <%= render 'orders/number_of_drinks_choice'%>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row no-margin">
        <div class="col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col-sm-6 no-padding">
                    <h3 class="delivery-preference-prompt">What is the <u>max number</u> of large format (22oz) drinks would you like?</h3>
                </div>
                <div class="col-sm-6 no-padding-right" id="order_large_format_drinks">
                    <%= render 'signup/large_format_per_week_choice'%>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row no-margin">
        <div class="col-xs-12 no-padding">
            <div class="row no-margin">
                <div class="col-sm-6 no-padding">
                    <h3 class="delivery-preference-prompt">Additional requests</h3>
                </div>
                <div class="col-sm-6 delivery-additional-request">
                    <%= f.text_area :additional_requests, {class: 'form-control', placeholder: 'For example, "All IPAs" or "I want to improve my cellar selection"'}  %>
                </div>
            </div>
        </div>
    </div>
	<% end %>
</div>
<div id="confirm-drink-order" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Confirm your order</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin">
			<div class="col-xs-12">
				<h4 class="auto-confirm-confirmation-text">
					Are you sure you want to place an order for <b><span id="confirmed_total_drinks"></span> 
					drinks</b> to be delivered on <b><span id="confirmed_order_delivery_date"></span></b>? 
				</h4>
				<h4 class="auto-confirm-confirmation-text">
					This will kickstart the curation process; you'll receive an email shortly with drink details.
				</h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-sm-6 remove-button-holder">
				<%= link_to "Yep, do it!", "#", :id => 'submit-drink-order', :class => 'change-auto-renew-confirmation text-center btn btn-success remove-drink-button' %>		
			</div>
			<div class="col-sm-6 remove-button-holder">
				<%= link_to "Wait!", "#", :class => 'btn btn-default wait-button', :data => {:dismiss=>"modal"} %>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>