<% if @user_delivery_preference.beer_chosen && @user_delivery_preference.cider_chosen && @user_delivery_preference.wine_chosen %>
	<div class="row no-margin first-row-signup">
		<div class="col-xs-4 col-md-offset-3 col-md-2 no-padding signup-guide-column-holder <%= @beer_chosen %>">
			<%= link_to "beer", drink_profile_beer_styles_path, class: "guide-header #{@beer_chosen}" %>
			<h5 class="pipe-separator">&#124;</h5>
		</div>
		<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @cider_chosen %>">
			<% if current_user.getting_started_step >= 3 %>
				<%= link_to "cider", drink_profile_cider_styles_path, class: "guide-header #{@cider_chosen}" %>
			<% else %>
				<h5 class="guide-header">cider</h5>
			<% end %>
			<h5 class="pipe-separator">&#124;</h5>
		</div>
		<div class="col-xs-4 col-md-2 no-padding signup-guide-column-holder <%= @wine_chosen %>">
			<% if current_user.getting_started_step >= 5 %>
				<%= link_to "wine", drink_profile_wine_styles_path, class: "guide-header #{@wine_chosen}" %>
			<% else %>
				<h5 class="guide-header">wine</h5>
			<% end %>
		</div>
	</div>
<% elsif @user_delivery_preference.beer_chosen && @user_delivery_preference.cider_chosen %>
	<div class="row no-margin first-row-signup">
		<div class="col-xs-6 col-md-offset-4 col-md-2 no-padding signup-guide-column-holder <%= @beer_chosen %>">
			<%= link_to "beer", drink_profile_beer_styles_path, class: "guide-header #{@beer_chosen}" %>
			<h5 class="pipe-separator">&#124;</h5>
		</div>
		<div class="col-xs-6 col-md-2 no-padding signup-guide-column-holder <%= @cider_chosen %>">
			<% if current_user.getting_started_step >= 3 %>
				<%= link_to "cider", drink_profile_cider_styles_path, class: "guide-header #{@cider_chosen}" %>
			<% else %>
				<h5 class="guide-header">cider</h5>
			<% end %>
		</div>
	</div>
<% elsif @user_delivery_preference.beer_chosen && @user_delivery_preference.wine_chosen %>
	<div class="row no-margin first-row-signup">
		<div class="col-xs-6 col-md-offset-4 col-md-2 no-padding signup-guide-column-holder <%= @beer_chosen %>">
			<%= link_to "beer", drink_profile_beer_styles_path, class: "guide-header #{@beer_chosen}" %>
			<h5 class="pipe-separator">&#124;</h5>
		</div>
		<div class="col-xs-6 col-md-2 no-padding signup-guide-column-holder <%= @wine_chosen %>">
			<% if current_user.getting_started_step >= 5 %>
				<%= link_to "wine", drink_profile_wine_styles_path, class: "guide-header #{@wine_chosen}" %>
			<% else %>
				<h5 class="guide-header">wine</h5>
			<% end %>
		</div>
	</div>
<% elsif @user_delivery_preference.cider_chosen && @user_delivery_preference.wine_chosen %>
	<div class="row no-margin first-row-signup">
		<div class="col-xs-6 col-md-offset-4 col-md-2 no-padding signup-guide-column-holder <%= @cider_chosen %>">
			<%= link_to "cider", drink_profile_cider_styles_path, class: "guide-header #{@cider_chosen}" %>
			<h5 class="pipe-separator">&#124;</h5>
		</div>
		<div class="col-xs-6 col-md-2 no-padding signup-guide-column-holder <%= @wine_chosen %>">
			<% if current_user.getting_started_step >= 5 %>
				<%= link_to "wine", drink_profile_wine_styles_path, class: "guide-header #{@wine_chosen}" %>
			<% else %>
				<h5 class="guide-header">wine</h5>
			<% end %>
		</div>
	</div>
<% elsif @user_delivery_preference.beer_chosen %>
	<div class="row no-margin first-row-signup">
		<div class="col-xs-12 no-padding signup-guide-column-holder <%= @beer_chosen %>">
			<%= link_to "beer", drink_profile_beer_styles_path, class: "guide-header #{@beer_chosen}" %>
		</div>
	</div>
<% elsif @user_delivery_preference.cider_chosen %>
	<div class="row no-margin first-row-signup">
		<div class="col-xs-12 no-padding signup-guide-column-holder <%= @cider_chosen %>">
			<%= link_to "cider", drink_profile_cider_styles_path, class: "guide-header #{@cider_chosen}" %>
		</div>
	</div>
<% elsif @user_delivery_preference.wine_chosen %>
	<div class="row no-margin first-row-signup">
		<div class="col-xs-12 no-padding signup-guide-column-holder <%= @wine_chosen %>">
			<%= link_to "wine", drink_profile_wine_styles_path, class: "guide-header #{@wine_chosen}" %>
		</div>
	</div>
<% end %>
<div class="row no-margin">
	<% if @category == "beer" %>
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center no-padding">
			<%= render 'create_drink_profile/drink_profile_subguide_beer' %>
		</div>
	<% end %>
	<% if @category == "cider" %>
		<div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center no-padding">
			<%= render 'create_drink_profile/drink_profile_subguide_cider' %>
		</div>
	<% end %>
</div>