<div class="col-xs-4 no-padding signup-guide-column-holder <%= @journey_chosen %>">
	<%= link_to "journey", drink_profile_wine_journey_path, class: "guide-header #{@journey_chosen}" %>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-xs-4 no-padding signup-guide-column-holder <%= @numbers_chosen %>">
	<% if current_user.getting_started_step >= 12 %>
		<%= link_to "numbers", drink_profile_wine_numbers_path, class: "guide-header #{@numbers_chosen}" %>
	<% else %>
		<h5 class="guide-header">numbers</h5>
	<% end %>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-xs-4 no-padding signup-guide-column-holder <%= @styles_chosen %>">
	<% if current_user.getting_started_step >= 13 %>
		<%= link_to "styles", drink_profile_wine_styles_path, class: "guide-header #{@styles_chosen}" %>
	<% else %>
		<h5 class="guide-header">styles</h5>
	<% end %>
</div>