<%= render 'layouts/header_create_drink_profile' %>
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row no-margin first-row-signup">
		<div class="row no-margin">
			<div class="col-xs-4 col-md-offset-3 col-md-1 no-padding signup-guide-column-holder <%= @types_chosen %>">
				<%= link_to "types", drink_profile_categories_path, class: "guide-header #{@types_chosen}" %>
				<div class="fa fa-chevron-right"></div>
			</div>
			<div class="col-xs-4 col-md-1 no-padding signup-guide-column-holder <%= @journey_chosen %>">
				<% if 5 >= 4 %>
					<%= link_to "journey", drink_profile_journey_path, class: "guide-header #{@journey_chosen}" %>
				<% else %>
					<h5 class="guide-header">journey</h5>
				<% end %>
				<div class="fa fa-chevron-right"></div>
			</div>
			<div class="col-xs-4 col-md-1 no-padding signup-guide-column-holder <%= @numbers_chosen %>">
				<% if 9 >= 8 %>
					<%= link_to "numbers", drink_profile_drinks_per_week_path, class: "guide-header #{@numbers_chosen}" %>
				<% else %>
					<h5 class="guide-header">numbers</h5>
				<% end %>
				<div class="fa fa-chevron-right"></div>
			</div>
			<div class="col-xs-4 col-md-1 no-padding signup-guide-column-holder <%= @likes_chosen %>">
				<% if 9 >= 8 %>
					<%= link_to "likes", drink_profile_beer_likes_path, class: "guide-header #{@likes_chosen}" %>
				<% else %>
					<h5 class="guide-header">likes</h5>
				<% end %>
				<div class="fa fa-chevron-right"></div>
			</div>
			<div class="col-xs-4 col-md-1 no-padding signup-guide-column-holder <%= @dislikes_chosen %>">
				<% if 9 >= 8 %>
					<%= link_to "dislikes", drink_profile_beer_dislikes_path, class: "guide-header #{@dislikes_chosen}" %>
				<% else %>
					<h5 class="guide-header">dislikes</h5>
				<% end %>
				<div class="fa fa-chevron-right"></div>
			</div>
			<div class="col-xs-4 col-md-1 no-padding signup-guide-column-holder <%= @priorities_chosen %>">
				<% if 9 >= 8 %>
					<%= link_to "choices", drink_profile_priorities_path, class: "guide-header #{@priorities_chosen}" %>
				<% else %>
					<h5 class="guide-header">choices</h5>
				<% end %>
				<div class="fa fa-chevron-right"></div>
			</div>
			<div class="col-xs-4 col-md-1 no-padding signup-guide-column-holder <%= @estimates_chosen %>">
				<% if 9 >= 8 %>
					<%= link_to "estimates", drink_profile_estimates_path, class: "guide-header #{@estimates_chosen}" %>
				<% else %>
					<h5 class="guide-header">estimates</h5>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container" id="user-drinks-per-week-signup">
			<div class="col-xs-12 text-center">
				<h2 class="signup-question">Set your cost parameters.</h2>
				<h5 class="signup-question-detail">You can update this info in your settings at any time.</h5>
			</div>
		</div>
	</div>
	<div class="row no-margin">
		<div class="container">
			<% if @beer_chosen == true %>
				<div class="row no-margin">
	            	<div class="col-xs-12 col-sm-offset-1 col-sm-10">
	                    <h3 class="delivery-numbers-prompt">Based on your profile, your <u>average cost per beer</u> would be <span class="price-estimate-highlight">~ <%= number_to_currency(@beer_estimate, precision: 2) %></span>. How do you feel about that?</h3>
	                </div>
	                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10">
	                    <div class="col-xs-12 col-sm-4 no-padding">
							<div class="drink-text-holder <%= @beer_option_lower %>" id="beer-response-lower">
								<h4 class="drink-cost-text">Ouch! I'd prefer it to be less.</h4>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 no-padding">
							<div class="drink-text-holder <%= @beer_option_middle %>" id="beer-response-middle">
								<h4 class="drink-cost-text">I'm good&mdash;seems about right.</h4>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 no-padding">
							<div class="drink-text-holder <%= @beer_option_higher %>" id="beer-response-higher">
								<h4 class="drink-cost-text">Cool. I'd pay even more for awesomeness.</h4>
							</div>
						</div>
	                </div>
	            </div>
	           <div class="row no-margin">
	                <div class="col-xs-12 col-sm-offset-1 col-sm-9">
	                    <h3 class="delivery-numbers-prompt">Indicate the most you'd be comfortable paying for a limited/rare/seasonal beer. <span class="reminder-text">(Also, remember you always get to review each delivery. No suprises!)</span></h3>
	                </div>
	                <div class="col-xs-10 col-sm-offset-1 col-sm-9 text-center" id="beer-rare-cost-max-holder">
	                    <b>$5 </b><input id="beer-rare-cost-max"
							type="text"  
							class="span2" 
							value="" 
							data-slider-min="5" 
							data-slider-max="50" 
							data-slider-step="5" 
							data-slider-value="5"
							data-slider-orientation="horizontal" /><b> $50</b>
	                </div>
	                <div class="col-xs-2 col-sm-1 no-padding text-center">
	                	<h3 class="" id="chosen-beer-rare-cost-max"></h3>
	                </div>
			    </div>
		    	<% if @cider_chosen == true %>
		    		<hr />
		    	<% end %>
		    <% end %>
		    <% if @user_preferences.cider_chosen == true %>
				<div class="row no-margin">
	            	<div class="col-xs-12 col-sm-offset-1 col-sm-10">
	                    <h3 class="delivery-numbers-prompt">Based on your profile, your <u>average cost per cider</u> would be <span class="price-estimate-highlight">~ <%= number_to_currency(@cider_estimate, precision: 2) %></span>. How do you feel about that?</h3>
	                </div>
	                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10">
	                    <div class="col-xs-12 col-sm-4 no-padding">
							<div class="drink-text-holder <%= @cider_option_lower %>" id="cider-response-lower">
								<h4 class="drink-cost-text">Ouch! I'd prefer it to be less.</h4>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 no-padding">
							<div class="drink-text-holder <%= @cider_option_middle %>" id="cider-response-middle">
								<h4 class="drink-cost-text">I'm good&mdash;seems about right.</h4>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 no-padding">
							<div class="drink-text-holder <%= @cider_option_higher %>" id="cider-response-higher">
								<h4 class="drink-cost-text">Cool. I'd pay even more for awesomeness.</h4>
							</div>
						</div>
	                </div>
	           </div>
	           <div class="row no-margin">
	                <div class="col-xs-12 col-sm-offset-1 col-sm-9">
	                    <h3 class="delivery-numbers-prompt">Indicate the most you'd be comfortable paying for a limited/rare/seasonal cider. <span class="reminder-text">(Also, remember you always get to review each delivery. No suprises!)</span></h3>
	                </div>
	                <div class="col-xs-10 col-sm-offset-1 col-sm-9 text-center" id="cider-rare-cost-max-holder">
	                    <b>$5 </b><input id="cider-rare-cost-max"
							type="text"  
							class="span2" 
							value="" 
							data-slider-min="5" 
							data-slider-max="50" 
							data-slider-step="5" 
							data-slider-value="5"
							data-slider-orientation="horizontal" /><b> $50</b>
	                </div>
	                <div class="col-xs-2 col-sm-1 no-padding text-center">
	                	<h3 class="" id="chosen-cider-rare-cost-max"></h3>
	                </div>
			    </div>
		    <% end %>
		</div>
	</div>
	<div class="row">
		<div class="container" id="user-drinks-per-week-signup">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
				<div class="form-group">
					<div class="col-xs-12 text-center">
						<% if @turn_on_next_button == true %>
							<%= link_to "Next", choose_signup_path, class: "btn btn-success drink-profile-estimates-next-step", id: "drink-profile-drink-estimates-next" %>
						<% else %>
							<%= link_to "Next", choose_signup_path, disabled: true, class: "btn btn-default drink-profile-estimates-next-step", id: "drink-profile-drink-estimates-next" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render 'layouts/footer' %>