<%= render 'layouts/header' %> 
<div class="container">
	<div class="row no-margin">
		<div class="col-xs-12 no-padding text-center">
			<h2 class="order-thank-you-header">
				Thank you for your order!
			</h2>
		</div>
	</div>
	<% if !@order_prep.blank? %>
		<% if !@order_prep.delivery_zone_id.nil? %>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding text-center">
					<h2 class="order-thank-you-header">
						We'll see you <%= @order_prep.delivery_start_time.strftime("%A, %b %e") %> 
						(<%= @order_prep.delivery_start_time.strftime("%-l%P") %> &mdash; <%= @order_prep.delivery_end_time.strftime("%-l%P") %>).
					</h2>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 text-center">
					<%= link_to "Review your upcoming delivery", user_orders_path, class: "btn btn-success thank-you-next-button" %>
				</div>
			</div>
		<% elsif !@order_prep.shipping_zone_id.nil? %>
			<div class="row no-margin">
				<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4 text-center">
					<%= link_to "Review your upcoming shipment", user_orders_path, class: "btn btn-success thank-you-next-button" %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<%= render 'layouts/footer' %>