<%= form_for [:admin, @brewery] do |f| %>
	<%= f.hidden_field :form_type, :value => "edit" %>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :brewery_name, :class => "form-control", placeholder: "Brewery name" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :short_brewery_name, :class => "form-control", placeholder: "Short brewery name" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.label :collab, "Any collaboration drinks?" %>
		<%= f.check_box :collab %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.label :vetted, "Has been vetted by an Admin" %>
		<%= f.check_box :vetted %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :brewery_city, :class => "form-control", placeholder: "Brewery city" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :brewery_beers, :class => "form-control", placeholder: "Number of beers brewery has" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :brewery_state_short, :class => "form-control", placeholder: "Abbreviated Brewery state" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :brewery_state_long, :class => "form-control", placeholder: "Full Brewery state" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :facebook_url, :class => "form-control", placeholder: "Facebook Page Name" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :twitter_url, :class => "form-control", placeholder: "Twitter Handle" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :brewery_url, :class => "form-control", placeholder: "Brewery url" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :image, :class => "form-control", placeholder: "Brewery image url" %>
	</div>
	<div class="col-sm-3 col-xs-0"></div>
	<div class="col-sm-6 col-xs-12 text-center">
		<%= f.submit "Submit", class: "btn btn-default btn-success formButton" %>
	</div>		
	<div class="col-sm-3 col-xs-0"></div>			
<% end %>