<%= render 'layouts/header' %> 
<div class="container">
	<div class="row header-row stay-in-place">
		<div class="page-header">
			<div class="row no-margin">
				<div class="col-sm-7 visible-sm visible-md visible-lg">
					<h3><%= @brewery_count.length %> breweries in the database</h3>
					<h4 class="live-beer-count"> 
						<%= link_to @beer_count.length.to_s + " beers in the db", "#", :class => "live-beer-count" %> (
						<%= link_to @all_number_complete_beers.to_s + " done", "#", :class => "complete-beer-text" %> /
						<%= link_to @all_number_usable_incomplete_beers.to_s + " partial", "#", :class => "usable-beer-text" %> /
						<%= link_to @all_number_need_attention_beers.to_s + " need attention", "#", :class => "attention-needed-beer-text" %> )
					</h4>
				</div>
				<div class="col-xs-12 visible-xs">
					<h4><%= @brewery_count.length %> breweries (<%= @beer_count.length %> beers)</h4>
					<h5 class="live-beer-count">
						<%= link_to @number_live_beers.to_s + " beers live", admin_needs_work_beers_path("live"), :class => "live-beer-count" %> (
						<%= link_to @number_complete_beers.to_s + " done", admin_needs_work_beers_path("green"), :class => "complete-beer-text" %> /
						<%= link_to @number_usable_incomplete_beers.to_s + " partial", admin_needs_work_beers_path("yellow"), :class => "usable-beer-text" %> /
						<%= link_to @number_need_attention_beers.to_s + " need attention", admin_needs_work_beers_path("red"), :class => "attention-needed-beer-text" %> )
					</h5>
				</div>
				<div class="col-xs-10 col-sm-5 text-right">
					<%= link_to "Add new brewery", new_admin_brewery_path, :class => "btn btn-success inputButton2", data: {toggle: "modal", target: "#new_brewery"} %>
				</div>
			</div>
			<div class="row no-margin filter-holding-row">
				<%= alphabetical_paginate @alphaParams %>
			</div>
			<div class="row no-margin visible-sm visible-md visible-lg">
				<div class="col-sm-3">
					<h5><strong>Brewery Name</strong></h5>
				</div>
				<div class="col-sm-1">
					<h5><strong>Image</strong></h5>
				</div>
				<div class="col-sm-2">
					<h5><strong>City</strong></h5>
				</div>
				<div class="col-sm-1">
					<h5><strong>State</strong></h5>
				</div>
				<div class="col-sm-2">
					<h5><strong>Beers/In DB</strong></h5>
				</div>
				<div class="col-sm-1 no-padding">
					<h5><strong>Alt Names</strong></h5>
				</div>			
			</div>
		</div>
	</div>
	<div class="col-xs-12 brewery-list-holder" id="pagination_table">
			<%= render 'admin/breweries/breweries_list', breweries: @breweries %>
	</div>
	<div id="new_brewery" class="modal">
		<%= render 'admin/breweries/new' %>
	</div>
	<div id="edit_brewery" class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Fix brewery info</h3>
			<%= link_to "Edit", "#", :class => "btn btn-success edit-brewery-info" %>
			<%= link_to "Delete", "#", :class => "btn btn-warning delete-brewery-info" %>
			<h5>
		</div>
		<div class="modal-body"></div>
	</div>
	<div id="edit_alt_names" class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Alternative brewery names</h3>
		</div>
		<div class="modal-body"></div>
	</div>

</div>

<%= render 'layouts/footer' %>