<%= render 'layouts/header' %> 
<div class="container">
	<div class="row no-margin">
		<div class="col-sm-12">
			<h3>Customer Delivery Info</h3>
		</div>
	</div>
	<div class="row no-margin">
		<table class="table table-striped">
		    <tr>
		      <th>Customer</th>
		      <th>Customer Email</th>
		      <th>Drink Quantity</th>
		      <th>Delivery Cost</th>
		      <th>Delivery Date</th>
		      <th>Status</th>
		    </tr>
			<% @live_delivery_info.each do |delivery| %>
				<tr>
			        <td><%= delivery.user.first_name %> [<%= delivery.user.username %>]</td>
			        <td><%= delivery.user.email %></td>
			        <td><%= delivery.delivery_quantity %></td>
			        <td><%= number_to_currency(delivery.total_price, precision: 2) %></td>
			        <td><%= (delivery.delivery_date).strftime("%A, %b %e, %Y") %></td>
			        <% if delivery.status == "in progress" %>
			        	<td>
							<%= link_to "Confirm", admin_confirm_delivery_path(delivery.id), :class => "btn btn-success admin-check-button" %>
						</td>
			        <% else %>
			        	<td><%= delivery.status %></td>
			        <% end %>    
			    </tr>
			<% end %>
		</table>
	</div>
	<div class="row no-margin">
		<% if !@delivered_delivery_info.blank? %>
			<table class="table table-striped">
			    <tr>
			      <th>Customer</th>
			      <th>Customer Email</th>
			      <th>Drink Quantity</th>
			      <th>Delivery Cost</th>
			      <th>Delivery Date</th>
			      <th>Status</th>
			    </tr>
				<% @delivered_delivery_info.each do |delivery| %>
					<tr>
				        <td><%= delivery.user.first_name %> [<%= delivery.user.username %>]</td>
				        <td><%= delivery.user.email %></td>
				        <td><%= delivery.delivery_quantity %></td>
				        <td><%= number_to_currency(delivery.total_price, precision: 2) %></td>
				        <td><%= (delivery.delivery_date).strftime("%A, %b %e, %Y") %></td>
				        <td><%= delivery.status %></td>	        
				    </tr>
				<% end %>
			</table>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>