<%= render 'layouts/header' %> 
<div class="container">
	<div class="row no-margin">
		<div class="col-sm-12">
			<h3>Customer Delivery Info</h3>
		</div>
	</div>
	<div class="row no-margin">
		<table class="table table-striped">
		    <tr>
		      <th>Customer</th>
		      <th>Customer Email</th>
		      <th>Drink Quantity</th>
		      <th>Delivery Cost</th>
		      <th>Delivery Date</th>
		      <th>Status</th>
		    </tr>
			<% @live_delivery_info.each do |delivery| %>
				<tr>
			        <td><%= delivery.user.first_name %> [<%= delivery.user.username %>]</td>
			        <td><%= delivery.user.email %></td>
			        <td><%= delivery.delivery_quantity %></td>
			        <td><%= number_to_currency(delivery.total_price, precision: 2) %></td>
			        <td><%= (delivery.delivery_date).strftime("%A, %b %e, %Y") %></td>
			        <% if delivery.status == "in progress" %>
			        	<td>
							<%= link_to "Confirm", "#", :class => "btn btn-success delivery-confirm-button", :id => "#{delivery.id}", 
								data: {toggle: "modal", target: "#delivery_details_confirmation"} %>
						</td>
			        <% else %>
			        	<td><%= delivery.status %></td>
			        <% end %>    
			    </tr>
			<% end %>
		</table>
	</div>
	<div class="row no-margin">
		<% if !@delivered_delivery_info.blank? %>
			<table class="table table-striped">
			    <tr>
			      <th>Customer</th>
			      <th>Customer Email</th>
			      <th>Drink Quantity</th>
			      <th>Delivery Cost</th>
			      <th>Delivery Date</th>
			      <th>Status</th>
			    </tr>
				<% @delivered_delivery_info.each do |delivery| %>
					<tr>
				        <td><%= delivery.user.first_name %> [<%= delivery.user.username %>]</td>
				        <td><%= delivery.user.email %></td>
				        <td><%= delivery.delivery_quantity %></td>
				        <td><%= number_to_currency(delivery.total_price, precision: 2) %></td>
				        <td><%= (delivery.delivery_date).strftime("%A, %b %e, %Y") %></td>
				        <td><%= delivery.status %></td>	        
				    </tr>
				<% end %>
			</table>
		<% end %>
	</div>
</div>
<div id="delivery_details_confirmation" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Confirm delivery</h3>
	</div>
	<div class="modal-body">
		<%= form_tag admin_confirm_delivery_path(1), id: "confirm-delivery-info" do %>
			<div class="row no-margin">
				<div class="col-sm-12">
					<%= label :old_packaging, 'Customer returned old packaging' %>
					<%= hidden_field_tag :old_packaging, false %>
					<%= check_box_tag :old_packaging, checked = true, :class => "form-control" %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-sm-12">
					<%= label :new_packaging, 'Customer kept new packaging' %>
					<%= hidden_field_tag :new_packaging, false %>
					<%= check_box_tag :new_packaging, checked = true, :class => "form-control" %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-sm-12">
					<%= label :final_delivery_notes, 'Delivery notes' %>
					<%= text_field_tag :final_delivery_notes, nil, :class => "form-control" %>
				</div>
			</div>
			<div class="row no-margin">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 remove-button-holder">
					<%= submit_tag "Confirm", class: "btn btn-default btn-success formButton" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<%= render 'layouts/footer' %>