<div class="row">
	<div class="container">
		<div class="col-xs-12 text-center">
			<h3 class="home-prompt-text">Set your delivery frequently</h3>
			<h5 class="signup-question-detail">You can change this at any point in time.</h5>
		</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10">
			<div class="row">
				<% (1..9).each do |i| %>
					<% if i == @account.delivery_frequency %>
						<% @status = "chosen" %>
					<% else %>
						<% @status = "" %>
					<% end %>
					<% if i == 1 %>
						<div class="col-xs-4 col-sm-2 no-padding delivery-frequency-holder-parent">
							<div class="delivery-frequency-holder <%= @status %>" id="<%= i %>">
								<h5 class="delivery-frequency-every-text">&nbsp;</h5>
								<h3 class="delivery-frequency-weeks-number">
									every
								</h3>
								<h4 class="delivery-frequency-weeks-text">week</h4>
							</div>
						</div>
					<% else %>
						<div class="col-xs-4 col-sm-2 no-padding delivery-frequency-holder-parent">
							<div class="delivery-frequency-holder <%= @status %>" id="<%= i %>">
								<h5 class="delivery-frequency-every-text">every</h5>
								<h3 class="delivery-frequency-weeks-number">
									<%= i %>
								</h3>
								<h4 class="delivery-frequency-weeks-text">weeks</h4>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
