<div class="col-xs-12 col-md-10">
	<div class="row no-margin">
		<% if @delivery.delivery_date == @days_notice_required %>
			<div class="col-xs-6 col-sm-2 no-padding delivery-date-change-row-holder">
				<div class="row no-margin delivery-date-change-row text-center chosen" id="<%= @first_change_date_option_id %>">
					<div class="col-xs-12 delivery-change-month-holder">
						<h1 class="delivery-change-month"><%= (@first_change_date_option).strftime("%^b") %></h1>
					</div>
					<div class="col-xs-12 delivery-change-date-holder">
						<h1 class="delivery-change-date"><%= (@first_change_date_option).strftime("%e") %></h1>
					</div>
					<div class="col-xs-12 delivery-change-day-holde">
						<h1 class="delivery-change-day"><%= (@first_change_date_option).strftime("%^a") %></h1>
					</div>
				</div>
			</div>
		<% else %>
			<div class="col-xs-6 col-sm-2 no-padding delivery-date-change-row-holder">
				<div class="row no-margin delivery-date-change-row text-center" id="<%= @first_change_date_option_id %>">
					<div class="col-xs-12 delivery-change-month-holder">
						<h1 class="delivery-change-month"><%= (@first_change_date_option).strftime("%^b") %></h1>
					</div>
					<div class="col-xs-12 delivery-change-date-holder">
						<h1 class="delivery-change-date"><%= (@first_change_date_option).strftime("%e") %></h1>
					</div>
					<div class="col-xs-12 delivery-change-day-holde">
						<h1 class="delivery-change-day"><%= (@first_change_date_option).strftime("%^a") %></h1>
					</div>
				</div>
			</div>
		<% end %>
		<% (1..5).each do |i| %>
			<% @next_date = @first_change_date_option + (i * @number_of_days).days %>
			<% @next_date_id = @next_date.strftime("%Y-%m-%d") %>
			<div class="col-xs-6 col-sm-2 no-padding delivery-date-change-row-holder">
				<div class="row no-margin delivery-date-change-row text-center" id="<%= @next_date_id %>">
					<div class="col-xs-12 delivery-change-month-holder">
						<h1 class="delivery-change-month"><%= (@next_date).strftime("%^b") %></h1>
					</div>
					<div class="col-xs-12 delivery-change-date-holder">
						<h1 class="delivery-change-date"><%= (@next_date).strftime("%e") %></h1>
					</div>
					<div class="col-xs-12 delivery-change-day-holder">
						<h1 class="delivery-change-day"><%= (@next_date).strftime("%^a") %></h1>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>