<div class="col-xs-12 text-center">
	<% if !@referring_url.include?("delivery_settings") %>
		<h4 class="estimated-delivery-price-header delivery-estimate-information">
			You can change these estimates by adjusting your drink number or cost inputs after signup.
		</h4>
		<% if @user_subscription.subscription_id == 4 || @user_subscription.subscription_id == 5 %>
			<% if @total_low_estimate < 40 %>
				<h4 class="message-about-free-delivery">
					Don't forget you can earn free delivery if you choose a delivery frequency that estimates a drink total price > $40! 
				</h4>
			<% else %>
				<h4 class="message-about-free-delivery">
					Congrats, this delivery frequency estimates a drink total price > $40, making you eligible to earn free delivery!
				</h4>
			<% end %>
		<% end %>
	<% else %>	
		<% if @delivery_preferences.beer_chosen %>
			<h4 class="estimated-delivery-price-header delivery-estimate-information">
				You can change these estimates by adjusting either your 
				<%= link_to "drink numbers", settings_beer_numbers_path %>
				or 
				<%= link_to "cost inputs", settings_beer_costs_path %>.
			</h4>
		<% elsif @delivery_preferences.cider_chosen %>
			<h4 class="estimated-delivery-price-header delivery-estimate-information">
				You can change these estimates by adjusting either your 
				<%= link_to "drink numbers", settings_cider_numbers_path %>
				or 
				<%= link_to "cost inputs", settings_cider_costs_path %>.
			</h4>
		<% end %>
		<% if @user_subscription.subscription_id == 4 || @user_subscription.subscription_id == 23 %>
			<% if @total_low_estimate < 40 %>
				<h4 class="message-about-free-delivery">
					Don't forget you can earn free delivery if you choose a delivery frequency that estimates a drink total price > $40! 
				</h4>
			<% else %>
				<h4 class="message-about-free-delivery">
					Congrats, this delivery frequency estimates a drink total price > $40, making you eligible to earn free delivery!
				</h4>
			<% end %>
		<% end %>
	<% end %>
</div>
<% if @delivery_preferences.beer_chosen %>
	<div class="<%= @delivery_price_holder_beer_column %>">
		<div class="row no-margin estimated-delivery-price-holder-signup">
			<div class="row no-margin">
				<h5 class="drink-estimate-header">Beer estimates for a delivery every <%= @delivery_frequency %> weeks.</h5>
			</div>
			<div class="col-xs-4 preference-estimate-holder delivery-estimate-information">
				<div class="delivery-settings-info-box drinks">
					<p>beers</p>
					<h4 class="delivery-preference-prompt">~<%= @beers_per_delivery %></h4>
				</div>	
			</div>
			<div class="col-xs-8 preference-estimate-holder delivery-estimate-information">
				<div class="delivery-settings-info-box total-price">
					<p>beer price <sup  data-toggle="tooltip" title="You always have final say on each delivery, so you'll never be surprised by the actual cost.">?</sup></p>
					<h4 class="delivery-preference-prompt">~<%= number_to_currency(@beer_cost_estimate_low, precision: 0) %> - <%= number_to_currency(@beer_cost_estimate_high, precision: 0) %></h4>
				</div>
			</div>
		</div>
	</div>
<% end %>
<% if @delivery_preferences.cider_chosen %>
	<div class="<%= @delivery_price_holder_cider_column %>">
		<div class="row no-margin estimated-delivery-price-holder-signup">
			<div class="row no-margin">
				<h5 class="drink-estimate-header">Cider estimates for a delivery every <%= @delivery_frequency %> weeks.</h5>
			</div>
			<div class="col-xs-4 preference-estimate-holder delivery-estimate-information">
				<div class="delivery-settings-info-box drinks">
					<p>ciders</p>
					<h4 class="delivery-preference-prompt">~<%= @ciders_per_delivery %></h4>
				</div>	
			</div>
			<div class="col-xs-8 preference-estimate-holder delivery-estimate-information">
				<div class="delivery-settings-info-box total-price">
					<p>cider price <sup  data-toggle="tooltip" title="You always have final say on each delivery, so you'll never be surprised by the actual cost.">?</sup></p>
					<h4 class="delivery-preference-prompt">~<%= number_to_currency(@cider_cost_estimate_low, precision: 0) %> - <%= number_to_currency(@cider_cost_estimate_high, precision: 0) %></h4>
				</div>
			</div>
		</div>
	</div>
<% end %>