<%= render 'layouts/header' %> 
<div class="row no-margin first-row">
	<div class="container first-row-container">
		<div class="col-xs-12">
			<h1 class="section-header">Delivery Settings</h1>
		</div>
		<div class="col-xs-12 col-sm-7">
			<div class="row">
				<div class="col-xs-4">
					<%= link_to "My Preferences", user_delivery_settings_path(current_user.id), class: "drink-preference-view-option current", id: "next" %>
				</div>
				<% if !@mates.blank? %>
				<div class="col-xs-4">
					<%= link_to 'Delivery Estimate', user_delivery_settings_total_estimate_path, class: "drink-preference-view-option", id: "history" %>
				</div>
				<% end %>
				<div class="col-xs-4">
					<%= link_to 'Delivery Location', user_delivery_settings_location_path, class: "drink-preference-view-option", id: "history" %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="container" id="user-delivery-preferences-holder">
	    <%= render 'user_delivery_preferences' %>
	</div>
</div>
<%= render 'layouts/footer' %>