<% @breweries.each do |d| %>
	<% @brewery_beers = Beer.where(brewery_id: d.id) %>
	<% @brewery_beers_ids = @brewery_beers.where.not(beer_rating: nil).pluck(:id) %>
	<% @brewery_beers_attention_ids = @brewery_beers.where(beer_rating: nil).pluck(:id) %>
	<% if !@brewery_beers_attention_ids.nil? && @brewery_beers_attention_ids.any?{|i| @current_beer_ids.include? i } %>
	<div class="row small-padding current-beer-background-attention-needed">
	<% elsif !@brewery_beers_ids.nil? && @brewery_beers_ids.any?{|i| @current_beer_ids.include? i } %>
	<div class="row small-padding current-beer-background">
	<% else %>
	<div class="row small-padding">
	<% end %>
		<div class="col-sm-3">
			<% if d.brewery_name.blank? %>
				<h5 class="need-text">[need]</h5>
			<% elsif !d.brewery_url.nil? %>
				<h5 class="brewery-name-with-id"><%= link_to d.brewery_name, d.brewery_url, :target => "_blank" %>&nbsp;</h5><h6 class="light-gray-text brewery-name-with-id">[id: <%= d.id %> ]</h6>
			<% else %>
				<h5 class="brewery-name-with-id"><%= d.brewery_name %>&nbsp;</h5><h6 class="light-gray-text brewery-name-with-id">[id: <%= d.id %> ]</h6>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.image.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<%= d.image %>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.brewery_city.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5 class="no-overflow"><%= d.brewery_city %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.brewery_state.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.brewery_state %></h5>
			<% end %>
		</div>
		<div class="col-sm-2">
			<% @alt_names = AltBreweryName.where(brewery_id: d.id) %>
			<% if @alt_names.blank? %>
				<h5 class="need-text no-overflow">[as needed]</h5>
			<% else %>
				<% @alt_names.each do |n| %>
					<% if n == @alt_names.last %> 
						<h5><%= n.name %></h5>
					<% else %>
						<h5><%= n.name %>, </h5>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% @beers_in_db = Beer.where(brewery_id: d.id).count %>
			<% if d.brewery_beers.blank? %>
				<h5 class="need-text">[need]/<%= @beers_in_db %></h5>
			<% else %>
				<h5><%= d.brewery_beers %>/<%= @beers_in_db %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<%= link_to "Edit brewery", edit_brewery_path(d.id), class: "btn btn-default editButton", 
			data: {toggle: "modal", target: "#edit_brewery"} %>
		</div>
		<div class="col-sm-1">
			<%= link_to "Edit names", alt_brewery_names_path(d.id), class: "btn btn-default editButton",
			data: {toggle: "modal", target: "#edit_alt_names"} %>
		</div>
		<div class="col-sm-1">
			<%= link_to "Edit beers", brewery_beers_path(d.id), :class => "btn btn-success editButton" %>
		</div>
	</div>
	<hr/>
<% end %>

