<%= render 'layouts/header' %> 
<div class="container">
	<div class="row header-row stay-in-place">
		<div class="page-header">
			<div class="row">
				<div class="col-sm-7">
					<h3><%= @brewery_count %> breweries in the database (<%= @beer_count %> beers)</h3>
					<h4 class="live-beer-count"><%= @number_live_beers %> beers are currently live; <span><%= @number_unrated_beers %> of those</span> are missing a rating</h4>
				</div>
				<div class="col-sm-5 text-right">
					<%= link_to "Add new brewery", new_brewery_path, :class => "btn btn-success inputButton2", data: {toggle: "modal", target: "#new_brewery"} %>
				</div>
			</div>
			<div class="row no-padding">
				<div class="col-sm-3">
					<h5><strong>Brewery Name</strong></h5>
				</div>
				<div class="col-sm-1">
					<h5><strong>Image</strong></h5>
				</div>
				<div class="col-sm-1">
					<h5><strong>City</strong></h5>
				</div>
				<div class="col-sm-1">
					<h5><strong>State</strong></h5>
				</div>
				<div class="col-sm-2">
					<h5><strong>Alt Names</strong></h5>
				</div>
				<div class="col-sm-2">
					<h5><strong>Beers/In DB</strong></h5>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 brewery-list-holder">
			<%= render 'breweries/breweries_list', breweries: @breweries %>
	</div>
	<div id="new_brewery" class="modal">
		<%= render 'breweries/new' %>
	</div>
	<div id="edit_brewery" class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Fix brewery info</h3>
			<%= link_to "Edit", "#", :class => "btn btn-success edit-brewery-info" %>
			<%= link_to "Delete", "#", :class => "btn btn-warning delete-brewery-info" %>
			<h5>
		</div>
		<div class="modal-body"></div>
	</div>
	<div id="edit_alt_names" class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Alternative brewery names</h3>
		</div>
		<div class="modal-body"></div>
	</div>
</div>
<%= render 'layouts/footer' %>