<div class="row no-margin first-row-new">
	<div class="container first-row-container-new">
		<div class="col-xs-12 no-padding">
			<div class="row no-margin">
				<div class="col-xs-2 col-sm-2 text-center">
					<h3 class="submenu-options">
						<%= link_to "Membership", knird_preferred_membership_path, class: "#{if current_section == "Membership" then "current" else "" end}", id: "history" %>
					</h3>
				</div>
				
				<div class="col-xs-6 col-sm-2 no-padding-right">
					<h3 class="submenu-options">
						<%= link_to "Drink Categories", knird_preferred_drink_categories_path, class: "#{if current_section == "Categories" then "current" else "" end}" %>
					</h3>
				</div>
				
				<div class="col-xs-6 col-sm-2 no-padding-right">
					<h3 class="submenu-options">
						<%= link_to "Delivery Frequency", delivery_frequency_path, class: "#{if current_section == "Frequency" then "current" else "" end}" %>
					</h3>
				</div>

				<div class="col-xs-6 col-sm-2 no-padding-right">
					<h3 class="submenu-options">
						<%= link_to "Delivery Location", user_delivery_settings_location_path, class: "#{if current_section == "Location" then "current" else "" end}" %>
					</h3>
				</div>
				
				<div class="col-xs-6 col-sm-2 no-padding-right">
					<h3 class="submenu-options">
						<%= link_to "Next Delivery", change_delivery_date_path, class: "#{if current_section == "Date" then "current" else "" end}" %>
					</h3>
				</div>
				

			</div>
		</div>
			</div>
		</div>
	</div>
</div>