<%= render 'layouts/header' %> 
<div class="row no-margin">
	<%= render 'membership_value_prop' %>
	<%= render 'membership_overview' %>
	<%= render 'membership_pda' %>
	<%= render 'membership_drink_pricing' %>
	<%= render 'membership_regular_deliveries' %>
</div>
<%= render 'layouts/footer' %>