<%= form_for @new_team_member, :url => { :controller => "invitations", :action => "invite_team_member_create" } do |f| %>
	<div class="row"> 
		<div class="col-sm-1"></div>
		<div class="col-xs-12 col-sm-10">
			<%= f.text_field :first_name, :class => "form-control", required: true, placeholder: "Invitee's first name" %>
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-1"></div>
		<div class="col-xs-12 col-sm-10">
			<%= f.email_field :email, :class => "form-control", required: true, placeholder: "Invitee's email address" %>
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-1"></div>
		<div class="col-xs-12 col-sm-10">
			<%= f.select(:role_id, options_for_select([["Owner", "owner"], 
										["Admin", "admin"], 
										["User", "user"]]), 
										{:prompt => 'Choose access level for team member',  
										:class => 'form-control team-member-access-dropdown'},
										{:required => true,
										:class => 'form-control'})  %>
		</div>
	</div>
	<div class="row"> 
		<div class="col-sm-1 col-md-2"></div>
		<div class="col-xs-12 col-sm-10 col-md-8">
			<%= f.submit "Send invite", class: "btn btn-default btn-success formButton" %> 
		</div>
	</div>
<% end %>