<h5 class="tile-header user-rating-section">User data</h5>
<div class="row no-margin">
	<ul>
		<li>
			<h5>
				<b><%= @users_have_not_had %> <%= "customer".pluralize(@users_have_not_had) %></b> would like this drink and it would be new</b>.
			</h5>
			<ul>
				<li>
					<p class='lists-of-customers'>
						<% @list_of_customers_who_not_had.each_with_index do |customer, i| %>
							<% if i == @list_of_customers_who_had.size - 1 %>
								<span><%= i + 1 %>) </span> <%= customer %>
							<% else %>
								<span><%= i + 1 %>) </span> <%= customer %>,
							<% end %>
						<% end %>
					</p>
				</li>
			</ul>
		</li>
		<li>
			<h5>
				<b><%= @users_have_had %> <%= "customer".pluralize(@users_have_had) %></b> users would like this drink and it would be a <b>'retry' drink</b>.
			</h5>
			<ul>
				<li>
					<p class='lists-of-customers'>
						<% @list_of_customers_who_had.each_with_index do |customer, i| %>
							<% if i == @list_of_customers_who_not_had.size - 1 %>
								<span><%= i + 1 %>) </span> <%= customer %>
							<% else %>
								<span><%= i + 1 %>) </span> <%= customer %>,
							<% end %>
						<% end %>
					</p>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="row no-margin">
	<h5>In stock: <%= @inventory_count %></h5>
	<ul>
		<li>Reserved: <%= @reserved_drinks %></li>
		<li>Set to be ordered: <%= @set_to_order_drinks %></li>
		<li>Currently available: <%= @available_drinks %></li>
	</ul>
</div>
<div class="row no-margin">
	<% if !@inventory.nil? %>
		<%= link_to edit_admin_inventory_path(@drink.id), :class => "btn btn-success edit-beer-info" do %>
			<i class="fa fa-wrench"> edit inventory</i>
		<% end %>
	<% else %>
		<%= link_to new_admin_inventory_path(@drink.id), :class => "btn btn-success edit-beer-info" do %>
			<i class="fa fa-plus"> add to inventory</i>
		<% end %>
	<% end %>
</div>