<h5 class="tile-header user-rating-section">User data</h5>
<div class="row no-margin">
	<ul>
		<li>
			<h5>
				<b><%= @list_of_customers_who_not_had.size %> <%= "customer".pluralize(@users_have_not_had) %></b> would like this drink and it would be new</b>.
			</h5>
			<p class='lists-of-customers'>
				<table class="table-bordered" id="admin-user-data-drink-table">
					<tr>
						<th>User</th>
						<th>Id</th>
						<th>Rating</th>
						<th>State</th>
					</tr>
					<% @list_of_customers_who_not_had.each do |customer| %>
						<% @user_recommendation = @current_recommendtions.where(user_id: customer.id) %>
						<tr>
							<td><%= customer.username %></td>
							<td><%= customer.id %></td>
							<td><%= customer.specific_drink_best_guess %></td>
							<% if !@user_recommendation.blank? %>
								<td class="text-center">In!</td>
							<% else %>
								<td class="text-center">
									<%= link_to add_user_drink_recommendation_path(customer.id, @drink.id, "new", customer.specific_drink_best_guess), :class => 'add_user_drink_recommendation text-center' do %>
										<i class="fa fa-plus"></i>
									<% end %>
								</td>
							<% end %>
						</tr>
					<% end %>
				</table>
			</p>
		</li>
		<li>
			<h5>
				<b><%= @list_of_customers_who_had.size %> <%= "customer".pluralize(@users_have_had) %></b> users would like this drink and it would be a <b>'retry' drink</b>.
			</h5>
			<p class='lists-of-customers'>
				<table class="table-bordered" id="admin-user-data-drink-table">
					<tr>
						<th>User</th>
						<th>Id</th>
						<th>Rating</th>
						<th>State</th>
					</tr>
					<% @list_of_customers_who_had.each do |customer| %>
						<% @customer_rating = customer.user_drink_rating(@drink.id) %>
						<tr>
							<td><%= customer.username %></td>
							<td><%= customer.id %></td>
							<td><%= @customer_rating %></td>
							<% if !@user_recommendation.blank? %>
								<td class="text-center">In!</td>
							<% else %>
								<td class="text-center">
									<%= link_to add_user_drink_recommendation_path(customer.id, @drink.id, "repeat", @customer_rating), :class => 'add_user_drink_recommendation text-center' do %>
										<i class="fa fa-plus"></i>
									<% end %>
								</td>
							<% end %>
						</tr>
					<% end %>
				</table>
			</p>
		</li>
	</ul>
</div>