<% @brewery_beers.each do |d| %>
	<% if @unrated_beers.map{|a| a.id}.include? d.id %>
	<div class="row small-padding current-beer-background-attention-needed">
	<% elsif @live_beers.map{|a| a.id}.include? d.id %>
	<div class="row small-padding current-beer-background">
	<% else %>
	<div class="row small-padding">
	<% end %>
		<div class="col-sm-2">
			<% if d.beer_name.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5 class="brewery-name-with-id"><%= d.beer_name %>&nbsp;</h5><h6 class="light-gray-text brewery-name-with-id">[id: <%= d.id %> ]</h6>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.beer_type.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.beer_type.beer_type_name %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.beer_rating.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.beer_rating %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.number_ratings.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.number_ratings %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.beer_abv.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.beer_abv %>%</h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.beer_ibu.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.beer_ibu %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.beer_image.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5 class="no-overflow"><%= d.beer_image %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.tag_one.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.tag_one %></h5>
			<% end %>
		</div>
		<div class="col-sm-2">
			<% if d.descriptors.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.descriptors %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if @this_brewery.nil? %>
				<% @this_brewery = Brewery.find_by(id: d.brewery_id) %>
			<% end %>
			<%= link_to "Edit beer", edit_brewery_beer_path(@this_brewery.id, d.id), class: "btn btn-success", data: {toggle: "modal", target: "#edit_beer"} %>
		</div>
	</div>
	<hr/>
<% end %>

