<% if beer.best_guess >= 8 && beer.likes_style == "yes" %>
	<% if !beer.this_beer_descriptors.nil? %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">You like <%= beer.beer_type.beer_type_short_name %>s described as 
						<%= beer.this_beer_descriptors %>.</p>
				</li>
			<% end %>									
			<li>
				<p class="recommendation-reasons">Others have rated this quite highly.</p>
			</li>
			<% if !beer.speciality_notice.blank? %>
				<li>
					<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
				</li>
			<% end %>
		</ul>
	<% else %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">You like <%= beer.beer_type.beer_type_short_name %>s.</p>
				</li>
			<% end %>									
			<li>
				<p class="recommendation-reasons">Others have rated this quite highly.</p>
			</li>
			<% if !beer.speciality_notice.blank? %>
				<li>
					<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
				</li>
			<% end %>
		</ul>
	<% end %>
<% elsif beer.best_guess >= 8 && beer.likes_style == "neither" %>
	<% if !beer.this_beer_descriptors.nil? %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">You typically like <%= beer.beer_type.beer_type_short_name %>s 
						described as <%= beer.this_beer_descriptors %>.</p>
				</li>
			<% end %>
			<li>
				<p class="recommendation-reasons">Others have rated this quite highly.</p>
			</li>
			<% if !beer.speciality_notice.blank? %>
				<li>
					<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
				</li>
			<% end %>
		</ul>
	<% else %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">You typically like <%= beer.beer_type.beer_type_short_name %>s.</p>
				</li>
			<% end %>
			<li>
				<p class="recommendation-reasons">Others have rated this quite highly.</p>
			</li>
			<% if !beer.speciality_notice.blank? %>
				<li>
					<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
				</li>
			<% end %>
		</ul>
	<% end %>
<% elsif beer.best_guess >= 8 && beer.likes_style == "no" %>
	<% if !beer.this_beer_descriptors.nil? %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">Though you don't typically like <%= beer.beer_type.beer_type_short_name %>s 
						described as <%= beer.this_beer_descriptors %>, others have rated this quite highly.</p>
				</li>
			<% end %>
			<% if !beer.speciality_notice.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
			</li>
			<% end %>
		</ul>	
	<% else %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">Though you don't typically like <%= beer.beer_type.beer_type_short_name %>s, 
					others have rated this quite highly.</p>
				</li>
			<% end %>
			<% if !beer.speciality_notice.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% end %>
<% elsif beer.best_guess >= 6 && beer.likes_style == "yes" %>
	<% if !beer.this_beer_descriptors.nil? %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">You like <%= beer.beer_type.beer_type_short_name %>s described as 
						<%= beer.this_beer_descriptors %>.</p>
				</li>
			<% end %>
			<% if !beer.speciality_notice.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% else %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">You like <%= beer.beer_type.beer_type_short_name %>s.</p>
				</li>
			<% end %>
			<% if !beer.speciality_notice.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% end %>
<% elsif beer.best_guess >= 6 && beer.likes_style == "neither" %>
	<% if !beer.this_beer_descriptors.nil? %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">You typically like <%= beer.beer_type.beer_type_short_name %>s 
						described as <%= beer.this_beer_descriptors %>.</p>
				</li>
			<% end %>
			<% if !beer.speciality_notice.blank? %>
			<li>
				<p class="recommendation-reasons">This is a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% else %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">You typically like <%= beer.beer_type.beer_type_short_name %>s.</p>
				</li>
			<% end %>
			<% if !beer.speciality_notice.blank? %>
			<li>
				<p class="recommendation-reasons">This is a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% end %>
<% elsif beer.best_guess >= 6 && beer.likes_style == "no" %>
	<% if !beer.this_beer_descriptors.nil? %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">Though you don't typically like <%= beer.beer_type.beer_type_short_name %>s 
						described as <%= beer.this_beer_descriptors %>, 
					others have rated this highly...</p>
				</li>
			<% end %>
			<% if !beer.speciality_notice.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% else %>
		<ul>
			<% if beer.beer_type_id.nil? %>
				<li>
					<p class="recommendation-reasons">Though you don't typically like <%= beer.beer_type.beer_type_short_name %>s, 
					others have rated this highly...</p>
				</li>
			<% end %>
			<% if !beer.speciality_notice.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.speciality_notice %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% end %>
<% elsif beer.best_guess >= 0 && beer.likes_style == "yes" %>
	<ul>
		<% if beer.beer_type_id.nil? %>
			<li>
				<p class="recommendation-reasons">Though you typically like <%= beer.beer_type.beer_type_short_name %>s, 
				others haven't rated this too kindly...</p>
			</li>
		<% end %>
	</ul>
<% elsif beer.best_guess >= 0 && beer.likes_style == "neither" %>
	<ul>
		<li>
			<p class="recommendation-reasons">Others haven't rated this too kindly...</p>
		</li>
	</ul>
<% else %>
	<ul>
		<% if beer.beer_type_id.nil? %>
			<li>
				<p class="recommendation-reasons">We know you don't like <%= beer.beer_type.beer_type_short_name %>s 
					described as <%= beer.this_beer_descriptors %>; also, others haven't rated this too kindly...</p>
			</li>
		<% end %>
	</ul>
<% end %>