<%= javascript_include_tag 'drink_page_rating_graphic' %>
<%= render 'layouts/header' %> 
<div class="container drink-info-container">
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-offset-1 col-sm-10">
			<div class="row no-margin">
				<div class="col-xs-12 col-sm-8">
					<%= render 'layouts/drink_info', drink: @drink %>
				</div>
				<div class="col-xs-12 col-sm-4">
					<%= link_to new_user_rating_path(@user_id, @drink.id), class: 'btn btn-default btn-success formButton' do %>
						<i class="fa fa-thumbs-up"></i>
						<i class="fa fa-thumbs-down fa-flip-horizontal"></i>
						rate drink
					<% end %>
					<%= render 'wishlist_button', wishlist: @wishlist %>
				</div>
			</div>
			<hr class="visible-sm visible-md visible-lg" />
			<div class="row no-margin">
				<div class="col-xs-12 col-sm-6">
					<%= render 'user_history' %>
				</div>
				<div class="col-xs-12 col-sm-6">
					<% if current_user.role_id == 1 %>
						<%= render 'admin_user_data' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>