<%= f.fields_for :beer_locations, @draft_drink do |ff| %>
		<div class="row new-draft-row" id="new-draft-row-<%= ff.index %>" >
					<div class="col-xs-12 remove-draft-button visible-xs text-right">
						<%= ff.link_to_remove do %>
							<i class="fa fa-trash-o"></i>	
						<% end %>
					</div>
					<div class="col-xs-12 col-sm-6 no-padding">	
						<div class="row no-margin">
							<%= ff.hidden_field :beer_id %>
							<% if @draft_board_form == "edit" %>
								<div class="row no-margin search-field">
									<div class="col-sm-12 drink-search-holder">	
										<% if !ff.object.beer.nil? %>
												<% @beer_name = ff.object.beer.join_drink_name %>
												<div class="beers-search">
													<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
														<div class="input-group">
												 	    	<%= text_field_tag :query, (params[:query] or @beer_name), id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search edit-form" %>
														</div>
													<% end %>
												</div>
										<% else %>
											<div class="beers-search">
												<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
													<div class="input-group testing">
											 	    	<%= text_field_tag :query, params[:query], id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search edit-form" %>
													</div>
												<% end %>
											</div>
										<% end %>
									</div>
								</div>
							<% else %>
								<div class="row no-margin search-field">
									<div class="col-xs-12 drink-search-holder">	
										<% if !ff.object.beer.nil? %>
												<% @beer_name = ff.object.beer.join_drink_name %>
												<div class="beers-search">
													<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
														<div class="input-group">
												 	    	<%= text_field_tag :query, (params[:query] or @beer_name), id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search new-form" %>
														</div>
													<% end %>
												</div>
										<% else %>
											<div class="beers-search">
												<%= form_tag autocomplete_breweries_path, method: :get, role: 'search' do %>
													<div class="input-group testing">
											 	    	<%= text_field_tag :query, params[:query], id: "query-#{ff.index}", name: "query-#{ff.index}", size: 30, placeholder: "Search by beer or brewery", class: "form-control typeahead retailer-search new-form" %>
													</div>
												<% end %>
											</div>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
						<div class="row no-margin new-draft-info" id="new-draft-info-<%= ff.index %>">
							<% if @draft_board_form == "edit" || @draft_board_form == "new_error" %>
								<%= render 'new_inventory_info_for_edit', this_drink: ff.object.beer %>
							<% end %>
						</div>	
						<div class="row no-margin">
							<% if false %>
							<div class="col-xs-10 col-sm-5 drink-category-holder">
								<% category_options = options_from_collection_for_select(@drink_categories, 'id', 'category_name' ) %>
								<%= ff.select :drink_category_id, category_options, {prompt: 'Select Drink Category'}, { class: 'form-control' } %>
							</div>
							<% end %>
							<% if ff.object.special_designation == true %>
								<% @color_option_setting = "show" %>
								<% @color_to_show = ff.object.special_designation_color %>
							<% else %>
								<% @color_option_setting = "hidden" %>
								<% @color_to_show = "" %>
							<% end %>
							<div class="col-xs-12 col-sm-3 special-designation-input no-padding">
								<%= ff.check_box :special_designation, { :class => "special-designation-option" } %>
								<h6 class="special-designation-option">Highlight prices</h6>
							</div>	
							<div class="col-sm-4 col-md-4 special-designation-color <%= @color_option_setting %> no-padding">
								<h5 class="color-prompt <%= @color_to_show %>">Color:</h5>
								<%= ff.select(:special_designation_color, 
									[ ['Blue', 'special-designated-blue'],['Green', 'special-designated-green'],['Orange', 'special-designated-orange'],
									['Purple', 'special-designated-purple'],['Red', 'special-designated-red'],['Yellow', 'special-designated-yellow'] ], 
									{prompt: 'Select Color'}, { :class => "btn btn-default dropdown-toggle special-designation-colors" }) %>
							</div>
						</div>
					</div>
					<% if ff.object.draft_details.blank? && !@drink_price_tiers.blank? %>
						<div class="col-xs-12 col-sm-5 draft-details-row-container no-padding" id="drink-details-info-<%= ff.index %>"></div>
					<% else %>
						<div class="col-xs-12 col-sm-5 draft-details-row-container no-padding">
							<%= render 'new_inventory_details', :ff => ff %>
							<%= ff.link_to_add :draft_details, class: 'btn btn-default btn-primary formButton-add-details' do %>
								<i class="fa fa-plus"> Add a drink size</i>
							<% end %>		
						</div>	
					<% end %>		
					<div class="col-sm-1 no-padding-right remove-draft-button visible-sm visible-md visible-lg">
						<%= ff.link_to_remove do %>
							<i class="fa fa-trash-o"></i>	
						<% end %>
					</div>
			</div>	
			<% if ff.object.tap_number.nil? %>
				<div class="row no-margin">
					<div class="col-sm-5 col-md-3">
						<div>
							<%= ff.radio_button :generally_available, true, :checked => true, :class => "generally-available-inventory" %> 
							<%= ff.label :generally_available, ' Make generally available', :value => true %>
						</div>
						<div>
							<%= ff.radio_button :generally_available, false, :class => "specific-use-inventory" %>
							<%= ff.label :generally_available, ' Make "on deck" for a specific tap', :value => false %>
						</div>
					</div>
					<div class="col-sm-5 col-md-4 on-deck-for hidden">
						<h5 class="on-deck-for-title">On deck for:</h5>
						<% options = options_from_collection_for_select(@current_draft_drinks, :tap_number, :connect_draft_drink) %>
						<%= ff.select :tap_number,  options, {prompt: 'Select Tap'}, { :class => "form-control" } %>
					</div>
				</div>
			<% else %>
				<div class="row no-margin">
					<div class="col-sm-5 col-md-3">
						<div>
							<%= ff.radio_button :generally_available, true, :class => "generally-available-inventory" %> 
							<%= ff.label :generally_available, ' Make generally available', :value => true %>
						</div>
						<div>
							<%= ff.radio_button :generally_available, false, :checked => true, :class => "specific-use-inventory" %>
							<%= ff.label :generally_available, ' Make "on deck" for a specific tap', :value => false %>
						</div>
					</div>
					<div class="col-sm-5 col-md-4 on-deck-for show">
						<h5 class="on-deck-for-title">On deck for:</h5>
						<% options = options_from_collection_for_select(@current_draft_drinks, :tap_number, :connect_draft_drink, ff.object.tap_number) %>
						<%= ff.select :tap_number,  options, {}, { :class => "form-control tap-number-option-list" } %>
					</div>
				</div>
			<% end %>
			<hr>
<% end %>	

