<div id="add_drink" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Add a new drink</h3>
	</div>
	<div class="modal-body">
		<div>
			<div class="text-center">
				<%= form_for @add_new_drink, :url => {:action => 'create_new_drink'} do |f| %> 
					<div class="row"> 
						<div class="col-xs-12">
				      		<%= f.text_field :associated_brewery, :class => "form-control", placeholder: "Brewewry name" %> 
						</div>
					</div>
					<div class="row"> 
						<div class="col-xs-12">
					 		<%= f.text_field :beer_name, :class => "form-control", placeholder: "Drink name" %> 
						</div>
					</div>
					<div class="row"> 
						<div class="col-xs-12">
					 		<%= f.text_field :beer_abv, :class => "form-control", placeholder: "Drink ABV (optional, if known)" %> 
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
			     			<%= f.submit "Submit", class: "btn btn-default btn-success formButton" %> 
						</div>
					</div>
				<% end %> 
			</div>
		</div>
	</div>
</div>