<%= render 'layouts/header_retailer' %> 
	<div class="container draft-board-container">
		<div class="row no-margin ">
			<div class="col-sm-12 visible-sm visible-md visible-lg">
				<div class="row img-responsive retailer-logo-image-med" alt="Responsive image" style="background-image: url(<%= @retailer.logo_med %>)">
					<h3 class="retailer-page-title with-update-text"><%= @retailer.short_name %>'s Current Inventory List <span class="last-updated">(last updated: <%= (@last_draft_board_update.updated_at).strftime("%B %e, %Y @ %l:%M %p") %>)</span></h3>
				</div>
			</div>
			<div class="col-xs-12 visible-xs">
				<div class="img-responsive retailer-logo-image-small" alt="Responsive image" style="background-image: url(<%= @retailer.logo_small %>)">
					<h3 class="retailer-page-title-mobile"><%= @retailer.short_name %>'s Current Inventory List</h3>
				</div>
			</div>
			<div class="col-xs-2 visible-xs"></div>
			<div class="col-xs-10 visible-xs">
				<p class="retail-account-last-updated-container"><span class="last-updated">(last updated: <%= (@last_draft_board_update.updated_at).strftime("%-m.%e.%y @ %l:%M %p") %>)</span></p>
			</div>
		</div>
		<hr>
		<%= render 'current_inventory' %>
	</div>

<%= render 'layouts/footer' %>