<%= render 'layouts/header' %> 
<%= render 'stock_common', current_section: "Beer" %>
<div class="row no-margin spinner text-center">
	<div class="spinner-text">
		<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
		<h4>Fetching...</h4>
	</div>
</div>
<div class="container">
	<div class="row no-margin" id="stock-page-header-message">
		<% if current_user.subscription_status != "subscribed" %>
			<%= render 'stock_page_header_message' %>
		<% end %>
	</div>
	<div class="row no-margin" id="beer-header-row">
		<%= render 'beer_header' %>
	</div>
	<div class="row filter-row" id="beer-filter-row">
		<%= render 'beer_filters' %>
	</div>
	<div class="row no-margin" id="beer-filter-results-row">
		<%= render 'beer_filter_results' %>
	</div>
	<div class="col-xs-12" id="stock-paginator-row">
		<%= render 'stock_drink_paginator' %>
	</div>
</div>
<div id="drink_addition_confirmation" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Got it!</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin" id="drink_addition_message"></div>
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 add-button-holder">
			<%= link_to "Cool!", "#", :class => 'btn btn-success add-drink-button', :data => {:dismiss=>"modal"} %>
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>