<%= render 'layouts/header' %> 
<%= render 'stock_common', current_section: "Cider" %>
<div class="row no-margin spinner text-center">
	<div class="spinner-text">
		<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
		<h4>Fetching...</h4>
	</div>
</div>
<div class="container">
	<div class="row no-margin" id="stock-page-header-message">
		<% if !user_signed_in? || current_user.subscription_status != "subscribed" %>
			<%= render 'stock_page_header_message' %>
		<% end %>
	</div>
	<div class="row no-margin" id="cider-header-row">
		<%= render 'cider_header' %>
	</div>
	<div class="row filter-row" id="cider-filter-row">
		<%= render 'cider_filters' %>
	</div>
	<div class="row no-margin" id="cider-filter-results-row">
		<%= render 'cider_filter_results' %>
	</div>
	<div class="col-xs-12" id="stock-paginator-row">
		<%= render 'stock_drink_paginator' %>
	</div>
</div>
<div id="drink_addition_confirmation" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Got it!</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin" id="drink_addition_message"></div>
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 add-button-holder">
			<%= link_to "Cool!", "#", :class => 'btn btn-success add-drink-button', :data => {:dismiss=>"modal"} %>
		</div>
	</div>
</div>
<div id="coverage_congrats" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Congrats!</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin" id="drink_addition_message">
			<% if @location != nil %>
				<h4>Lucky day, we deliver to <%= @location %>!</h4>
			<% else %>
				<h4>Lucky day, we deliver to your area!</h4>
			<% end %>
		</div>
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 add-button-holder">
			<%= link_to "Start shopping", "#", :class => 'btn btn-success add-drink-button', :data => {:dismiss=>"modal"} %>
		</div>
	</div>
</div>
<% if @need_zip == true %>
	<%= render 'new_zip_code_modal' %>
<% end %>
<% if @invitation_request_confrim == true %>
	<%= render 'invitation_request_modal' %>
<% end %>
<div id="invitation_request_confirm" class="modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>We got it!</h3>
	</div>
	<div class="modal-body">
		<div class="row no-margin" id="drink_addition_message">
			<h4>We'll be in touch soon. Thanks!</h4>
		</div>
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 add-button-holder">
			<%= link_to "Cool", "#", :class => 'btn btn-success add-drink-button', :data => {:dismiss=>"modal"} %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>