<div class="row">
	<div class="col-sm-12 visible-sm visible-md visible-lg">
		<div class="row img-responsive retailer-logo-image-med" alt="Responsive image" style="background-image: url(<%= @retailer.logo_med %>)">
			<h3 class="retailer-page-title"><%= @retailer.short_name %> Current Draft List <span class="last-updated"> (Printed: <%= (@time_now).strftime("%B %e, %Y @ %l:%M %p") %>)</span></h3>
		</div>
	</div>
	<table class="table">
			<thead>
				<th class="text-center"></th>
				<th><%= @internal_board_preferences.maker_title %> <span class="print-menu-extra-size">(<span class="print-menu-extra-italic">origin</span>)</span></th>
				<th><%= @internal_board_preferences.drink_title %></th>
				<th><%= @internal_board_preferences.style_title %></th>
				<th>Descriptors</th>
				<th class="text-center"><%= @internal_board_preferences.abv_title %></th>
				<th class="text-center"><%= @internal_board_preferences.ibu_title %></th>
				<% if @taster_size >= 1 %>
					<th class="text-center"><%= @internal_board_preferences.taster_title %></th>
				<% end %>
				<% if @pint_size >= 1 %>
					<th class="text-center"><%= @internal_board_preferences.pint_title %></th>
				<% end %>
			</thead>
			<tbody class="table-bordered">
			<% @current_draft_board.each do	|drink| %>		
				<tr>
					<td class="draft-board-row text-center <%= @column_border_class %> <%= @row_font %>"><%= drink.tap_number %></td>
					<% if drink.beer.collab == true %>
						<% @brewery = Beer.collab_brewery_name(drink.beer.id) %>
					<% else %>
						<% if !drink.beer.brewery.short_brewery_name.nil? %>
							<% @brewery = drink.beer.brewery.short_brewery_name %>
						<% else %>
							<% @brewery = drink.beer.brewery.brewery_name %>
						<% end %>
					<% end %>
					<% if !drink.beer.short_beer_name.nil? %>
						<% @drink = drink.beer.short_beer_name %>
					<% else %>
						<% @drink = drink.beer.beer_name %>
					<% end %>
					<td class="draft-board-row-name-variable-internal"><%= @brewery %> <span class="print-menu-extra-size">(<span class="print-menu-extra-italic"><%= drink.beer.brewery.brewery_state_short %></span>)</span></td>
					<td class="draft-board-row-name-variable-internal"><%= @drink %></td>
					<% if !drink.beer.beer_type_id.nil? %>
						<td class="draft-board-row <%= @row_font %>"><%= drink.beer.beer_type.beer_type_short_name %></td>
					<% else %>
						<td class="draft-board-row <%= @row_n_a_font %>">N/A</td>
					<% end %>
					<% if !drink.beer.top_descriptor_list.blank? %>
						<td class="draft-board-row <%= @row_font %>"><%= drink.beer.top_descriptor_list.to_sentence %></td>
					<% else %>
						<td class="draft-board-row <%= @row_n_a_font %>">unknown to man</td>
					<% end %>
					<% if !drink.beer.beer_abv.nil? %>
						<td class="draft-board-row text-center <%= @column_border_class %> <%= @row_font %>"><%= drink.beer.beer_abv %><span class="row-variable-percent-sign">%</span></td>
					<% else %>
						<td class="draft-board-row text-center <%= @column_border_class %> <%= @row_n_a_font %>">N/A</td>
					<% end %>
					<% if !drink.beer.beer_ibu.nil? %>
						<td class="draft-board-row text-center <%= @column_border_class %> <%= @row_font %>"><%= drink.beer.beer_ibu %></td>
					<% else %>
						<td class="draft-board-row text-center <%= @column_border_class %> <%= @row_n_a_font %>">-</td>
					<% end %>
					<% @taster = "N/A" %>
					<% @pint = "N/A" %>
					<% @draft_details = DraftDetail.where(beer_location_id: drink.id) %>
					<% @draft_details.each do |details| %>
						<% if details.drink_size > 0 && details.drink_size <= 5 %>
							<% @taster = number_to_currency(details.drink_cost) %>
						<% end %>
						<% if details.drink_size > 5 && details.drink_size <= 22 %>
							<% @pint = number_to_currency(details.drink_cost) %>
							<% @pint_size = details.drink_size %>
						<% end %>
					<% end %>
					<% if @taster_size >= 1 %>
							<% if @taster == "N/A" %>
								<td class="draft-board-row text-center n-a-draft-board-format">-</td>
							<% else %>
								<td class="draft-board-row text-center"><%= @taster %></td>
							<% end %>
					<% end %>
					<% if @pint_size >= 1 %>
							<% if @pint == "N/A" %>
								<td class="draft-board-row text-center n-a-draft-board-format">-</td>
							<% else %>
								<td class="draft-board-row text-center"><%= @pint %> <span class="print-menu-extra-size">(<span class="print-menu-extra-italic"><%= @pint_size %>oz</span>)</span></td>
							<% end %>
					<% end %>
				</tr>
			<% end %>
			</tbody>
		</table>
</div>
