<%= render 'layouts/header' %> 
<%= render 'layouts/updating_spinner' %>
<%= render 'cider_settings_common', current_section: "Numbers" %>
<%= render 'layouts/settings_drink_numbers', drink: @category %>
<% if !@last_saved.nil? %>
	<div class="row">
		<div class="container" id="settings-last-saved">
			<%= render 'layouts/last_saved' %>
		</div>
	</div>
<% end %>
<%= render 'layouts/footer' %>