<div class="col-xs-0 col-sm-0 col-md-3"></div>
<div class="col-xs-4 col-sm-4 col-md-2 no-padding signup-guide-column-holder <%= @code_step %>">
	<h5 class="guide-header <%= @code_step %>">Step 1<span>: invite code</span></h5>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-xs-4 col-sm-4 col-md-2 no-padding signup-guide-column-holder <%= @account_step %>">
	<h5 class="guide-header <%= @account_step %>">Step 2<span>: account info</span></h5>
	<div class="fa fa-chevron-right"></div>
</div>
<div class="col-xs-4 col-sm-4 col-md-2 no-padding signup-guide-column-holder <%= @billing_step %>">
	<h5 class="guide-header <%= @billing_step %>">Step 3<span>: billing info</span></h5>
</div>
