<%= render 'layouts/header_early_signup' %> 
	<div class="row no-margin spinner-signup text-center">
		<div class="spinner-text">
			<i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
			<h4>Processing...</h4>
		</div>
	</div>
	<div class="row create-password-first-screen">
		<div class="container">
			<div class="col-xs-12 text-center">
				<h2 class="signup-question">Please provide your invitation code.</h2>
				<h5 class="signup-question-detail-set-password">If you don't yet have an invitation code, you can request one below.</h5>
			</div>
		</div>
	</div>
	<div class="row early-signup-form-section">
		<div class="container">
			<div class="row no-margin">
				<div class="col-xs-0 col-sm-2 col-md-3"></div>
				<div class="col-xs-12 col-sm-8 col-md-6">
					<div class="row no-margin user-info-form">
						<%= simple_form_for @user, :url => '/early_signup/process_invitation_code/:id', :html => { :class => 'form-horizontal' }, :remote => true do |f| %>
							<div class="col-xs-3 col-sm-4 col-md-3 no-padding-left">
								<label for="discount_field" class="control-label invitation-code-label">Invitation code</label> 	
							</div>
							<div class="col-xs-8">
								<%= f.input :special_code, as: :string, 
											input_html: { class: "form-control", id: "special_code" }, 
											placeholder: "Early signup invitation code here", 
											label: false, required: true %>
								<h5 class="discount-code-response hidden" id="invalid_code"></h5>
							</div>
					</div>
				</div>
				<div class="row no-margin">
					<div class="col-xs-0 col-sm-3 col-md-4"></div>
					<div class="col-xs-12 col-sm-6 col-md-4 text-center">
						<%= f.submit "Next", class: "btn btn-success formButton code-verification-next-button" %>
						<h5 class="terms-and-conditions-text">Don't have a code? 
							<%= link_to "Request one here", "#", :class => 'text-center', data: {toggle: "modal", target: "#early_code_request"} %>
						</h5>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div id="early_code_request" class="modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 class="getting-started-header">Request a signup code</h3>
		</div>
		<div class="modal-body request-signup-message">
			<div class="row no-margin">
				<div class="col-xs-12">
					<h5>We're currently limiting signups to ensure we deliver a high-quality experience.  Please let 
						us know who you are and we'll get you an invite ASAP!</h5>
				</div>
			</div>
			<div class="row no-margin">
				<%= simple_form_for @request_invitation, :url => {:controller => "early_signup", :action => "request_code"} do |invite| %>
					<div class="row no-margin">
						<div class="col-xs-3 no-padding-right">
							<%= label :first_name, 'First name' %>
						</div>
						<div class="col-xs-9">
							<%= invite.input :first_name, input_html: { class: "form-control" }, placeholder: "What should we call you?", required: true, label: false %>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-3 no-padding-right">
							<%= label :email, 'Email' %>
						</div>
						<div class="col-xs-9">
							<%= invite.input :email, input_html: { class: "form-control" }, placeholder: "Enter your email address", required: true, label: false %>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-3 no-padding-right">
							<%= label :zip_code, 'Zip code' %>
						</div>
						<div class="col-xs-9">
							<%= invite.input :zip_code, input_html: { class: "form-control" }, placeholder: "What is your zip code where we would dleiver?", required: true, label: false %>
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-1"></div>
						<div class="col-xs-10">
							<%= invite.submit "Submit", class: "btn btn-default btn-success formButton-invitation-request" %>
						</div>
					</div>
				<% end %>
			</div>
		</div> 
	</div>

<%= render 'layouts/footer' %>