<%= form_for [:admin, @beer] do |f| %>
	<%= f.hidden_field :touched_by_user, :value => current_user.id %>
	<%= f.hidden_field :user_addition, :value => false %>
	<%= f.hidden_field :brewery_id, :value => @this_brewery.id %>
	<%= f.hidden_field :form_type, :value => "edit" %>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :beer_name, :class => "form-control", placeholder: "Beer name" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.collection_select :beer_type_id, @beer_types, :id, :beer_type_name, {prompt: "Select a beer type"}, {class: "form-control"} %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :beer_abv, :class => "form-control", placeholder: "Beer ABV" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :beer_ibu, :class => "form-control", placeholder: "Beer IBU" %>
	</div>
	<div class="col-sm-1 col-xs-6 rating-na">
		<%= label :rating_one_na, 'Rating 1 N/A' %>
	</div>
	<div class="col-sm-1 col-xs-6 rating-checkbox">
		<%= f.check_box :rating_one_na, :class => "form-control" %>
	</div>
	<div class="col-sm-4 col-xs-12">
		<%= f.text_field :beer_rating_one, :class => "form-control", placeholder: "Beer rating (1)" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :number_ratings_one, :class => "form-control", placeholder: "Number of ratings (1)" %>
	</div>
	<div class="col-sm-1 col-xs-6 rating-na">
		<%= label :rating_two_na, 'Rating 2 N/A' %>
	</div>
	<div class="col-sm-1 col-xs-6 rating-checkbox">
		<%= f.check_box :rating_two_na, :class => "form-control" %>
	</div>
	<div class="col-sm-4 col-xs-12">
		<%= f.text_field :beer_rating_two, :class => "form-control", placeholder: "Beer rating (2)" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :number_ratings_two, :class => "form-control", placeholder: "Number of ratings (2)" %>
	</div>
	<div class="col-sm-1 col-xs-6 rating-na">
		<%= label :rating_three_na, 'Rating 3 N/A' %>
	</div>
	<div class="col-sm-1 col-xs-6 rating-checkbox">
		<%= f.check_box :rating_three_na, :class => "form-control" %>
	</div>
	<div class="col-sm-4 col-xs-12">
		<%= f.text_field :beer_rating_three, :class => "form-control", placeholder: "Beer rating (3)" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :number_ratings_three, :class => "form-control", placeholder: "Number of ratings (3)" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :beer_image, :class => "form-control", placeholder: "Image URL" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :speciality_notice, :class => "form-control", placeholder: "Specialty tags" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :hops, :class => "form-control", placeholder: "Hops [separate with comma]" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :grains, :class => "form-control", placeholder: "Grains [separate with comma]" %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.text_field :brewer_description, :class => "form-control", placeholder: "Brewer description" %>
	</div>
	<div class="col-sm-6 col-xs-12">
  		<%= f.text_field :descriptor_list_tokens, data: { load: @beer_descriptors }, :class => "form-control" %>
	</div>
	<div class="col-xs-12 available-format-row">
  		<p class="available-format-header">Choose available formats: </p>
  		<% @size_formats.each do |format| %>
		  <label class="li">
		  <%= check_box_tag :size_format_ids, format.id, @beer.size_formats.include?(format), :name => 'beer[size_format_ids][]' %><%= format.format_name %></label>
		<% end %>
	</div>
	<div class="col-sm-6 col-xs-12">
		<%= f.label :cellarable, "Is this drink cellarable?" %>
		<%= f.check_box :cellarable %>
	</div>	
	<div class="col-sm-6 col-xs-12">
		<%= f.label :dont_include, "Avoid showing any related info in Views?" %>
		<%= f.check_box :dont_include %>
	</div>		
	<div class="col-sm-3 col-xs-0"></div>
	<div class="col-sm-6 col-xs-12 text-center">
		<%= f.submit "Update", class: "btn btn-default btn-success formButton" %>
	</div>		
	<div class="col-sm-3 col-xs-0"></div>	
<% end %>