<%= form_for [:admin, @beer], :url => {:action => 'delete_beer'} do |g| %>
	<%= g.hidden_field :brewery_id, :value => @this_brewery.id %>

	<h5>Deleting:</h5>
	<h5 class="brewery-name-with-id"><%= @beer.beer_name %>&nbsp;</h5><h6 class="light-gray-text brewery-name-with-id">[id: <%= @beer.id %> ]</h6>
	<h5>Connect its beers to id:</h5>
	<% options = options_from_collection_for_select(@beers, :id, :connect_deleted_beer, @beer.id) %>
	<%= g.select :id,  options %>
	<%= g.submit "Delete beer", class: "btn btn-default btn-warning formButton" %>			
<% end %>