
<% @red_beers.each do |d| %>
	<div class="row small-padding current-beer-background-attention-needed">
		<div class="col-xs-6 col-sm-1">
			<% if d.brewery.image.blank? %>
				<h5 class="need-text"><%= link_to d.brewery.brewery_name, admin_brewery_beers_path(d.brewery.id) %></h5>
			<% else %>
				<img class="img-responsive center-block" alt="Responsive image" src="<%= d.brewery.image %>">
			<% end %>
		</div>
		<div class="col-sm-2">
			<% if d.beer_name.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5 class="brewery-name-with-id"><%= d.beer_name %>&nbsp;</h5><h6 class="light-gray-text brewery-name-with-id">[id: <%= d.id %> ]</h6>
			<% end %>
		</div>
		<div class="col-sm-1">
			<h5><%= (d.updated_at).strftime("%-m/%d/%y")  %></h5>
		</div>
		<div class="col-sm-1">
			<% if d.beer_type.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.beer_type.beer_type_name %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.beer_rating.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.beer_rating %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.beer_abv.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.beer_abv %>%</h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.beer_ibu.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.beer_ibu %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if d.speciality_notice.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= d.speciality_notice %></h5>
			<% end %>
		</div>
		<div class="col-sm-2">
			<% if !d.original_descriptors.blank? %>
				<h5 class="need-text">have originals</h5>
			<% elsif d.descriptor_list.blank? %>
				<h5 class="need-text">[need]</h5>
			<% else %>
				<h5><%= raw d.descriptors.join(', ') %></h5>
			<% end %>
		</div>
		<div class="col-sm-1">
			<% if @this_brewery.nil? %>
				<% @this_brewery = Brewery.find_by(id: d.brewery_id) %>
			<% end %>
			<%= link_to "Edit beer", edit_admin_brewery_beer_path(@this_brewery.id, d.id), class: "btn btn-success" %>
		</div>
	</div>
	<hr/>
<% end %>

