<%= render 'layouts/header' %> 
<div class="container admin-container">
	<div class="row header-row">
		<div class="page-header">
			<div class="row">
				<div class="col-xs-10">
					<% if @beer_type == "live" %>
						<h3 class="live-beer-count"><%= @live_brewery_beers.length %> drinks are complete</h3>
					<% elsif @beer_type == "green" %>
						<h3 class="complete-beer-text"><%= @green_beers.length %> drinks are complete</h3>
					<% elsif @beer_type == "red" %>
						<h3 class="attention-needed-beer-text"><%= @red_beers.length %> drinks need attention</h3>
					<% else %>
						<h3 class="usable-beer-text"><%= @yellow_beers.length %> drinks need attention</h3>
					<% end %>
				</div>
				<div class="col-xs-2">
					<%= link_to "Back", admin_breweries_path, class: 'btn btn-default formButton-cancel-draft-board-edit' %>
				</div>
			</div>
		</div>
	</div>
	<% if @beer_type == "live" %>
		<%= render 'all_live_beers' %>
	<% elsif @beer_type == "green" %>
		<%= render 'green_beers' %>
	<% elsif @beer_type == "red" %>
		<%= render 'red_beers' %>
	<% else %>
		<%= render 'yellow_beers' %>
	<% end %>
</div>
<%= render 'layouts/footer' %>