<% if !beer.likes_style.nil? %>
	<% if beer.best_guess >= 8 && beer.likes_style == "yes" %>
		<ul>
			<li>
				<p class="recommendation-reasons">You said you like <%= beer.beer_style_name %>, so here we are...</p>
			</li>									
			<li>
				<p class="recommendation-reasons">Others have rated this pretty highly.</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">This is a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% elsif beer.best_guess >= 8 && beer.likes_style == "neither" %>
		<ul>
			<li>
				<p class="recommendation-reasons">You didn't explicitely say you don't like <%= beer.beer_style_name %>, 
				and others have rated this pretty hightly...</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">Also, this is a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% elsif beer.best_guess >= 8 && beer.likes_style == "no" %>
		<ul>
			<li>
				<p class="recommendation-reasons">We know you don't like <%= beer.beer_style_name %>, 
				but others have rated this pretty hightly...</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">Also, this is a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>	
	<% elsif beer.best_guess >= 6 && beer.likes_style == "yes" %>
		<ul>
			<li>
				<p class="recommendation-reasons">You said you like <%= beer.beer_style_name %>, so here we are...</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">This is a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% elsif beer.best_guess >= 6 && beer.likes_style == "neither" %>
		<ul>
			<li>
				<p class="recommendation-reasons">You didn't explicitely say you don't like <%= beer.beer_style_name %>, 
				and others have rated this pretty hightly...</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">This is a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% elsif beer.best_guess >= 6 && beer.likes_style == "no" %>
		<ul>
			<li>
				<p class="recommendation-reasons">We know you don't like <%= beer.beer_style_name %>, 
				but others have rated this pretty hightly...</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">Also, this is a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% elsif beer.best_guess >= 0 && beer.likes_style == "yes" %>
		<ul>
			<li>
				<p class="recommendation-reasons">We know you said you like <%= beer.beer_style_name %>, 
				but others haven't rated this too kindly...</p>
			</li>
		</ul>
	<% elsif beer.best_guess >= 0 && beer.likes_style == "niether" %>
		<ul>
			<li>
				<p class="recommendation-reasons">You didn't explicitely say you don't like <%= beer.beer_style_name %>, 
				but others haven't rated this too kindly...</p>
			</li>
		</ul>
	<% else %>
		<ul>
			<li>
				<p class="recommendation-reasons">We know you don't like <%= beer.beer_style_name %>; 
				also, others haven't rated this too kindly...</p>
			</li>
		</ul>
	<% end %>
<% else %>
	<% if beer.best_guess >= 8 %>
		<ul>									
			<li>
				<p class="recommendation-reasons">Others have rated this pretty highly.</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">This is a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>	
	<% elsif beer.best_guess >= 6 %>
		<ul>
			<li>
				<p class="recommendation-reasons">Others have rated this as just OK</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">This is a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% else beer.best_guess >= 0 %>
		<ul>
			<li>
				<p class="recommendation-reasons">Others haven't rated this too kindly...</p>
			</li>
		</ul>
	<% end %>
<% end %>
