<% if !beer.likes_style.nil? %>
	<% if beer.best_guess >= 8 && beer.likes_style == "yes" %>
		<ul>
			<li>
				<p class="recommendation-reasons">You like <%= beer.beer_style_name %>, so here we are.</p>
			</li>									
			<li>
				<p class="recommendation-reasons">Others have rated this highly.</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% elsif beer.best_guess >= 8 && beer.likes_style == "neither" %>
		<ul>
			<li>
				<p class="recommendation-reasons">Though <%= beer.beer_style_name %> aren't your faves, others have rated this highly...</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% elsif beer.best_guess >= 8 && beer.likes_style == "no" %>
		<ul>
			<li>
				<p class="recommendation-reasons">Though you don't like <%= beer.beer_style_name %>, 
				others have rated this quite highly.</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>	
	<% elsif beer.best_guess >= 6 && beer.likes_style == "yes" %>
		<ul>
			<li>
				<p class="recommendation-reasons">You like <%= beer.beer_style_name %>, so here we are.</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% elsif beer.best_guess >= 6 && beer.likes_style == "neither" %>
		<ul>
			<li>
				<p class="recommendation-reasons">Though <%= beer.beer_style_name %> aren't your faves, others have rated this highly...</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">This is a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% elsif beer.best_guess >= 6 && beer.likes_style == "no" %>
		<ul>
			<li>
				<p class="recommendation-reasons">Though you don't like <%= beer.beer_style_name %>, 
				others have rated this highly...</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% elsif beer.best_guess >= 0 && beer.likes_style == "yes" %>
		<ul>
			<li>
				<p class="recommendation-reasons">Though you like <%= beer.beer_style_name %>, 
				others haven't rated this too kindly...</p>
			</li>
		</ul>
	<% elsif beer.best_guess >= 0 && beer.likes_style == "niether" %>
		<ul>
			<li>
				<p class="recommendation-reasons">Others haven't rated this too kindly...</p>
			</li>
		</ul>
	<% else %>
		<ul>
			<li>
				<p class="recommendation-reasons">We know you don't like <%= beer.beer_style_name %>; 
				also, others haven't rated this too kindly...</p>
			</li>
		</ul>
	<% end %>
<% else %>
	<% if beer.best_guess >= 8 %>
		<ul>									
			<li>
				<p class="recommendation-reasons">Others have rated this highly.</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>	
	<% elsif beer.best_guess >= 6 %>
		<ul>
			<li>
				<p class="recommendation-reasons">Others have rated this as just OK.</p>
			</li>
			<% if !beer.tag_one.blank? %>
			<li>
				<p class="recommendation-reasons">It's a <span><i class="fa fa-tag"></i> <%= beer.tag_one %></span> beer</p>
			</li>
			<% end %>
		</ul>
	<% else beer.best_guess >= 0 %>
		<ul>
			<li>
				<p class="recommendation-reasons">Others haven't rated this too kindly...</p>
			</li>
		</ul>
	<% end %>
<% end %>
