<%= render 'layouts/header' %> 
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="page-title">The best places have the best beers.</h3>
			</div>
		</div>
		<div class="row">
			<% @retailers.each do |retailer| %>
				<%= link_to location_path(retailer.id) do %>
					<div class="col-sm-3 col-xs-6">
						<div class="overview-tile">
							<div class="row img-responsive retailer-tile-image" alt="Responsive image" style="background-image: url(<%= retailer.image_url %>)">
							</div>
							<div class="row no-margin retailer-tile-header-row">
								<div class="col-sm-8 col-xs-12 retailer-tile-header-div padding-10 no-padding-right">
									<h5 class="tile-header"><%= retailer.short_name %></h5>
									<h5 class="tile-subheader"><i class="fa fa-map-marker"> <%= retailer.neighborhood %></i></h5>	
								</div>
								<div class="col-sm-4 visible-sm visible-md visible-lg text-right padding-10 no-padding-left">
									<h6 class="smiley-face"><i class="fa fa-smile-o"></i></h6>
									<h4 class="happiness-index">93</h4>
								</div>
								<div class="col-xs-12 visible-xs padding-10">
									<h6 class="smiley-face"><i class="fa fa-smile-o"></i></h6>
									<h4 class="happiness-index">93</h4>
								</div>
							</div>
							<div class="row no-margin list-overview">
								<div class="col-xs-12 padding-10">
									<p class="beers-at-retailer-for-user">Top beers for you:</p>
									<ol>
										<li>
											<p class="beers-at-retailer-for-user">Boneyard R.P.M. (an IPA)</p>
										</li>
										<li>
											<p class="beers-at-retailer-for-user">Holy Mountain Kiln & Cone (a Pale Ale)</p>
										</li>
										<li>
											<p class="beers-at-retailer-for-user">Crux Outcast (an IPA)</p>
										</li>
										<li>
											<p class="beers-at-retailer-for-user">Crux Outcast (an IPA)</p>
										</li>
										<li>
											<p class="beers-at-retailer-for-user">Crux Outcast (an IPA)</p>
										</li>
									</ol>
								</div>
								<div class="col-xs-12 overview-tile-footer"></div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
<%= render 'layouts/footer' %> 

