<%= render 'layouts/header' %> 
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="page-title"><%= @retailer.short_name %> beers</h3>
			</div>
		</div>
		<div class="row row-horizon">
			<% @beer_ranking.each do |beer| %>
			<div class="col-sm-4 col-xs-12 beer-tile-container">
				<% if @user_drink_list.map{|a| a.beer_id}.include? beer.id %>
				<div class="beer-added text-center">
					<i class="fa fa-check"></i>
				</div>
				<% else %>
				<div class="add-beer text-center show">
					<%= link_to brewery_beer_update_path(:beer => beer.id), :remote => true, :class => 'add-this-beer' do %>
						<i class="fa fa-plus"></i>
					<% end %>
				</div>
				<div class="beer-added text-center hide">
					<i class="fa fa-check"></i>
				</div>
				<% end %>
				<div class="overview-tile">
					<div class="row no-margin">
						<div class="col-xs-12 no-padding">
							<%= div_for beer, :class => "cloud-holder" do %>
							<% end %>	
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-10">
							<h5 class="tile-header beer-tile-header"><%= beer.brewery.short_brewery_name %> <%= beer.beer_name %></h5>
						</div>
						<div class="col-xs-12">
							<% if !beer.beer_type_id.nil? %>
								<h5 class="tile-subheader beer-info no-overflow"><%= beer.beer_type.beer_type_name %></h5>
							<% else %>
								<h5 class="tile-subheader beer-info">Style unknown</h5>
							<% end %>
						</div>
						<div class="col-xs-6 no-padding-right abv-div">
							<h6 class="tile-subheader beer-info"><%= beer.beer_abv %>% ABV</h6>
						</div>
						<div class="col-xs-6 no-padding-left text-center">
							<% if !beer.beer_ibu.nil? %>
								<h6 class="tile-subheader beer-info"><%= beer.beer_ibu %> IBUs</h6>
							<% else %>
								<h6 class="tile-subheader beer-info">IBUs N/A</h6>
							<% end %>
						</div>	
					</div>
					<div class="row no-margin our-best-guess">
						<div class="col-xs-12">
							<p>Our best guess for you:</p>
							<% if beer.best_guess > 10 %>
								<% beer.best_guess == 10 %>
							<% end %>
							<% if beer.best_guess % 1 == 0 %>
								<h1><%= beer.best_guess.round(0) %></h1>
							<% else %>
								<h1><%= beer.best_guess %></h1>
							<% end %>
						</div>
						
					</div>
					<div class="row no-margin list-overview">
						<div class="col-xs-12 why-statement">
							<p>Why, you ask?</p>
							<%= render 'locations/rating_rationale', beer: beer %>
						</div>
						<div class="col-xs-12 overview-tile-footer"></div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
<%= render 'layouts/footer' %> 