<%= render 'layouts/header' %> 
	<div class="container">
		<div class="row">
			<div class="col-xs-12 visible-sm visible-md visible-lg">
				<div class="row img-responsive retailer-logo-image-med" alt="Responsive image" style="background-image: url(<%= @retailer.logo_med %>)">
					<h3 class="retailer-page-title"><%= @retailer.short_name %></h3>
				</div>
			</div>
			<div class="col-xs-12 visible-xs">
				<div class="row img-responsive retailer-logo-image-small" alt="Responsive image" style="background-image: url(<%= @retailer.logo_small %>)">
					<h3 class="retailer-page-title-mobile"><%= @retailer.short_name %></h3>
				</div>
			</div>
		</div>
		<div class="row" id="beer-row">
			<% @beer_ranking.each do |beer| %>
				<% if beer.brewery.dont_include != true %>
					<div class="col-sm-4 col-xs-12 beer-tile-container">
						<%= link_to new_user_rating_at_retailer_path(current_user.id, beer.id, @retailer.id), :class => 'rate-beer text-center' do %>
							<i class="fa fa-tasks"></i>
						<% end %>
						<div class="overview-tile-2">
							<div class="row no-margin">
								<div class="col-xs-12 no-padding">
									<%= div_for beer, :class => "cloud-holder" do %>
									<% end %>	
								</div>
							</div>
							<div class="row no-margin">
								<div class="col-xs-10">
									<% if beer.collab == true %>
										<% @title_header = (Beer.collab_brewery_name(beer.id) + " " + "<span class=combined-drink-text>"+beer.beer_name+"</span>").html_safe %>
										<%= link_to @title_header, brewery_beer_path(beer.brewery.id, beer.id), :class => 'tile-header beer-tile-header' %>
									<% elsif beer.brewery.short_brewery_name.nil? %>
										<% @title_header = (beer.brewery.brewery_name + " " + "<span class=combined-drink-text>"+beer.beer_name+"</span>").html_safe %>
										<%= link_to @title_header, brewery_beer_path(beer.brewery.id, beer.id), :class => 'tile-header beer-tile-header' %>
									<% else %>
										<% @title_header = (beer.brewery.short_brewery_name + " " + "<span class=combined-drink-text>"+beer.beer_name+"</span>").html_safe %>
										<%= link_to @title_header, brewery_beer_path(beer.brewery.id, beer.id), :class => 'tile-header beer-tile-header' %>
									<% end %>
								</div>
								<div class="col-xs-12">
									<% if !beer.beer_type_id.nil? %>
										<h5 class="tile-subheader beer-info no-overflow"><%= beer.beer_type.beer_type_name %></h5>
									<% else %>
										<h5 class="tile-subheader beer-info">Style unknown</h5>
									<% end %>
								</div>
								<div class="col-xs-6 no-padding-right">
									<% if !beer.beer_abv.nil? %>
										<h6 class="tile-subheader beer-info"><%= beer.beer_abv %>% ABV</h6>
									<% else %>
										<h6 class="tile-subheader beer-info">ABV N/A</h6>
									<% end %>
								</div>
								<% if !beer.beer_ibu.nil? %>
									<div class="col-xs-6 no-padding-left text-center ibu-div">
										<h6 class="tile-subheader beer-info"><%= beer.beer_ibu %> IBUs</h6>
									</div>
								<% else %>
									<div class="col-xs-6"></div>
								<% end %>	
							</div>
							<div class="row no-margin our-best-guess">
								<div class="col-xs-12">
									<% if beer.user_rating %>
										<% if (((beer.user_rating) * 2).round)/2.0) == (((beer.best_guess) * 2).round)/2.0) %>
											<p>Our <span class="best-guess">best guess</span> was <span class="best-guess"><%= ((((beer.best_guess) * 2).round)/2.0) %></span> and you rated it:</p>
											<h1 class="user-rating"><%= (((beer.user_rating * 2).round)/2.0) %></h1>
										<% else %>
											<p>Our <span class="best-guess">best guess</span> was <span class="best-guess"><%= ((((beer.best_guess) * 2).round)/2.0) %></span> but you rated it:</p>
											<h1 class="user-rating"><%= (((beer.user_rating * 2).round)/2.0) %></h1>
										<% end %>
									<% else %>
										<p>Our <span class="best-guess">best guess</span> for you:</p>
										<% if beer.best_guess > 10 %>
											<% beer.best_guess == 10 %>
										<% end %>
										<% if beer.best_guess % 1 == 0 %>
											<h1 class="best-guess"><%= ((((beer.best_guess) * 2).round)/2.0) %></h1>
										<% else %>
											<h1 class="best-guess"><%= ((((beer.best_guess) * 2).round)/2.0) %></h1>
										<% end %>
									<% end %>
								</div>
								
							</div>
							<div class="row no-margin list-overview">
								<div class="col-xs-12 why-statement">
									<p>Why, you ask?</p>
									<% if beer.recommendation_rationale == "style" %>
										<% if  beer.is_hybrid == "yes" %>
											<%= render 'locations/hybrid_rating_rationale', beer: beer %>
										<% else %>
											<%= render 'locations/nonhybrid_rating_rationale', beer: beer %>
										<% end %>
									<% else %>
										<%= render 'locations/type_rating_rationale', beer: beer %>
									<% end %>
								</div>
								<div class="col-xs-12 overview-tile-footer"></div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
<%= render 'layouts/footer' %> 