<%= render 'layouts/header' %> 
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="page-title">Find <i>your</i> beer.</h3>
			</div>
		</div>
		<div class="row">
			<% @beer_ranking.each do |beer| %>
			<div class="col-sm-3 col-xs-6">
				<div class="add-beer text-center"><i class="fa fa-plus"></i></div>
				<div class="overview-tile">
					<div class="row no-margin">
						<div class="col-xs-12 no-padding">
							<%= div_for beer, :class => "cloud-holder" do %>
							<% end %>	
						</div>
					</div>
					<div class="row no-margin">
						<div class="col-xs-9 no-padding-right">
							<h5 class="tile-header"><%= beer.brewery.short_brewery_name %> <%= beer.beer_name %></h5>
						</div>
						<div class="col-xs-12">
							<% if !beer.beer_type_id.nil? %>
								<h5 class="tile-subheader beer-info"><%= beer.beer_type.beer_type_name %></h5>
							<% else %>
								<h5 class="tile-subheader beer-info"> </h5>
							<% end %>
						</div>
						<div class="col-xs-6 no-padding-right abv-div">
							<h6 class="tile-subheader beer-info"><%= beer.beer_abv %>% ABV</h6>
						</div>
						<div class="col-xs-6 no-padding-left text-center">
							<h6 class="tile-subheader beer-info"><%= beer.beer_ibu %> IBUs</h6>
						</div>	
					</div>
					<div class="row no-margin our-best-guess">
						<div class="col-xs-12">
							<p>Our best guess for you:</p>
							<% if beer.best_guess > 10 %>
								<% beer.best_guess == 10 %>
							<% end %>
							<% if beer.best_guess % 1 == 0 %>
								<h1><%= beer.best_guess.round(0) %></h1>
							<% else %>
								<h1><%= beer.best_guess %></h1>
							<% end %>
						</div>
						
					</div>
					<div class="row no-margin list-overview">
						<div class="col-xs-12 why-statement">
							<p>Why, you ask?</p>
							<ul>
								<li>
									<p class="recommendation-reasons">You prefer IPAs</p>
								</li>									
								<li>
									<p class="recommendation-reasons">This IPA is known to be citrusy and piney--your faves.</p>
								</li>
								<li>
									<p class="recommendation-reasons">Your friend Kyle recommends this to you.</p>
								</li>
								<li>
									<p class="recommendation-reasons">It's <span><i class="fa fa-tag"></i> special</span></p>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 overview-tile-footer"></div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
<%= render 'layouts/footer' %> 