<div class="friend-search-tile">
	<div class="row no-margin">
		<div class="col-xs-3 mobile-no-padding">
			<% if friend.user_graphic.nil? %>
				<%= render 'layouts/user_initials', friend: friend %>
			<% else %>
				<%= render 'layouts/user_graphic', friend: friend %>
			<% end %>
		</div>
		<div class="col-xs-7 no-padding">
			<h4 class="friend-name"><%= friend.first_name %> <%= friend.last_name %></h4>
			<h5 class="friend-username"><%= friend.username %></h5>
		</div>
		<div class="col-xs-2 no-padding">
			<% if friend.friend_status(current_user.id).mate == true %>
				<div class="friend-response">
					<i class="fa fa-user fa-2x mate-in-friend-view" data-toggle="tooltip" title="This person is your mate!"></i>
				</div>
			<% else %>
				<% if friend.friend_status(current_user.id).user_id == current_user.id %>
					<div class="friend-response">
						<p>pending</p>
						<%= link_to invite_connection_reminder_path(friend.id), :remote => true, class:"send-connection-invite pending-connection" do %>
							<i class="fa fa-envelope-o fa-2x" data-toggle="tooltip" title="Send reminder"></i>
						<% end %>
						<i id="remove-friend-id-<%= friend.id %>" class="fa fa-times-circle-o fa-2x remove-friend pending-connection" data-toggle="tooltip" title="Remove request"></i>
					</div>
				<% else %>
					<div class="friend-response">
						<p>pending</p>
						<i id="add-friend-id-<%= friend.id %>" class="fa fa-plus-square-o fa-2x add-friend pending-connection" data-toggle="tooltip" title="Add friend"></i>
						<i id="remove-friend-id-<%= friend.id %>" class="fa fa-times-circle-o fa-2x remove-friend pending-connection" data-toggle="tooltip" title="Decline invite"></i>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>