<div class="row no-margin drink-info-universal-first-row">
	<div class="col-xs-2 col-sm-2 brewery-image-holder-universal">
		<% if !drink.beer.brewery.image.blank? %>
			<img class="img-responsive center-block" alt="Responsive image" src="<%= drink.beer.brewery.image %>">
		<% else %>
			<div class="brewery-image-holder-empty-ratings-page text-center">
				<h2><i class="fa fa-beer"></i></h2>
			</div>
		<% end %>
	</div>
	<div class="col-xs-10 no-padding drink-name-and-info-holder-universal">
		<%= render 'layouts/drink_name_and_info', drink: drink.beer %>	
	</div>
</div>
<div class="row no-margin size-price-row">
	<div class="col-xs-2">
		<h5 class="svg-holder" data-toggle="tooltip" title="<%= drink.size_format.format_name %>" data-placement="right">
			<%= svg drink.size_format.image %>
		</h5>
	</div>
	<div class="col-xs-3 item-cost-holder">
		<% if drink.inventory_id.nil? %>
			<% if drink.disti_inventory.current_case_cost < drink.disti_inventory.regular_case_cost %>
				<% @item_price_class = "item-price-special" %>
			<% else %>
				<% @item_price_class = "item-price" %>
			<% end %>
			<h5 class="item-price">
				$<%= drink.disti_inventory.drink_price %>
			</h5>
		<% else %>
			<% if !drink.inventory.sale_case_cost.nil? %>
				<% if drink.inventory.drink_price > ((drink.inventory.sale_case_cost / drink.inventory.min_quantity) * 1.45) %>
					<% @item_price_class = "item-price-special" %>
				<% else %>
					<% @item_price_class = "item-price" %>
				<% end %>
			<% else %>
				<% @item_price_class = "item-price" %>
			<% end %>
			<h5 class=<%= @item_price_class %>>
				$<%= drink.inventory.drink_price %>
			</h5>
		<% end %>
	</div>
	<div class="col-xs-5 no-padding text-right">
		<h5 class="order-quantity">Limited Qty: 
			<span id="user-delivery"><%= drink.limited_quantity %></span>
		</h5>
	</div>
</div>