<div class="row no-margin drink-info-universal-first-row">
	<div class="col-xs-2 col-sm-2 brewery-image-holder-universal">
		<% if !drink.beer.brewery.image.blank? %>
			<img class="img-responsive center-block" alt="Responsive image" src="<%= drink.beer.brewery.image %>">
		<% else %>
			<div class="brewery-image-holder-empty-ratings-page text-center">
				<h2><i class="fa fa-beer"></i></h2>
			</div>
		<% end %>
	</div>
	<div class="col-xs-8 col-sm-8 no-padding drink-name-and-info-holder-universal">
		<%= render 'layouts/drink_name_and_info', drink: drink.beer %>	
	</div>
	<div class="col-xs-2 col-sm-2 no-padding">
		
	</div>
	<div class="drink-info-universal-show-more hidden">
		<i class="fa fa-plus-square-o" aria-hidden="true" data-toggle="tooltip" title="Show more"></i>
	</div>
	<div class="drink-info-universal-show-less show">
		<i class="fa fa-minus-square-o" aria-hidden="true" data-toggle="tooltip" title="Show less"></i>
	</div>
</div>
<div class="row no-margin drink-info-universal-second-row show">	
	<hr class="drink-info-separater">
	<div class="col-xs-5 col-sm-6 no-padding">
		<%= render 'layouts/cellar_drink_user_rating_info', drink: drink %>
	</div>
	<div class="col-xs-7 col-sm-6 cloud-descriptor-holder-universal no-padding">
		<div class="cloud-descriptors" id="drink_<%= drink.beer_id %>"></div>
	</div>
</div>
<div class="row no-margin size-price-row">
	<div class="col-xs-9 no-padding text-right">
		<h5 class="order-quantity">Qty: 
			<span id="user-delivery-<%= drink.id %>"><%= drink.remaining_quantity.round %></span>
		</h5>
	</div>
	<div class="col-xs-1 cellar-quantity-add" id="user-cellar-add-<%= drink.id %>" data-toggle="tooltip" title="Add to quantity">
		<i class="fa fa-plus-circle"></i>
	</div>
	<div class="col-xs-1 cellar-quantity-subtract" id="user-cellar-minus-<%= drink.id %>" data-toggle="tooltip" title="Subtract quantity">
		<i class="fa fa-minus-circle"></i>
	</div>
</div>