<div class="row no-margin">
	<div class="col-xs-12">
		<hr>
	</div>
</div>
<div class="row drink-tile-size-price-row">
	<div class="col-xs-4 no-padding text-center">
		<% if drink.has_attribute?(:inventory_id) %>
			<h4 class="drink-tile-item-price" data-toggle="tooltip" title="Price does not include tax"><%= number_to_currency(drink.inventory.drink_price_four_five, precision: 2) %> per </h4>
		<% else %>
			<h4 class="drink-tile-item-price" data-toggle="tooltip" title="Price does not include tax"><%= number_to_currency(drink.drink_price_four_five, precision: 2) %> per </h4>
		<% end %>
	</div>			
	<% if drink.has_attribute?(:inventory_id) %>
		<div class="col-xs-2 no-padding text-center">
			<h4 class="drink-tile-svg-holder" data-toggle="tooltip" title="<%= drink.inventory.size_format.format_name %>" data-placement="right">
				<%= svg drink.inventory.size_format.image %>
			</h4>
		</div>
	<% else %>
		<div class="col-xs-2 no-padding text-center">
			<h4 class="drink-tile-svg-holder" data-toggle="tooltip" title="<%= drink.size_format.format_name %>" data-placement="right">
				<%= svg drink.size_format.image %>
			</h4>
		</div>
	<% end %>
	<% if drink.has_attribute?(:inventory_id) %>
		<div class="col-xs-6 no-padding dropdown">
				<% if !drink.inventory.limit_per.nil? %>
					<% @end_quantity = drink.inventory.limit_per %>
				<% else %>
					<% @end_quantity = drink.inventory.stock %>
				<% end %>
				<% @quantity_available = [*0..@end_quantity] %>
				<% if !@customer_drink_order.blank? %>
					<% @chosen_quantity = @customer_drink_order.where(inventory_id: drink.inventory_id).pluck(:quantity).first %>
				<% else %>
					<% @chosen_quantity = 0 %>
				<% end %>
				<%= link_to "#", class: 'btn btn-primary stock-order-button', id:"#{drink.id}", data:{toggle: "dropdown"}, aria: {haspopup:"true"} do %>
					<div class="row no-margin">
						<div class="col-xs-6 no-padding">
							<div class="order-dropdown-button-text-holder">
								<h4>Order</h4>
							</div>
						</div>
						<div class="col-xs-2 text-center">
							<div class="chosen-quantity-shown">
								<% if !@chosen_quantity.nil? %>
									<h4><%= @chosen_quantity %></h4>
								<% else %>
									<h4>0</h4>
								<% end %>
							</div>
						</div>
						<div class="col-xs-1 text-center order-button-carrot-holder">
							<i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
						</div>
					</div>
				<% end %>
				<ul class="dropdown-menu stock-order-quantity-dropdown" aria-labelledby="<%=drink.id%>">
					<% @quantity_available.each do |quantity| %>
						<% if @chosen_quantity.to_i == quantity %>
							<li class="<%= @customer_change_quantity%> selected" id="<%= drink.id %>-<%= quantity %>" data-value="<%= quantity %>">
								<h4><%= quantity %></h4>
							</li>
						<% else %>
							<li class="<%= @customer_change_quantity%>" id="<%= drink.id %>-<%= quantity %>" data-value="<%= quantity %>">
								<h4><%= quantity %></h4>
							</li>
						<% end %>
					<% end %>
				</ul>
		</div>
	<% else %>
		<div class="col-xs-6 no-padding dropdown">
				<% if !drink.limit_per.nil? %>
					<% @end_quantity = drink.limit_per %>
				<% else %>
					<% @end_quantity = drink.stock %>
				<% end %>
				<% @quantity_available = [*0..@end_quantity] %>
				<% if !@customer_drink_order.blank? %>
					<% @chosen_quantity = @customer_drink_order.where(inventory_id: drink.id).pluck(:quantity).first %>
				<% else %>
					<% @chosen_quantity = 0 %>
				<% end %>
				<%= link_to "#", class: 'btn btn-primary stock-order-button', id:"#{drink.id}", data:{toggle: "dropdown"}, aria: {haspopup:"true"} do %>
					<div class="row no-margin">
						<div class="col-xs-6 no-padding">
							<div class="order-dropdown-button-text-holder">
								<h4>Order</h4>
							</div>
						</div>
						<div class="col-xs-2 text-center">
							<div class="chosen-quantity-shown">
								<% if !@chosen_quantity.nil? %>
									<h4><%= @chosen_quantity %></h4>
								<% else %>
									<h4>0</h4>
								<% end %>
							</div>
						</div>
						<div class="col-xs-1 text-center order-button-carrot-holder">
							<i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>
						</div>
					</div>
				<% end %>
				<ul class="dropdown-menu stock-order-quantity-dropdown" aria-labelledby="<%=drink.id %>">
					<% @quantity_available.each do |quantity| %>
						<% if @chosen_quantity.to_i == quantity %>
							<li class="<%= @customer_change_quantity%> selected" id="<%= drink.id %>-<%= quantity %>" data-value="<%= quantity %>">
								<h4><%= quantity %></h4>
							</li>
						<% else %>
							<li class="<%= @customer_change_quantity%>" id="<%= drink.id %>-<%= quantity %>" data-value="<%= quantity %>">
								<h4><%= quantity %></h4>
							</li>
						<% end %>
					<% end %>
				</ul>
		</div>
	<% end %>
</div>