<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container" id="drink-tile-<%= drink.id %>">
	<div class="drink-delivery-tile">
		<%= render 'layouts/drink_tile_drink_info_row', drink: drink %>
		<% if tile_type == "order" %>
			<%= render 'layouts/drink_tile_order_action_row', drink: drink %>
		<% elsif tile_type == "review" %>
			<%= render 'layouts/drink_tile_order_review_row', drink: drink %>
		<% elsif tile_type == "search_results" %>
			<%= render 'layouts/drink_tile_search_results_row', drink: drink %>
		<% else %>
		
		<% end %>
		<%= render 'layouts/drink_tile_rating_info_row', drink: drink %>
		<div class="drink-tile-show-more show">
			<i class="fa fa-plus-square-o" aria-hidden="true" data-toggle="tooltip" title="Show more"></i>
		</div>
		<div class="drink-tile-show-less hidden">
			<i class="fa fa-minus-square-o" aria-hidden="true" data-toggle="tooltip" title="Show less"></i>
		</div>
	</div>
</div>	