<div class="col-xs-12 col-sm-6 col-md-4 beer-tile-container" id="drink-tile-<%= drink.id %>">
	<div class="drink-delivery-tile">
		<% if tile_type == "user_rating" %>
			<%= render 'layouts/drink_tile_drink_info_row_rating', drink: drink %>	
		<% elsif tile_type == "search" %>
			<%= render 'layouts/drink_tile_drink_info_row_search', drink: drink %>
		<% else %>
			<%= render 'layouts/drink_tile_drink_info_row', drink: drink %>
			<% if tile_type == "order" %>
				<%= render 'layouts/drink_tile_order_action_row', drink: drink %>
			<% elsif tile_type == "review" %>
				<%= render 'layouts/drink_tile_order_review_row', drink: drink %>
			<% elsif tile_type == "search_results" %>
				<%= render 'layouts/drink_tile_search_results_row', drink: drink %>
			<% else %>
			
			<% end %>
		<% end %>
		
	</div>
</div>	