<div class="row no-margin drink-info-universal-first-row">
	<div class="col-xs-2 col-sm-2 brewery-image-holder-universal">
		<% if !drink.beer.brewery.image.blank? %>
			<img class="img-responsive center-block" alt="Responsive image" src="<%= drink.beer.brewery.image %>">
		<% else %>
			<div class="brewery-image-holder-empty-ratings-page text-center">
				<h2><i class="fa fa-beer"></i></h2>
			</div>
		<% end %>
	</div>
	<div class="col-xs-10 no-padding drink-name-and-info-holder-universal">
		<%= render 'layouts/drink_name_and_info', drink: drink.beer %>	
	</div>
</div>
<div class="row no-margin size-price-row">
	<div class="col-xs-2">
		<h5 class="svg-holder" data-toggle="tooltip" title="<%= drink.size_format.format_name %>" data-placement="right">
			<%= svg drink.size_format.image %>
		</h5>
	</div>
	<div class="col-xs-2 item-cost-holder no-padding-left">
		<% if drink.inventory_id.nil? %>
			<% if @user_subscription.subscription.pricing_model == "four_five" %>
				<% @disti_inventory_drink_margin = drink.disti_inventory.drink_price_four_five %>
			<% elsif @user_subscription.subscription.pricing_model == "five_zero" %>
				<% @disti_inventory_drink_margin = drink.disti_inventory.drink_price_five_zero %>
			<% else %>
				<% @disti_inventory_drink_margin = drink.disti_inventory.drink_price_five_five %>
			<% end %>
			
			<% if drink.disti_inventory.current_case_cost < drink.disti_inventory.regular_case_cost %>
				<% @item_price_class = "item-price-special" %>
			<% else %>
				<% @item_price_class = "item-price" %>
			<% end %>
			<h5 class="item-price">
				$<%= @disti_inventory_drink_margin %>
			</h5>
		<% else %>
			<% if @user_subscription.subscription.pricing_model == "four_five" %>
				<% @inventory_drink_margin = drink.inventory.drink_price_four_five %>
			<% elsif @user_subscription.subscription.pricing_model == "five_zero" %>
				<% @inventory_drink_margin = drink.inventory.drink_price_five_zero %>
			<% else %>
				<% @inventory_drink_margin = drink.inventory.drink_price_five_five %>
			<% end %>
			
			<% if !drink.inventory.sale_case_cost.nil? %>
				<% if @inventory_drink_margin > ((drink.inventory.sale_case_cost / drink.inventory.min_quantity) * 1.45) %>
					<% @item_price_class = "item-price-special" %>
				<% else %>
					<% @item_price_class = "item-price" %>
				<% end %>
			<% else %>
				<% @item_price_class = "item-price" %>
			<% end %>
			<h5 class=<%= @item_price_class %>>
				$<%= @inventory_drink_margin %>
			</h5>
		<% end %>
	</div>
	<% if !drink.inventory_id.nil? %>
		<div class="col-xs-5 no-padding text-right">
			<h5 class="packaged-on">Best by:
				<% if !drink.inventory.best_by.nil? %> 
					<span><%= drink.inventory.best_by.strftime("%m/%d/%y") %></span>
				<% else %>
					N/A
				<% end %>
			</h5>
		</div>
		<div class="col-xs-3 no-padding text-right">
			<h5 class="order-quantity">Stock: 
				<span id="user-delivery"><%= drink.inventory.stock %></span>
			</h5>
		</div>
	<% else %>
		<div class="col-xs-offset-3 col-xs-4 no-padding text-right">
			<h5 class="order-quantity">Limited to: 
				<span id="user-delivery"><%= drink.limited_quantity %></span>
			</h5>
		</div>
	<% end %>
</div>