 <footer class="footer">
	<div class="container">
        <div class="row no-margin">
        	<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-12">
        		<ul class="list-inline">
		            <li>
		            	<%= link_to "Home", root_path %>
		            </li>
		            <li class="footer-menu-divider">&sdot;</li>
		            <li>
		            	<%= link_to "Blog", blog_posts_path %>
		            </li>
		            <li class="footer-menu-divider">&sdot;</li>
		            <li>
		            	<%= link_to "Privacy", privacy_path %>
		            </li>
		            <li class="footer-menu-divider">&sdot;</li>
		            <li>
		            	 <%= link_to "Terms", terms_path %>
		            </li>
		            <li class="footer-menu-divider">&sdot;</li>
		            <li>
		            	 <%= mail_to "questions@drinkknird.com", "Contact" %>
		            </li>
		        </ul>
		        <p class="copyright text-muted small">&copy; Knird 2018. Seattle, WA.</p>
        	</div>
        </div>   
    </div>
</footer>