<div class="col-xs-12 drink-name-col">
	<% if drink.beer.collab == true %>
		<% @title_header = (Beer.collab_brewery_name(drink.beer.id) + " " + "<span class=combined-drink-text>"+drink.beer.beer_name+"</span>").html_safe %>
		<%= link_to @title_header, brewery_beer_path(drink.beer.brewery.id, drink.beer.id), :class => 'tile-header beer-tile-header' %>
	<% elsif drink.beer.brewery.short_brewery_name.nil? %>
		<% @title_header = (drink.beer.brewery.brewery_name + " " + "<span class=combined-drink-text>"+drink.beer.beer_name+"</span>").html_safe %>
		<%= link_to @title_header, brewery_beer_path(drink.beer.brewery.id, drink.beer.id), :class => 'tile-header beer-tile-header' %>
	<% else %>
		<% @title_header = (drink.beer.brewery.short_brewery_name + " " + "<span class=combined-drink-text>"+drink.beer.beer_name+"</span>").html_safe %>
		<%= link_to @title_header, brewery_beer_path(drink.beer.brewery.id, drink.beer.id), :class => 'tile-header beer-tile-header' %>
	<% end %>
</div>
<div class="col-xs-12 drink-style-col">
	<% if !drink.beer.beer_type_id.nil? %>
		<h5 class="tile-subheader beer-info no-overflow beer-type-info"><%= drink.beer.beer_type.beer_type_name %></h5>
		<% if drink.beer.beer_type.cellarable == true %>
			<% if drink.beer.cellar_note.nil? %>
				<p class="cellarable" data-toggle="tooltip" title="<%= drink.beer.beer_type.cellarable_info %>">cellar
					<i class="fa fa-chevron-circle-right cellar-this-drink" id="cellar-drink-<%= drink.id %>-<%= drink.quantity %>"></i>	
				</p>
			<% else %>
				<p class="cellarable" data-toggle="tooltip" title="<%= drink.beer.cellar_note %>">cellar
					<i class="fa fa-chevron-circle-right cellar-this-drink" id="cellar-drink-<%= drink.id %>-<%= drink.quantity %>"></i>	
				</p>
			<% end %>
		<% end %>
	<% else %>
		<h5 class="tile-subheader beer-info">Style unknown</h5>
	<% end %>
</div>
<div class="col-xs-6 col-sm-5 drink-stats-col">
	<% if !drink.beer.beer_abv.nil? %>
		<h6 class="tile-subheader beer-info"><%= drink.beer.beer_abv %>% ABV</h6>
	<% else %>
		<h6 class="tile-subheader beer-info">ABV N/A</h6>
	<% end %>
</div>
<% if !drink.beer.beer_ibu.nil? %>
	<div class="col-xs-6 col-sm-5 no-padding-left text-center ibu-div">
		<h6 class="tile-subheader beer-info"><%= drink.beer.beer_ibu %> IBUs</h6>
	</div>
<% else %>
	<div class="col-xs-6 col-sm-5"></div>
<% end %>