<div class="friend-search-tile">
	<div class="row no-margin">
		<div class="col-xs-3 mobile-no-padding">
			<% if friend.user_graphic.nil? %>
				<%= render 'layouts/user_initials', friend: friend %>
			<% else %>
				<%= render 'layouts/user_graphic', friend: friend %>
			<% end %>
		</div>
		<div class="col-xs-7 no-padding">
			<h4 class="friend-name"><%= friend.first_name %> <%= friend.last_name %></h4>
			<h5 class="friend-username"><%= friend.username %></h5>
		</div>
		<div class="col-xs-2 no-padding holding-friend-id" id="friend-id-<%= friend.id %>">
			<% if friend.friend_status(current_user.id).blank? %>
				<div class="friend-response add" data-toggle="tooltip" title="Send friend request">
					<i class="fa fa-plus-square-o fa-2x"></i>
				</div>
			<% elsif friend.friend_status(current_user.id).mate == true %>
				<div class="mate-in-friend-view" data-toggle="tooltip" title="This person is your mate!">
					<i class="fa fa-user fa-2x"></i>
				</div>
			<% else %>
				<% if friend.friend_status(current_user.id).confirmed == true %>
					<div class="friend-response drop" data-toggle="tooltip" title="Remove friend">
						<i class="fa fa-times-circle fa-2x"></i>
					</div>
				<% else %>
					<% if friend.friend_status(current_user.id).user_id == current_user.id %>
						<div class="friend-response pending drop" data-toggle="tooltip" title="Remove friend request">
							<p>pending</p>
							<i class="fa fa-times-circle fa-2x"></i>
						</div>
					<% else %>
						<div class="friend-response pending invite">
							<p>pending</p>
							<i class="fa fa-plus-square-o fa-2x add-friend" data-toggle="tooltip" title="Add friend"></i>
							<i class="fa fa-times-circle fa-2x decline-friend" data-toggle="tooltip" title="Decline friend request"></i>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>