<nav id="home-navbar" class="navbar navbar-default navbar-fixed-top homeNavbar" role="navigation">
    <div class="container">
    	<div class="row no-margin">
    		<div class="col-xs-0 col-sm-4"></div>   
            <div class="navbar-header-home col-xs-2 col-sm-4">
                <%= link_to "Knird", root_path, id: "logo", class:"visible-sm visible-md visible-lg brand-font" %>
                <%= link_to "K", root_path, id: "logo", class:"navbar-brand brand visible-xs brand-font" %>
        	</div>	
        	<div class="col-xs-0 col-sm-1"></div>
	    	<div class="col-xs-6 col-sm-2 hidden" id="home-header-get-started-button">
			    <%= link_to "Get started", invitation_code_path, :anchor => "homepage-get-started-box", class: 'btn formButton-home-header-get-started-button' %>         	
	       	</div>
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
	                <ul class="nav navbar-nav">
	                  <% if user_signed_in? %>
					   		<li class="navLinks dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Me <span class="caret"></span></a>
					          <ul class="dropdown-menu">
					            
					            <li class="dropdown-header">My activity</li>
					            <li class="dropdown-link"><%= link_to "Deliveries", user_deliveries_path('next') %></li>
					            <li class="dropdown-link"><%= link_to "Drink preferences", user_profile_path('drink_types') %></li>
					            <li class="dropdown-link"><%= link_to "Recent activity", recent_user_ratings_path(current_user.id) %></li>
					            <li class="dropdown-link"><%= link_to "Supply", user_supply_path(current_user.id, 'cooler') %></li>
								
								<li class="dropdown-header">My settings</li>
								<li class="dropdown-link"><%= link_to "Account settings", account_settings_membership_path(current_user.id) %></li>
								
					            <% if current_user.role_id == 1 %>
						            <li class="dropdown-header">Admin links</li>
						            <li class="dropdown-link"><%= link_to "Breweries", admin_breweries_path %></li>
						            <li class="dropdown-link"><%= link_to "Fulfillment", admin_fulfillment_index_path %></li>
						            <li class="dropdown-link"><%= link_to "Inventory", admin_inventories_path("stock") %></li>
									<li class="dropdown-link"><%= link_to "Invite", new_user_invitation_path %></li>
						            <li class="dropdown-link"><%= link_to "Recommendations", admin_recommendation_path("#{current_user.id}-in_stock") %></li> 
							    <% elsif current_user.role_id == 2 %>
							    	<li class="dropdown-header">Admin links</li>
						            <li class="dropdown-link"><%= link_to "Breweries", admin_breweries_path %></li>
							    <% end %>
							    
							    <li role="separator" class="divider"></li>
							    <li class="dropdown-logout"><%= link_to "Log out", destroy_user_session_path, method: :delete  %></li>
					          </ul>
					        </li>
					  <% else %>
			          	<li class="navLinks"> <%= link_to "Log in", new_user_session_path %></li>
					  <% end %>
	                </ul>
	            </div> <!-- /.nav links -->
	            
    	</div> <!-- /.row -->
    </div> <!-- /.container -->  
</nav>