<div class="col-xs-12 text-center">
	<h4 class="estimated-delivery-price-header delivery-estimate-information">
		You can change these estimates by adjusting your drink profile inputs.
	</h4>	
</div>
<% if @delivery_preferences.beer_chosen %>
	<div class="col-xs-12 col-sm-offset-4 col-sm-4">
		<div class="row no-margin estimated-delivery-price-holder-signup">
			<div class="row no-margin">
				<h5 class="drink-estimate-header">Beer estimates for a delivery every <%= @delivery_frequency %> weeks.</h5>
			</div>
			<div class="col-xs-4 preference-estimate-holder delivery-estimate-information">
				<div class="delivery-settings-info-box drinks">
					<p>beers</p>
					<h4 class="delivery-preference-prompt">~<%= @beers_per_delivery %></h4>
				</div>	
			</div>
			<div class="col-xs-8 preference-estimate-holder delivery-estimate-information">
				<div class="delivery-settings-info-box total-price">
					<p>beer price <sup  data-toggle="tooltip" title="You always have final say on each delivery, so you'll never be surprised by the actual cost.">?</sup></p>
					<h4 class="delivery-preference-prompt">~<%= number_to_currency(@beer_cost_estimate_low, precision: 0) %> - <%= number_to_currency(@beer_cost_estimate_high, precision: 0) %></h4>
				</div>
			</div>
		</div>
	</div>
<% end %>
<% if @delivery_preferences.cider_chosen %>
	<div class="col-xs-12 col-sm-offset-4 col-sm-4">
		<div class="row no-margin estimated-delivery-price-holder-signup">
			<div class="row no-margin">
				<h5 class="drink-estimate-header">Cider estimates for a delivery every <%= @delivery_frequency %> weeks.</h5>
			</div>
			<div class="col-xs-4 preference-estimate-holder delivery-estimate-information">
				<div class="delivery-settings-info-box drinks">
					<p>ciders</p>
					<h4 class="delivery-preference-prompt">~<%= @ciders_per_delivery %></h4>
				</div>	
			</div>
			<div class="col-xs-8 preference-estimate-holder delivery-estimate-information">
				<div class="delivery-settings-info-box total-price">
					<p>cider price <sup  data-toggle="tooltip" title="You always have final say on each delivery, so you'll never be surprised by the actual cost.">?</sup></p>
					<h4 class="delivery-preference-prompt">~<%= number_to_currency(@cider_cost_estimate_low, precision: 0) %> - <%= number_to_currency(@cider_cost_estimate_high, precision: 0) %></h4>
				</div>
			</div>
		</div>
	</div>
<% end %>