<div class="row plan-location-info-row">
	<div class="col-xs-offset-1 col-xs-10 plan-location-info-holder">
		<div class="row no-margin">
			<div class="col-xs-12 text-center no-padding">
				<h4 class="zip-code-search-directions">Showing plans currently available for <%= @location %>.</h4>
			</div>
		</div>
		<div class="row no-margin">
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-3 no-padding">
				<%= text_field_tag 'delivery_area', nil, placeholder: 'Enter different zip code', class: 'form-control check-zip-code-button', id: 'check-zip-code' %>
			</div>
			<div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
				<%= link_to "#", :class => "btn btn-success find-plans-zip-code-button #{@page_source}" do %>
							<i class="fa fa-exchange">&nbsp;</i>
							Change zip code 
						<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row plan-details-row">
	<div class="col-xs-12 col-sm-4">
		<div class="homepage-plan-options">
			<%= render 'layouts/plan_delivery_zero' %>
			<% if @page_source != "homepage" %>
				<div class="row no-margin">
					<div class="col-xs-12 no-padding">
						<%= link_to "Confirm The Ad Hoc Plan", 
									process_account_membership_getting_started_path("one_zero"), 
									method: :post, class: 'btn btn-primary plan-get-started-button' 
						%>
					</div>
				</div>
			<% end %>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<h6 class='membership-extra-info'>Order when you like; 6 drink minimum order.</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="homepage-plan-options">
			<%= render 'layouts/plan_delivery_six' %>
			<% if @page_source != "homepage" %>
				<div class="row no-margin">
					<div class="col-xs-12 no-padding">
						<%= form_tag process_account_membership_getting_started_path("one_six"), class:"plan-button" do %>
							<input name="plan_id" type="hidden" value="one_six"></input>
				          	<script 
				          		class="stripe-button" 
				          		data-name="Knird" 
				          		data-description="$30 for The Prepaid 6" 
				          		data-currency="USD" 
				          		data-label="Start The Prepaid 6 Plan"
				          		data-email="<%= @user.email %>" 
				          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
				          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
				          		src="https://checkout.stripe.com/checkout.js">
				          	</script>
						<% end %>
					</div>
				</div>
			<% end %>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<h6 class='membership-extra-info'>Change any delivery date. Cancel any time.</h6>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="homepage-plan-options">
			<%= render 'layouts/plan_delivery_fifteen' %>
			<% if @page_source != "homepage" %>
				<div class="row no-margin">
					<div class="col-xs-12 no-padding">
						<%= form_tag process_account_membership_getting_started_path("one_fifteen"), class:"plan-button" do %>
								<input name="plan_id" type="hidden" value="one_fifteen"></input>
					          	<script 
					          		class="stripe-button" 
					          		data-name="Knird" 
					          		data-description="$60 for The Prepaid 15" 
					          		data-currency="USD" 
					          		data-label="Start The Prepaid 15 Plan"
					          		data-email="<%= @user.email %>" 
					          		data-image="https://s3-us-west-2.amazonaws.com/knird/Knird_logo-3.jpg" 
					          		data-key="<%= Rails.configuration.stripe[:publishable_key] %>" 
					          		src="https://checkout.stripe.com/checkout.js">
					          	</script>
							<% end %>
					</div>
				</div>
			<% end %>
			<div class="row no-margin">
				<div class="col-xs-12 no-padding">
					<h6 class='membership-extra-info'>Change any delivery date. Cancel any time.</h6>
				</div>
			</div>
		</div>
	</div>
</div>