<div class="row">
	<div class="container" id="user-drinks-per-week-signup">
		<div class="col-xs-12 text-center">
			<h2 class="signup-question">Set your cost parameters.</h2>
			<h5 class="signup-question-detail">Remember, you get to review each delivery; so you'll never be suprised by the cost!</h5>
		</div>
	</div>
</div>
<div class="row no-margin">
	<div class="container">
		<div class="row no-margin">
	    	<div class="col-xs-12">
	            <h3 class="delivery-numbers-prompt">What is the highest <u> average cost per <%= @category %></u> you'd be comfortable paying?</h3>
	        </div>
		</div>
		<div class="row no-margin">
            <% (3..8).each do |i| %>
            	<% if !@drink_estimate.nil? && @drink_estimate == i %>
            		<% @price_chosen = 'chosen' %>
            	<% else %>
            		<% @price_chosen = nil %>
            	<% end %>
				<div class="col-xs-6 col-sm-2 average-drink-cost-row-holder">
					<div class="row no-margin average-drink-cost-row text-center <%= @price_chosen %>" id="<%= @category %>-average-<%= i %>">
						<div class="col-xs-12 average-drink-cost-holder">
							<h1 class="average-drink-cost">$<%= i %></h1>
						</div>
					</div>
				</div>
			<% end %>
	    </div>
        <% if !@referring_url.include?("create_drink_profile") %>
			<div class="row no-margin">
	        	<div class="col-xs-12">
	                <h3 class="delivery-numbers-prompt cost-max">What is the most you'd pay for a limited/rare/seasonal <%= @category %>?</h3>
	            </div>
	        </div>
	        <div class="row no-margin">
	            <div class="col-xs-10 text-center" id="<%= drink %>-rare-cost-max-holder">
	                <b>$5 </b><input id="<%= drink %>-rare-cost-max"
						type="text"  
						class="span2" 
						value="" 
						data-slider-min="5" 
						data-slider-max="50" 
						data-slider-step="5" 
						data-slider-value="5"
						data-slider-orientation="horizontal" /><b> $50</b>
	            </div>
	            <div class="col-xs-2 col-sm-1 no-padding text-center">
	            	<h3 class="" id="chosen-<%= drink %>-rare-cost-max"></h3>
	            </div>
		    </div>
		<% end %>	
	</div>
</div>