<% @user_rating = @user.user_drink_rating(drink.beer.id) %>
<div class="row user-ratings-row-holder<%= @number_of_users %>">
	<% if !@user_rating.nil? %>
		<%= render 'layouts/user_initials_xsmall', friend: @user %>
		<p class="delivery-user-rating-acknowledged<%= @number_of_users %>">rated this:&nbsp </p>
		<h1 class="delivery-user-rating<%= @number_of_users %>"> <%= @user_rating %><span class="recent-user-rating-context">/10</span></h1>
	<% else %>
		<%= render 'layouts/user_initials_xsmall', friend: @user %>
		<p class="delivery-best-guess-minimized<%= @number_of_users %>">predicted:&nbsp </p>
		<h1 class="delivery-best-guess<%= @number_of_users %>"> <%= @user.user_drink_projected_rating(drink.beer.id) %><span class="recent-user-rating-context">/10</span></h1>
	<% end %>
</div>
